html
  body
    #content-wrapper1
      .row(style='opacity: 1;')
        .col-lg-12
          .row
            .col-lg-12
              ol.breadcrumb
                li
                  a(href='#') Home
                li.active
                  span Support Tickets
              .cleSupportTicket
                h1.pull-left Support Ticket
                .pull-right.top-page-ui
                  a.btn.btn-primary.pull-right(href='#')
                    i.fa.fa-plus-circle.fa-lg
                    |  Add Ticket

          .row
            .col-lg-12
              .main-box.no-header.clearfix
                .main-box-body.clearfix
                  .table-responsive
                    .main-box.clearfix
                    .form-group.pull-right
                      select.form-control.xepan-dropdown-micro
                        option Priority
                        option Low
                        option Medium
                        option High
                    .form-group.pull-right
                      select.form-control.xepan-dropdown-micro
                        option Status
                        option complete
                        option Incomplete
                        option Pending
                    table.table.user-list.table-hover
                      thead
                        tr
                          th
                            span Ticket
                          th
                            span Created
                          th.text-center
                            span Status
                          th
                            span Priority
                          th  
                      tbody
                        tr
                          td
                            img(alt='', src='img/samples/scarlet-159.png')
                            a.user-link(href='#') 00066
                            span.user-subhead Bhavani credit cooperative society ltd.
                          td
                            | 2013/08/08
                          td.text-center
                            span.label.label-success complete 
                          td
                            a(href='#') Bhavani credit co-operative ltd.
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/robert-300.jpg')
                            a.user-link(href='#') 00060
                            span.user-subhead Prime Scan
                          td
                            | 2013/08/12
                          td.text-center
                            span.label.label-success complete
                          td
                            a(href='#') info@primescanindia.com
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/ryan-300.jpg')
                            a.user-link(href='#') 00011
                            span.user-subhead Bal vinay mandir sr. sec. school
                          td
                            | 2013/03/03
                          td.text-center
                            span.label.label-danger incomplete
                          td
                            a(href='#') bal vinay mandir sr.sec.school 
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/emma-300.jpg')
                            a.user-link(href='#') 00033
                            span.user-subhead The Scholers Arena
                          td
                            | 2004/01/24
                          td.text-center
                            span.label.label-warning Pending
                          td
                            a(href='#') dr.lokeshjain@gmail.com
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/robert-300.jpg')
                            a.user-link(href='#') bhavani
                            span.user-subhead Admin
                          td
                            | 2013/12/31
                          td.text-center
                            span.label.label-success Active
                          td
                            a(href='#') spencer@tracy
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/kunis-300.jpg')
                            a.user-link(href='#') Mila Kunis
                            span.user-subhead Admin
                          td
                            | 2013/08/08
                          td.text-center
                            span.label.label-default Inactive
                          td
                            a(href='#') mila@kunis.com
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/lima-300.jpg')
                            a.user-link(href='#') George Clooney
                            span.user-subhead Member
                          td
                            | 2013/08/12
                          td.text-center
                            span.label.label-success Active
                          td
                            a(href='#') marlon@brando.com
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/ryan-300.jpg')
                            a.user-link(href='#') Ryan Gossling
                            span.user-subhead Registered
                          td
                            | 2013/03/03
                          td.text-center
                            span.label.label-danger Banned
                          td
                            a(href='#') jack@nicholson
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/emma-300.jpg')
                            a.user-link(href='#') Emma Watson
                            span.user-subhead Registered
                          td
                            | 2004/01/24
                          td.text-center
                            span.label.label-warning Pending
                          td
                            a(href='#') humphrey@bogart.com
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                        tr
                          td
                            img(alt='', src='img/samples/robert-300.jpg')
                            a.user-link(href='#') Robert Downey Jr.
                            span.user-subhead Admin
                          td
                            | 2013/12/31
                          td.text-center
                            span.label.label-success Active
                          td
                            a(href='#') spencer@tracy
                          td(style='width: 20%;')
                            a.table-link(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            a.table-link.danger(href='#')
                              span.fa-stack
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
      footer#footer-bar.row(style='opacity: 1;')
        p#footer-copyright.col-xs-12
          | Powered by Cube Theme.
