/*.form-control form{
padding:1em 0 0 !important;
}
.form-control input[type="text"],.form-control input[type="submit"] {
  width: 100% !important;
  padding: 0.5em !important;
  outline: none !important;
  color: #000 !important;
  font-size: 1em !important;
  background: #fff !important;
  border: none !important;
 }
 .form-control input[type="submit"] {
  width: 36% !important;
  color: #FFF !important;
  font-size: 1em !important;
  background:#8ce78a !important;
  border: none !important;
  outline:none !important;
  padding: 0.5em !important;
}
.form-control input[type="submit"]:hover {
background: #fff !important;
color:#8ce78a !important;
}
*/
/*.item-detail-dropdown */

.xshop-item-custom-field-name .xepan-addtocartbutton-multi-step-wizard select.required{
    outline: none;
    padding: 6px;
    border: none;
    background: #eeeeee;
    width: 100%;
    cursor: pointer;
}

.xshop-item-custom-field-name .xepan-addtocartbutton-multi-step-wizard select.required{
    list-style: none;
    color: #4c4c4c;
    font-size: 1.1em;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    margin: 0.5em 0;
    vertical-align: middle;
}

.xshop-item-custom-field-name .xepan-addtocartbutton-multi-step-wizard input{
    outline: none;
    padding: 6px;
    border: none;
    background: #eeeeee;
    width: 100%;
}

.xshop-item-custom-field-name .xepan-addtocartbutton-multi-step-wizard button {
  text-decoration: none;
  color: #fff;
  background: #8ce78a;
  /*padding: 0.4em 0.8em;*/
  font-size:0.9em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
  border-color: white;
}
.xshop-item-custom-field-name .xepan-addtocartbutton-multi-step-wizard button:hover {
  background:#000;
  
}

.xepan-commerce-tool-item-sale-price {
  color:#8ce78a;
  font-size: 1.7em;
  padding: 0.3em 0;
}

.xshop-item li > a{
  color: #6f7887;
}

.xshop-item-custom-field-name .xepan-addtocartbutton-multi-step-wizard label {
  list-style: none;
  color: #4c4c4c;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin: 0.5em 0;
  vertical-align: middle;
}

.tab-Specification table th, tr{
  list-style: none;
  color: #4c4c4c;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin: 0.5em 0;
  vertical-align: middle;
}


#front_checkout_xepan_commerce_tool_checkout_view .container span{
  font-size:1em;
  display: block;
  padding: 0 0 0.5em;
  color:#A09F9F;
}
#front_checkout_xepan_commerce_tool_checkout_view .container div{
  padding:0.5em 0;
}
#front_checkout_xepan_commerce_tool_checkout_view .container input[type="text"],
#front_checkout_xepan_commerce_tool_checkout_view .container textarea,#front_checkout_xepan_commerce_tool_checkout_view .container input[type="password"]{
  padding:1em;
  width:100%;
  background:none;
  border: 1px solid #A09F9F;  
  outline:none;
  
  font-size:1em;  
}

#front_checkout_xepan_commerce_tool_checkout_view .container textarea{
  resize:none;
  height:60px;    
}
#front_checkout_xepan_commerce_tool_checkout_view .container input[type="submit"]{
  outline:none;
  padding:7px 20px;
  color:#FFF;
  cursor:pointer;
  background:#8ce78a;
  border:none;
  width:20%;
   margin:1em auto 0;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all; 
  font-size: 1.2em;
}
#front_checkout_xepan_commerce_tool_checkout_view .container input[type="submit"]:hover{
  background:#000;
}

.xepan-cart-proceed-to-next-btn,
.xepan-checkout-proceed-to-payment{
  margin-left: 2%;
}
.short-cart{
  margin-left: 0 !important;
}
.xepan-cart-proceed-next{
  margin-right: 6%;
}

.margin-class{
  margin-left: 6%;
}