form(role='form', action='#', method='POST' class="login-form")
  .form-group.group
    label Email
    .atk-form-row.atk-form-field.form-control{$username}
    a.help-link(href="#") Forgot email?
  .form-group.group
    label Password
    .atk-form-row.atk-form-field.form-control{$password}
    a#login-forget-link.help-link.xepan-login-panl-loadview.forgotpassword(data-showview="forget_password") Forgot password?
  button.btn.btn-black(type='submit') Login
