{$Content}
<form id="{$_name}" action="#" class="atk-form">
  <div class="atk-cells atk-cells-justified atk-cells-gutter atk-push"></div>
  <div class="row">
    <div class="col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Billing Address</span></div>
      <div class="atk-form-row atk-form-field">{$billing_address}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>City</span></div>
      <div class="atk-form-row atk-form-field">{$billing_city}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>State</span></div>
      <div class="atk-form-row atk-form-field">{$billing_state}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Country</span></div>
      <div class="atk-form-row atk-form-field">{$billing_country}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Pin Code</span></div>
      <div class="atk-form-row atk-form-field">{$billing_pincode}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Mobile No</span></div>
      <div class="atk-form-row atk-form-field">{$billing_contact}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Email</span></div>
      <div class="atk-form-row atk-form-field">{$billing_email}</div>
    </div>
    <div class="col-6">
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Shipping Address</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_address}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>City</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_city}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>State</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_state}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Country</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_country}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Pin Code</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_pincode}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Mobile No</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_contact}</div>
      <div class="atk-cell atk-form-label atk-text-nowrap"><span>Email</span></div>
      <div class="atk-form-row atk-form-field">{$shipping_email}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="atk-form-row atk-form-field atk-align-center">{$copy_address}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="atk-cell atk-form-label atk-text-nowrap">
      </div>
    </div>
    <div class="atk-form-row atk-form-field">{$i_read}</div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="atk-actions {$buttons_class}">{$FormButtons}</div>
    </div>
  </div>
</form>