.xepan-commerce-tool-cart(id='{$_name}', class='{$class}')
  ul
    li.dropdown.reset-margin.text-center(style="padding:0px;margin:0px;")
      a.dropdown-toggle.reset-margin(href='#', data-toggle='dropdown', role='button', aria-expanded='false' style="padding:0px;margin:0px;")
        span.xepan-commerce-cart-item-count  {total_count}0{/}
        |  - Items
        span.caret
      ul.dropdown-menu.dropdown-cart.prime-cart(role='menu',style='width:300px')
        | {lister}
        | {rows}{row}
        li(id='item-{$id}' class="xepan-commerce-tool-cart-item-row")
          span.item
            span.item-right
              button.btn.btn-xs.btn-danger.pull-right.xepan-commerce-cart-item-delete(data-cartid='{$id}') x
            span.item-left
              img(src='http://lorempixel.com/50/50/', alt='')
            span {$name}
              span {$item_code}
              span qty:{$qty}
              span.text-center amount{$sales_amount}
        | {/}{/}
        |           {/lister}
        {not_found}
        li.prime-cart-empty
          {$not_found_message}
        {/}
        {footer}
        li.divider
        |               {sum_amount_excluding_tax_wrapper}
        .row
          li Sum Amount
            .text-right ₹{sum_amount_excluding_tax}amt_excluding_tax_here{/}
        |               {/}
        |               {shipping_charge_wrapper}
        li.text-right ₹ {$shipping_charge}
        |               {/}
        |               {tax_amount_wrapper}
        li.text-right ₹ {tax_amount}tax_amount{/}
        li
          | {/}
          | {total_amount_wrapper}
        li Total Amount:
          li.text-right ₹ {total_amount}total_amount{/} 
        |               {/}
        li
          a.text-center(href="{$cart_detail_url}") View Cart
          {$place_order}
        {/footer}
