{$Content}
{rows}{row}
<ul data-xsnb-item-id="372" style="" onclick="javascript:void(0)" class="xshop-item col-md-3 col-sm-3 col-xl-3">
  <li><a style="" href="/?subpage=product-detail&amp;xsnb_item_id=372" class="xshop-item-image-anchor"><img style="" src="{$file}" class="xshop-item-img"/></a></li>
  <li style="" onclick="javascript:void(0)" class="xshop-item-short-description"></li>
  <li>
    <div style="" onclick="$(this).univ().location(&quot;index.php?subpage=product-design&amp;xsnb_design_item_id=372&quot;)" class="xshop-item-personalize">Personalize</div>
  </li>
</ul>{/}{/}