
<div id="user-profile">
  <div class="col-lg-3 col-md-4 col-sm-4">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2>Scarlett Johansson</h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="profile-status"><i class="fa fa-circle"></i> Online</div><img alt="" src="img/samples/scarlet-159.png" class="profile-img img-responsive center-block"/>
        <div class="profile-label"><span class="label label-danger">Admin</span></div>
        <div class="profile-stars"><span>Nick name</span></div>
        <div class="profile-since">Contact since: Jan 2012</div>
      </div>
      <div>
        <div class="profile-contact">
          <ul class="fa-ul">
            <li><i class="fa-li fa"></i>Emails: 
              <div>vaibhavsharma38@gmail.com</div>
              <div>vaibhavsharma38@gmail.com</div>
            </li>
            <li><i class="fa-li fa"></i>Phone No: 
              <div>9887464043</div>
              <div>9887464043</div>
            </li>
          </ul>
        </div>
        <div class="profile-message-btn center-block text-center"><a href="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send Email</a><a href="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send Message </a></div>
        <div>
          <div class="profile-details">
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>Organization: 
                <div>xavoc techncrats pvt. ltd.</div>
              </li>
              <li><i class="fa-li fa"></i>Post: 
                <div>Manager</div>
              </li>
              <li><i class="fa-li fa"></i>Website: 
                <div> <a href="#">www.xavoc.com</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="profile-im">
            <h5>IM Numbers                               </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>Skype: <span>vaibhav.sharma.21</span></li>
              <li><i class="fa-li fa"></i>Whatsapp: <span>+919887464043</span></li>
            </ul>
          </div>
        </div>
        <div>
          <div class="profile-events">
            <hr/>
            <h5>Events                               </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>DOB: <span>21/12/1991</span></li>
              <li><i class="fa-li fa"></i>Anaversery: <span>------  </span></li>
            </ul>
          </div>
        </div>
        <div>
          <div class="profile-relation">
            <hr/>
            <h5>Relationship                               </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>Fathers Name: <span>Anil Sharma</span></li>
              <li><i class="fa-li fa"></i>Mothers Name: <span>Santosh Sharma          </span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>