
<div id="user-profile">
  <div class="col-lg-3 col-md-4 col-sm-4">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2>Scarlett Johansson</h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="profile-status"><i class="fa fa-circle"></i> Online</div><img alt="" src="img/samples/scarlet-159.png" class="profile-img img-responsive center-block"/>
        <div class="profile-label"><span class="label label-danger">Admin</span></div>
        <div class="profile-stars"><span>Nick name</span></div>
        <div class="profile-since">Contact since: Jan 2012</div>
      </div>
      <div>
        <div class="profile-contact">
          <ul class="fa-ul">
            <li><i class="fa-li fa"></i>Emails: 
              <div>scarlett@gmail.com</div>
              <div>scarlett@gmail.com</div>
            </li>
            <li><i class="fa-li fa"></i>Phone No: 
              <div>9887012345</div>
              <div>9887012345</div>
            </li>
          </ul>
        </div>
        <div class="profile-message-btn center-block text-center"><a href="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send Email</a><a href="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send Message </a></div>
        <div>
          <div class="profile-details">
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>Organization: 
                <div>hollywood_stars</div>
              </li>
              <li><i class="fa-li fa"></i>Post: 
                <div>Manager</div>
              </li>
              <li><i class="fa-li fa"></i>Website: 
                <div> <a href="#">www.avengers.com</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="profile-im">
            <h5>IM Numbers                               </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>Skype: <span>scarlett.johnson</span></li>
              <li><i class="fa-li fa"></i>Whatsapp: <span>+919887012345</span></li>
            </ul>
          </div>
        </div>
        <div>
          <div class="profile-events">
            <hr/>
            <h5>Events                               </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>DOB: <span>12/5/85</span></li>
              <li><i class="fa-li fa"></i>Anaversery: <span>------  </span></li>
            </ul>
          </div>
        </div>
        <div>
          <div class="profile-relation">
            <hr/>
            <h5>Relationship                               </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa"></i>Fathers Name: <span>Adam</span></li>
              <li><i class="fa-li fa"></i>Mothers Name: <span>Eve</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <html></html>
  <body>
    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="main-box clearfix">
        <div class="tabs-wrapper profile-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-portfolio">Portfolio</a></li>
            <li><a data-toggle="tab" href="#tab-activity">Activity</a></li>
            <li><a data-toggle="tab" href="#tab-documents">Documents</a></li>
            <li><a data-toggle="tab" href="#tab-chat">Personal</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-portfolio" class="tab-pane fade in active">
              <div id="portfolio"></div>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body"> 
                    <div class="col-lg-12">
                      <div class="col-lg-10"></div>
                      <div class="col-lg-2"> 
                        <button type="submit" class="btn btn-success push-right">Edit Information   </button>
                      </div>
                    </div>
                    <header class="main-box-header clearfix">
                      <h2>Education Qualificaton </h2>
                    </header>
                    <div class="col-lg-12">
                      <div class="col-lg-4">
                        <label>Qualification:</label><br/>Master Of Computer Applications
                      </div>
                      <div class="col-lg-4">
                        <label>Qualification Level:</label><br/>Post Graduation  
                      </div>
                      <div class="col-lg-4">
                        <label>Percentage:</label><br/> 7.00
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body"> 
                    <header class="main-box-header clearfix">
                      <h2>Previous Work Experience</h2>
                    </header>
                    <div class="col-lg-12"> 
                      <div class="col-lg-4">
                        <label>Previous Company</label>
                        <input id="inputSuccess" type="text" class="form-control"/>
                      </div>
                      <div class="col-lg-4">
                        <label>Branch</label>
                        <input id="inputSuccess" type="text" placeholder="Dropdown here" class="form-control"/>
                      </div>
                      <div class="col-lg-4">
                        <label>Designation</label>
                        <input id="inputSuccess" type="text" class="form-control"/>
                      </div>
                    </div>
                    <div class="col-lg-12">             
                      <div class="col-lg-4">
                        <label>Department</label>
                        <input id="inputSuccess" type="text" class="form-control"/>
                      </div>
                      <div class="col-lg-4">
                        <label>Salary</label>
                        <input id="inputSuccess" type="text" class="form-control"/>
                      </div>
                      <div class="col-lg-4">
                        <label>Duration</label>
                        <input id="inputSuccess" type="text" placeholder="From date to date and duration" class="form-control"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-activity" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-center"><i class="fa fa-comment"></i></td>
                      <td>Approved invoice number 1001</td>
                      <td>2014/08/08 12:08</td>
                    </tr>
                    <tr>
                      <td class="text-center"><i class="fa fa-truck"></i></td>
                      <td>changed order status from <span class="label label-primary">Pending</span>to <span class="label label-success">Completed</span></td>
                      <td>2014/08/08 12:08</td>
                    </tr>
                    <tr>
                      <td class="text-center"><i class="fa fa-check"></i></td>
                      <td>form-groupt approval for holidays </td>
                      <td>2014/08/08 12:08</td>
                    </tr>
                    <tr>
                      <td class="text-center"><i class="fa fa-users"></i></td>
                      <td>Updated password</td>
                      <td>2014/08/08 12:08</td>
                    </tr>
                    <tr>
                      <td class="text-center"><i class="fa fa-truck"></i></td>
                      <td>changed order status from <span class="label label-primary">Pending</span>to <span class="label label-success">Completed</span></td>
                      <td>2014/08/08 12:08</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="tab-documents" class="tab-pane clearfix fade">
              <div class="col-lg-12">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                  <button type="submit" class="btn btn-success push-right">Add Document </button>
                </div>
              </div>
              <ul class="widget-users row">
                <li class="col-md-6">
                  <div class="details">
                    <div class="name"><a href="#">Secondary Marksheet</a></div>
                    <div class="type">
                      <div role="group" aria-label="..." class="btn-group">
                        <button type="button" class="btn btn-sm btn-success">Download</button>
                        <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="details">
                    <div class="name"><a href="#">Higher Secondary Marksheet</a></div>
                    <div class="type">
                      <div role="group" aria-label="..." class="btn-group">
                        <button type="button" class="btn btn-sm btn-success">Download</button>
                        <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"> </i></button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="details">
                    <div class="name"><a href="#">Appointment letter</a></div>
                    <div class="type">
                      <div role="group" aria-label="..." class="btn-group">
                        <button type="button" class="btn btn-sm btn-success">Download</button>
                        <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="details">
                    <div class="name"><a href="#">Address Proof</a></div>
                    <div class="type">
                      <div role="group" aria-label="..." class="btn-group">
                        <button type="button" class="btn btn-sm btn-success">Download</button>
                        <button type="button" class="btn btn-sm btn-danger"> <i class="glyphicon glyphicon-trash"></i></button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="tab-chat" class="tab-pane fade">
              <div>
                <div class="col-lg-12">
                  <div class="main-box">
                    <header class="main-box-header clearfix">
                      <h2>Change Password</h2>
                    </header>
                    <div class="main-box-body clearfix">
                      <form role="form" class="form-inline">
                        <div class="form-group">
                          <label for="Password1" class="sr-only">Password</label>
                          <input id="Password1" type="password" placeholder="Old" class="form-control"/>
                        </div>
                        <div class="form-group">
                          <label for="Password2" class="sr-only">Password</label>
                          <input id="Password2" type="password" placeholder="New" class="form-control"/>
                        </div>
                        <div class="form-group">
                          <label for="Password3" class="sr-only">Password</label>
                          <input id="Password3" type="password" placeholder="Confirm" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-success">Change</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-lg-12">
                  <div class="main-box">
                    <header class="main-box-header clearfix">
                      <div class="col-lg-12">
                        <div class="col-lg-10">
                          <h2>Update Email Info</h2>
                        </div>
                        <div class="col-lg-2">
                          <button type="submit" class="btn btn-success push-right">Add Email    </button>
                        </div>
                      </div>
                    </header>
                    <div class="main-box-body clearfix">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th><span>Email</span></th>
                              <th><span>Status </span></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Vaibhavsharma38@gmail.com</td>
                              <td><span class="label label-sm label-success">Active    </span></td>
                              <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
                              <tr>
                                <td>Vaibhavsharma38@gmail.com</td>
                                <td><span class="label label-sm label-danger">Inactive  </span></td>
                                <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse">       </i></span></a></td>
                              </tr>
                              <tr>
                                <td>Vaibhavsharma38@gmail.com</td>
                                <td><span class="label label-sm label-danger">Inactive</span></td>
                                <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse">       </i></span></a></td>
                              </tr>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>