
<div class="main-box no-header clearfix">
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>User</span></th>
            <th><span>Created</span></th>
            <th><span>LAST ACTIVITY</span></th>
            <th class="text-center"><span>Status</span></th>
            <th class="text-left"><span>Contact</span></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img alt="" src="img/samples/scarlet-159.png"/><a href="index.php?page=contactprofile" class="user-link">Sushil milky</a><span class="user-subhead">Admin</span></td>
            <td>2013/08/08</td>
            <td>2016/02/01</td>
            <td class="text-center"><span class="label label-default">active</span></td>
            <td class="text-left"><a href="#">milkysushil1920@xvoc.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="#" class="user-link">Silky Monga</a><span class="user-subhead">Member</span></td>
            <td>2013/08/12</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-left"><a href="#">monga@gmail.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/ryan-300.jpg"/><a href="#" class="user-link">Tanvi</a><span class="user-subhead">Registered</span></td>
            <td>2013/03/03</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-danger">Banned</span></td>
            <td class="text-left"><a href="#">Tanvi@xavoc.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/emma-300.jpg"/><a href="#" class="user-link">Rakesh Sinha</a><span class="user-subhead">Registered</span></td>
            <td>2004/01/24</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-warning">Pending</span></td>
            <td class="text-left"><a href="#">sinha@rakesh.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="#" class="user-link">Preeti Vishwkarma</a><span class="user-subhead">Admin</span></td>
            <td>2013/12/31</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-left"><a href="#">spencer@tracy</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/kunis-300.jpg"/><a href="#" class="user-link">Gowrav Vishwkarma</a><span class="user-subhead">Admin</span></td>
            <td>2013/08/08</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-default">Inactive</span></td>
            <td class="text-left"><a href="#">gowrav@xavoc.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/lima-300.jpg"/><a href="#" class="user-link">Nilam</a><span class="user-subhead">Member</span></td>
            <td>2013/08/12</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-left"><a href="#">Neel@joshi.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/ryan-300.jpg"/><a href="#" class="user-link">Radha</a><span class="user-subhead">Registered</span></td>
            <td>2013/03/03</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-danger">Banned</span></td>
            <td class="text-left"><a href="#">sh@radha.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/emma-300.jpg"/><a href="#" class="user-link">Vijay Mali</a><span class="user-subhead">Registered</span></td>
            <td>2004/01/24</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-warning">Pending</span></td>
            <td class="text-left"><a href="#">vijay@mali.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img alt="" src="img/samples/robert-300.jpg"/><a href="#" class="user-link">Radha</a><span class="user-subhead">Admin</span></td>
            <td>2013/12/31</td>
            <td>2016/02/01  </td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-left"><a href="#">radha@sh.com</a>
              <div>9887464043</div>
            </td>
            <td style="width: 20%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>