#user-profile
  .col-lg-3.col-md-4.col-sm-4
    .main-box.clearfix
      header.main-box-header.clearfix
        h2 Scarlett Johansson
      .main-box-body.clearfix
        .profile-status
          i.fa.fa-circle
          |  Online
        img.profile-img.img-responsive.center-block(alt='', src='img/samples/scarlet-159.png')
        .profile-label
          span.label.label-danger Admin
        .profile-stars
          span Nick name
        .profile-since
          span Contact since: 
          cite(title='Source Title') Jan 2012
      hr    
      div
        .profile-contact
          ul.fa-ul
            li
              i.fa-li.fa
              strong Emails: 
              div 
                cite(title='Source Title') scarlett@gmail.com
              div 
              cite(title='Source Title') scarlett@gmail.com

            li
              i.fa-li.fa.
              strong Phone No: 
              div 
              cite(title='Source Title') 9887012345
              div 
                cite(title='Source Title') 9887012345
        div(style='margin-left: 5px;')        
          .btn-group(role='group', aria-label='...')
            a.btn.btn-success(href='#')
              i.fa.fa-envelope
              | Send Email
            a.btn.btn-success(href='#')
              i.fa.fa-envelope
              | Send Message 
        div
          .profile-details
            ul.fa-ul
              li
                i.fa-li.fa
                | Organization: 
                div 
                cite(title='Source Title') hollywood_stars

              li
                i.fa-li.fa.
                | Post: 
                div Manager
              li
                i.fa-li.fa.
                | Website: 
                div 
                  a(href='#')
                  cite(title='Source Title') www.avengers.com
        div
          .profile-im                            
            ul.fa-ul
              li
                strong IM Numbers
              li  
                i.fa-li.fa
                | Skype: 
                span 
                cite(title='Source Title') scarlett.johnson

              li
                i.fa-li.fa.
                | Whatsapp: 
                span 
                cite(title='Source Title') +919887012345
        hr        
        div
          .profile-events
                                       
            ul.fa-ul
              li
                strong Events
              li  
                i.fa-li.fa
                | DOB: 
                span 
                cite(title='Source Title') 12/5/85
                
              li
                i.fa-li.fa.
                | Anaversery: 
                span
                cite(title='Source Title')  ------  
        div
          .profile-relation
            hr                           
            ul.fa-ul
              li
               strong Relationship
              li  
                i.fa-li.fa
                | Fathers Name: 
                span 
                cite(title='Source Title') Adam

              li
                i.fa-li.fa.
                | Mothers Name: 
                span 
                cite(title='Source Title') Eve
  html
  body
    .col-lg-9.col-md-8.col-sm-8
      .main-box.clearfix
        .tabs-wrapper.profile-tabs
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#tab-portfolio') Portfolio
            li
              a(data-toggle='tab', href='#tab-activity') Activity
            li
              a(data-toggle='tab', href='#tab-documents') Documents
            li
              a(data-toggle='tab', href='#tab-chat') Personal
          .tab-content
            #tab-portfolio.tab-pane.fade.in.active
              #portfolio
              .col-lg-12
                    .panel.panel-default
                      .panel-body 
                        .col-lg-12
                          .col-lg-10
                          .col-lg-2 
                            button.btn.btn-success.push-right(type='submit') Edit Information   
                        header.main-box-header.clearfix
                            h2 Education Qualificaton 
                        .col-lg-12
                          
                          .col-lg-5
                                label 
                                strong Qualification:
                                br
                                | Master Of Computer Applications

                          .col-lg-4
                                label 
                                strong Qualification Level:
                                br
                                | Post Graduation  
                          .col-lg-3
                                label 
                                strong Percentage:
                                br
                                |  7.00
                          
                                     
              .col-lg-12
                    .panel.panel-default
                      .panel-body 
                        header.main-box-header.clearfix
                          h2 Previous Work Experience:
                        .col-lg-12  
                          .col-lg-5
                                label 
                                strong Previous Company:
                                br
                                |  Xyz Corporations

                          .col-lg-4
                                label 
                                strong Branch:
                                br
                                |  Jaipur
                          .col-lg-3
                                label 
                                strong Designation:
                                br
                                |  Sr. Manager
                         span
                         br              
                        .col-lg-12              
                          .col-lg-5
                                label 
                                strong Department:
                                br
                                |  IT
                          .col-lg-4
                                label 
                                strong Salary:
                                br
                                |  000001
                          .col-lg-3
                                label 
                                strong Duration:
                                br
                                |  7 months{From To Date}
   

             #tab-activity.tab-pane.fade
              .table-responsive
                table.table
                  tbody
                    tr
                      td.text-center
                        i.fa.fa-comment
                      td
                        | Approved invoice number 1001
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-truck
                      td
                        | changed order status from 
                        span.label.label-primary Pending
                        | to 
                        span.label.label-success Completed
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-check
                      td
                        | form-groupt approval for holidays 
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-users
                      td
                        | Updated password
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-truck
                      td
                        | changed order status from 
                        span.label.label-primary Pending
                        | to 
                        span.label.label-success Completed
                      td
                        | 2014/08/08 12:08
            #tab-documents.tab-pane.clearfix.fade
              .col-lg-12
                  .col-lg-10
                  .col-lg-2
                      button.btn.btn-success.push-right(type='submit') Add Document 

              ul.widget-users.row
                li.col-md-6
                  .details
                    .name
                      a(href='#') Secondary Marksheet
                    .type
                      .btn-group(role='group', aria-label='...')
                        button.btn.btn-sm.btn-success(type='button') Download
                        button.btn.btn-sm.btn-danger(type='button')  
                            i.glyphicon.glyphicon-trash
                
                li.col-md-6
                  .details
                    .name
                      a(href='#') Higher Secondary Marksheet
                    .type
                      .btn-group(role='group', aria-label='...')
                        button.btn.btn-sm.btn-success(type='button') Download
                        button.btn.btn-sm.btn-danger(type='button')  
                            i.glyphicon.glyphicon-trash 
                li.col-md-6
                  .details
                    .name
                      a(href='#') Appointment letter
                    .type
                      .btn-group(role='group', aria-label='...')
                        button.btn.btn-sm.btn-success(type='button') Download
                        button.btn.btn-sm.btn-danger(type='button')  
                            i.glyphicon.glyphicon-trash
                li.col-md-6
                  .details
                    .name
                      a(href='#') Address Proof
                    .type
                      .btn-group(role='group', aria-label='...')
                        button.btn.btn-sm.btn-success(type='button') Download
                        button.btn.btn-sm.btn-danger(type='button')  
                            i.glyphicon.glyphicon-trash
                
              
            #tab-chat.tab-pane.fade
               div
                  .col-lg-12
                    .main-box
                      header.main-box-header.clearfix
                        h2 Change Password
                      .main-box-body.clearfix
                        form.form-inline(role='form')
                          .form-group
                            label.sr-only(for='Password1') Password
                            input#Password1.form-control(type='password', placeholder='Old')
                          .form-group
                            label.sr-only(for='Password2') Password
                            input#Password2.form-control(type='password', placeholder='New')    
                          .form-group
                            label.sr-only(for='Password3') Password
                            input#Password3.form-control(type='password', placeholder='Confirm')
                          button.btn.btn-success(type='submit') Change
                div
                  .col-lg-12
                    .main-box
                      header.main-box-header.clearfix
                        .col-lg-12
                          .col-lg-10
                            h2 Update Email Info
                          .col-lg-2
                            button.btn.btn-success.push-right(type='submit') Add Email    
                      .main-box-body.clearfix
                        .table-responsive
                          table.table
                            thead
                              tr
                                th
                                 span Email
                                th
                                 span Status 
                            tbody
                              tr
                                td
                                  |Vaibhavsharma38@gmail.com
                                td
                                  .dropdown
                                    button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                                          | Inactive
                                          span.caret
                                        ul.dropdown-menu
                                          li
                                            |Active
                                            
                                td(style='width: 20%;')
                                  a.table-link(href='#')
                                    span.fa-stack
                                      i.fa.fa-square.fa-stack-2x
                                      i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                  a.table-link.danger(href='#')
                                    span.fa-stack
                                      i.fa.fa-square.fa-stack-2x
                                      i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                                tr
                                  td
                                    |Vaibhavsharma38@gmail.com
                                  td
                                    .dropdown
                                      button.btn.btn-danger.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                                        | Inactive
                                        span.caret
                                      ul.dropdown-menu
                                        li
                                          |Active
                                         
                                  td(style='width: 20%;')
                                    a.table-link(href='#')
                                      span.fa-stack
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                    a.table-link.danger(href='#')
                                      span.fa-stack
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-trash-o.fa-stack-1x.fa-inverse        
                                tr
                                  td
                                    |Vaibhavsharma38@gmail.com
                                  td
                                    .dropdown
                                      button.btn.btn-success.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                                          | Active
                                          span.caret
                                        ul.dropdown-menu
                                          li
                                            |Inactive
                                          
                                  td(style='width: 20%;')
                                    a.table-link(href='#')
                                      span.fa-stack
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                    a.table-link.danger(href='#')
                                      span.fa-stack
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-trash-o.fa-stack-1x.fa-inverse        

    
                                          
    
                                