#user-profile
  .col-lg-3.col-md-4.col-sm-4
    .main-box.clearfix
      header.main-box-header.clearfix
        h2 Scarlett Johansson
      .main-box-body.clearfix
        .profile-status
          i.fa.fa-circle
          |  Online
        img.profile-img.img-responsive.center-block(alt='', src='img/samples/scarlet-159.png')
        .profile-label
          span.label.label-danger Admin
        .profile-stars
          span Nick name
        .profile-since
          | Contact since: Jan 2012
      div
        .profile-contact
          ul.fa-ul
            li
              i.fa-li.fa
              | Emails: 
              div scarlett@gmail.com
              div scarlett@gmail.com

            li
              i.fa-li.fa.
              | Phone No: 
              div 9887012345
              div 9887012345
        .profile-message-btn.center-block.text-center
          a.btn.btn-success(href='#')
            i.fa.fa-envelope
            | Send Email
          a.btn.btn-success(href='#')
            i.fa.fa-envelope
            | Send Message 
        div
          .profile-details
            ul.fa-ul
              li
                i.fa-li.fa
                | Organization: 
                div hollywood_stars

              li
                i.fa-li.fa.
                | Post: 
                div Manager
              li
                i.fa-li.fa.
                | Website: 
                div 
                  a(href='#') www.avengers.com
        div
          .profile-im
            h5 IM Numbers                               
            ul.fa-ul
              li
                i.fa-li.fa
                | Skype: 
                span scarlett.johnson

              li
                i.fa-li.fa.
                | Whatsapp: 
                span +919887012345
        div
          .profile-events
            hr
            h5 Events                               
            ul.fa-ul
              li
                i.fa-li.fa
                | DOB: 
                span 12/5/85

              li
                i.fa-li.fa.
                | Anaversery: 
                span ------  
        div
          .profile-relation
            hr
            h5 Relationship                               
            ul.fa-ul
              li
                i.fa-li.fa
                | Fathers Name: 
                span Adam

              li
                i.fa-li.fa.
                | Mothers Name: 
                span Eve
  html
  body
    .col-lg-9.col-md-8.col-sm-8
      .main-box.clearfix
        .tabs-wrapper.profile-tabs
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#tab-portfolio') Portfolio
            li
              a(data-toggle='tab', href='#tab-activity') Activity
            li
              a(data-toggle='tab', href='#tab-documents') Documents
            li
              a(data-toggle='tab', href='#tab-chat') Personal
          .tab-content
            #tab-portfolio.tab-pane.fade.in.active
              #portfolio
              div
                .col-lg-12
                  .main-box
                    header.main-box-header.clearfix
                      h2 Education Qualification
                    .main-box-body.clearfix
                      form.form-inline(role='form')
                        .form-group
                          label.sr-only(for='text1') text
                          input#Password1.form-control(type='text', placeholder='Qualification')
                        .form-group
                          label.sr-only(for='text2') text
                          input#Password2.form-control(type='text', placeholder='level')    
                        .form-group
                          label.sr-only(for='text3') text
                          input#Password3.form-control(type='text', placeholder='percentage')
              div
                .col-lg-12
                  .main-box
                    header.main-box-header.clearfix
                      h2 Previous Work Experience
                    .main-box-body.clearfix
                      form.form-inline(role='form')
                        .form-group
                          label.sr-only(for='text1') text
                          input#Password1.form-control(type='text', placeholder='Company Name')
                        .form-group
                          label.sr-only(for='text2') text
                          input#Password2.form-control(type='text', placeholder='Branch')    
                        .form-group
                          label.sr-only(for='text3') text
                          input#Password3.form-control(type='text', placeholder='Designation')  
                        .form-group
                          label.sr-only(for='text4') text
                          input#Password3.form-control(type='text', placeholder='Department')
                        .form-group
                          label.sr-only(for='text4') text
                          input#Password3.form-control(type='text', placeholder='Department')
                        .form-group
                          label.sr-only(for='text5') text
                          input#Password3.form-control(type='text', placeholder='From-To')
                        .form-group
                          label.sr-only(for='text5') text
                          input#Password3.form-control(type='text', placeholder='Relieve Date')
     

             #tab-activity.tab-pane.fade
              .table-responsive
                table.table
                  tbody
                    tr
                      td.text-center
                        i.fa.fa-comment
                      td
                        | Approved invoice number 1001
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-truck
                      td
                        | changed order status from 
                        span.label.label-primary Pending
                        | to 
                        span.label.label-success Completed
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-check
                      td
                        | Got approval for holidays 
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-users
                      td
                        | Updated password
                      td
                        | 2014/08/08 12:08
                    tr
                      td.text-center
                        i.fa.fa-truck
                      td
                        | changed order status from 
                        span.label.label-primary Pending
                        | to 
                        span.label.label-success Completed
                      td
                        | 2014/08/08 12:08
            #tab-documents.tab-pane.clearfix.fade
              ul.widget-users.row
                li.col-md-6
                  .details
                    .name
                      a(href='#') Secondary Marksheet
                    .time
                      i.fa.fa-check-circle
                      |  Document: Present
                    .type
                      button.btn.btn-success(type='button') Download
                li.col-md-6
                  .details
                    .name
                      a(href='#') Higher Secondary Marksheet
                    .time.online
                      i.fa.fa-check-circle
                      |  Document: Present
                    .type
                      button.btn.btn-success(type='button') Download 
                li.col-md-6
                  .details
                    .name
                      a(href='#') Appointment letter
                    .time.online
                      i.fa.fa-times-circle
                      |  Document: Not present
                    .type
                      button.btn.btn-warning(type='button') Upload  
                li.col-md-6
                  .details
                    .name
                      a(href='#') Address Proof
                    .time
                      i.fa.fa-times-circle
                      |  Document: Not Present
                    .type
                      button.btn.btn-warning(type='button') Upload  
                
              
            #tab-chat.tab-pane.fade
               div
                  .col-lg-12
                    .main-box
                      header.main-box-header.clearfix
                        h2 Change Password
                      .main-box-body.clearfix
                        form.form-inline(role='form')
                          .form-group
                            label.sr-only(for='Password1') Password
                            input#Password1.form-control(type='password', placeholder='Old')
                          .form-group
                            label.sr-only(for='Password2') Password
                            input#Password2.form-control(type='password', placeholder='New')    
                          .form-group
                            label.sr-only(for='Password3') Password
                            input#Password3.form-control(type='password', placeholder='Confirm')
                          button.btn.btn-success(type='submit') Change
                div
                  .col-lg-12
                    .main-box
                      header.main-box-header.clearfix
                        h2 Update Email Info.
                      .main-box-body.clearfix
                        form.form-inline(role='form')
                          .form-group
                            label.sr-only(for='Password3') Password
                            input#inputEmail1.form-control(type='email', placeholder='scarlett@gmail.com')
                          .form-group
                            .label.label-success Active
    
                          button.btn.btn-success(type='submit') Add New
                          button.btn.btn-success(type='submit') Edit 
                            
