
<div class="col-lg-4 col-md-5 col-sm-6">
  <div class="main-box clearfix profile-box-menu">
    <div class="main-box-body clearfix"><strong>Order No: 00001</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-primary">Completed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Job No: 00005</strong>
      <hr/>
      <cite>Nebula Infraspace LLP :: alap.s@hksolutions.in, parija.s@hksolutions.in</cite>
      <hr/>
      <div class="profile-box-content clearfix">
        <ul class="menu-items">
          <li><a href="#" class="clearfix"><i class="fa fa-bell-o fa-lg"></i> Created At<span class="label label-danger label-circle pull-right">12/12/2012</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-user fa-lg"></i> Department <span class="label label-success label-circle pull-right">Sales</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-calendar fa-lg"></i> Under Process Item<span class="label label-warning label-circle pull-right">1</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-envelope fa-lg"></i> Recent Item to Receive<span class="label label-primary label-circle pull-right">0</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-envelope fa-lg"></i> Pending Items to deliver <span class="label label-primary label-circle pull-right">1</span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-envelope fa-lg"></i> Attachments <span class="label label-primary label-circle pull-right"> </span></a></li>
          <li><a href="#" class="clearfix"><i class="fa fa-envelope fa-lg"></i> Activities <span class="label label-primary label-circle pull-right">            </span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>