.col-lg-4.col-md-5.col-sm-6
  .main-box.clearfix.profile-box-menu
    .main-box-body.clearfix
      strong Order No: 00001
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      span.label.label-primary Completed
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      strong Job No: 00005
      hr
      cite Nebula Infraspace LLP :: alap.s@hksolutions.in, parija.s@hksolutions.in
      hr
      .profile-box-content.clearfix
        ul.menu-items
          li
            a.clearfix(href='#')
              i.fa.fa-bell-o.fa-lg
              |  Created At
              span.label.label-danger.label-circle.pull-right 12/12/2012
          li
            a.clearfix(href='#')
              i.fa.fa-user.fa-lg
              |  Department 
              span.label.label-success.label-circle.pull-right Sales
          li
            a.clearfix(href='#')
              i.fa.fa-calendar.fa-lg
              |  Under Process Item
              span.label.label-warning.label-circle.pull-right 1
          li
            a.clearfix(href='#')
              i.fa.fa-envelope.fa-lg
              |  Recent Item to Receive
              span.label.label-primary.label-circle.pull-right 0
          li
            a.clearfix(href='#')
              i.fa.fa-envelope.fa-lg
              |  Pending Items to deliver 
              span.label.label-primary.label-circle.pull-right 1
          li
            a.clearfix(href='#')
              i.fa.fa-envelope.fa-lg
              |  Attachments 
              span.label.label-primary.label-circle.pull-right 
          li
            a.clearfix(href='#')
              i.fa.fa-envelope.fa-lg
              |  Activities 
              span.label.label-primary.label-circle.pull-right             