html
  body
    .row(style='opacity: 1;')
      .col-lg-12
        .row
          .col-lg-12
            ol.breadcrumb
              li
                a(href='#') Home
              li.active
                span Gallery
            h1 Gallery
        .row
          .col-lg-12
            .main-box
              header.main-box-header
                h2 Images with Lightbox
              .main-box-body
                #gallery-photos-lightbox
                  ul.clearfix.gallery-photos
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_8.jpg');", href='img/samples/hdr/img_8.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_2.jpg');", href='img/samples/hdr/img_2.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_3.jpg');", href='img/samples/hdr/img_3.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_4.jpg');", href='img/samples/hdr/img_4.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_5.jpg');", href='img/samples/hdr/img_5.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_6.jpg');", href='img/samples/hdr/img_6.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_7.jpg');", href='img/samples/hdr/img_7.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
                    li.col-md-3.col-sm-3.col-xs-6
                      a.photo-box.image-link(style="background-image: url('img/samples/hdr/small/img_1.jpg');", href='img/samples/hdr/img_1.jpg')
                      span.thumb-meta-time
                        i.fa.fa-clock-o
                        |  23 minutes ago
        .row
          .col-lg-12
            .main-box
              header.main-box-header
                h2 Uploaded images - Drag & Drop images for sorting
              .main-box-body
                #gallery-photos-wrapper
                  ul#gallery-photos.clearfix.gallery-photos.gallery-photos-hover.ui-sortable
                    li#recordsArray_1.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/jessica.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_2.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/kunis-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_3.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/robert-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_4.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/emma-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_5.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/scarlett-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_6.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/ryan-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_7.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/angelina-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                    li#recordsArray_8.col-md-2.col-sm-3.col-xs-6
                      .photo-box(style="background-image: url('img/samples/lima-300.jpg');")
                      a.remove-photo-link(href='#')
                        span.fa-stack.fa-lg
                          i.fa.fa-circle.fa-stack-2x
                          i.fa.fa-trash-o.fa-stack-1x.fa-inverse
        .row
          .col-lg-12
            .main-box
              header.main-box-header
                h2 Upload images with Drag & Drop
              .main-box-body
                #dropzone
                  form#demo-upload.dropzone.dz-clickable(action='#')
                    .dz-default.dz-message
                      span Drop files here to upload
    footer#footer-bar.row(style='opacity: 1;')
      p#footer-copyright.col-xs-12
        | Powered by Cube Theme.
