
<html>
  <body>  
    <div style="opacity: 1;" class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active"><span>Intro</span></li>
            </ol>
            <h1>Intro</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="main-box clearfix">
              <header class="main-box-header clearfix">
                <h2>Box Header</h2>
              </header>
              <div class="main-box-body clearfix">Content...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer-bar" style="opacity: 1;" class="row">
      <p id="footer-copyright" class="col-xs-12">Powered by Cube Theme.</p>
    </footer>
  </body>
</html>