html
  body   
    .row(style='opacity: 1;')
      .col-lg-12
        .row
          .col-lg-12
            ol.breadcrumb
              li
                a(href='#') Home
              li.active
                span Intro
            h1 Intro
        .row
          .col-lg-12
            .main-box.clearfix
              header.main-box-header.clearfix
                h2 Box Header
              .main-box-body.clearfix
                | Content...
    footer#footer-bar.row(style='opacity: 1;')
      p#footer-copyright.col-xs-12
        | Powered by Cube Theme.
