html
  body
    
    .row(style='opacity: 1;')
      .col-lg-12
        .row
          .col-lg-12
            ol.breadcrumb
              li
                a(href='#') Home
              li.active
                span Team members
            h1
              | Team members 
              small with Multiple color options
        .row
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/angelina-300.jpg')
                  h2 Gowrav vishwakarma
                  .job-position
                    | Director
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  New York
                    li
                      i.fa.fa-envelope
                      |  angelina@jolie.com
                    li
                      i.fa.fa-phone
                      |  (329) 239-3342
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 783
                    span.label Messages
                  a(href='#')
                    span.value 912
                    span.label Sales
                  a(href='#')
                    span.value 83
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/robert-300.jpg')
                  h2 Vijay mali
                  .job-position
                    | Developer
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  Chicago
                    li
                      i.fa.fa-envelope
                      |  robert@downey.com
                    li
                      i.fa.fa-phone
                      |  (942) 834-9382
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 92
                    span.label Messages
                  a(href='#')
                    span.value 127
                    span.label Sales
                  a(href='#')
                    span.value 361
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/kunis-300.jpg')
                  h2 Rakesh Sinha
                  .job-position
                    | Developer
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  San Francisco
                    li
                      i.fa.fa-envelope
                      |  mila@kunis.com
                    li
                      i.fa.fa-phone
                      |  (823) 321-0192
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 44
                    span.label Messages
                  a(href='#')
                    span.value 91
                    span.label Sales
                  a(href='#')
                    span.value 3
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/ryan-300.jpg')
                  h2 Silky Monga
                  .job-position
                    | Manager
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  Los Angeles
                    li
                      i.fa.fa-envelope
                      |  ryan@gosling.com
                    li
                      i.fa.fa-phone
                      |  (829) 101-9499
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 192
                    span.label Messages
                  a(href='#')
                    span.value 99
                    span.label Sales
                  a(href='#')
                    span.value 20
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/scarlett-300.jpg')
                  h2 Sushil milky
                  .job-position
                    | Training
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  Paris
                    li
                      i.fa.fa-envelope
                      |  s@johansson.com
                    li
                      i.fa.fa-phone
                      |  (901) 482-9010
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 1,293
                    span.label Messages
                  a(href='#')
                    span.value 439
                    span.label Sales
                  a(href='#')
                    span.value 290
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/emma-300.jpg')
                  h2 Nilam Joshi
                  .job-position
                    | Training
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  London
                    li
                      i.fa.fa-envelope
                      |  emma@watson.com
                    li
                      i.fa.fa-phone
                      |  (303) 958-1009
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 28
                    span.label Messages
                  a(href='#')
                    span.value 9
                    span.label Sales
                  a(href='#')
                    span.value 33
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/robert-300.jpg')
                  h2 Moize amet
                  .job-position
                    | Training
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  Chicago
                    li
                      i.fa.fa-envelope
                      |  robert@downey.com
                    li
                      i.fa.fa-phone
                      |  (942) 834-9382
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 92
                    span.label Messages
                  a(href='#')
                    span.value 127
                    span.label Sales
                  a(href='#')
                    span.value 361
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/kunis-300.jpg')
                  h2 Darshan Jain
                  .job-position
                    | Training
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  San Francisco
                    li
                      i.fa.fa-envelope
                      |  mila@kunis.com
                    li
                      i.fa.fa-phone
                      |  (823) 321-0192
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 44
                    span.label Messages
                  a(href='#')
                    span.value 91
                    span.label Sales
                  a(href='#')
                    span.value 3
                    span.label Projects
          .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .main-box.clearfix.profile-box-contact
              .main-box-body.clearfix
                .profile-box-header.gray-bg.clearfix
                  img.profile-img.img-responsive(alt='', src='img/samples/angelina-300.jpg')
                  h2 Angelina Jolie
                  .job-position
                    | Actress
                  ul.contact-details
                    li
                      i.fa.fa-map-marker
                      |  New York
                    li
                      i.fa.fa-envelope
                      |  angelina@jolie.com
                    li
                      i.fa.fa-phone
                      |  (329) 239-3342
                .profile-box-footer.clearfix
                  a(href='#')
                    span.value 783
                    span.label Messages
                  a(href='#')
                    span.value 912
                    span.label Sales
                  a(href='#')
                    span.value 83
                    span.label Projects
    footer#footer-bar.row(style='opacity: 1;')
      p#footer-copyright.col-xs-12
        | Powered by Cube Theme.
