<div class="main-box clearfix">
<header class="main-box-header clearfix">
<h2>Scarlett Johansson</h2>
</header>
<div class="main-box-body clearfix">
<div class="profile-status">
<i class="fa fa-circle"></i> Online
</div>
<img class="profile-img img-responsive center-block" alt="" src="img/samples/scarlet-159.png">
<div class="profile-label">
<span class="label label-danger">Admin</span>
</div>
<div class="profile-stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
<span>Super User</span>
</div>
<div class="profile-since">
Member since: Jan 2012
</div>
<div class="profile-details">
<ul class="fa-ul">
<li><i class="fa-li fa fa-truck"></i>Orders: <span>456</span></li>
<li><i class="fa-li fa fa-comment"></i>Posts: <span>828</span></li>
<li><i class="fa-li fa fa-tasks"></i>Tasks done: <span>1024</span></li>
</ul>
</div>
<div class="profile-message-btn center-block text-center">
<a class="btn btn-success" href="#">
<i class="fa fa-envelope"></i>
Send message
</a>
</div>
</div>
</div>