.main-box.clearfix
  header.main-box-header.clearfix
    h2 Scarlett Johansson
  .main-box-body.clearfix
    .profile-status
      i.fa.fa-circle
      |  Online
    img.profile-img.img-responsive.center-block(alt='', src='img/samples/scarlet-159.png')
    .profile-label
      span.label.label-danger Admin
    .profile-stars
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star-o
      span Super User
    .profile-since
      | Member since: Jan 2012
    .profile-details
      ul.fa-ul
        li
          i.fa-li.fa.fa-truck
          | Orders: 
          span 456
        li
          i.fa-li.fa.fa-comment
          | Posts: 
          span 828
        li
          i.fa-li.fa.fa-tasks
          | Tasks done: 
          span 1024
    .profile-message-btn.center-block.text-center
      a.btn.btn-success(href='#')
        i.fa.fa-envelope
        | Send message
