.col-md-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 All kinds of lists
    .main-box-body.clearfix
      h3
        span Font Awesome List
      ul.fa-ul
        li
          i.fa-li.fa.fa-check-square
          | List icons (like these)
        li
          i.fa-li.fa.fa-check-square
          | can be used
        li
          i.fa-li.fa.fa-spinner.fa-spin
          | to replace
        li
          i.fa-li.fa.fa-square
          | default bullets in lists
      h3
        span Unordered List
      ul
        li
          | Item 1
        li
          | Item 2
          ul
            li Subitem 2-1
            li
              strong Subitem 2-2 (Bold)
            li
              em Subitem 2-1 (Italic)
      h3
        span Ordered List
      ol
        li Ordered Item 1
        li Ordered Item 2
        li Ordered Item 3
