.col-lg-12
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Heading 2 (h2)
    .main-box-body.clearfix
      p.lead
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
        | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
        | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
        | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
        | placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit
        | felis. Vestibulum convallis turpis lectus, a porta est facilisis id
        abbr(title='attribute') ends
        | .
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
        | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
        | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices.
      h3
        span Heading 3 (h3)
      .row
        .col-md-6
          h4 Heading 4 (h4)
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
            | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
            | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
            | placerat. Vivamus suscipit vulputate lacinia.
        .col-md-6
          h4 Heading 4 (h4)
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
            | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
            | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
            | placerat. Vivamus suscipit vulputate lacinia.
      h5 Heading 5 (h5)
      p
        small
          | SMALL - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet odio.
          | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
          | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
          | placerat. Vivamus suscipit vulputate lacinia.
      br
      blockquote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
          | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
          | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
          | placerat. Vivamus suscipit vulputate lacinia.
        small
          cite(title='Source Title') Source Samuel L Ipsum
      h5 Definition List
      dl.dl-horizontal
        dt Description lists
        dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        dt Is she dead, yes or no?
        dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        dd
          | Maecenas eu mauris vehicula, blandit mauris nec. Maecenas eu mauris vehicula, blandit mauris nec.
        dt We happy?
        dd Nulla tristique nisi vitae blandit vehicula.
        dt You think water moves fast? You should see ice.
        dd
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
          | Nulla vel sagittis tellus.
