.col-md-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Other Blockquotes & Tooltips
    .main-box-body.clearfix
      br
      br
      blockquote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
      br
      br
      .clearfix
        blockquote.pull-right
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa.
      br
      br
      .alert.alert-info
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
        a.alert-link(href='#') Nulla vel sagittis tellus
        | .
      br
