
<form role="form" action="#" method="POST">
  <fieldset>
    <div class="form-group group">
      <label>First Name</label>
      <div class="atk-form-row atk-form-field xepan-form-field form-control">{$first_name}</div>
    </div>
    <div class="form-group group">
      <label>Last Name</label>
      <div class="atk-form-row atk-form-field xepan-form-field form-control">{$last_name}</div>
    </div>
    <div class="form-group group">
      <label>Email</label>
      <div class="atk-form-row atk-form-field xepan-form-field form-control">{$email_id}</div>
    </div>
    <div class="form-group group">
      <label>Password</label>
      <div class="atk-form-row atk-form-field xepan-form-field form-control">{$password}</div>
    </div>
    <div class="form-group group">
      <label>Repeat password</label>
      <div class="atk-form-row atk-form-field xepan-form-field form-control">{$retype_password}</div>
    </div>
    <div class="checkbox">
      <label>
        <div style="position: relative;" class="icheckbox">
          <input type="checkbox" name="remember" style="position: absolute; opacity: 0;"/><ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" class="iCheck-helper"></ins>
        </div> I have read and agree with the terms
      </label>
    </div>
    <input type="submit" value="Register" class="btn btn-black"/>
  </fieldset>
</form>