
<h5>Enter your mail to receive welcome mail again </h5><strong> Activate your Account
  <form role="form" action="#" method="POST">
    <fieldset>
      <div class="form-group">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <div class="atk-form-row atk-form-field xepan-form-field form-control">{$email}</div>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-black">Send Email </button>
  </form><a data-showview="login_view" style="float:right;" class="forgot-link back-login xepan-login-panl-loadview">Back to login                        </a></strong>