h4  Activate your Account
form(role='form', action='#', method='POST')
  fieldset
    .form-group
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-user
        .atk-form-row.atk-form-field.xepan-form-field.form-control{$email}
    .form-group
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-user
        .atk-form-row.atk-form-field.xepan-form-field.form-control{$activation_code} 
  button.btn.btn-black.col-xs-12(type='submit' style="margin-left:auto;") Verify Email 
a.forgot-link.back-login.xepan-login-panl-loadview( data-showview="login_view" style="margin-left:20px;") Back to login
a.forgot-link.back-login.xepan-login-panl-loadview( data-showview="verify_again" style="margin-left:170px;") Resend verification
