h5 Enter your mail to receive welcome mail again 
strong  Activate your Account
  form(role='form', action='#', method='POST')
    fieldset
      .form-group
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          .atk-form-row.atk-form-field.xepan-form-field.form-control{$email}
    button.btn.btn-black(type='submit') Send Email 
  a.forgot-link.back-login.xepan-login-panl-loadview(data-showview="login_view" style='float:right;') Back to login                        
