<h4> Activate your Account</h4>
<form role="form" action="#" method="POST">
  <fieldset>
    <div class="form-group">
      <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <div class="atk-form-row atk-form-field xepan-form-field form-control">{$email}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <div class="atk-form-row atk-form-field xepan-form-field form-control">{$activation_code} </div>
      </div>
    </div>
  </fieldset>
  <button type="submit" style="margin-left:auto;" class="btn btn-black col-xs-12">Verify Email </button>
</form>
<a data-showview="login_view" style="margin-left:20px;" class="forgot-link back-login xepan-login-panl-loadview">Back to login</a><a data-showview="verify_again" style="margin-left:170px;" class="forgot-link back-login xepan-login-panl-loadview">Resend verification</a>