
<h3>Enter your email and click on send E-mail button to receive mail</h3>
<form role="form" action="#" method="POST" class=" ">
  <fieldset>
    <div class="form-group">
      <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <div class="form-control xepan-form-field">{$email}</div>
      </div>
    </div>
  </fieldset>
  <button type="submit" style="float:center;" class="btn btn-black">Send E-Mail</button>
</form><a data-showview="login_view" style="float:right;" class="forgot-link back-login xepan-login-panl-loadview">Back to login
  <div id="login-box-footer">                       </div></a>