doc/dbupdates/*.ok
doc/dbupdates/*.fail
*.swp
*.bak
admin/upload/*
shared/addons2
.DS_Store
config.php
config-default.php
config-auto.php
composer.phar
/vendor/*
/agiletoolkit-sandbox.phar
run.sh
run.bat
VERSION
/index.php
.idea
.composer
composer
composer.lock
addons/
/db/*
assets/*
*.orig
*.todo
/cube
*.mwb