updates.txt
doc/dbupdates/*.ok
doc/dbupdates/*.fail
*.swp
*.bak
admin/upload/*
shared/*
shared/addons2
.DS_Store
config.php
config-auto.php
admin/config-default.php
composer.phar
/vendor/*
/agiletoolkit-sandbox.phar
run.sh
run.bat
.idea
.composer
composer
addons/
/db/*
states/*
assets/*
*.orig
*.todo
/cube
*.mwb
/upload/*
tests/_output/*
tests/*
.tmb
xepantemplates/*
websites/*
/*.zip
/*.csv
/stats
*.codekit
cube1/
wsserver/vendor
