language: php

php:
  # - 5.4
  # - 5.5
  # - 5.6
  - 7.0
  # - hhvm

matrix:
  allow_failures:
    - php: hhvm

# branches:
#   only:
#     - develop


cache:
  directories:
    # - vendor
    - $HOME/.composer/cache
git:
  depth: 1

addons:
  mariadb: '10.1'
  firefox: "47.0.1"
  hosts:
  - xepan-local.org
  - demo.xepan-local.org

before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

install:
  - echo "Extracting firefox and setting PATH variable..."
  - tar -xjf /tmp/firefox-47.0.1.tar.bz2 --directory /tmp
  - export PATH="/tmp/firefox:$PATH"
  - echo "Using firefox version `firefox --version`"  
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  # enable php-fpm
  - "if [[ ${TRAVIS_PHP_VERSION:0:3} == \"7.0\" ]]; then sudo cp tests/php7-pool.conf ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/; fi"
  - "cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf"
  - "sudo a2enmod rewrite actions fastcgi alias"
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # configure apache virtual hosts
  - sudo cp -f tests/travis/build/travis-ci-apache /etc/apache2/sites-available/default
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
  - sudo service apache2 restart
  - wget http://selenium-release.storage.googleapis.com/2.53/selenium-server-standalone-2.53.1.jar
  - wget -P ~/Downloads https://github.com/mozilla/geckodriver/releases/download/v0.10.0/geckodriver-v0.10.0-linux64.tar.gz
  - tar -xf ~/Downloads/geckodriver-v0.10.0-linux64.tar.gz -C ~/Downloads
  - composer self-update
  - composer install --prefer-dist
  - ulimit -c unlimited || true

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
#   # - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - java -jar selenium-server-standalone-2.53.1.jar -port 4444 > /dev/null &
  - sleep 5
  - mkdir websites && cd websites
  - mkdir www && cd www && mkdir assets && mkdir upload && echo "<?php \$config['dsn']='mysql://root:@localhost/xepan2'; \$config['test_mode']=true;" >> config.php && git clone https://github.com/xepan/epanwebsite.git www
  - cd ..
  - mkdir demo 
  - cd demo 
  - mkdir assets 
  - mkdir upload 
  - echo "<?php \$config['dsn']='mysql://root:@localhost/demo'; \$config['test_mode']=true;" >> config.php
  - cp -r ../../vendor/xepan/cms/templates/defaultlayout/www .
  - cd ../..
#   #
  - mysql -e 'create database xepan2;'
  - mysql -e 'create database demo;'
  - mysql -uroot xepan2 < tests/_data/websitedata.sql
  - mysql -uroot demo < tests/_data/data.sql
  - php vendor/codeception/codeception/codecept build
  
script:
  - php vendor/codeception/codeception/codecept run website --env travis --html website.html
  - php vendor/codeception/codeception/codecept run erp --env travis --html erp.html
  - bash ./tests/deploy-to-gh-pages.sh
env:
  global:
    - GITHUB_REPO: "xavoctechnocratspvtltd/xepan2"
    - secure: "G3FibRbYYihZamDgBPq9TrmruwTyYOqwfdRMOQhcnF27R0/9Fz5jmvXozE9Y3Sc/PUTxbPxcDnAx8H/SR5PxGCVzY9Viz8wRmmCLqG7ohEoexT+HlIpAFVZpVbggJJiT8ZrvMTjxFyB5WQtx9jyv+PUpojoqKDTFB45EM7fcnduVOwZ2MRFSUj7L3vUtNq28jvSy8ZAh1IZo4R0rfgIsaYsCAmp/PJoDpAT3LpFaP6Ekk1WcvL69KMXv9TGBwborvAfnu4TGVGPltDuljwWOKGxk5HNy7JepxeC0oCgtOixPzIUMx9fTQBBEihf13NPr+gzWGSyJ6tYesY0i2fauBgqkNzoKiIIKc+shrJgAk0aWI18ovv4Xt7jG770SNZrFl9+pRYTfA4qvgMB6sFyTjuvyIW1zyKl4Bs7JAsd4Z+eVtq9Phuwwg2VMnUqgLdfZDBxGqEHO8DRmeAXKM2uVfOkPjCrRNgzsiceUhH4cgKeQ136WQy5Y7Y+Xhw6hCi3gpLe0VGrl8rA/LR1YhNi7GiLdO3qaaNwbijZdUvrt7b70gisOYHAb6rb7bacMkTb83Vdj0W5E3JgNETRoVA4m9VxJbOVm/gVPEhPWnTG81UgtS3E93H/wbMsJmYSul8N/Jq5Rk1LK+Rw2w9yZzPaeiCq/3FhAI7CIR/0rABJ4vaw="

