// .preloader
.preloader
  i.fa.fa-circle-o-notch.fa-spin
// /.preloader
header#home
  #home-slider.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .item.active(style='background-image: url(images/slider/1.jpg)')
        .caption
          h1.animated.fadeInLeftBig
            | Welcome to 
            span SVC
            small &amp;
            span gMarks
          p.animated.fadeInRightBig Student Virtual Corporate
          a.btn.btn-start.animated.fadeInUpBig(data-scroll='', href='#services') What is this
      .item(style='background-image: url(images/slider/2.jpg)')
        .caption
          h1.animated.fadeInLeftBig
            | Say Hello to 
            span SVC
            small &amp;
            span gMarks
          p.animated.fadeInRightBig Student Virtual Corporate
          a.btn.btn-start.animated.fadeInUpBig(data-scroll='', href='#services') What is this
      .item(style='background-image: url(images/slider/3.jpg)')
        .caption
          h1.animated.fadeInLeftBig
            | We are 
            span Creative
          p.animated.fadeInRightBig Student Virtual Corporate
          a.btn.btn-start.animated.fadeInUpBig(data-scroll='', href='#services') What is this
    a.left-control(href='#home-slider', data-slide='prev')
      i.fa.fa-angle-left
    a.right-control(href='#home-slider', data-slide='next')
      i.fa.fa-angle-right
    a#tohash(href='#services')
      i.fa.fa-angle-down
  // /#home-slider
  .main-nav
    .container
      .navbar-header
        button.navbar-toggle(data-target='.navbar-collapse', data-toggle='collapse', type='button')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='index.html')
          h1
            img.img-responsive(alt='logo', src='images/logo.png')
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.scroll.active
            a(href='#home') Home
          li.scroll
            a(href='#aboutus') About Us
          li.scroll
            a(href='#statistics') Statistics
          li.scroll
            a(href='#toppers') Toppers
          li.scroll
            a(href='#blog') Blog
          li.scroll
            a(href='#joinus') Join Us
          li
            a.btn.btn-success(data-toggle="modal" data-target="#svcsignin") Sign in
          #svcsignin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Sign in
                .modal-body
                  .row
                    .col-md-8
                      {login}
                      .form.navbar-form.navbar-left
                        .form-group(style="width:100%")
                          label.control-label User Name
                          .atk-form-row
                            .atk-cell.atk-expand {$email}
                        .form-group(style="width:100%")
                          label.control-label Password
                          {$password}
                        .form-group(style="width:100%;margin-top:10px;")
                          {$FormButtons}
                      {/login}
                    .col-md-4.text-center
                      p Sign in with
                      .btn.btn-block.btn-info Facebook
                      |or
                      .btn.btn-block.btn-danger Google
//Intro
section#aboutus
  .container
    .row
      .col-sm-4
        .about-info.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
          h2 What is SVC
          p.text-justify
            | Students Virtual Corporate is new generation Knowledge delivery-evolution system. in-fact its a mission to give some definite direction to ever running youth. Its about giving them satisfaction in whatever they do. 
          p.text-justify
            | SVC makes knowledge delivery fun yet much more powerful than traditional education system. It gives a never found solution of education vs professional life gap. It gives pleasure from the day one.
          p.text-justify
            | SVC defines a complete new marking system that helps corporate to take better decisions and also helps them run a better, more productive environment. It takes burden of Human grouping and personal disappointments from persons and still manages things better.
      .text-center.col-sm-8
        .about-info.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
          h2 Brand Identity
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          img(src="images/video.jpg" height="280px")

// /#intro
// Features
section#features.parallax
  .container
    .row.count
      .col-sm-12.col-xs-6.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
        h2 gMarks so far
        h1.timer.points( data-startnumber="0", data-endnumber="697398542", data-wow-duration='2000ms', data-wow-delay='1000ms') 0
      //- .col-sm-3.col-xs-6.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='500ms')
      //-   i.fa.fa-desktop
      //-   h3.timer 200
      //-   p Modern Websites
      //- .col-sm-3.col-xs-6.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='700ms')
      //-   i.fa.fa-trophy
      //-   h3.timer 10
      //-   p WINNING AWARDS
      //- .col-sm-3.col-xs-6.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='900ms')
      //-   i.fa.fa-comment-o
      //-   h3 24/7
      //-   p Fast Support
// /#features
section#statistics
  .container
    .row
      .text-center.col-sm-8.col-sm-offset-2
        h2 Skill Distributions
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
    .row.svc-margintop
      .col-sm-6.text-center
        .about-info.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
          h2 Boys Vs Girls
          .svc-bvg-piechart
      .col-sm-6
        .text-center.about-info.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
        .svc-subject-column
        //-   h2 Subject Distribution
        //- .our-skills.wow.fadeInDown.animated(data-wow-duration='1000ms', data-wow-delay='300ms' style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;")
        //-   .single-skill.wow.fadeInDown.animated(data-wow-duration='1000ms', data-wow-delay='300ms' style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;")
        //-     p.lead Management
        //-     .progress
        //-       .progress-bar.progress-bar-primary.six-sec-ease-in-out(aria-valuetransitiongoal="95" role="progressbar" style="width: 95%;" ) 95%
        //-   .single-skill.wow.fadeInDown.animated(data-wow-delay="400ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: fadeInDown;")
        //-     p.lead HR
        //-     .progress
        //-       .progress-bar.progress-bar-primary.six-sec-ease-in-out(aria-valuetransitiongoal="75" role="progressbar" style="width: 75%;" ) 75%
        //-   .single-skill.wow.fadeInDown.animated( data-wow-delay="500ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 500ms; animation-name: fadeInDown;" )
        //-     p.lead Marketing
        //-     .progress
        //-       .progress-bar.progress-bar-primary.six-sec-ease-in-out(aria-valuetransitiongoal="60" role="progressbar" style="width: 60%;" ) 60%
        //-   .single-skill.wow.fadeInDown.animated( data-wow-delay="600ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;" )
        //-     p.lead XYZ
        //-     .progress
        //-       .progress-bar.progress-bar-primary.six-sec-ease-in-out(aria-valuetransitiongoal="80" role="progressbar" style="width: 80%;" ) 80%
// /#about-us
section#services
  .container
    .heading.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
      .row
        .text-center.col-sm-8.col-sm-offset-2
          h2 Geo Graphics Distribution
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
    .text-center.our-services
      .row
        .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
          div#svc-india-map
        .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='450ms')
          .row
            .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
              div#svc-india-statentop1
            .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
              div#svc-india-statentop2
          .row
            .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
              div#svc-india-statentop3
            .col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
              div#svc-india-statentop4
// /#services
//Out Topers
section#toppers
  .container
    .row
      .heading.text-center.col-sm-8.col-sm-offset-2.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
        h2 Meet Topers
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
    .row
      .heading.text-center.col-sm-12.col-sm-offset-0.svc-tabs.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
        ul.nav.nav-tabs(role="tablist")
          li.active(role="presentation")
            a(href="#day" aria-controls="home" role="tab" data-toggle="tab") Day
          li(role="presentation")
            a(href="#week" aria-controls="profile" role="tab" data-toggle="tab") Week
          li(role="presentation")
            a(href="#month" aria-controls="profile" role="tab" data-toggle="tab") Month
          li(role="Year")
            a(href="#year" aria-controls="profile" role="tab" data-toggle="tab") Year
          li(role="Overall")
            a(href="#overall" aria-controls="profile" role="tab" data-toggle="tab") Overall
        .tab-content
          .tab-pane.active#day(role="tabpanel")
            ol.breadcrumb
              li
                a(href="#") Rajasthan
              li
                a(href="#") Udaipur
              li.active Data
              li.pull-right
                i.glyphicon.glyphicon-filter
                a(href="#svc-filter") filter

            div#svc-filter
              button.close(type="button") ×
              form#svc-toper-filter-form
                input(type="filter" value="" placeholder="type keyword(s) here")
                button.btn.btn-primary(type="submit") filter
            .team-members
              .row
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .member-image
                      img.img-responsive(src='images/team/1.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 CEO & Founder
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='500ms')
                    .member-image
                      img.img-responsive(src='images/team/2.jpg', alt='')
                    .member-info
                      h3 Lawrence Lane
                      h4 UI/UX Designer
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='800ms')
                    .member-image
                      img.img-responsive(src='images/team/3.jpg', alt='')
                    .member-info
                      h3 Lois Clark
                      h4 Developer
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='1100ms')
                    .member-image
                      img.img-responsive(src='images/team/4.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 Support Manager
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='1100ms')
                    .member-image
                      img.img-responsive(src='images/team/5.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 Support Manager
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='1100ms')
                    .member-image
                      img.img-responsive(src='images/team/6.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 Support Manager
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
              .row
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .member-image
                      img.img-responsive(src='images/team/1.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 CEO & Founder
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='500ms')
                    .member-image
                      img.img-responsive(src='images/team/2.jpg', alt='')
                    .member-info
                      h3 Lawrence Lane
                      h4 UI/UX Designer
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='800ms')
                    .member-image
                      img.img-responsive(src='images/team/3.jpg', alt='')
                    .member-info
                      h3 Lois Clark
                      h4 Developer
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='1100ms')
                    .member-image
                      img.img-responsive(src='images/team/4.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 Support Manager
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='1100ms')
                    .member-image
                      img.img-responsive(src='images/team/5.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 Support Manager
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-sm-2
                  .team-member.wow.flipInY(data-wow-duration='1000ms', data-wow-delay='1100ms')
                    .member-image
                      img.img-responsive(src='images/team/6.jpg', alt='')
                    .member-info
                      h3 Marian Dixon
                      h4 Support Manager
                      p Consectetur adipisicing 
                    .social-icons
                      ul
                        li
                          a.facebook(href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter(href='#')
                            i.fa.fa-twitter
                        li
                          a.linkedin(href='#')
                            i.fa.fa-linkedin
          .tab-pane#week(role="tabpanel") Week Topers Photo
          .tab-pane#month(role="tabpanel") Month Topers Photo
          .tab-pane#year(role="tabpanel") Year Topers Photo
          .tab-pane#overall(role="tabpanel") Over all Topers Photo
//Our Topers
section#twitter.parallax
  div
    a.twitter-left-control(href='#twitter-carousel', role='button', data-slide='prev')
      i.fa.fa-angle-left
    a.twitter-right-control(href='#twitter-carousel', role='button', data-slide='next')
      i.fa.fa-angle-right
    .container
      .row
        .col-sm-8.col-sm-offset-2
          .twitter-icon.text-center
            i.fa.fa-twitter
            h4 SVC
          #twitter-carousel.carousel.slide(data-ride='carousel')
            .carousel-inner
              .item.active.wow.fadeIn(data-wow-duration='1000ms', data-wow-delay='300ms')
                p
                  | Introducing Shortcode generator for Helix V2 based templates 
                  a(href='#')
                    span #helixframework #joomla
                    |  http://bit.ly/1qlgwav
              .item
                p
                  | Introducing Shortcode generator for Helix V2 based templates 
                  a(href='#')
                    span #helixframework #joomla
                    |  http://bit.ly/1qlgwav
              .item
                p
                  | Introducing Shortcode generator for Helix V2 based templates 
                  a(href='#')
                    span #helixframework #joomla
                    |  http://bit.ly/1qlgwav
// /#twitter
section#blog
  .container
    .row
      .heading.text-center.col-sm-8.col-sm-offset-2.wow.fadeInUp(data-wow-duration='1200ms', data-wow-delay='300ms')
        h2 Blog Posts
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
    {svc_blog}
    .blog-posts
      .row{rows}{row}
        .col-sm-4.blog-post.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='400ms')
          .post-thumb
            a(href='#')
              img.img-responsive(src='{image}images/blog/1.jpg{/}', alt='')
            .post-meta
              span
                i.fa.fa-comments-o
                |  {comments}3 {/comments} Comments
              span
                i.fa.fa-heart
                |  {likes} 0 {/likes} Likes
            .post-icon
              i.fa.fa-picture-o
          .entry-header
            h3
              a(href='blogpost/?blogpost_id={$id}') {subject}Lorem ipsum dolor sit amet consectetur adipisicing elit{/subject}
            span.date {created_at}June 26, 2014{/created_at}
            span.cetagory
              | in 
              strong {category}General{/}
          .entry-content
            p
              {content}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{/}
          .entry-footer.atk-padding-top
            p
              a(href="blogpost/?blogpost_id={$id}") Read More...
        {/}
        {/}
      {loadmore}
      .load-more.wow.fadeInUp(data-wow-duration="1000ms", data-wow-delay="500ms")
        a.btn-loadmore(href="blogs")
          i.fa.fa-repeat  Load More
      {/loadmore}
  {/svc_blog}
// /#blog
section#joinus
  #contact-us.parallax
    .container
      .row
        .heading.text-center.col-sm-8.col-sm-offset-2.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
          h2 Join Us
          p
            | LorOr just contact us if you need professional implementation of gmarks and SVC at your corporate.
        .row
          .col-sm-6.svc-registration-form
            {registration_form}
            form.atk-form#main-contact-form
              .atk-push
                .atk-push-xsmall
                  label.atk-text-bold Name
                .row.atk-push-xsmall
                  .col-sm-6
                    .atk-form-row
                      .atk-cell.atk-form-field {$name}
                  .col-sm-6
                    .atk-form-row
                      .atk-cell.atk-expand {$surname}
                .atk-push-xsmall
                  label.atk-text-bold Email (username)
                .atk-form-row.atk-push-xsmall
                  .atk-cell.atk-form-field {$email}
                .atk-push-xsmall
                  label.atk-text-bold Password
                .row.atk-push-small
                  .col-sm-6
                    .atk-form-row
                      .atk-cell.atk-expand {$password}
                  .col-sm-6
                    .atk-form-row
                      .atk-cell.atk-expand {$re_password}
                .atk-form-row
                  .atk-cell.atk-expand {$terms}
                .row
                  .col-sm-6 {$FormButtons}
            {/}
          .col-sm-6
            .contact-info.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
              p
                | Or just contact us if you need professional implementation of gmarks and SVC at your corporate.
              ul.address
                li
                  i.fa.fa-map-marker
                  span  Address:
                  |  2400 South Avenue A
                li
                  i.fa.fa-phone
                  span  Phone:
                  |  +928 336 2000
                li
                  i.fa.fa-envelope
                  span  Email:
                  a(href='mailto:someone@yoursite.com')  support@svc.com
                li
                  i.fa.fa-globe
                  span  Website:
                  a(href='#') www.sitename.com
// /#contact
footer#footer
  .footer-top.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
    .container.text-center
      .footer-logo
        a(href='index.html')
          img.img-responsive(src='images/footer-logo.png', alt='SVC' style="color:white;")
      .social-icons
        ul
          li
            a.envelope(href='#')
              i.fa.fa-envelope
          li
            a.twitter(href='#')
              i.fa.fa-twitter
          li
            a.dribbble(href='#')
              i.fa.fa-dribbble
          li
            a.facebook(href='#')
              i.fa.fa-facebook
          li
            a.linkedin(href='#')
              i.fa.fa-linkedin
          li
            a.tumblr(href='#')
              i.fa.fa-tumblr-square
  .footer-bottom
    .container
      .row
        .col-sm-6
          p © 2015 Student Virtual Corporate.
        .col-sm-6
          p.pull-right
            | 
            a(href='http://www.studentscorporate.com/')