
<!-- .preloader-->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
<!-- /.preloader-->
<header id="home">
  <div id="home-slider" data-ride="carousel" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div style="background-image: url(images/slider/1.jpg)" class="item active">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Welcome to <span>SVC</span><small>&amp;</small><span>gMarks</span></h1>
          <p class="animated fadeInRightBig">Student Virtual Corporate</p><a data-scroll="" href="#services" class="btn btn-start animated fadeInUpBig">What is this</a>
        </div>
      </div>
      <div style="background-image: url(images/slider/2.jpg)" class="item">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Say Hello to <span>SVC</span><small>&amp;</small><span>gMarks</span></h1>
          <p class="animated fadeInRightBig">Student Virtual Corporate</p><a data-scroll="" href="#services" class="btn btn-start animated fadeInUpBig">What is this</a>
        </div>
      </div>
      <div style="background-image: url(images/slider/3.jpg)" class="item">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">We are <span>Creative</span></h1>
          <p class="animated fadeInRightBig">Student Virtual Corporate</p><a data-scroll="" href="#services" class="btn btn-start animated fadeInUpBig">What is this</a>
        </div>
      </div>
    </div><a href="#home-slider" data-slide="prev" class="left-control"><i class="fa fa-angle-left"></i></a><a href="#home-slider" data-slide="next" class="right-control"><i class="fa fa-angle-right"></i></a><a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>
  </div>
  <!-- /#home-slider-->
  <div class="main-nav">
    <div class="container">
      <div class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand">
          <h1><img alt="logo" src="images/logo.png" class="img-responsive"/></h1></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="scroll active"><a href="#home">Home</a></li>
          <li class="scroll"><a href="#aboutus">About Us</a></li>
          <li class="scroll"><a href="#statistics">Statistics</a></li>
          <li class="scroll"><a href="#toppers">Toppers</a></li>
          <li class="scroll"><a href="#blog">Blog</a></li>
          <li class="scroll"><a href="#joinus">Join Us</a></li>
          <li><a data-toggle="modal" data-target="#svcsignin" class="btn btn-success">Sign in</a></li>
          <div id="svcsignin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
            <div role="document" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                  <h4 id="myModalLabel" class="modal-title">Sign in</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-8">{login}
                      <div class="form navbar-form navbar-left">
                        <div style="width:100%" class="form-group">
                          <label class="control-label">User Name</label>
                          <div class="atk-form-row">
                            <div class="atk-cell atk-expand">{$email}</div>
                          </div>
                        </div>
                        <div style="width:100%" class="form-group">
                          <label class="control-label">Password</label>{$password}
                        </div>
                        <div style="width:100%;margin-top:10px;" class="form-group">{$FormButtons}</div>
                      </div>{/login}
                    </div>
                    <div class="col-md-4 text-center">
                      <p>Sign in with</p>
                      <div class="btn btn-block btn-info">Facebook</div>or
                      <div class="btn btn-block btn-danger">Google</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--Intro-->
<section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div data-wow-duration="1000ms" data-wow-delay="300ms" class="about-info wow fadeInUp">
          <h2>What is SVC</h2>
          <p class="text-justify">Students Virtual Corporate is new generation Knowledge delivery-evolution system. in-fact its a mission to give some definite direction to ever running youth. Its about giving them satisfaction in whatever they do. </p>
          <p class="text-justify">SVC makes knowledge delivery fun yet much more powerful than traditional education system. It gives a never found solution of education vs professional life gap. It gives pleasure from the day one.</p>
          <p class="text-justify">SVC defines a complete new marking system that helps corporate to take better decisions and also helps them run a better, more productive environment. It takes burden of Human grouping and personal disappointments from persons and still manages things better.</p>
        </div>
      </div>
      <div class="text-center col-sm-8">
        <div data-wow-duration="1000ms" data-wow-delay="300ms" class="about-info wow fadeInUp">
          <h2>Brand Identity</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p><img src="images/video.jpg" height="280px"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#intro-->
<!-- Features-->
<section id="features" class="parallax">
  <div class="container">
    <div class="row count">
      <div data-wow-duration="1000ms" data-wow-delay="300ms" class="col-sm-12 col-xs-6 wow fadeInLeft">
        <h2>gMarks so far</h2>
        <h1 data-startnumber="0" data-endnumber="697398542" data-wow-duration="2000ms" data-wow-delay="1000ms" class="timer points">0</h1>
      </div>
    </div>
  </div>
</section>
<!-- /#features-->
<section id="statistics">
  <div class="container">
    <div class="row">
      <div class="text-center col-sm-8 col-sm-offset-2">
        <h2>Skill Distributions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
    <div class="row svc-margintop">
      <div class="col-sm-6 text-center">
        <div data-wow-duration="1000ms" data-wow-delay="300ms" class="about-info wow fadeInUp">
          <h2>Boys Vs Girls</h2>
          <div class="svc-bvg-piechart"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div data-wow-duration="1000ms" data-wow-delay="300ms" class="text-center about-info wow fadeInUp"></div>
        <div class="svc-subject-column"></div>
      </div>
    </div>
  </div>
</section>
<!-- /#about-us-->
<section id="services">
  <div class="container">
    <div data-wow-duration="1000ms" data-wow-delay="300ms" class="heading wow fadeInUp">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h2>Geo Graphics Distribution</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
    </div>
    <div class="text-center our-services">
      <div class="row">
        <div data-wow-duration="1000ms" data-wow-delay="300ms" class="col-sm-6 wow fadeInDown">
          <div id="svc-india-map"></div>
        </div>
        <div data-wow-duration="1000ms" data-wow-delay="450ms" class="col-sm-6 wow fadeInDown">
          <div class="row">
            <div data-wow-duration="1000ms" data-wow-delay="300ms" class="col-sm-6 wow fadeInDown">
              <div id="svc-india-statentop1"></div>
            </div>
            <div data-wow-duration="1000ms" data-wow-delay="300ms" class="col-sm-6 wow fadeInDown">
              <div id="svc-india-statentop2"></div>
            </div>
          </div>
          <div class="row">
            <div data-wow-duration="1000ms" data-wow-delay="300ms" class="col-sm-6 wow fadeInDown">
              <div id="svc-india-statentop3"></div>
            </div>
            <div data-wow-duration="1000ms" data-wow-delay="300ms" class="col-sm-6 wow fadeInDown">
              <div id="svc-india-statentop4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#services-->
<!--Out Topers-->
<section id="toppers">
  <div class="container">
    <div class="row">
      <div data-wow-duration="1000ms" data-wow-delay="300ms" class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp">
        <h2>Meet Topers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
    <div class="row">
      <div data-wow-duration="1000ms" data-wow-delay="300ms" class="heading text-center col-sm-12 col-sm-offset-0 svc-tabs wow fadeInUp">
        <ul role="tablist" class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#day" aria-controls="home" role="tab" data-toggle="tab">Day</a></li>
          <li role="presentation"><a href="#week" aria-controls="profile" role="tab" data-toggle="tab">Week</a></li>
          <li role="presentation"><a href="#month" aria-controls="profile" role="tab" data-toggle="tab">Month</a></li>
          <li role="Year"><a href="#year" aria-controls="profile" role="tab" data-toggle="tab">Year</a></li>
          <li role="Overall"><a href="#overall" aria-controls="profile" role="tab" data-toggle="tab">Overall</a></li>
        </ul>
        <div class="tab-content">
          <div id="day" role="tabpanel" class="tab-pane active">
            <ol class="breadcrumb">
              <li><a href="#">Rajasthan</a></li>
              <li><a href="#">Udaipur</a></li>
              <li class="active">Data</li>
              <li class="pull-right"><i class="glyphicon glyphicon-filter"></i><a href="#svc-filter">filter</a></li>
            </ol>
            <div id="svc-filter">
              <button type="button" class="close">×</button>
              <form id="svc-toper-filter-form">
                <input type="filter" value="" placeholder="type keyword(s) here"/>
                <button type="submit" class="btn btn-primary">filter</button>
              </form>
            </div>
            <div class="team-members">
              <div class="row">
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="300ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/1.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>CEO & Founder</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="500ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/2.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Lawrence Lane</h3>
                      <h4>UI/UX Designer</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="800ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/3.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Lois Clark</h3>
                      <h4>Developer</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="1100ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/4.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>Support Manager</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="1100ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/5.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>Support Manager</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="1100ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/6.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>Support Manager</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="300ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/1.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>CEO & Founder</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="500ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/2.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Lawrence Lane</h3>
                      <h4>UI/UX Designer</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="800ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/3.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Lois Clark</h3>
                      <h4>Developer</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="1100ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/4.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>Support Manager</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="1100ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/5.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>Support Manager</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div data-wow-duration="1000ms" data-wow-delay="1100ms" class="team-member wow flipInY">
                    <div class="member-image"><img src="images/team/6.jpg" alt="" class="img-responsive"/></div>
                    <div class="member-info">
                      <h3>Marian Dixon</h3>
                      <h4>Support Manager</h4>
                      <p>Consectetur adipisicing </p>
                    </div>
                    <div class="social-icons">
                      <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="week" role="tabpanel" class="tab-pane">Week Topers Photo</div>
          <div id="month" role="tabpanel" class="tab-pane">Month Topers Photo</div>
          <div id="year" role="tabpanel" class="tab-pane">Year Topers Photo</div>
          <div id="overall" role="tabpanel" class="tab-pane">Over all Topers Photo</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Our Topers-->
<section id="twitter" class="parallax">
  <div><a href="#twitter-carousel" role="button" data-slide="prev" class="twitter-left-control"><i class="fa fa-angle-left"></i></a><a href="#twitter-carousel" role="button" data-slide="next" class="twitter-right-control"><i class="fa fa-angle-right"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="twitter-icon text-center"><i class="fa fa-twitter"></i>
            <h4>SVC</h4>
          </div>
          <div id="twitter-carousel" data-ride="carousel" class="carousel slide">
            <div class="carousel-inner">
              <div data-wow-duration="1000ms" data-wow-delay="300ms" class="item active wow fadeIn">
                <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">
                <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">
                <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#twitter-->
<section id="blog">
  <div class="container">
    <div class="row">
      <div data-wow-duration="1200ms" data-wow-delay="300ms" class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp">
        <h2>Blog Posts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>{svc_blog}
    <div class="blog-posts">
      <div class="row">{rows}{row}
        <div data-wow-duration="1000ms" data-wow-delay="400ms" class="col-sm-4 blog-post wow fadeInUp">
          <div class="post-thumb"><a href="#"><img src="{image}images/blog/1.jpg{/}" alt="" class="img-responsive"/></a>
            <div class="post-meta"><span><i class="fa fa-comments-o"></i> {comments}3 {/comments} Comments</span><span><i class="fa fa-heart"></i> {likes} 0 {/likes} Likes</span></div>
            <div class="post-icon"><i class="fa fa-picture-o"></i></div>
          </div>
          <div class="entry-header">
            <h3><a href="blogpost/?blogpost_id={$id}">{subject}Lorem ipsum dolor sit amet consectetur adipisicing elit{/subject}</a></h3><span class="date">{created_at}June 26, 2014{/created_at}</span><span class="cetagory">in <strong>{category}General{/}</strong></span>
          </div>
          <div class="entry-content">
            <p>{content}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{/}</p>
          </div>
          <div class="entry-footer atk-padding-top">
            <p><a href="blogpost/?blogpost_id={$id}">Read More...</a></p>
          </div>
        </div>{/}
        {/}
      </div>{loadmore}
      <div data-wow-duration="1000ms" data-wow-delay="500ms" class="load-more wow fadeInUp"><a href="blogs" class="btn-loadmore"><i class="fa fa-repeat"> Load More</i></a></div>{/loadmore}
    </div>
  </div>{/svc_blog}
</section>
<!-- /#blog-->
<section id="joinus">
  <div id="contact-us" class="parallax">
    <div class="container">
      <div class="row">
        <div data-wow-duration="1000ms" data-wow-delay="300ms" class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp">
          <h2>Join Us</h2>
          <p>LorOr just contact us if you need professional implementation of gmarks and SVC at your corporate.</p>
        </div>
        <div class="row">
          <div class="col-sm-6 svc-registration-form">{registration_form}
            <form id="main-contact-form" class="atk-form">
              <div class="atk-push">
                <div class="atk-push-xsmall">
                  <label class="atk-text-bold">Name</label>
                </div>
                <div class="row atk-push-xsmall">
                  <div class="col-sm-6">
                    <div class="atk-form-row">
                      <div class="atk-cell atk-form-field">{$name}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="atk-form-row">
                      <div class="atk-cell atk-expand">{$surname}</div>
                    </div>
                  </div>
                </div>
                <div class="atk-push-xsmall">
                  <label class="atk-text-bold">Email (username)</label>
                </div>
                <div class="atk-form-row atk-push-xsmall">
                  <div class="atk-cell atk-form-field">{$email}</div>
                </div>
                <div class="atk-push-xsmall">
                  <label class="atk-text-bold">Password</label>
                </div>
                <div class="row atk-push-small">
                  <div class="col-sm-6">
                    <div class="atk-form-row">
                      <div class="atk-cell atk-expand">{$password}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="atk-form-row">
                      <div class="atk-cell atk-expand">{$re_password}</div>
                    </div>
                  </div>
                </div>
                <div class="atk-form-row">
                  <div class="atk-cell atk-expand">{$terms}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6">{$FormButtons}</div>
                </div>
              </div>
            </form>{/}
          </div>
          <div class="col-sm-6">
            <div data-wow-duration="1000ms" data-wow-delay="300ms" class="contact-info wow fadeInUp">
              <p>Or just contact us if you need professional implementation of gmarks and SVC at your corporate.</p>
              <ul class="address">
                <li><i class="fa fa-map-marker"></i><span> Address:</span> 2400 South Avenue A</li>
                <li><i class="fa fa-phone"></i><span> Phone:</span> +928 336 2000</li>
                <li><i class="fa fa-envelope"></i><span> Email:</span><a href="mailto:someone@yoursite.com"> support@svc.com</a></li>
                <li><i class="fa fa-globe"></i><span> Website:</span><a href="#">www.sitename.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#contact-->
<footer id="footer">
  <div data-wow-duration="1000ms" data-wow-delay="300ms" class="footer-top wow fadeInUp">
    <div class="container text-center">
      <div class="footer-logo"><a href="index.html"><img src="images/footer-logo.png" alt="SVC" style="color:white;" class="img-responsive"/></a></div>
      <div class="social-icons">
        <ul>
          <li><a href="#" class="envelope"><i class="fa fa-envelope"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" class="tumblr"><i class="fa fa-tumblr-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>© 2015 Student Virtual Corporate.</p>
        </div>
        <div class="col-sm-6">
          <p class="pull-right"> <a href="http://www.studentscorporate.com/"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>