
<div id="user-profile">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>Radha sharma</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="profile-status"><i class="fa fa-circle"></i> Online</div><img src="img/samples/scarlet-159.png" alt="" class="profile-img img-responsive center-block"/>
      <div class="profile-label"><span class="label label-danger">Admin</span></div>
      <div class="profile-stars"><span>Radha</span></div>
      <div class="profile-since">Contact since: Jan 2012</div>
    </div>
    <div>
      <div class="profile-contact">
        <ul class="fa-ul">
          <li><i class="fa-li fa"></i>Emails: 
            <div>Dr.radha@gmail.com</div>
            <div>sharma@gmail.com</div>
          </li>
          <li><i class="fa-li fa"></i>Phone No: 
            <div>9887012345</div>
            <div>9887012345</div>
          </li>
        </ul>
      </div>
      <div aria-label="..." role="group" class="btn-group"><a href="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send Email</a><a href="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send Message</a></div>
      <div>
        <div class="profile-details">
          <ul class="fa-ul">
            <li><i class="fa-li fa"></i>Organization: 
              <div>IT_stars</div>
            </li>
            <li><i class="fa-li fa"></i>Post: 
              <div>Manager</div>
            </li>
            <li><i class="fa-li fa"></i>Website: 
              <div><a href="#">www.avengers.com</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="profile-im">
          <h5>IM Numbers                               </h5>
          <ul class="fa-ul">
            <li><i class="fa-li fa"></i>Skype: <span>Dr.Radha</span></li>
            <li><i class="fa-li fa"></i>Whatsapp: <span>+919887012345</span></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="profile-events">
          <hr/>
          <h5>Events                               </h5>
          <ul class="fa-ul">
            <li><i class="fa-li fa"></i>DOB: <span>29/7/93</span></li>
            <li><i class="fa-li fa"></i>Anaversery: <span>------  </span></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="profile-relation">
          <hr/>
          <h5>Relationship                               </h5>
          <ul class="fa-ul">
            <li><i class="fa-li fa"></i>Fathers Name: <span>Mahesh</span></li>
            <li><i class="fa-li fa"></i>Mothers Name: <span>Rohinib</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>