| {$Content}
.main-box.no-header.clearfix
  header.main-box-header.clearfix
    h2.pull-left JobCard
        
    .filter-block.pull-right
      .form-group.pull-left
        input.form-control(type='text', placeholder='Search...')
        i.fa.fa-search.search-icon
      a.btn.btn-primary.pull-right(href='#')
        i.fa.fa-plus-circle.fa-lg
        |  Add JobCard
    .filter-block.pull-right
      .form-group.pull-left
          select.form-control.xepan-dropdown-micro( placeholder='all')
            option ALL
            option TO RECIVED
            option RECEIVED
            option PROCESSED
            option PROCESSING
            option COMPLETE
  .main-box-body.clearfix
    .table-responsive
      table.table.user-list.table-hover
        thead
          tr
            th
              span Job Card
            th
              span Duration
            th.text-center
              span Status
            th  
        tbody
          tr
            td
              img(src='img/samples/scarlet-159.png', alt='')
              a.user-link(href='{url}?page=production_jobcarddetail{/}') Rajasthan printing Corporate
              span
                a.user-link.user-subhead(href='#') F-4301|Greeting card
            td
              span|15-02-2016
              div
                a.user-subhead|3 days left
            td.text-center
              span(style='width:10%;')
                img(style='width:80%', src='/xepan2/admin/templates/page/production/img/new.png')
              span.btn.btn-success Next
            td(style='width: 10%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.glyphicon.glyphicon-remove-circle.fa-stack-1x.fa-inverse

          tr
            td
              img(src='img/samples/scarlet-159.png', alt='')
              a.user-link(href='#') Mits printing Company
              span
                a.user-link.user-subhead(href='#') HD-2001|Business card
            td
              span|16-07-2016
              div
                a.user-subhead|13 days left
            td.text-center
              span(style='width:10%;')
                img(style='width:80%', src='/xepan2/admin/templates/page/production/img/new.png')
              span.btn.btn-success Next
            td(style='width: 10%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.glyphicon.glyphicon-remove-circle.fa-stack-1x.fa-inverse
          tr
            td
              img(src='img/samples/scarlet-159.png', alt='')
              a.user-link(href='#') Printing World Corporate
              span
                a.user-link.user-subhead(href='#') AS-0001|Calender
            td
              span|15-01-2015
              div
                a.user-subhead|complete
            td.text-center
              span(style='width:10%;')
                img(style='width:80%', src='/xepan2/admin/templates/page/production/img/new.png')
              span.btn.btn-success Next
            td(style='width: 10%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.glyphicon.glyphicon-remove-circle.fa-stack-1x.fa-inverse
          tr
            td
              img(src='img/samples/scarlet-159.png', alt='')
              a.user-link(href='#') Digital Printers 
              span
                a.user-link.user-subhead(href='#') GA-1221|Templete
            td
              span|01-02-2016
              div
                a.user-subhead|0 days left
            td.text-center
              span(style='width:10%;')
                img(style='width:80%', src='/xepan2/admin/templates/page/production/img/new.png')
              span.btn.btn-success Next
            td(style='width: 10%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.glyphicon.glyphicon-remove-circle.fa-stack-1x.fa-inverse