{$Content}
<div class="main-box no-header clearfix">
  <header class="main-box-header clearfix">
    <h2 class="pull-left">JobCard</h2>
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
      </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add JobCard</a>
    </div>
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <select placeholder="all" class="form-control xepan-dropdown-micro">
          <option>ALL</option>
          <option>TO RECIVED</option>
          <option>RECEIVED</option>
          <option>PROCESSED</option>
          <option>PROCESSING</option>
          <option>COMPLETE</option>
        </select>
      </div>
    </div>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Job Card</span></th>
            <th><span>Duration</span></th>
            <th class="text-center"><span>Status</span></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="img/samples/scarlet-159.png" alt=""/><a href="{url}?page=production_jobcarddetail{/}" class="user-link">Rajasthan printing Corporate</a><span><a href="#" class="user-link user-subhead">F-4301|Greeting card</a></span></td>
            <td><span>15-02-2016</span>
              <div><a class="user-subhead">3 days left</a></div>
            </td>
            <td class="text-center"><span style="width:10%;"><img style="width:80%" src="/xepan2/admin/templates/page/production/img/new.png"/></span><span class="btn btn-success">Next</span></td>
            <td style="width: 10%;"><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="glyphicon glyphicon-remove-circle fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img src="img/samples/scarlet-159.png" alt=""/><a href="#" class="user-link">Mits printing Company</a><span><a href="#" class="user-link user-subhead">HD-2001|Business card</a></span></td>
            <td><span>16-07-2016</span>
              <div><a class="user-subhead">13 days left</a></div>
            </td>
            <td class="text-center"><span style="width:10%;"><img style="width:80%" src="/xepan2/admin/templates/page/production/img/new.png"/></span><span class="btn btn-success">Next</span></td>
            <td style="width: 10%;"><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="glyphicon glyphicon-remove-circle fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img src="img/samples/scarlet-159.png" alt=""/><a href="#" class="user-link">Printing World Corporate</a><span><a href="#" class="user-link user-subhead">AS-0001|Calender</a></span></td>
            <td><span>15-01-2015</span>
              <div><a class="user-subhead">complete</a></div>
            </td>
            <td class="text-center"><span style="width:10%;"><img style="width:80%" src="/xepan2/admin/templates/page/production/img/new.png"/></span><span class="btn btn-success">Next</span></td>
            <td style="width: 10%;"><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="glyphicon glyphicon-remove-circle fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td><img src="img/samples/scarlet-159.png" alt=""/><a href="#" class="user-link">Digital Printers </a><span><a href="#" class="user-link user-subhead">GA-1221|Templete</a></span></td>
            <td><span>01-02-2016</span>
              <div><a class="user-subhead">0 days left</a></div>
            </td>
            <td class="text-center"><span style="width:10%;"><img style="width:80%" src="/xepan2/admin/templates/page/production/img/new.png"/></span><span class="btn btn-success">Next</span></td>
            <td style="width: 10%;"><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="glyphicon glyphicon-remove-circle fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>