.main-box.no-header.clearfix
  .main-box-body.clearfix
    .table-responsive
      table.table.user-list.table-hover
        thead
          tr
            th
              span Job Card
            th.text-center
              span Status
            th  
        tbody
          tr
            td
              img(src='img/samples/scarlet-159.png', alt='')
              a.user-link(href='#') Sushil milky
              span.user-subhead Admin
          
            td.text-center
              span(style='width: 10%;')
                img(src='/xepan2/admin/templates/page/production/img/24x7.jpeg')
              span.button.label-success|Next
            td(style='width: 20%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              
          tr
            td
              img(src='img/samples/robert-300.jpg', alt='')
              a.user-link(href='#') JOB No
              span
                small|Order/Item
              div
                small| Created Date
           
            td.text-center
              span(style='width:20%;')
                img(src='/xepan2/admin/templates/page/production/img/24x7.jpeg')
                span.button.label-success|Next
            td(style='width: 20%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-cross-circle-o.fa-stack-1x.fa-inverse
              
          
