        .row
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Xavoc Technocrats Pvt.ltd
            .main-box-body.clearfix
              .profile-status
                i.fa.fa-circle
                |  Online
              img.profile-img.img-responsive.center-block(src='img/samples/scarlet-159.png', alt='')
              .profile-label
                span.label.label-danger CEO
              .profile-stars
                span Gowrav Vishwakarma
              .profile-since Contact since: Jan 2013
            div
              .profile-contact
                ul.fa-ul
                  li
                    i.fa-li.fa
                    | Emails: 
                    div Gowrav@Xavoc.com
                  li
                    i.fa-li.fa
                    | Phone No: 
                    div 9887012345
                    div 9887012345
              .profile-message-btn.center-block.text-center
                a.btn.btn-success(href='#')
                  i.fa.fa-envelope
                  | Send Email
                a.btn.btn-success(href='#')
                  i.fa.fa-envelope
                  | Send Message
              div
                .profile-details
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | Organization: 
                      div Xavoc_stars
                    li
                      i.fa-li.fa
                      | Post: 
                      div CEO
                    li
                      i.fa-li.fa
                      | Website: 
                      div
                        a(href='#') www.Xavoc@info.com
              div
                .profile-im
                  h5 IM Numbers                               
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | Skype: 
                      span Gowrav
                    li
                      i.fa-li.fa
                      | Whatsapp: 
                      span +919887012345
              div
                .profile-events
                  hr
                  h5 Events                               
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | DOB: 
                      span 12/5/85
                    li
                      i.fa-li.fa
                      | Anaversery: 
                      span ------  
              div
                .profile-relation
                  hr
                  h5 Relationship                               
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | Fathers Name: 
                      span vishwakarma
                    li
                      i.fa-li.fa
                      | Mothers Name: 
                      span  vishwakarma
        .col-lg-9.col-md-8.col-sm-8
          .main-box.clearfix
            .tabs-wrapper.profile-tabs
              ul.nav.nav-tabs
                li.active
                  a(href='#tab-portfolio', data-toggle='tab') Portfolio
                li
                  a(href='#tab-activity', data-toggle='tab') Activity
              .tab-content
                #tab-portfolio.tab-pane.fade.in.active
                  #portfolio
                  div
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Company Detail
                        .main-box-body.clearfix
                          div
                            span|Company Name
                            span.pull-right.col-lg-9|Xavoc Technocarts Pvt.Ltd Udaipur
                          div
                            span|Created Date
                            span.pull-right.col-lg-9|01-jan-2013
                          div
                            span|Type
                            span.pull-right.col-lg-9|Information Technology

                  div
                    .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Job-cards detail
                        .main-box-body.clearfix
                          div
                            span|Item Name
                            span.pull-right.col-lg-9|Website
                          div
                            span|Created Date
                            span.pull-right.col-lg-9|12-dec-2015
                          div
                            span|Status
                            span.pull-right.col-lg-9|Complete
                          
                #tab-activity.tab-pane.fade
                  .table-responsive
                    table.table
                      tbody
                        tr
                          td.text-center
                            i.fa.fa-comment
                          td Approved invoice number 1001
                          td 2014/08/08 12:08
                        tr
                          td.text-center
                            i.fa.fa-truck
                          td
                            | changed order status from 
                            span.label.label-primary Pending
                            | to 
                            span.label.label-success Completed
                          td 2014/08/08 12:08
                        tr
                          td.text-center
                            i.fa.fa-check
                          td form-groupt approval for holidays 
                          td 2014/08/08 12:08
                        tr
                          td.text-center
                            i.fa.fa-truck
                          td
                            | changed order status from 
                            span.label.label-primary Pending
                            | to 
                            span.label.label-success Completed
                          td 2014/08/08 12:08
                 
.row(style='opacity: 1;')
