{$Content}
.row
    .col-lg-12
      #user-profile
        .col-lg-3.col-md-4.col-sm-4
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Radha sharma
            .main-box-body.clearfix
              .profile-status
                i.fa.fa-circle
                |  Online
              img.profile-img.img-responsive.center-block(src='img/samples/scarlet-159.png', alt='')
              .profile-label
                span.label.label-danger Admin
              .profile-stars
                span Radha
              .profile-since Contact since: Jan 2012
            div
              .profile-contact
                ul.fa-ul
                  li
                    i.fa-li.fa
                    | Emails: 
                    div Dr.radha@gmail.com
                    div sharma@gmail.com
                  li
                    i.fa-li.fa
                    | Phone No: 
                    div 9887012345
                    div 9887012345
              .btn-group(aria-label='...', role='group')
                a.btn.btn-success(href='#')
                  i.fa.fa-envelope
                  | Send Email
                a.btn.btn-success(href='#')
                  i.fa.fa-envelope
                  | Send Message
              div
                .profile-details
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | Organization: 
                      div IT_stars
                    li
                      i.fa-li.fa
                      | Post: 
                      div Manager
                    li
                      i.fa-li.fa
                      | Website: 
                      div
                        a(href='#') www.avengers.com
              div
                .profile-im
                  h5 IM Numbers                               
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | Skype: 
                      span Dr.Radha
                    li
                      i.fa-li.fa
                      | Whatsapp: 
                      span +919887012345
              div
                .profile-events
                  hr
                  h5 Events                               
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | DOB: 
                      span 29/7/93
                    li
                      i.fa-li.fa
                      | Anaversery: 
                      span ------  
              div
                .profile-relation
                  hr
                  h5 Relationship                               
                  ul.fa-ul
                    li
                      i.fa-li.fa
                      | Fathers Name: 
                      span Mahesh
                    li
                      i.fa-li.fa
                      | Mothers Name: 
                      span Rohini
        .col-lg-9.col-md-8.col-sm-8
          .main-box.clearfix
            .tabs-wrapper.profile-tabs
              ul.nav.nav-tabs
                li.active
                  a(href='#tab-portfolio', data-toggle='tab') Portfolio
                li
                  a(href='#tab-activity', data-toggle='tab') Activity
                
              .tab-content
                #tab-portfolio.tab-pane.fade.in.active
                  #portfolio
                  .col-lg-12
                    .panel.panel-default
                      .panel-body
                        .col-lg-12
                          .col-lg-10
                          .col-lg-2
                            button.btn.btn-success.push-right(type='submit') Edit Information   
                        header.main-box-header.clearfix
                          h2 Company Information
                        .col-lg-12
                          .col-lg-4
                            label Company Name:
                            br
                            | Xavoc Technocrats pvt.ltd udaipur
                          .col-lg-4
                            label Company Type:
                            br
                            | IT
                          .col-lg-4
                            label Registeration:
                            br
                            |  153522
                  .col-lg-12
                    .panel.panel-default
                      .panel-body
                        header.main-box-header.clearfix
                          h2 Orders:
                        .col-lg-12
                          .col-lg-4
                            label Item:
                            br
                            |  printing
                          .col-lg-4
                            label Type:
                            br
                            |  digital printing
                          .col-lg-4
                            label Created Date:
                            br
                            |  06-feb-16
                        .col-lg-12
                          .col-lg-4
                            label Department:
                            br
                            |  IT
                          .col-lg-4
                            label Price:
                            br
                          .col-lg-4
                            label Duration:
                            br
                            |  7 months{From To Date}
                #tab-activity.tab-pane.fade
                  .table-responsive
                    table.table
                      tbody
                        tr
                          td.text-center
                            i.fa.fa-comment
                          td Approved invoice number 1001
                          td 2014/08/08 12:08
                        tr
                          td.text-center
                            i.fa.fa-truck
                          td
                            | changed order status from 
                            span.label.label-primary Pending
                            | to 
                            span.label.label-success Completed
                          td 2014/08/08 12:08
                        tr
                          td.text-center
                            i.fa.fa-check
                          td form-groupt approval for holidays 
                          td 2014/08/08 12:08
                        tr
                          td.text-center
                            i.fa.fa-truck
                          td
                            | changed order status from 
                            span.label.label-primary Pending
                            | to 
                            span.label.label-success Completed
                          td 2014/08/08 12:08
                
                
          #tab-activity.tab-pane.fade.in.active
                {$activity}
             #tab-opportunity.tab-pane.clearfix.fade
                {$opportunity}