.main-box.no-header.clearfix
  .main-box-body.clearfix
    .table-responsive
      table.table.user-list.table-hover
        thead
          tr
            th
              span OutSource Parties
            th.text-center
              span Status
            th.text-center
              span Panding Job-Card
            th  
        tbody
          tr
            td
              img(alt='', src='img/samples/scarlet-159.png')
              a.user-link(href='{url}?page=production_outsource{/}') Mits
              span
                small| xyz
            td.text-center
              span.label.label-success active
            td.text-center
               span 20
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              img(alt='', src='img/samples/scarlet-159.png')
              a.user-link(href='{url}?page=production_outsource{/}') Xavoc
              span
                small| abc
            td.text-center
              span.label.label-default Inactive
            td.text-center
               span 5
            td(style='width: 20%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse

