.row
  // Product Description
  .col-lg-12.col-md-12
    h1 {name_wrapper} {$name} {/}
    .old-price {original_price_wrapper}{original_price}815,00 $ {/} {/}
    .price {sale_price_wrapper} {sale_price}715,00 $ {/} {/}
    .buttons.group
      .qnt-count
        a.incr-btn(href='#') -
        input#quantity.form-control(type='text', value='2')
        a.incr-btn(href='#') +
      {personalized_wrapper}
      {$personalized_button}
      {/}
.row
  .col-lg-12.col-md-12
    section.tabs-widget
      // Nav tabs
      ul.nav.nav-tabs
        li.active
          a(data-toggle='tab', href='#descr', aria-expanded='true') Description
        li
          a(data-toggle='tab', href='#spec', aria-expanded='false') Spec
        li
          a(data-toggle='tab', href='#price', aria-expanded='false') Price
        li
          a(data-toggle='tab', href='#upload', aria-expanded='false') Upload Design
      .tab-content
        // Tab1 (Specs)
        {description_wrapper}
        #descr.tab-pane.fade.active.in
          {$item_description}
        {/}
        {specification_wrapper} 
        #spec.tab-pane.fade
          {specification} {/}
        {/}
        {addtocart_wrapper}
        #price.tab-pane.fade
          .xshop-item-custom-field-name.xshop-item-addtocart(data-xsnbitemid="{$id}" data-name="{$name}"){$Addtocart}
        {/}
        {item_upload_wrapper}
        #upload.tab-pane.fade
          {$item_upload}
        {/}






