
<!-- Cart Dropdown-->
<div id="{$_name}" class="cart-dropdown xepan-commerce-tool-cart {$class}"><span></span>
  <!-- Small rectangle to overlap Cart button-->{lister}
  <div class="body">
    <table>{cols}{col}
      <tr>
        <th>Items</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>{/}{/}
      {rows}{row}
      <tr class="item">{cols}
        <td>
          <div class="delete"></div><a href="#">{name} Good Joo-Joo Surfb {/}</a>
        </td>
        <td>{qty}
          <input type="text" value="1"/>{/}
        </td>
        <td class="price">{sales_amount} 4 300 $ {/}</td>{/}
      </tr>{/}{/}
    </table>
  </div>{/lister}
  <div class="footer group">
    <div class="buttons"><a href="checkout.html" class="btn btn-outlined-invert"><i class="icon-download"></i>Checkout</a><a href="{$cart_detail_url}" class="btn btn-outlined-invert"><i class="icon-shopping-cart-content"></i>{place_order} To Cart {/}</a></div>
    <div class="total">{total_amount}93 389 ${/}</div>
  </div>
</div>{$content}