.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Alerts & Notifications
          h1 Alerts & Notifications
      .row
        .col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Notifications
            .main-box-body.clearfix
              p
                | Click on every button to see different notification style. All notifications are very easy to implement.
              #notification-shape.notification-shape.shape-box(data-path-to='m 0,0 500,0 0,500 -500,0 z')
                svg(preserveaspectratio='none', viewbox='0 0 500 500', height='100%', width='100%', xmlns='http://www.w3.org/2000/svg')
                  path(d='m 0,0 500,0 0,500 0,-500 z')
                  desc Created with Snap
                  defs
              #notification-shape-loading-circle.notification-shape.shape-progress
                svg(height='70px', width='70px')
                  path(d='m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z')
              button#notification-trigger.btn.btn-primary.progress-button.mrg-b-lg
                span.content Scale
              button#notification-trigger-slide.btn.btn-primary.progress-button.mrg-b-lg
                span.content Slide IN
              button#notification-trigger-jelly.btn.btn-primary.progress-button.mrg-b-lg
                span.content Jelly
              br
              button#notification-trigger-genie.btn.btn-primary.progress-button.mrg-b-lg
                span.content Genie
              button#notification-trigger-flip.btn.btn-primary.progress-button.mrg-b-lg
                span.content Flip
              button#notification-trigger-bouncyflip.btn.btn-primary.progress-button.mrg-b-lg
                span.content Bouncy Flip
              br
              button#notification-trigger-slide-on-top.btn.btn-primary.progress-button.mrg-b-lg
                span.content Slide On Top
              button#notification-trigger-expanding-loader.btn.btn-primary.progress-button.mrg-b-lg
                span.content Expanding Loader
              button#notification-trigger-cornerexpand.btn.btn-primary.progress-button.mrg-b-lg
                span.content Corner Expand
              br
              button#notification-trigger-loading-circle.btn.btn-primary.progress-button.mrg-b-lg
                span.content Loading Circle
              button#notification-trigger-box-spinner.btn.btn-primary.progress-button.mrg-b-lg
                span.content Box Spinner
        .col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Simple alerts
            .main-box-body.clearfix
              .alert.alert-success
                i.fa.fa-check-circle.fa-fw.fa-lg
                strong Well done!
                |  You successfully read this important alert message.
              .alert.alert-info
                i.fa.fa-info-circle.fa-fw.fa-lg
                strong Heads up!
                |  This alert needs your attention, but it's not super important.
              .alert.alert-warning
                i.fa.fa-warning.fa-fw.fa-lg
                strong Warning!
                |  Best check yo self, you're not looking too good.
              .alert.alert-danger
                i.fa.fa-times-circle.fa-fw.fa-lg
                strong Oh snap!
                |  Change a few things up and 
                a.alert-link(href='#') try submitting again
                | .
      .row
        .col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Dismissible alerts with links
            .main-box-body.clearfix
              .alert.alert-success.fade.in
                button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                i.fa.fa-check-circle.fa-fw.fa-lg
                strong Well done!
                |  You successfully read this important alert message.
              .alert.alert-info.fade.in
                button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                i.fa.fa-info-circle.fa-fw.fa-lg
                strong Heads up!
                |  This alert needs your attention, but it's not super important.
              .alert.alert-warning.fade.in
                button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                i.fa.fa-warning.fa-fw.fa-lg
                strong Warning!
                |  Best check yo self, you're not looking too good.
              .alert.alert-danger.fade.in
                button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                i.fa.fa-times-circle.fa-fw.fa-lg
                strong Oh snap!
                |  Change a few things up and 
                a.alert-link(href='#') try submitting again
                | .
        .col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Custom alerts
            .main-box-body.clearfix
              .alert.alert-block.alert-danger.fade.in
                button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                h4 Oh snap! You got an error!
                p
                  | Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                p
                  a.btn.btn-danger(href='#') Take this action
                  a.btn.btn-default(href='#') Or do this
              .alert.alert-block.alert-success.fade.in
                button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                h4 Successfully saved!
                p
                  | Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                p
                  a.btn.btn-success(href='#') Take this action
                  a.btn.btn-default(href='#') Or do this
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
