.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Awesome Icons
          h1 Awesome Icons
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 71 New Icons in 4.1
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-automobile
                  |  fa-automobile 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bank
                  |  fa-bank 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-behance
                  |  fa-behance
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-behance-square
                  |  fa-behance-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bomb
                  |  fa-bomb
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-building
                  |  fa-building
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cab
                  |  fa-cab 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-car
                  |  fa-car
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-child
                  |  fa-child
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-o-notch
                  |  fa-circle-o-notch
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-thin
                  |  fa-circle-thin
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-codepen
                  |  fa-codepen
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cube
                  |  fa-cube
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cubes
                  |  fa-cubes
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-database
                  |  fa-database
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-delicious
                  |  fa-delicious
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-deviantart
                  |  fa-deviantart
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-digg
                  |  fa-digg
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-drupal
                  |  fa-drupal
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-empire
                  |  fa-empire
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-envelope-square
                  |  fa-envelope-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fax
                  |  fa-fax
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-archive-o
                  |  fa-file-archive-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-audio-o
                  |  fa-file-audio-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-code-o
                  |  fa-file-code-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-excel-o
                  |  fa-file-excel-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-image-o
                  |  fa-file-image-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-movie-o
                  |  fa-file-movie-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-pdf-o
                  |  fa-file-pdf-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-photo-o
                  |  fa-file-photo-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-picture-o
                  |  fa-file-picture-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-powerpoint-o
                  |  fa-file-powerpoint-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-sound-o
                  |  fa-file-sound-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-video-o
                  |  fa-file-video-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-word-o
                  |  fa-file-word-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-zip-o
                  |  fa-file-zip-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ge
                  |  fa-ge 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-git
                  |  fa-git
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-git-square
                  |  fa-git-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-google
                  |  fa-google
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-graduation-cap
                  |  fa-graduation-cap
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hacker-news
                  |  fa-hacker-news
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-header
                  |  fa-header
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-history
                  |  fa-history
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-institution
                  |  fa-institution 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-joomla
                  |  fa-joomla
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-jsfiddle
                  |  fa-jsfiddle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-language
                  |  fa-language
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-life-bouy
                  |  fa-life-bouy 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-life-ring
                  |  fa-life-ring
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-life-saver
                  |  fa-life-saver 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mortar-board
                  |  fa-mortar-board 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-openid
                  |  fa-openid
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paper-plane
                  |  fa-paper-plane
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paper-plane-o
                  |  fa-paper-plane-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paragraph
                  |  fa-paragraph
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paw
                  |  fa-paw
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pied-piper
                  |  fa-pied-piper
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pied-piper-alt
                  |  fa-pied-piper-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pied-piper-square
                  |  fa-pied-piper-square 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-qq
                  |  fa-qq
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ra
                  |  fa-ra 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rebel
                  |  fa-rebel
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-recycle
                  |  fa-recycle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reddit
                  |  fa-reddit
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reddit-square
                  |  fa-reddit-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-send
                  |  fa-send 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-send-o
                  |  fa-send-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-alt
                  |  fa-share-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-alt-square
                  |  fa-share-alt-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-slack
                  |  fa-slack
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sliders
                  |  fa-sliders
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-soundcloud
                  |  fa-soundcloud
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-space-shuttle
                  |  fa-space-shuttle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-spoon
                  |  fa-spoon
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-spotify
                  |  fa-spotify
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-steam
                  |  fa-steam
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-steam-square
                  |  fa-steam-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stumbleupon
                  |  fa-stumbleupon
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stumbleupon-circle
                  |  fa-stumbleupon-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-support
                  |  fa-support 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-taxi
                  |  fa-taxi
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tencent-weibo
                  |  fa-tencent-weibo
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tree
                  |  fa-tree
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-university
                  |  fa-university
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-vine
                  |  fa-vine
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wechat
                  |  fa-wechat 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-weixin
                  |  fa-weixin
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wordpress
                  |  fa-wordpress
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-yahoo
                  |  fa-yahoo
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Web Application Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-adjust
                  |  fa-adjust
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-anchor
                  |  fa-anchor
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-archive
                  |  fa-archive
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows
                  |  fa-arrows
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows-h
                  |  fa-arrows-h
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows-v
                  |  fa-arrows-v
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-asterisk
                  |  fa-asterisk
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-automobile
                  |  fa-automobile 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ban
                  |  fa-ban
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bank
                  |  fa-bank 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bar-chart-o
                  |  fa-bar-chart-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-barcode
                  |  fa-barcode
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bars
                  |  fa-bars
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-beer
                  |  fa-beer
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bell
                  |  fa-bell
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bell-o
                  |  fa-bell-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bolt
                  |  fa-bolt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bomb
                  |  fa-bomb
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-book
                  |  fa-book
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bookmark
                  |  fa-bookmark
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bookmark-o
                  |  fa-bookmark-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-briefcase
                  |  fa-briefcase
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bug
                  |  fa-bug
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-building
                  |  fa-building
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-building-o
                  |  fa-building-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bullhorn
                  |  fa-bullhorn
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bullseye
                  |  fa-bullseye
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cab
                  |  fa-cab 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-calendar
                  |  fa-calendar
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-calendar-o
                  |  fa-calendar-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-camera
                  |  fa-camera
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-camera-retro
                  |  fa-camera-retro
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-car
                  |  fa-car
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-down
                  |  fa-caret-square-o-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-left
                  |  fa-caret-square-o-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-right
                  |  fa-caret-square-o-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-up
                  |  fa-caret-square-o-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-certificate
                  |  fa-certificate
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check
                  |  fa-check
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check-circle
                  |  fa-check-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check-circle-o
                  |  fa-check-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check-square
                  |  fa-check-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check-square-o
                  |  fa-check-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-child
                  |  fa-child
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle
                  |  fa-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-o
                  |  fa-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-o-notch
                  |  fa-circle-o-notch
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-thin
                  |  fa-circle-thin
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-clock-o
                  |  fa-clock-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cloud
                  |  fa-cloud
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cloud-download
                  |  fa-cloud-download
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cloud-upload
                  |  fa-cloud-upload
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-code
                  |  fa-code
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-code-fork
                  |  fa-code-fork
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-coffee
                  |  fa-coffee
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cog
                  |  fa-cog
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cogs
                  |  fa-cogs
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-comment
                  |  fa-comment
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-comment-o
                  |  fa-comment-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-comments
                  |  fa-comments
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-comments-o
                  |  fa-comments-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-compass
                  |  fa-compass
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-credit-card
                  |  fa-credit-card
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-crop
                  |  fa-crop
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-crosshairs
                  |  fa-crosshairs
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cube
                  |  fa-cube
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cubes
                  |  fa-cubes
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cutlery
                  |  fa-cutlery
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dashboard
                  |  fa-dashboard 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-database
                  |  fa-database
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-desktop
                  |  fa-desktop
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dot-circle-o
                  |  fa-dot-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-download
                  |  fa-download
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-edit
                  |  fa-edit 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ellipsis-h
                  |  fa-ellipsis-h
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ellipsis-v
                  |  fa-ellipsis-v
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-envelope
                  |  fa-envelope
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-envelope-o
                  |  fa-envelope-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-envelope-square
                  |  fa-envelope-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-eraser
                  |  fa-eraser
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-exchange
                  |  fa-exchange
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-exclamation
                  |  fa-exclamation
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-exclamation-circle
                  |  fa-exclamation-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-exclamation-triangle
                  |  fa-exclamation-triangle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-external-link
                  |  fa-external-link
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-external-link-square
                  |  fa-external-link-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-eye
                  |  fa-eye
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-eye-slash
                  |  fa-eye-slash
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fax
                  |  fa-fax
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-female
                  |  fa-female
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fighter-jet
                  |  fa-fighter-jet
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-archive-o
                  |  fa-file-archive-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-audio-o
                  |  fa-file-audio-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-code-o
                  |  fa-file-code-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-excel-o
                  |  fa-file-excel-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-image-o
                  |  fa-file-image-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-movie-o
                  |  fa-file-movie-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-pdf-o
                  |  fa-file-pdf-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-photo-o
                  |  fa-file-photo-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-picture-o
                  |  fa-file-picture-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-powerpoint-o
                  |  fa-file-powerpoint-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-sound-o
                  |  fa-file-sound-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-video-o
                  |  fa-file-video-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-word-o
                  |  fa-file-word-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-zip-o
                  |  fa-file-zip-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-film
                  |  fa-film
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-filter
                  |  fa-filter
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fire
                  |  fa-fire
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fire-extinguisher
                  |  fa-fire-extinguisher
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-flag
                  |  fa-flag
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-flag-checkered
                  |  fa-flag-checkered
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-flag-o
                  |  fa-flag-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-flash
                  |  fa-flash 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-flask
                  |  fa-flask
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-folder
                  |  fa-folder
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-folder-o
                  |  fa-folder-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-folder-open
                  |  fa-folder-open
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-folder-open-o
                  |  fa-folder-open-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-frown-o
                  |  fa-frown-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gamepad
                  |  fa-gamepad
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gavel
                  |  fa-gavel
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gear
                  |  fa-gear 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gears
                  |  fa-gears 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gift
                  |  fa-gift
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-glass
                  |  fa-glass
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-globe
                  |  fa-globe
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-graduation-cap
                  |  fa-graduation-cap
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-group
                  |  fa-group 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hdd-o
                  |  fa-hdd-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-headphones
                  |  fa-headphones
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-heart
                  |  fa-heart
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-heart-o
                  |  fa-heart-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-history
                  |  fa-history
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-home
                  |  fa-home
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-image
                  |  fa-image 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-inbox
                  |  fa-inbox
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-info
                  |  fa-info
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-info-circle
                  |  fa-info-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-institution
                  |  fa-institution 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-key
                  |  fa-key
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-keyboard-o
                  |  fa-keyboard-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-language
                  |  fa-language
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-laptop
                  |  fa-laptop
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-leaf
                  |  fa-leaf
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-legal
                  |  fa-legal 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-lemon-o
                  |  fa-lemon-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-level-down
                  |  fa-level-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-level-up
                  |  fa-level-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-life-bouy
                  |  fa-life-bouy 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-life-ring
                  |  fa-life-ring
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-life-saver
                  |  fa-life-saver 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-lightbulb-o
                  |  fa-lightbulb-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-location-arrow
                  |  fa-location-arrow
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-lock
                  |  fa-lock
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-magic
                  |  fa-magic
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-magnet
                  |  fa-magnet
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mail-forward
                  |  fa-mail-forward 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mail-reply
                  |  fa-mail-reply 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mail-reply-all
                  |  fa-mail-reply-all 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-male
                  |  fa-male
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-map-marker
                  |  fa-map-marker
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-meh-o
                  |  fa-meh-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-microphone
                  |  fa-microphone
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-microphone-slash
                  |  fa-microphone-slash
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-minus
                  |  fa-minus
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-minus-circle
                  |  fa-minus-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-minus-square
                  |  fa-minus-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-minus-square-o
                  |  fa-minus-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mobile
                  |  fa-mobile
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mobile-phone
                  |  fa-mobile-phone 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-money
                  |  fa-money
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-moon-o
                  |  fa-moon-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-mortar-board
                  |  fa-mortar-board 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-music
                  |  fa-music
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-navicon
                  |  fa-navicon 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paper-plane
                  |  fa-paper-plane
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paper-plane-o
                  |  fa-paper-plane-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paw
                  |  fa-paw
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pencil
                  |  fa-pencil
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pencil-square
                  |  fa-pencil-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pencil-square-o
                  |  fa-pencil-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-phone
                  |  fa-phone
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-phone-square
                  |  fa-phone-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-photo
                  |  fa-photo 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-picture-o
                  |  fa-picture-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plane
                  |  fa-plane
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus
                  |  fa-plus
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus-circle
                  |  fa-plus-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus-square
                  |  fa-plus-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus-square-o
                  |  fa-plus-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-power-off
                  |  fa-power-off
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-print
                  |  fa-print
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-puzzle-piece
                  |  fa-puzzle-piece
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-qrcode
                  |  fa-qrcode
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-question
                  |  fa-question
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-question-circle
                  |  fa-question-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-quote-left
                  |  fa-quote-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-quote-right
                  |  fa-quote-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-random
                  |  fa-random
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-recycle
                  |  fa-recycle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-refresh
                  |  fa-refresh
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reorder
                  |  fa-reorder 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reply
                  |  fa-reply
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reply-all
                  |  fa-reply-all
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-retweet
                  |  fa-retweet
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-road
                  |  fa-road
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rocket
                  |  fa-rocket
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rss
                  |  fa-rss
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rss-square
                  |  fa-rss-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-search
                  |  fa-search
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-search-minus
                  |  fa-search-minus
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-search-plus
                  |  fa-search-plus
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-send
                  |  fa-send 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-send-o
                  |  fa-send-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share
                  |  fa-share
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-alt
                  |  fa-share-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-alt-square
                  |  fa-share-alt-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-square
                  |  fa-share-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-square-o
                  |  fa-share-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-shield
                  |  fa-shield
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-shopping-cart
                  |  fa-shopping-cart
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sign-in
                  |  fa-sign-in
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sign-out
                  |  fa-sign-out
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-signal
                  |  fa-signal
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sitemap
                  |  fa-sitemap
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sliders
                  |  fa-sliders
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-smile-o
                  |  fa-smile-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort
                  |  fa-sort
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-alpha-asc
                  |  fa-sort-alpha-asc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-alpha-desc
                  |  fa-sort-alpha-desc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-amount-asc
                  |  fa-sort-amount-asc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-amount-desc
                  |  fa-sort-amount-desc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-asc
                  |  fa-sort-asc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-desc
                  |  fa-sort-desc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-down
                  |  fa-sort-down 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-numeric-asc
                  |  fa-sort-numeric-asc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-numeric-desc
                  |  fa-sort-numeric-desc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sort-up
                  |  fa-sort-up 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-space-shuttle
                  |  fa-space-shuttle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-spinner
                  |  fa-spinner
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-spoon
                  |  fa-spoon
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-square
                  |  fa-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-square-o
                  |  fa-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-star
                  |  fa-star
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-star-half
                  |  fa-star-half
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-star-half-empty
                  |  fa-star-half-empty 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-star-half-full
                  |  fa-star-half-full 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-star-half-o
                  |  fa-star-half-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-star-o
                  |  fa-star-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-suitcase
                  |  fa-suitcase
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-sun-o
                  |  fa-sun-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-support
                  |  fa-support 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tablet
                  |  fa-tablet
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tachometer
                  |  fa-tachometer
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tag
                  |  fa-tag
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tags
                  |  fa-tags
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tasks
                  |  fa-tasks
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-taxi
                  |  fa-taxi
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-terminal
                  |  fa-terminal
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-thumb-tack
                  |  fa-thumb-tack
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-thumbs-down
                  |  fa-thumbs-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-thumbs-o-down
                  |  fa-thumbs-o-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-thumbs-o-up
                  |  fa-thumbs-o-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-thumbs-up
                  |  fa-thumbs-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ticket
                  |  fa-ticket
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-times
                  |  fa-times
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-times-circle
                  |  fa-times-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-times-circle-o
                  |  fa-times-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tint
                  |  fa-tint
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-down
                  |  fa-toggle-down 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-left
                  |  fa-toggle-left 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-right
                  |  fa-toggle-right 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-up
                  |  fa-toggle-up 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-trash-o
                  |  fa-trash-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tree
                  |  fa-tree
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-trophy
                  |  fa-trophy
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-truck
                  |  fa-truck
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-umbrella
                  |  fa-umbrella
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-university
                  |  fa-university
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-unlock
                  |  fa-unlock
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-unlock-alt
                  |  fa-unlock-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-unsorted
                  |  fa-unsorted 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-upload
                  |  fa-upload
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-user
                  |  fa-user
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-users
                  |  fa-users
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-video-camera
                  |  fa-video-camera
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-volume-down
                  |  fa-volume-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-volume-off
                  |  fa-volume-off
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-volume-up
                  |  fa-volume-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-warning
                  |  fa-warning 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wheelchair
                  |  fa-wheelchair
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wrench
                  |  fa-wrench
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 File Type Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file
                  |  fa-file
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-archive-o
                  |  fa-file-archive-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-audio-o
                  |  fa-file-audio-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-code-o
                  |  fa-file-code-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-excel-o
                  |  fa-file-excel-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-image-o
                  |  fa-file-image-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-movie-o
                  |  fa-file-movie-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-o
                  |  fa-file-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-pdf-o
                  |  fa-file-pdf-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-photo-o
                  |  fa-file-photo-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-picture-o
                  |  fa-file-picture-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-powerpoint-o
                  |  fa-file-powerpoint-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-sound-o
                  |  fa-file-sound-o 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-text
                  |  fa-file-text
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-text-o
                  |  fa-file-text-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-video-o
                  |  fa-file-video-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-word-o
                  |  fa-file-word-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-zip-o
                  |  fa-file-zip-o 
                  span.text-muted (alias)
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Spinner Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-o-notch
                  |  fa-circle-o-notch
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cog
                  |  fa-cog
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gear
                  |  fa-gear 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-refresh
                  |  fa-refresh
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-spinner
                  |  fa-spinner
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Form Control Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check-square
                  |  fa-check-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-check-square-o
                  |  fa-check-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle
                  |  fa-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-circle-o
                  |  fa-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dot-circle-o
                  |  fa-dot-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-minus-square
                  |  fa-minus-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-minus-square-o
                  |  fa-minus-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus-square
                  |  fa-plus-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus-square-o
                  |  fa-plus-square-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-square
                  |  fa-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-square-o
                  |  fa-square-o
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Currency Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bitcoin
                  |  fa-bitcoin 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-btc
                  |  fa-btc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cny
                  |  fa-cny 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dollar
                  |  fa-dollar 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-eur
                  |  fa-eur
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-euro
                  |  fa-euro 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gbp
                  |  fa-gbp
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-inr
                  |  fa-inr
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-jpy
                  |  fa-jpy
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-krw
                  |  fa-krw
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-money
                  |  fa-money
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rmb
                  |  fa-rmb 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rouble
                  |  fa-rouble 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rub
                  |  fa-rub
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ruble
                  |  fa-ruble 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rupee
                  |  fa-rupee 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-try
                  |  fa-try
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-turkish-lira
                  |  fa-turkish-lira 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-usd
                  |  fa-usd
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-won
                  |  fa-won 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-yen
                  |  fa-yen 
                  span.text-muted (alias)
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Text Editor Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-align-center
                  |  fa-align-center
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-align-justify
                  |  fa-align-justify
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-align-left
                  |  fa-align-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-align-right
                  |  fa-align-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bold
                  |  fa-bold
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chain
                  |  fa-chain 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chain-broken
                  |  fa-chain-broken
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-clipboard
                  |  fa-clipboard
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-columns
                  |  fa-columns
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-copy
                  |  fa-copy 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-cut
                  |  fa-cut 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dedent
                  |  fa-dedent 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-eraser
                  |  fa-eraser
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file
                  |  fa-file
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-o
                  |  fa-file-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-text
                  |  fa-file-text
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-file-text-o
                  |  fa-file-text-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-files-o
                  |  fa-files-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-floppy-o
                  |  fa-floppy-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-font
                  |  fa-font
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-header
                  |  fa-header
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-indent
                  |  fa-indent
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-italic
                  |  fa-italic
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-link
                  |  fa-link
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-list
                  |  fa-list
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-list-alt
                  |  fa-list-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-list-ol
                  |  fa-list-ol
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-list-ul
                  |  fa-list-ul
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-outdent
                  |  fa-outdent
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paperclip
                  |  fa-paperclip
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paragraph
                  |  fa-paragraph
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-paste
                  |  fa-paste 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-repeat
                  |  fa-repeat
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rotate-left
                  |  fa-rotate-left 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rotate-right
                  |  fa-rotate-right 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-save
                  |  fa-save 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-scissors
                  |  fa-scissors
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-strikethrough
                  |  fa-strikethrough
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-subscript
                  |  fa-subscript
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-superscript
                  |  fa-superscript
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-table
                  |  fa-table
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-text-height
                  |  fa-text-height
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-text-width
                  |  fa-text-width
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-th
                  |  fa-th
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-th-large
                  |  fa-th-large
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-th-list
                  |  fa-th-list
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-underline
                  |  fa-underline
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-undo
                  |  fa-undo
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-unlink
                  |  fa-unlink 
                  span.text-muted (alias)
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Directional Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-double-down
                  |  fa-angle-double-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-double-left
                  |  fa-angle-double-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-double-right
                  |  fa-angle-double-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-double-up
                  |  fa-angle-double-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-down
                  |  fa-angle-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-left
                  |  fa-angle-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-right
                  |  fa-angle-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-angle-up
                  |  fa-angle-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-down
                  |  fa-arrow-circle-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-left
                  |  fa-arrow-circle-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-o-down
                  |  fa-arrow-circle-o-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-o-left
                  |  fa-arrow-circle-o-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-o-right
                  |  fa-arrow-circle-o-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-o-up
                  |  fa-arrow-circle-o-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-right
                  |  fa-arrow-circle-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-circle-up
                  |  fa-arrow-circle-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-down
                  |  fa-arrow-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-left
                  |  fa-arrow-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-right
                  |  fa-arrow-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrow-up
                  |  fa-arrow-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows
                  |  fa-arrows
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows-alt
                  |  fa-arrows-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows-h
                  |  fa-arrows-h
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows-v
                  |  fa-arrows-v
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-down
                  |  fa-caret-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-left
                  |  fa-caret-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-right
                  |  fa-caret-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-down
                  |  fa-caret-square-o-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-left
                  |  fa-caret-square-o-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-right
                  |  fa-caret-square-o-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-square-o-up
                  |  fa-caret-square-o-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-caret-up
                  |  fa-caret-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-circle-down
                  |  fa-chevron-circle-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-circle-left
                  |  fa-chevron-circle-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-circle-right
                  |  fa-chevron-circle-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-circle-up
                  |  fa-chevron-circle-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-down
                  |  fa-chevron-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-left
                  |  fa-chevron-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-right
                  |  fa-chevron-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-chevron-up
                  |  fa-chevron-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hand-o-down
                  |  fa-hand-o-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hand-o-left
                  |  fa-hand-o-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hand-o-right
                  |  fa-hand-o-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hand-o-up
                  |  fa-hand-o-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-long-arrow-down
                  |  fa-long-arrow-down
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-long-arrow-left
                  |  fa-long-arrow-left
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-long-arrow-right
                  |  fa-long-arrow-right
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-long-arrow-up
                  |  fa-long-arrow-up
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-down
                  |  fa-toggle-down 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-left
                  |  fa-toggle-left 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-right
                  |  fa-toggle-right 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-toggle-up
                  |  fa-toggle-up 
                  span.text-muted (alias)
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Video Player Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-arrows-alt
                  |  fa-arrows-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-backward
                  |  fa-backward
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-compress
                  |  fa-compress
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-eject
                  |  fa-eject
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-expand
                  |  fa-expand
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fast-backward
                  |  fa-fast-backward
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-fast-forward
                  |  fa-fast-forward
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-forward
                  |  fa-forward
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pause
                  |  fa-pause
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-play
                  |  fa-play
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-play-circle
                  |  fa-play-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-play-circle-o
                  |  fa-play-circle-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-step-backward
                  |  fa-step-backward
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-step-forward
                  |  fa-step-forward
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stop
                  |  fa-stop
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-youtube-play
                  |  fa-youtube-play
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Brand Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-adn
                  |  fa-adn
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-android
                  |  fa-android
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-apple
                  |  fa-apple
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-behance
                  |  fa-behance
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-behance-square
                  |  fa-behance-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bitbucket
                  |  fa-bitbucket
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bitbucket-square
                  |  fa-bitbucket-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-bitcoin
                  |  fa-bitcoin 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-btc
                  |  fa-btc
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-codepen
                  |  fa-codepen
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-css3
                  |  fa-css3
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-delicious
                  |  fa-delicious
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-deviantart
                  |  fa-deviantart
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-digg
                  |  fa-digg
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dribbble
                  |  fa-dribbble
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-dropbox
                  |  fa-dropbox
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-drupal
                  |  fa-drupal
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-empire
                  |  fa-empire
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-facebook
                  |  fa-facebook
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-facebook-square
                  |  fa-facebook-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-flickr
                  |  fa-flickr
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-foursquare
                  |  fa-foursquare
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ge
                  |  fa-ge 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-git
                  |  fa-git
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-git-square
                  |  fa-git-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-github
                  |  fa-github
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-github-alt
                  |  fa-github-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-github-square
                  |  fa-github-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-gittip
                  |  fa-gittip
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-google
                  |  fa-google
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-google-plus
                  |  fa-google-plus
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-google-plus-square
                  |  fa-google-plus-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hacker-news
                  |  fa-hacker-news
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-html5
                  |  fa-html5
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-instagram
                  |  fa-instagram
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-joomla
                  |  fa-joomla
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-jsfiddle
                  |  fa-jsfiddle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-linkedin
                  |  fa-linkedin
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-linkedin-square
                  |  fa-linkedin-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-linux
                  |  fa-linux
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-maxcdn
                  |  fa-maxcdn
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-openid
                  |  fa-openid
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pagelines
                  |  fa-pagelines
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pied-piper
                  |  fa-pied-piper
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pied-piper-alt
                  |  fa-pied-piper-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pied-piper-square
                  |  fa-pied-piper-square 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pinterest
                  |  fa-pinterest
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-pinterest-square
                  |  fa-pinterest-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-qq
                  |  fa-qq
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ra
                  |  fa-ra 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-rebel
                  |  fa-rebel
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reddit
                  |  fa-reddit
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-reddit-square
                  |  fa-reddit-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-renren
                  |  fa-renren
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-alt
                  |  fa-share-alt
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-share-alt-square
                  |  fa-share-alt-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-skype
                  |  fa-skype
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-slack
                  |  fa-slack
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-soundcloud
                  |  fa-soundcloud
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-spotify
                  |  fa-spotify
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stack-exchange
                  |  fa-stack-exchange
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stack-overflow
                  |  fa-stack-overflow
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-steam
                  |  fa-steam
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-steam-square
                  |  fa-steam-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stumbleupon
                  |  fa-stumbleupon
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stumbleupon-circle
                  |  fa-stumbleupon-circle
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tencent-weibo
                  |  fa-tencent-weibo
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-trello
                  |  fa-trello
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tumblr
                  |  fa-tumblr
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-tumblr-square
                  |  fa-tumblr-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-twitter
                  |  fa-twitter
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-twitter-square
                  |  fa-twitter-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-vimeo-square
                  |  fa-vimeo-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-vine
                  |  fa-vine
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-vk
                  |  fa-vk
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wechat
                  |  fa-wechat 
                  span.text-muted (alias)
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-weibo
                  |  fa-weibo
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-weixin
                  |  fa-weixin
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-windows
                  |  fa-windows
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wordpress
                  |  fa-wordpress
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-xing
                  |  fa-xing
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-xing-square
                  |  fa-xing-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-yahoo
                  |  fa-yahoo
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-youtube
                  |  fa-youtube
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-youtube-play
                  |  fa-youtube-play
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-youtube-square
                  |  fa-youtube-square
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Medical Icons
            .main-box-body.clearfix
              .row.the-icons
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-ambulance
                  |  fa-ambulance
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-h-square
                  |  fa-h-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-hospital-o
                  |  fa-hospital-o
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-medkit
                  |  fa-medkit
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-plus-square
                  |  fa-plus-square
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-stethoscope
                  |  fa-stethoscope
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-user-md
                  |  fa-user-md
                .col-md-3.col-sm-4.col-xs-6
                  i.fa.fa-wheelchair
                  |  fa-wheelchair
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
