.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Glyphicons PRO
          h1 Glyphicons PRO
      .row
        .col-lg-12
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Glyphicon Halflings set
            .main-box-body.clearfix
              .row.the-icons
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-asterisk
                  span.glyphicon-class glyphicon glyphicon-asterisk
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-plus
                  span.glyphicon-class glyphicon glyphicon-plus
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-euro
                  span.glyphicon-class glyphicon glyphicon-euro
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-minus
                  span.glyphicon-class glyphicon glyphicon-minus
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-cloud
                  span.glyphicon-class glyphicon glyphicon-cloud
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-envelope
                  span.glyphicon-class glyphicon glyphicon-envelope
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-pencil
                  span.glyphicon-class glyphicon glyphicon-pencil
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-glass
                  span.glyphicon-class glyphicon glyphicon-glass
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-music
                  span.glyphicon-class glyphicon glyphicon-music
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-search
                  span.glyphicon-class glyphicon glyphicon-search
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-heart
                  span.glyphicon-class glyphicon glyphicon-heart
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-star
                  span.glyphicon-class glyphicon glyphicon-star
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon-class glyphicon glyphicon-star-empty
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-user
                  span.glyphicon-class glyphicon glyphicon-user
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-film
                  span.glyphicon-class glyphicon glyphicon-film
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-th-large
                  span.glyphicon-class glyphicon glyphicon-th-large
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-th
                  span.glyphicon-class glyphicon glyphicon-th
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-th-list
                  span.glyphicon-class glyphicon glyphicon-th-list
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-ok
                  span.glyphicon-class glyphicon glyphicon-ok
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-remove
                  span.glyphicon-class glyphicon glyphicon-remove
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-zoom-in
                  span.glyphicon-class glyphicon glyphicon-zoom-in
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-zoom-out
                  span.glyphicon-class glyphicon glyphicon-zoom-out
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-off
                  span.glyphicon-class glyphicon glyphicon-off
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-signal
                  span.glyphicon-class glyphicon glyphicon-signal
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-cog
                  span.glyphicon-class glyphicon glyphicon-cog
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-trash
                  span.glyphicon-class glyphicon glyphicon-trash
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-home
                  span.glyphicon-class glyphicon glyphicon-home
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-file
                  span.glyphicon-class glyphicon glyphicon-file
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-time
                  span.glyphicon-class glyphicon glyphicon-time
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-road
                  span.glyphicon-class glyphicon glyphicon-road
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-download-alt
                  span.glyphicon-class glyphicon glyphicon-download-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-download
                  span.glyphicon-class glyphicon glyphicon-download
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-upload
                  span.glyphicon-class glyphicon glyphicon-upload
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-inbox
                  span.glyphicon-class glyphicon glyphicon-inbox
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-play-circle
                  span.glyphicon-class glyphicon glyphicon-play-circle
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-repeat
                  span.glyphicon-class glyphicon glyphicon-repeat
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-refresh
                  span.glyphicon-class glyphicon glyphicon-refresh
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-list-alt
                  span.glyphicon-class glyphicon glyphicon-list-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-lock
                  span.glyphicon-class glyphicon glyphicon-lock
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-flag
                  span.glyphicon-class glyphicon glyphicon-flag
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-headphones
                  span.glyphicon-class glyphicon glyphicon-headphones
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-volume-off
                  span.glyphicon-class glyphicon glyphicon-volume-off
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-volume-down
                  span.glyphicon-class glyphicon glyphicon-volume-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-volume-up
                  span.glyphicon-class glyphicon glyphicon-volume-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-qrcode
                  span.glyphicon-class glyphicon glyphicon-qrcode
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-barcode
                  span.glyphicon-class glyphicon glyphicon-barcode
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tag
                  span.glyphicon-class glyphicon glyphicon-tag
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tags
                  span.glyphicon-class glyphicon glyphicon-tags
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-book
                  span.glyphicon-class glyphicon glyphicon-book
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-bookmark
                  span.glyphicon-class glyphicon glyphicon-bookmark
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-print
                  span.glyphicon-class glyphicon glyphicon-print
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-camera
                  span.glyphicon-class glyphicon glyphicon-camera
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-font
                  span.glyphicon-class glyphicon glyphicon-font
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-bold
                  span.glyphicon-class glyphicon glyphicon-bold
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-italic
                  span.glyphicon-class glyphicon glyphicon-italic
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-text-height
                  span.glyphicon-class glyphicon glyphicon-text-height
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-text-width
                  span.glyphicon-class glyphicon glyphicon-text-width
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-align-left
                  span.glyphicon-class glyphicon glyphicon-align-left
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-align-center
                  span.glyphicon-class glyphicon glyphicon-align-center
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-align-right
                  span.glyphicon-class glyphicon glyphicon-align-right
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-align-justify
                  span.glyphicon-class glyphicon glyphicon-align-justify
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-list
                  span.glyphicon-class glyphicon glyphicon-list
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-indent-left
                  span.glyphicon-class glyphicon glyphicon-indent-left
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-indent-right
                  span.glyphicon-class glyphicon glyphicon-indent-right
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-facetime-video
                  span.glyphicon-class glyphicon glyphicon-facetime-video
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-picture
                  span.glyphicon-class glyphicon glyphicon-picture
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-map-marker
                  span.glyphicon-class glyphicon glyphicon-map-marker
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-adjust
                  span.glyphicon-class glyphicon glyphicon-adjust
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tint
                  span.glyphicon-class glyphicon glyphicon-tint
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-edit
                  span.glyphicon-class glyphicon glyphicon-edit
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-share
                  span.glyphicon-class glyphicon glyphicon-share
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-check
                  span.glyphicon-class glyphicon glyphicon-check
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-move
                  span.glyphicon-class glyphicon glyphicon-move
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-step-backward
                  span.glyphicon-class glyphicon glyphicon-step-backward
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-fast-backward
                  span.glyphicon-class glyphicon glyphicon-fast-backward
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-backward
                  span.glyphicon-class glyphicon glyphicon-backward
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-play
                  span.glyphicon-class glyphicon glyphicon-play
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-pause
                  span.glyphicon-class glyphicon glyphicon-pause
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-stop
                  span.glyphicon-class glyphicon glyphicon-stop
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-forward
                  span.glyphicon-class glyphicon glyphicon-forward
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-fast-forward
                  span.glyphicon-class glyphicon glyphicon-fast-forward
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-step-forward
                  span.glyphicon-class glyphicon glyphicon-step-forward
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-eject
                  span.glyphicon-class glyphicon glyphicon-eject
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-chevron-left
                  span.glyphicon-class glyphicon glyphicon-chevron-left
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-chevron-right
                  span.glyphicon-class glyphicon glyphicon-chevron-right
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-plus-sign
                  span.glyphicon-class glyphicon glyphicon-plus-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-minus-sign
                  span.glyphicon-class glyphicon glyphicon-minus-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-remove-sign
                  span.glyphicon-class glyphicon glyphicon-remove-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-ok-sign
                  span.glyphicon-class glyphicon glyphicon-ok-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-question-sign
                  span.glyphicon-class glyphicon glyphicon-question-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-info-sign
                  span.glyphicon-class glyphicon glyphicon-info-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-screenshot
                  span.glyphicon-class glyphicon glyphicon-screenshot
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-remove-circle
                  span.glyphicon-class glyphicon glyphicon-remove-circle
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-ok-circle
                  span.glyphicon-class glyphicon glyphicon-ok-circle
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-ban-circle
                  span.glyphicon-class glyphicon glyphicon-ban-circle
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-arrow-left
                  span.glyphicon-class glyphicon glyphicon-arrow-left
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-arrow-right
                  span.glyphicon-class glyphicon glyphicon-arrow-right
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-arrow-up
                  span.glyphicon-class glyphicon glyphicon-arrow-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-arrow-down
                  span.glyphicon-class glyphicon glyphicon-arrow-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-share-alt
                  span.glyphicon-class glyphicon glyphicon-share-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-resize-full
                  span.glyphicon-class glyphicon glyphicon-resize-full
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-resize-small
                  span.glyphicon-class glyphicon glyphicon-resize-small
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-exclamation-sign
                  span.glyphicon-class glyphicon glyphicon-exclamation-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-gift
                  span.glyphicon-class glyphicon glyphicon-gift
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-leaf
                  span.glyphicon-class glyphicon glyphicon-leaf
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-fire
                  span.glyphicon-class glyphicon glyphicon-fire
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-eye-open
                  span.glyphicon-class glyphicon glyphicon-eye-open
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-eye-close
                  span.glyphicon-class glyphicon glyphicon-eye-close
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-warning-sign
                  span.glyphicon-class glyphicon glyphicon-warning-sign
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-plane
                  span.glyphicon-class glyphicon glyphicon-plane
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-calendar
                  span.glyphicon-class glyphicon glyphicon-calendar
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-random
                  span.glyphicon-class glyphicon glyphicon-random
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-comment
                  span.glyphicon-class glyphicon glyphicon-comment
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-magnet
                  span.glyphicon-class glyphicon glyphicon-magnet
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-chevron-up
                  span.glyphicon-class glyphicon glyphicon-chevron-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-chevron-down
                  span.glyphicon-class glyphicon glyphicon-chevron-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-retweet
                  span.glyphicon-class glyphicon glyphicon-retweet
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-shopping-cart
                  span.glyphicon-class glyphicon glyphicon-shopping-cart
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-folder-close
                  span.glyphicon-class glyphicon glyphicon-folder-close
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-folder-open
                  span.glyphicon-class glyphicon glyphicon-folder-open
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-resize-vertical
                  span.glyphicon-class glyphicon glyphicon-resize-vertical
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-resize-horizontal
                  span.glyphicon-class glyphicon glyphicon-resize-horizontal
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-hdd
                  span.glyphicon-class glyphicon glyphicon-hdd
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-bullhorn
                  span.glyphicon-class glyphicon glyphicon-bullhorn
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-bell
                  span.glyphicon-class glyphicon glyphicon-bell
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-certificate
                  span.glyphicon-class glyphicon glyphicon-certificate
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-thumbs-up
                  span.glyphicon-class glyphicon glyphicon-thumbs-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-thumbs-down
                  span.glyphicon-class glyphicon glyphicon-thumbs-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-hand-right
                  span.glyphicon-class glyphicon glyphicon-hand-right
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-hand-left
                  span.glyphicon-class glyphicon glyphicon-hand-left
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-hand-up
                  span.glyphicon-class glyphicon glyphicon-hand-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-hand-down
                  span.glyphicon-class glyphicon glyphicon-hand-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-circle-arrow-right
                  span.glyphicon-class glyphicon glyphicon-circle-arrow-right
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-circle-arrow-left
                  span.glyphicon-class glyphicon glyphicon-circle-arrow-left
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-circle-arrow-up
                  span.glyphicon-class glyphicon glyphicon-circle-arrow-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-circle-arrow-down
                  span.glyphicon-class glyphicon glyphicon-circle-arrow-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-globe
                  span.glyphicon-class glyphicon glyphicon-globe
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-wrench
                  span.glyphicon-class glyphicon glyphicon-wrench
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tasks
                  span.glyphicon-class glyphicon glyphicon-tasks
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-filter
                  span.glyphicon-class glyphicon glyphicon-filter
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-briefcase
                  span.glyphicon-class glyphicon glyphicon-briefcase
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-fullscreen
                  span.glyphicon-class glyphicon glyphicon-fullscreen
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-dashboard
                  span.glyphicon-class glyphicon glyphicon-dashboard
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-paperclip
                  span.glyphicon-class glyphicon glyphicon-paperclip
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-heart-empty
                  span.glyphicon-class glyphicon glyphicon-heart-empty
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-link
                  span.glyphicon-class glyphicon glyphicon-link
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-phone
                  span.glyphicon-class glyphicon glyphicon-phone
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-pushpin
                  span.glyphicon-class glyphicon glyphicon-pushpin
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-usd
                  span.glyphicon-class glyphicon glyphicon-usd
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-gbp
                  span.glyphicon-class glyphicon glyphicon-gbp
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort
                  span.glyphicon-class glyphicon glyphicon-sort
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort-by-alphabet
                  span.glyphicon-class glyphicon glyphicon-sort-by-alphabet
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort-by-alphabet-alt
                  span.glyphicon-class glyphicon glyphicon-sort-by-alphabet-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort-by-order
                  span.glyphicon-class glyphicon glyphicon-sort-by-order
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort-by-order-alt
                  span.glyphicon-class glyphicon glyphicon-sort-by-order-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort-by-attributes
                  span.glyphicon-class glyphicon glyphicon-sort-by-attributes
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sort-by-attributes-alt
                  span.glyphicon-class glyphicon glyphicon-sort-by-attributes-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-unchecked
                  span.glyphicon-class glyphicon glyphicon-unchecked
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-expand
                  span.glyphicon-class glyphicon glyphicon-expand
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-collapse-down
                  span.glyphicon-class glyphicon glyphicon-collapse-down
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-collapse-up
                  span.glyphicon-class glyphicon glyphicon-collapse-up
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-log-in
                  span.glyphicon-class glyphicon glyphicon-log-in
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-flash
                  span.glyphicon-class glyphicon glyphicon-flash
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-log-out
                  span.glyphicon-class glyphicon glyphicon-log-out
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-new-window
                  span.glyphicon-class glyphicon glyphicon-new-window
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-record
                  span.glyphicon-class glyphicon glyphicon-record
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-save
                  span.glyphicon-class glyphicon glyphicon-save
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-open
                  span.glyphicon-class glyphicon glyphicon-open
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-saved
                  span.glyphicon-class glyphicon glyphicon-saved
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-import
                  span.glyphicon-class glyphicon glyphicon-import
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-export
                  span.glyphicon-class glyphicon glyphicon-export
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-send
                  span.glyphicon-class glyphicon glyphicon-send
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-floppy-disk
                  span.glyphicon-class glyphicon glyphicon-floppy-disk
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-floppy-saved
                  span.glyphicon-class glyphicon glyphicon-floppy-saved
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-floppy-remove
                  span.glyphicon-class glyphicon glyphicon-floppy-remove
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-floppy-save
                  span.glyphicon-class glyphicon glyphicon-floppy-save
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-floppy-open
                  span.glyphicon-class glyphicon glyphicon-floppy-open
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-credit-card
                  span.glyphicon-class glyphicon glyphicon-credit-card
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-transfer
                  span.glyphicon-class glyphicon glyphicon-transfer
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-cutlery
                  span.glyphicon-class glyphicon glyphicon-cutlery
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-header
                  span.glyphicon-class glyphicon glyphicon-header
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-compressed
                  span.glyphicon-class glyphicon glyphicon-compressed
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-earphone
                  span.glyphicon-class glyphicon glyphicon-earphone
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-phone-alt
                  span.glyphicon-class glyphicon glyphicon-phone-alt
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tower
                  span.glyphicon-class glyphicon glyphicon-tower
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-stats
                  span.glyphicon-class glyphicon glyphicon-stats
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sd-video
                  span.glyphicon-class glyphicon glyphicon-sd-video
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-hd-video
                  span.glyphicon-class glyphicon glyphicon-hd-video
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-subtitles
                  span.glyphicon-class glyphicon glyphicon-subtitles
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sound-stereo
                  span.glyphicon-class glyphicon glyphicon-sound-stereo
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sound-dolby
                  span.glyphicon-class glyphicon glyphicon-sound-dolby
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sound-5-1
                  span.glyphicon-class glyphicon glyphicon-sound-5-1
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sound-6-1
                  span.glyphicon-class glyphicon glyphicon-sound-6-1
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-sound-7-1
                  span.glyphicon-class glyphicon glyphicon-sound-7-1
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-copyright-mark
                  span.glyphicon-class glyphicon glyphicon-copyright-mark
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-registration-mark
                  span.glyphicon-class glyphicon glyphicon-registration-mark
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-cloud-download
                  span.glyphicon-class glyphicon glyphicon-cloud-download
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-cloud-upload
                  span.glyphicon-class glyphicon glyphicon-cloud-upload
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tree-conifer
                  span.glyphicon-class glyphicon glyphicon-tree-conifer
                .col-md-4.col-xs-6
                  span.glyphicon.glyphicon-tree-deciduous
                  span.glyphicon-class glyphicon glyphicon-tree-deciduous
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
