.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Nestable List
          h1 Nestable List
      .row
        .col-lg-12
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Example
            .main-box-body.clearfix
              #nestable-menu
                button.btn.btn-primary(data-action='expand-all', type='button') Expand All
                button.btn.btn-danger(data-action='collapse-all', type='button') Collapse All
              .row.cf.nestable-lists
                #nestable.col-md-6.dd
                  ol.dd-list
                    li.dd-item(data-id='1')
                      .dd-handle
                        | Item 1
                        .nested-links
                          span.badge 14
                    li.dd-item(data-id='2')
                      button(type='button', data-action='collapse') Collapse
                      button(type='button', data-action='expand', style='display: none;') Expand
                      .dd-handle
                        | Item 2
                      ol.dd-list
                        li.dd-item(data-id='3')
                          .dd-handle
                            | Item 3
                            .nested-links
                              i.fa.fa-warning.fa-lg
                        li.dd-item(data-id='4')
                          .dd-handle
                            | Item 4
                        li.dd-item(data-id='5')
                          button(type='button', data-action='collapse') Collapse
                          button(type='button', data-action='expand', style='display: none;') Expand
                          .dd-handle
                            | Item 5
                            .nested-links
                              a.nested-link(href='#')
                                i.fa.fa-pencil
                              a.nested-link(href='#')
                                i.fa.fa-cog
                              a.nested-link(href='#')
                                i.fa.fa-trash
                          ol.dd-list
                            li.dd-item(data-id='6')
                              .dd-handle
                                | Item 6
                            li.dd-item(data-id='7')
                              .dd-handle
                                | Item 7
                            li.dd-item(data-id='8')
                              .dd-handle
                                | Item 8
                        li.dd-item(data-id='9')
                          .dd-handle
                            | Item 9
                        li.dd-item(data-id='10')
                          .dd-handle
                            | Item 10
                    li.dd-item(data-id='11')
                      .dd-handle
                        | Item 11
                    li.dd-item(data-id='12')
                      .dd-handle
                        | Item 12
                        .nested-links
                          a.nested-link(href='#')
                            i.fa.fa-pencil
                          a.nested-link(href='#')
                            i.fa.fa-cog
                          a.nested-link(href='#')
                            i.fa.fa-trash
                #nestable2.col-md-6.dd
                  ol.dd-list
                    li.dd-item.dd-item-list(data-id='13')
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle Item 13
                    li.dd-item.dd-item-list(data-id='14')
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle
                        | Item 14
                        .nested-links
                          span.badge.badge-danger
                            i.fa.fa-envelope
                    li.dd-item.dd-item-list(data-id='15')
                      button(type='button', data-action='collapse') Collapse
                      button(type='button', data-action='expand', style='display: none;') Expand
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle Item 15
                      ol.dd-list
                        li.dd-item.dd-item-list(data-id='16')
                          .dd-handle-list
                            i.fa.fa-bars
                          .dd-handle.red-bg.txt-white-hover Item 16
                        li.dd-item.dd-item-list(data-id='17')
                          .dd-handle-list
                            i.fa.fa-bars
                          .dd-handle.yellow-bg.txt-white-hover Item 17
                        li.dd-item.dd-item-list(data-id='18')
                          .dd-handle-list
                            i.fa.fa-bars
                          .dd-handle.green-bg.txt-white-hover Item 18
                    li.dd-item.dd-item-list(data-id='19')
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle Item 19
                    li.dd-item.dd-item-list(data-id='20')
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle
                        | Item 20
                        .nested-links
                          a.nested-link(href='#')
                            i.fa.fa-pencil
                          a.nested-link(href='#')
                            i.fa.fa-cog
                          a.nested-link(href='#')
                            i.fa.fa-trash
                    li.dd-item.dd-item-list(data-id='21')
                      button(type='button', data-action='collapse') Collapse
                      button(type='button', data-action='expand', style='display: none;') Expand
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle Item 21
                      ol.dd-list
                        li.dd-item.dd-item-list(data-id='22')
                          .dd-handle-list
                            i.fa.fa-bars
                          .dd-handle Item 22
                        li.dd-item.dd-item-list(data-id='23')
                          .dd-handle-list
                            i.fa.fa-bars
                          .dd-handle Item 23
                    li.dd-item.dd-item-list(data-id='24')
                      .dd-handle-list
                        i.fa.fa-bars
                      .dd-handle Item 24
              p
                b Serialised Output (per list)
              textarea#nestable-output.form-control(rows='3')
              br
              textarea#nestable2-output.form-control(rows='3')
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
