.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Typography
          h1 Typography (page header h1)
      .row
        .col-lg-12
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Heading 2 (h2)
            .main-box-body.clearfix
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
                | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
                | placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit
                | felis. Vestibulum convallis turpis lectus, a porta est facilisis id
                abbr(title='attribute') ends
                | .
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
                | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices.
              h3
                span Heading 3 (h3)
              .row
                .col-md-6
                  h4 Heading 4 (h4)
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                    | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
                    | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
                    | placerat. Vivamus suscipit vulputate lacinia.
                .col-md-6
                  h4 Heading 4 (h4)
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                    | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
                    | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
                    | placerat. Vivamus suscipit vulputate lacinia.
              h5 Heading 5 (h5)
              p
                small
                  | SMALL - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet odio.
                  | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
                  | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
                  | placerat. Vivamus suscipit vulputate lacinia.
              br
              blockquote
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                  | Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a,
                  | lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices
                  | placerat. Vivamus suscipit vulputate lacinia.
                small
                  cite(title='Source Title') Source Samuel L Ipsum
              h5 Definition List
              dl.dl-horizontal
                dt Description lists
                dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                dt Is she dead, yes or no?
                dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                dd
                  | Maecenas eu mauris vehicula, blandit mauris nec. Maecenas eu mauris vehicula, blandit mauris nec.
                dt We happy?
                dd Nulla tristique nisi vitae blandit vehicula.
                dt You think water moves fast? You should see ice.
                dd
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                  | Nulla vel sagittis tellus.
      .row
        .col-md-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Other Blockquotes & Tooltips
            .main-box-body.clearfix
              br
              br
              blockquote
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
              br
              br
              .clearfix
                blockquote.pull-right
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa.
              br
              br
              .alert.alert-info
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio.
                a.alert-link(href='#') Nulla vel sagittis tellus
                | .
              br
        .col-md-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 All kinds of lists
            .main-box-body.clearfix
              h3
                span Font Awesome List
              ul.fa-ul
                li
                  i.fa-li.fa.fa-check-square
                  | List icons (like these)
                li
                  i.fa-li.fa.fa-check-square
                  | can be used
                li
                  i.fa-li.fa.fa-spinner.fa-spin
                  | to replace
                li
                  i.fa-li.fa.fa-square
                  | default bullets in lists
              h3
                span Unordered List
              ul
                li
                  | Item 1
                li
                  | Item 2
                  ul
                    li Subitem 2-1
                    li
                      strong Subitem 2-2 (Bold)
                    li
                      em Subitem 2-1 (Italic)
              h3
                span Ordered List
              ol
                li Ordered Item 1
                li Ordered Item 2
                li Ordered Item 3
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
