.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Responsive Video
          h1 Responsive Video
      .row
        .col-md-6.col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Responsive embed - 16:9 aspect ratio
            .main-box-body.clearfix
              p
                | Allow browsers to determine video or slideshow dimensions based on the width of their containing
                | block by creating an intrinsic ratio that will properly scale on any device.
              p
                | Rules are directly applied to 
                code <iframe>
                | , 
                code <embed>
                | , and
                code <object>
                |  elements; optionally use an explicit descendant class
                code .embed-responsive-item
                |  when you want to match the
                | styling for other attributes.
              br
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(allowfullscreen='', src='http://www.youtube.com/embed/co6WMzDOh1o?rel=0')
        .col-md-6.col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Responsive embed - 4:3 aspect ratio
            .main-box-body.clearfix
              p
                | Pro-Tip! You don't need to include frameborder="0" in your 
                code <iframe>
                | s as
                | we override that for you.
              br
              .embed-responsive.embed-responsive-4by3
                iframe.embed-responsive-item(allowfullscreen='', src='http://www.youtube.com/embed/1yw1Tgj9-VU?rel=0')
      .row
        .col-md-6.col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Vimeo responsive embed - 4:3 aspect ratio
            .main-box-body.clearfix
              .embed-responsive.embed-responsive-4by3
                iframe.embed-responsive-item(allowfullscreen='', src='http://player.vimeo.com/video/28040685')
        .col-md-6.col-lg-6
          .main-box.clearfix
            header.main-box-header.clearfix
              h2 Vimeo responsive embed - 16:9 aspect ratio
            .main-box-body.clearfix
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(allowfullscreen='', src='http://player.vimeo.com/video/73437656')
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
