html
  body
      .row(style='opacity: 1;')
        .col-lg-12
          #user-profile.row
            .col-lg-3.col-md-4.col-sm-4
              .main-box.clearfix
                header.main-box-header.clearfix
                  h2 Ipad-2
                .main-box-body.clearfix
                  .profile-status
                    i.fa.fa-circle
                    |  Availabe In Stock
                  img.img-responsive.center-block(alt='', src='img/samples/ipad.png')  
                  .profile-label
                    span.label.label-info Phones
                  .profile-stars
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star-o
                    span Market Demand
                  .profile-since
                    | Added in List: Jan 2012
                  .profile-details
                    ul.fa-ul
                      li
                        i.fa-li.fa.fa-truck
                        | Orders: 
                        span 456
                      li
                        i.fa-li.fa.fa-shopping-cart
                        | Sold: 
                        span 350
                  .profile-message-btn.center-block.text-center
                    a.btn.btn-success(href='#')
                      i.fa.fa-edit
                      | Edit
            .col-lg-9.col-md-8.col-sm-8
              .main-box.clearfix
                .tabs-wrapper.profile-tabs
                  ul.nav.nav-tabs
                    li.active
                      a(data-toggle='tab', href='#tab-Basic') Basic
                    li
                      a(data-toggle='tab', href='#tab-Attribute') Attribute
                    li
                      a(data-toggle='tab', href='#tab-QtyPrice') Qty&Price
                    li
                      a(data-toggle='tab', href='#tab-Category') Category
                    li
                      a(data-toggle='tab', href='#tab-SEO') SEO
                    li
                      a(data-toggle='tab', href='#tab-Production Phase') Production Phase
                    li
                      a(data-toggle='tab', href='#tab-Update Theme') Update Theme
                  .tab-content
                    #tab-Basic.tab-pane.fade.in.active
                     .col-lg-12
                      .main-box
                        header.main-box-header.clearfix
                          h2 Basic Detail
                        .main-box-body.clearfix
                          form(role='form')
                            .form-group
                              label(for='') Designer Name
                              .input-group
                                .input-group-btn
                                  button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                                    | Select Designer 
                                    span.caret
                                  ul.dropdown-menu
                                    li
                                      a(href='#') Narendra Seth
                                    li
                                      a(href='#') Vijay Kumar
                                    li
                                      a(href='#') Sushil Soni
                                    li.divider
                                    li
                                      a(href='#') New Designer
                                input.form-control(type='text')
                            .form-group
                              label(for='examplePrepend') ShortDescriptor
                              .input-group
                                span.input-group-addon s
                                input#examplePrepend.form-control(type='text', placeholder='')
                            .form-group
                              label(for='exampleAppend') RankWeight
                              .input-group
                                input#exampleAppend.form-control(type='text',placeholder='0')
                                span.input-group-addon .00
                            .form-group
                              label(for='exampleAppPre') ExpiryDate:
                              .input-group
                                span.input-group-addon 
                                 i.fa.fa-calendar
                                input#exampleAppPre.form-control(type='text')
                                span.input-group-addon --/--/----
                      .col-lg-12
                       .panel.panel-default
                        .panel-body 
                           h2 Item Allow Option
                         .main-box-body.clearfix
                           .row
                              .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox', checked='checked')
                                      label(for='checkbox-1') Is Saleable
                               .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-2(type='checkbox')
                                      label(for='checkbox-2') Allow Uploadable 
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-1') Is Purchaseable 
                            .row
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-0') Is Productionable
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-1') Is Website Display 
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-1') Is Maintain Inventory
                            .row 
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-1') Is AllowNegative Stock 
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-1') Is Allow Enquiry Allow
                                .col-lg-4
                                   .checkbox-nice
                                       input#checkbox-1(type='checkbox')
                                       label(for='checkbox-1') Is Template
                      .col-lg-12
                       .main-box
                         header.main-box-header.clearfix
                           h2 Item Display Option
                         .main-box-body.clearfix
                           .row
                              .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox', checked='checked')
                                      label(for='checkbox-1') Show Detail
                               .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-2(type='checkbox')
                                      label(for='checkbox-2') Show Deatail 
                                .col-lg-4
                                  .checkbox-nice
                                      input#checkbox-1(type='checkbox')
                                      label(for='checkbox-1') Is Visible Sold  
                      .col-lg-12
                       .main-box
                         header.main-box-header.clearfix
                           h2 Item Allow Option
                         .main-box-body.clearfix
                              .form-group
                                label(for='exampleRadio') Prepend radio
                                .input-group
                                  span.input-group-addon
                                    input(type='radio')
                                  input#exampleRadio.form-control(type='text')
                              .form-group
                                label(for='exmaplePrependButton') Prepend button
                                .input-group
                                  span.input-group-btn
                                    button.btn.btn-primary(type='button') Go!
                                  input#exmaplePrependButton.form-control(type='text')
                              .form-group
                                label(for='examplePrependDropdown') Prepend button dropdown
                                .input-group
                                  .input-group-btn
                                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                                      | Action 
                                      span.caret
                                    ul.dropdown-menu
                                      li
                                        label(for='ID') Hemendra Seth 
                                      li
                                        a(href='#') Narendra Kumar
                                      li
                                        a(href='#') Something else here
                                      li.divider
                                      li
                                        a(href='#') Separated link
                                  input#examplePrependDropdown.form-control(type='text')
                    #tab-Attribute.tab-pane.fade
                     .row
                      .col-lg-12.col-md-8.col-sm-8
                       .main-box.clearfix
                         .tabs-wrapper.profile-tabs
                           ul.nav.nav-tabs
                             li.active
                               a(data-toggle='tab', href='#tab-Specification') Specification
                             li
                               a(data-toggle='tab', href='#tab-CustionFeild') CustomField
                             li
                               a(data-toggle='tab', href='#tab-StockEffectCustomFeilds') StockEffectCustomFeild
                             li
                               a(data-toggle='tab', href='#tab-Filter') Filter
                               .tab-content
                                  #tab-Specification.tab-pane.fade.in.active
                                  .row
                                   .col-lg-12
                                    .box
                                      header.main-box-header.clearfix
                                        h2 Basic Detail
                                      .main-box-body.clearfix
                                         a.btn.btn-primary.pull-left(href='#')
                                          i.fa.fa-plus-circle.fa-lg
                                          |  Add product
                    #tab-QtyPrice.tab-pane.clearfix.fade
                      
                    #tab-chat.tab-pane.fade
                      
      footer#footer-bar.row(style='opacity: 1;')
        p#footer-copyright.col-xs-12
          | Powered by Cube Theme.
