
<html>
  <body>
    <div style="opacity: 1;" class="row">
      <div class="col-lg-12">
        <div id="user-profile" class="row">
          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
              <header class="main-box-header clearfix">
                <h2>Ipad-2</h2>
              </header>
              <div class="main-box-body clearfix">
                <div class="profile-status"><i class="fa fa-circle"></i> Availabe In Stock</div><img alt="" src="img/samples/ipad.png" class="img-responsive center-block"/>
                <div class="profile-label"><span class="label label-danger">Phones</span></div>
                <div class="profile-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span>Market Demand</span></div>
                <div class="profile-since">Added in List: Jan 2012</div>
                <div class="profile-details">
                  <ul class="fa-ul">
                    <li><i class="fa-li fa fa-truck"></i>Orders: <span>456</span></li>
                    <li><i class="fa-li fa fa-shopping-cart"></i>Sold: <span>350</span></li>
                  </ul>
                </div>
                <div class="profile-message-btn center-block text-center"><a href="#" class="btn btn-success"><i class="fa fa-edit"></i>Edit</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
              <div class="tabs-wrapper profile-tabs">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab-Basic">Basic</a></li>
                  <li><a data-toggle="tab" href="#tab-Attribute">Attribute</a></li>
                  <li><a data-toggle="tab" href="#tab-Qty&amp;Price">Qty&Price</a></li>
                  <li><a data-toggle="tab" href="#tab-Category">Category</a></li>
                  <li><a data-toggle="tab" href="#tab-SEO">SEO</a></li>
                  <li><a data-toggle="tab" href="#tab-Production Phase">Production Phase</a></li>
                  <li><a data-toggle="tab" href="#tab-Update Theme">Update Theme</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab-Basic" class="tab-pane fade in active"></div><span>Designer:
                    <div class="btn-group">
                      <button type="button" style="width:500px" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Please Select..<span class="caret"></span></button>
                      <ul role="menu" style="width:500px" class="dropdown-menu">
                        <li>Mr Harsh Pareek</li>
                        <li class="divider"></li>
                        <li>Mr Narendra Joshi</li>
                      </ul>
                      <div class="col-lg-12">
                        <label>Search:
                          <input type="search" placeholder="" aria-controls="table-example" class="form-control input-sm"/>
                        </label>
                        <label>Search:
                          <input type="search" placeholder="" aria-controls="table-example" class="form-control input-sm"/>
                        </label>
                      </div>
                    </div></span>
                  <div id="tab-activity" class="tab-pane fade">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td class="text-center"><i class="fa fa-comment"></i></td>
                            <td>Scarlett Johansson posted a comment in <a href="#">Avengers Initiative</a> project.</td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-truck"></i></td>
                            <td>Scarlett Johansson changed order status from <span class="label label-primary">Pending</span>to <span class="label label-success">Completed</span></td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td>Scarlett Johansson posted a comment in <a href="#">Lost in Translation opening scene</a> discussion.</td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-users"></i></td>
                            <td>Scarlett Johansson posted a comment in <a href="#">Avengers Initiative</a> project.</td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-heart"></i></td>
                            <td>Scarlett Johansson changed order status from <span class="label label-warning">On Hold</span>to <span class="label label-danger">Disabled</span></td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-check"></i></td>
                            <td>Scarlett Johansson posted a comment in <a href="#">Lost in Translation opening scene</a> discussion.</td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-truck"></i></td>
                            <td>Scarlett Johansson changed order status from <span class="label label-primary">Pending</span>to <span class="label label-success">Completed</span></td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-users"></i></td>
                            <td>Scarlett Johansson posted a comment in <a href="#">Avengers Initiative</a> project.</td>
                            <td>2014/08/08 12:08</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="tab-friends" class="tab-pane clearfix fade">
                    <ul class="widget-users row">
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/scarlet.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Scarlett Johansson</a></div>
                          <div class="time"><i class="fa fa-clock-o"></i> Last online: 5 minutes ago</div>
                          <div class="type"><span class="label label-danger">Admin</span></div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/kunis.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Mila Kunis</a></div>
                          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
                          <div class="type"><span class="label label-warning">Pending</span></div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/ryan.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Ryan Gossling</a></div>
                          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/robert.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Robert Downey Jr.</a></div>
                          <div class="time"><i class="fa fa-clock-o"></i> Last online: Thursday</div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/emma.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Emma Watson</a></div>
                          <div class="time"><i class="fa fa-clock-o"></i> Last online: 1 week ago</div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/george.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">George Clooney</a></div>
                          <div class="time"><i class="fa fa-clock-o"></i> Last online: 1 month ago</div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/kunis.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Mila Kunis</a></div>
                          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
                          <div class="type"><span class="label label-warning">Pending</span></div>
                        </div>
                      </li>
                      <li class="col-md-6">
                        <div class="img"><img alt="" src="img/samples/ryan.png"/></div>
                        <div class="details">
                          <div class="name"><a href="#">Ryan Gossling</a></div>
                          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
                        </div>
                      </li>
                    </ul><br/><a href="#" class="btn btn-success pull-right">View all users</a>
                  </div>
                  <div id="tab-chat" class="tab-pane fade">
                    <div class="conversation-wrapper">
                      <div class="conversation-content">
                        <div style="position: relative; overflow: hidden; width: auto; height: 340px;" class="slimScrollDiv">
                          <div style="overflow: hidden; width: auto; height: 340px;" class="conversation-inner">
                            <div class="conversation-item item-left clearfix">
                              <div class="conversation-user"><img alt="" src="img/samples/ryan.png"/></div>
                              <div class="conversation-body">
                                <div class="name">Ryan Gossling</div>
                                <div class="time hidden-xs">September 21, 2013 18:28</div>
                                <div class="text">
                                  I don't think they tried to market it to the billionaire, spelunking,
                                  base-jumping crowd.
                                </div>
                              </div>
                            </div>
                            <div class="conversation-item item-right clearfix">
                              <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                              <div class="conversation-body">
                                <div class="name">Mila Kunis</div>
                                <div class="time hidden-xs">September 21, 2013 12:45</div>
                                <div class="text">
                                  Normally, both your asses would be dead as fucking fried chicken, but you
                                  happen to pull this shit while I'm in a transitional period so I don't wanna
                                  kill you, I wanna help you.
                                </div>
                              </div>
                            </div>
                            <div class="conversation-item item-right clearfix">
                              <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                              <div class="conversation-body">
                                <div class="name">Mila Kunis</div>
                                <div class="time hidden-xs">September 21, 2013 12:45</div>
                                <div class="text">
                                  Normally, both your asses would be dead as fucking fried chicken, but you
                                  happen to pull this shit while I'm in a transitional period so I don't wanna
                                  kill you, I wanna help you.
                                </div>
                              </div>
                            </div>
                            <div class="conversation-item item-left clearfix">
                              <div class="conversation-user"><img alt="" src="img/samples/ryan.png"/></div>
                              <div class="conversation-body">
                                <div class="name">Ryan Gossling</div>
                                <div class="time hidden-xs">September 21, 2013 18:28</div>
                                <div class="text">
                                  I don't think they tried to market it to the billionaire, spelunking,
                                  base-jumping crowd.
                                </div>
                              </div>
                            </div>
                            <div class="conversation-item item-right clearfix">
                              <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                              <div class="conversation-body">
                                <div class="name">Mila Kunis</div>
                                <div class="time hidden-xs">September 21, 2013 12:45</div>
                                <div class="text">
                                  Normally, both your asses would be dead as fucking fried chicken, but you
                                  happen to pull this shit while I'm in a transitional period so I don't wanna
                                  kill you, I wanna help you.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;" class="slimScrollBar"></div>
                          <div style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div>
                        </div>
                      </div>
                      <div class="conversation-new-message">
                        <form>
                          <div class="form-group">
                            <textarea placeholder="Enter your message..." rows="2" class="form-control"></textarea>
                          </div>
                          <div class="clearfix">
                            <button type="submit" class="btn btn-success pull-right">Send message</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer-bar" style="opacity: 1;" class="row">
      <p id="footer-copyright" class="col-xs-12">Powered by Cube Theme.</p>
    </footer>
  </body>
</html>