
<html> 
  <body>
    <div class="main-box no-header clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">SalesOrder</h2>
        <div class="filter-block pull-right">
          <div class="form-group pull-left">
            <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
          </div>
          <div class="form-group pull-left">
            <input type="text" placeholder=" By Customer or Status" value="" data-shortname="order_2" data-initvalue="" autocomplete="off" class="form-control ui-autocomplete-input"/>
          </div><a href="#" class="btn btn-primary"><i class="fa fa-plus-circle fa-lg"></i> Add Order Draft</a>
        </div>
      </header>
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list table-hover">
            <thead>
              <tr>
                <th><span>Customer</span></th>
                <th><span>Order Id</span></th>
                <th><span>Created</span></th>
                <th class="text-center"><span>Customer Name</span></th>
                <th><span>ContactNo</span></th>
                <th class="text-center"><span>Status</span></th>
                <th class="text-center"><span>Amount</span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img alt="" src="img/samples/robert-300.jpg"/></td>
                <td> <a href="#">045556</a><br/><span>Scarlet</span></td>
                <td><span>Created Date: 5 months ago</span><br/><span>Created By: Hemendra Seth</span></td>
                <td class="text-left"><a href="?page=marketing_leadprofile" class="user-link">Customer Name</a></td>
                <td>
                   
                  65823214578
                </td>
                <td class="text-center"><span class="label label-info">Draft</span></td>
                <td>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="col-lg-6">Amount <br/>Tax <br/>GrossAmount  <br/><span>ShippingCharges </span><br/>NetAmount </div>
                      <div class="col-lg-3 pull-right">00000<br/>0000<br/>000000 <br/>000000<br/>0000 </div>
                    </div>
                  </div>
                </td>
                <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
              </tr>
              <tr>
                <td><img alt="" src="img/samples/robert-300.jpg"/></td>
                <td> <a href="#">045556</a><br/><span>Scarlet</span></td>
                <td><span>Created Date: 5 months ago</span><br/><span>Created By: Hemendra Seth</span></td>
                <td class="text-left"><a href="?page=marketing_leadprofile" class="user-link">Customer Name</a></td>
                <td>
                   
                  65823214578
                </td>
                <td class="text-center"><span class="label label-info">Draft</span></td>
                <td>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="col-lg-6">Amount <br/>Tax <br/>GrossAmount  <br/><span>ShippingCharges </span><br/>NetAmount </div>
                      <div class="col-lg-3 pull-right">00000<br/>0000<br/>000000 <br/>000000<br/>0000 </div>
                    </div>
                  </div>
                </td>
                <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
              </tr>
              <tr>
                <td><img alt="" src="img/samples/robert-300.jpg"/></td>
                <td> <a href="#">045556</a><br/><span>Scarlet</span></td>
                <td><span>Created Date: 5 months ago</span><br/><span>Created By: Hemendra Seth</span></td>
                <td class="text-left"><a href="?page=marketing_leadprofile" class="user-link">Customer Name</a></td>
                <td>
                   
                  65823214578
                </td>
                <td class="text-center"><span class="label label-info">Draft</span></td>
                <td>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="col-lg-6">Amount <br/>Tax <br/>GrossAmount  <br/><span>ShippingCharges </span><br/>NetAmount </div>
                      <div class="col-lg-3 pull-right">00000<br/>0000<br/>000000 <br/>000000<br/>0000 </div>
                    </div>
                  </div>
                </td>
                <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
              </tr>
              <tr>
                <td><img alt="" src="img/samples/robert-300.jpg"/></td>
                <td> <a href="#">045556</a><br/><span>Scarlet</span></td>
                <td><span>Created Date: 5 months ago</span><br/><span>Created By: Hemendra Seth</span></td>
                <td class="text-left"><a href="?page=marketing_leadprofile" class="user-link">Customer Name</a></td>
                <td>
                   
                  65823214578
                </td>
                <td class="text-center"><span class="label label-info">Draft</span></td>
                <td>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="col-lg-6">Amount <br/>Tax <br/>GrossAmount  <br/><span>ShippingCharges </span><br/>NetAmount </div>
                      <div class="col-lg-3 pull-right">00000<br/>0000<br/>000000 <br/>000000<br/>0000 </div>
                    </div>
                  </div>
                </td>
                <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>