#user-profile.row
  .col-lg-3
    .main.box.clearfix
      header.main-box-header.clearfix
        h2 Xavoc
      .main-box-body.clearfix
        .profil-status
          i.fa.fa-circle
          |  Online
        img.profile-img-img-responsive.centre-block(alt='',src='img/sample/Xavoc-159.png')
        .profile-label
          span.label.label-danger Admin
        .profile-stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
          span Super User
        .profile-since
          | Member since: Jan 2012
        .profile-details
          ul.fa-ul
            li
              i.fa-li.fa.fa-truck
              |Order:
              span 456
            li
              i.fa-li.fa.fa-comment
              |posts:
              span 828
            li
              i.fa-li.fa.fa-tasks
              |Tasks done:
              span 1024
        .profile-message-btn.centre-block.text-center
          a.btn.btn-success(herf='#')
            i.fa.fa-envelope
            | Send message
  .col-lg-9.col-md-8.col-sm-8
    .main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab',href='#tab-newsfeed') Order
          li
            a(data-toggle='tab',href='#tab-activity') Activity
          li
            a(data-toggle='tab',href='#tab-friends') Friend
          li
            a(data-toggle='tab',href='#tab-chat') Chat
        
  

























