
<div id="user-profile" class="row">
  <div class="col-lg-3">
    <div class="main box clearfix">
      <header class="main-box-header clearfix">
        <h2>Xavoc</h2>
      </header>
      <div class="main-box-body clearfix">
        <div class="profil-status"><i class="fa fa-circle"></i> Online</div><img alt="" src="img/sample/Xavoc-159.png" class="profile-img-img-responsive centre-block"/>
        <div class="profile-label"><span class="label label-danger">Admin</span></div>
        <div class="profile-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span>Super User</span></div>
        <div class="profile-since">Member since: Jan 2012</div>
        <div class="profile-details">
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-truck"></i>Order:<span>456</span></li>
            <li><i class="fa-li fa fa-comment"></i>posts:<span>828</span></li>
            <li><i class="fa-li fa fa-tasks"></i>Tasks done:<span>1024</span></li>
          </ul>
        </div>
        <div class="profile-message-btn centre-block text-center"><a herf="#" class="btn btn-success"><i class="fa fa-envelope"></i>Send message</a></div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-8">
    <div class="main-box clearfix">
      <div class="tabs-wrapper profile-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-newsfeed">Order</a></li>
          <li><a data-toggle="tab" href="#tab-activity">Activity</a></li>
          <li><a data-toggle="tab" href="#tab-friends">Friend</a></li>
          <li><a data-toggle="tab" href="#tab-chat">Chat</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>