.ui.attached.menu
  .header.item xEpan
  {$Main_Menu}
  .right.menu
    {$notification_view}
    {$User_Menu}
.ui.attached.pushable
  .ui.left.vertical.inverted.sidebar.menu
    .ui.inverted.message
      {$task_status}
    {$page_top_right}
    {$Side_Menu}
  .pusher
    {breadcrumb}
    .ui.breadcrumb
      {rows}{row}
      a(href='{$url}' class="{$active} section") {title}Home{/title}
      .divider /
      {/row}{/rows}
    {/breadcrumb}
    h1 {page_title}Page_Title{/}
    div{$Content}