
<4 id="theme-wrapper" class="atk-layout">
  <header id="header-navbar" class="navbar">
    <div class="container"><a id="logo" href="index.html" class="navbar-brand"><img src="img/logo3.png" alt="" class="normal-logo logo-white"/><img src="img/logo-black.png" alt="" class="normal-logo logo-black"/><img src="img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/></a>
      <div class="clearfix">
        <button data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="fa fa-bars"></span></button>
        <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
          <ul class="nav navbar-nav pull-left">
            <li><a id="make-small-nav" class="btn"><i class="fa fa-bars"></i></a></li>
            <li id="notificationid" class="dropdown hidden-xs">{$notification_view}                      </li>
            <li class="dropdown hidden-xs"><a data-toggle="dropdown" class="btn dropdown-toggle"><i class="fa fa-envelope-o"></i><span class="count">{message_count}16{/}</span></a>
              <ul class="dropdown-menu notifications-list messages-list">
                <li class="pointer">
                  <div class="pointer-inner">
                    <div class="arrow"></div>
                  </div>
                </li>{$message_view}
              </ul>
            </li>{Main_Menu}
            {/Main_Menu}
          </ul>
        </div>
        <div id="header-nav" class="nav-no-collapse pull-right">
          <ul class="nav navbar-nav pull-right">
            <li class="mobile-search"><a class="btn"><i class="fa fa-search"></i></a>
              <div class="drowdown-search">
                <form role="search">
                  <div class="form-group">
                    <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search nav-search-icon"></i>
                  </div>
                </form>
              </div>
            </li>
            <li class="dropdown profile-dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="hidden-xs">{department}Scarlett{/department} / {post}Johansson{/post}</span><b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="?page=xepan_communication_generalsetting"><i class="fa fa-user"></i>General Settings</a></li>
              </ul>
            </li>
            <li class="hidden-xxs"><a href="?page=xepan_base_logout" class="btn"><i class="fa fa-power-off"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div id="page-wrapper" class="container">
    <div class="row">
      <div id="nav-col">
        <section id="col-left" class="col-left-nano">
          <div id="col-left-inner" class="col-left-nano-content">
            <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">{avatar}img(alt='', src='{image}img/samples/scarlet-159.png{/}'){/}
              <div class="user-box"><span class="name"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{first_name}Scarlett J.{/} <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="?page=xepan_hr_employee_profile"><i class="fa fa-user"></i>Profile</a></li>
                    <li><a href="?page=xepan_hr_employee_setting"><i class="fa fa-cog"></i>Settings</a></li>
                    <li><a href="?page=xepan_base_logout"><i class="fa fa-power-off"></i>Logout</a></li>
                  </ul></span><span class="status"><i class="fa fa-circle"></i> {status}Online{/}</span></div>
            </div>
            <div id="sidebar-nav" class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav nav-pills nav-stacked">
                <li class="nav-header nav-header-first hidden-sm hidden-xs">Navigation</li>{$Side_Menu}
              </ul>
            </div>
          </div>
        </section>
        <div id="nav-col-submenu"></div>
      </div>
      <div id="content-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                  <div class="pull-left">{breadcrumb}
                    <ol class="breadcrumb">{rows}{row}
                      <li class="{$active}"><a href="{$url}">{title}Home{/title}</a></li>{/row}{/rows}
                    </ol>{/breadcrumb}
                    <h1>{page_title}Page_Title{/}</h1>
                  </div>
                  <div class="pull-right hidden-xs">
                    {page_top_right}
                    {/page_top_right}
                  </div>
                </div>
              </div>
            </div>{$Content}
          </div>
        </div>
        <footer id="footer-bar" class="row">
          <p id="footer-copyright" class="col-xs-12">Powered by Xavoc Technocrats Pvt Ltd.</p>
        </footer>
      </div>
    </div>
  </div>
</4>
<div id="config-tool" class="closed"><a id="config-tool-cog"><i class="fa fa-cog"></i></a>
  <div id="config-tool-options">
    <h4>Layout Options</h4>
    <ul>
      <li>
        <div class="checkbox-nice">
          <input id="config-fixed-header" type="checkbox"/>
          <label for="config-fixed-header">Fixed Header</label>
        </div>
      </li>
      <li>
        <div class="checkbox-nice">
          <input id="config-fixed-sidebar" type="checkbox"/>
          <label for="config-fixed-sidebar">Fixed Left Menu</label>
        </div>
      </li>
      <li>
        <div class="checkbox-nice">
          <input id="config-fixed-footer" type="checkbox"/>
          <label for="config-fixed-footer">Fixed Footer</label>
        </div>
      </li>
      <li>
        <div class="checkbox-nice">
          <input id="config-boxed-layout" type="checkbox"/>
          <label for="config-boxed-layout">Boxed Layout</label>
        </div>
      </li>
      <li>
        <div class="checkbox-nice">
          <input id="config-rtl-layout" type="checkbox"/>
          <label for="config-rtl-layout">Right-to-Left</label>
        </div>
      </li>
    </ul><br/>
    <h4>Skin Color</h4>
    <ul id="skin-colors" class="clearfix">
      <li><a data-skin="" data-toggle="tooltip" title="Default" style="background-color: #34495e;" class="skin-changer"></a></li>
      <li><a data-skin="theme-white" data-toggle="tooltip" title="White/Green" style="background-color: #2ecc71;" class="skin-changer"></a></li>
      <li><a data-skin="theme-blue-gradient" data-toggle="tooltip" title="Gradient" class="skin-changer blue-gradient"></a></li>
      <li><a data-skin="theme-turquoise" data-toggle="tooltip" title="Green Sea" style="background-color: #1abc9c;" class="skin-changer"></a></li>
      <li><a data-skin="theme-amethyst" data-toggle="tooltip" title="Amethyst" style="background-color: #9b59b6;" class="skin-changer"></a></li>
      <li><a data-skin="theme-blue" data-toggle="tooltip" title="Blue" style="background-color: #2980b9;" class="skin-changer"></a></li>
      <li><a data-skin="theme-red" data-toggle="tooltip" title="Red" style="background-color: #e74c3c;" class="skin-changer"></a></li>
      <li><a data-skin="theme-whbl" data-toggle="tooltip" title="White/Blue" style="background-color: #3498db;" class="skin-changer"></a></li>
    </ul>
  </div>
</div>