
<div class="ui attached menu">
  <div class="header item">xEpan</div>{$Main_Menu}
  <div class="right menu">
    {$notification_view}
    {$User_Menu}
  </div>
</div>
<div class="ui attached pushable">
  <div class="ui left vertical inverted sidebar menu">
    <div class="ui inverted message">{$task_status}</div>{$page_top_right}
    {$Side_Menu}
  </div>
  <div class="pusher">{breadcrumb}
    <div class="ui breadcrumb">{rows}{row}<a href="{$url}" class="{$active} section">{title}Home{/title}</a>
      <div class="divider">/</div>{/row}{/rows}
    </div>{/breadcrumb}
    <h1>{page_title}Page_Title{/}</h1>
    <div>{$Content}</div>
  </div>
</div>