
<div class="ui attached menu">
  <div class="header item">xEpan</div>{$Main_Menu}
  <div class="right menu">
    {$notification_view}
    {$User_Menu}
  </div>
</div>
<div class="ui attached pushable">
  <div class="ui left vertical visible inverted menu sidebar">
    <div class="ui inverted message">{$task_status}</div>{$page_top_right}
    {$Side_Menu}
  </div>
  <div class="pusher">{breadcrumb}
    <ol class="breadcrumb">{rows}{row}
      <li class="{$active}"><a href="{$url}">{title}Home{/title}</a></li>{/row}{/rows}
    </ol>{/breadcrumb}
    <h1>{page_title}Page_Title{/}</h1>
    <div class="container">{$Content}</div>
  </div>
</div>