.ui.attached.menu
  .header.item xEpan
  {$Main_Menu}
  .right.menu
    {$notification_view}
    {$User_Menu}
.ui.attached.pushable
  .ui.left.vertical.visible.inverted.menu.sidebar
    .ui.inverted.message
      {$task_status}
    {$page_top_right}
    {$Side_Menu}
  .pusher
    {breadcrumb}
    ol.breadcrumb
      {rows}{row}
      li(class="{$active}")
        a(href='{$url}') {title}Home{/title}
      {/row}{/rows}
    {/breadcrumb}
    h1 {page_title}Page_Title{/}
    .container{$Content}