.container.ui-sortable.p-text-info(style='background-color: transparent;', component_type='Container', component_namespace='baseElements', data-extra-classes='p-text-info ')
  .editor.p-header-middle-line.editor-attached(contenteditable='false', data-extra-classes='p-header-middle-line', component_namespace='baseElements', component_type='Text', style=' ')
    h3(style='background-color: transparent;text-align: center;') Frequently Asked Questions 
  .row(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false')  Questions about templates
  .editor.editor-attached(contenteditable='false', style='', component_type='Text', component_namespace='baseElements')
    h5(style='background-color: transparent;') 1. How do I change my details?
    | When you sign in to your account, click the “My Accounts”. Here you
    |  can change your password and  personal details. This page also has an 
    | option to change your password. If you forget your password, don’t worry
    |  it happens to all of us! You can get a reminder by clicking the 
    | forgotten password link on the sign in page.
    br
    div
      h5 2. Where’s my order?
      | You can view your recent
      | orders in the  Orders tab in your account. This will show your current
      | orders in progress and your completed orders. You can check the progress
      |  of current orders here, and you can create reorders of old jobs using
      | the same graphic files.
    div(style='background-color: transparent;')
      h5 3. How can I pay?
      | We accept online payment. We require full payment before we start 
      | work. All our online payments are conducted through CCAvenue, a trusted 
      | and secure payment solution. 
      br
    div
      h5(style='background-color: transparent;') 4. How can I contact you?
      | Just visit our contact us page.
      br
  .row(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false')  Products and Services
      br
  .editor.editor-attached(contenteditable='false', style='background-color: transparent;', component_type='Text', component_namespace='baseElements')
    h5 1. What is your product range?
    | We sell a wide range of printed materials. Our core range includes 
    | business cards, booklets, leaflets, flyers, stationery,stickers, 
    | invitations, posters and postcards. You can view our full product range.
    br
    h5 2. How do I find the products I’m looking for?
    | We’ve tried to make it easy for you to find the right product for 
    | your needs. You can see our full product range. You can also see our 
    | products when you hover your mouse over the “Products & Prices” 
    | menu.
    br
    h5 3. When I reorder, will my product be exactly the same?
    | That depends; do you want it to be the same? When you reorder a 
    | job, you can pick whether you want us to use the same design you ordered
    |  before or whether you want to order a new design.
    br
    h5 4. How is my product printed?
    | All printing’s the same right? 
    br
    | Leaflets from us are the same as 
    | leaflets from that bloke your brother knows. Cards from that little shop
    |  on the high street are as good as ours, right? Wrong! They may sound 
    | the same, but it’s like comparing apples with whales. We give you a 
    | ‘business class’ product at an ‘economy class’ price. We print every 
    | order with High Definition Reproduction, through our world-class 
    | Production Hub. This means your photos and text will be printed so 
    | clearly you’ll want to lick them!
    br
    h5 5. How environmentally friendly are you?
    | We take every measure to reduce print waste and improve our environmental impact.
  .row(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false') Ordering Online
      br
  .editor.editor-attached(contenteditable='false', style='background-color: transparent;', component_type='Text', component_namespace='baseElements')
    h5 1. How do I edit Designs online?
    | To edit templates, simply select the template you want to edit and 
    | you’ll get options “PERSONALIZE “right-hand side of the page. Some parts
    |  of the template are not editable, so you will only be able to edit all 
    | the parts.
    br
    h5 2. How do I place an order online?
    | We’ve tried to make the process of online ordering easy, so you 
    | simply find the product you want in our product range and add it to your
    |  basket. We then let you configure your order so the printing and 
    | finishing of the product is best for the job at hand. Finally you pay 
    | through our secure check out service.
    br
    h5 3. What happens after I place an order?
    | If you’re using one of our designs, we’ll start work as soon as you
    |  checkout. After that our process is almost totally automated, for
    | reliable and robust service. You can even check the progress of your
    | order in the My Orders tab as part of your account
  .row(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false')  Dispatch and Delivery
      br
  .editor.editor-attached(contenteditable='false', style='background-color: transparent;', component_type='Text', component_namespace='baseElements')
    h5 1. How quick is your delivery?
    | We’ll work as quickly as you need us to. We follow FIFO rule.
    br
    h5(style='background-color: transparent;') 2. What happens if my order is late?
    | Your order will be delivered by our preferred partners. They 
    | publish on-time performance of 99%, so if “1 in a 100″ is too risky for 
    | you, please contact us to discuss delivering your order by dedicated 
    | vehicle.
    h5 3. What delivery options are available?
    | Your order will be delivered by our preferred partners. They 
    | publish on-time performance of 99%, so if “1 in a 100″ is too risky for 
    | you, please contact us to discuss delivering your order by dedicated 
    | vehicle.
    br
    h5 4. Can I deliver to a different address?
    | Sure. When you checkout, you can choose to deliver to your invoice 
    | address, any alternative from your Address Book, or a new delivery 
    | address you enter there and then.
    br
    h5(style='background-color: transparent;') 5. How do I change the delivery address after I’ve placed an order?
    | If you need to change the address you want your order delivered to,
    |  we can usually do this any time while your order shows as ‘in progress’
    |  in the My Orders tab. After your order is complete, it’s too late to 
    | change. If you have an ‘order in progress’ which you’d like to change, 
    | please contact us and tell us the address you’d like to send it to. We 
    | charge INR 500 +VAT for this service, plus any delivery charge 
    | differences.
    br
    h5 6. Where do you deliver to?
    | We can deliver to anywhere in India subject to availability of delivery by our preferred partners.
    br
    h5 7. How is my order packaged?
    | Your order will be despatched in printonclick.in packaging. It is
    | also a requirement of our carrier that printonclick.in will appear as
    | the sender on the shipping label.
  .row(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false')   Payments and Invoices
      br
  .editor.editor-attached(contenteditable='false', style='background-color: transparent;', component_type='Text', component_namespace='baseElements')
    h5(style='background-color: transparent;') 1. How much are your products?
    | We have a large product range with lots of different prices. Search
    |  our products to find the product you’re interested in and we’ll let you
    |  know the price before you add it to your basket. Generally speaking, 
    | our prices are low and our quality is high.
    br
    h5(style='background-color: transparent;') 2. I have a question about my invoice/payment, what should I do?
    | Please contact us if you have a question about an invoice or 
    | payment you’ve made. To get copies of invoices, Sign in to your account 
    | and then click the Invoices tab at the top of your webpage.
    br
    h5 3. Why am I being charged VAT?
    | Since we sell to lots of different businesses, all our prices exclude VAT. We’ll add VAT to your order at the current rate.
    br
    h5(style='background-color: transparent;') 4. Is my payment secure?
    | All online payments are made via CCAvenue which is a secure payment
    |  server.  CCAvenue is the India’s leading online payment provider.
    | Please note that CCAvenue never divulges your credit card information to
    |  anyone, including printonclick.in, so you can rest assured that your
    | billing details are safe.
  .row(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false')   Returns, Refunds and Customer Services
      br
  .editor.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
    h5 1. There is something wrong with my order, what do I do?
    | We work hard to make sure your order is produced to our high 
    | standards. In the unlikely event that you find something wrong, please 
    | contact us and explain the issue. We’ll do our best to resolve it to 
    | your satisfaction.
    h5 2. Can I cancel my order?
    | Once you’ve checked out, your order will begin our automated 
    | production process. As we’re manufacturing something just for you, it’s 
    | not possible to cancel your order once we begin.
    br
    h5 3. I’ve noticed a mistake, can I change my order?
    | Please check your design carefully before you finish. We offer
    | fantastic prices by automating our entire process. So the first set of
    | human eyes proof-reading your design will be your own when you open the
    | box. We don’t want you to be sad. So please check all telephone numbers,
    |  dates, times, addresses, prices and spelling before you order. If you
    | spot an error after you’ve ordered, then we’re sorry that we won’t be
    | able to rectify it.
