.container.ui-sortable.component-outline(style='width: auto; background-image: none; font-size: 13px;', component_type='Container', component_namespace='baseElements')
 .container.ui-sortable.component-outline(style='width: auto; background-image: url("epans/web/site%20images/vertical-line_bkg.png"); height: 60px; overflow: hidden;', component_type='Container', component_namespace='baseElements')
    .editor.epan-component.editor-attached.component-outline(contenteditable='false', style='width: 85%; margin: auto; font-size: 27px; font-family: Lato; padding-top: 8px;', component_type='Text', component_namespace='baseElements')
      | SAVED DESIGNS
      br
  .container.ui-sortable.component-outline.p-text-info(style=' ', component_type='Container', component_namespace='baseElements', data-extra-classes='p-text-info')
    .editor.p-header-middle-line(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements', data-extra-classes='p-header-middle-line')
      h3  	Saved Designs
    .editor.atk-padding-small.editor-attached.component-outline(contenteditable='false', style='font-size: 18px;', component_type='Text', component_namespace='baseElements', data-extra-classes='atk-padding-small')
      | Sign in to see your saved designs or browse our latest designs here.
      br
