div.container.width-90
	div.row
		div.col-lg-4
			h1 Item Images
			div.xepan-component(xepan-component="xepan\\commerce\\Tool_ItemImage" )
		div.col-lg-8
			h2 Item Description
			div.xepan-component(xepan-component="xepan\\commerce\\Tool_ItemDetail" )