div(id='{$_name}')
div.container.width-90
	div.row
		div.col-lg-12
			h2 
			span Item Description
			div.xepan-component(xepan-component="xepan\\commerce\\Tool_Designer" approved_design_checkbox_label="you approved your designs")