.row(style='opacity: 1;')
  .col-lg-12
    .row
      .col-lg-12
        ol.breadcrumb
          li
            a(href='#') Home
          li.active
            span CKEditor
        h1 CKEditor
    .row
      .col-lg-12
        .main-box.clearfix(style='min-height: 820px;')
          header.main-box-header.clearfix
            h2 CKEditor 4.3
          .main-box-body.clearfix
            .form-group
              textarea#exampleTextarea.form-control.ckeditor(rows='3', style='visibility: hidden;')
            p
              | Editor with very simple customization options.
footer#footer-bar.row(style='opacity: 1;')
  p#footer-copyright.col-xs-12
    | Powered by Cube Theme.
