.row(style='opacity: 1;')
  .col-lg-12
    .row
      .col-lg-12
        ol.breadcrumb
          li
            a(href='#') Home
          li.active
            span Form Elements
        h1 Form Elements
    .row
      .col-lg-6
        .main-box
          header.main-box-header.clearfix
            h2 Basic elements
          .main-box-body.clearfix
            form(role='form')
              .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
              .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password', placeholder='Password')
              .form-group
                label(for='exampleTextarea') Textarea
                textarea#exampleTextarea.form-control(rows='3')
              .form-group
                label(for='exampleTooltip') Input with Tooltip
                input#exampleTooltip.form-control(type='text', title='', data-placement='bottom', data-toggle='tooltip', data-original-title='very nice tooltip about this field')
              .form-group
                label Default Select
                select.form-control
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
              .form-group
                label Multiple select
                select.form-control(multiple='')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
              .form-group.form-group-select2
                label Enhanced Select
                select#sel2(style='width: 300px; display: none;', tabindex='-1')
                  option(value='United States') United States
                  option(value='United Kingdom') United Kingdom
                  option(value='Afghanistan') Afghanistan
                  option(value='Albania') Albania
                  option(value='Algeria') Algeria
                  option(value='American Samoa') American Samoa
                  option(value='Andorra') Andorra
                  option(value='Angola') Angola
                  option(value='Anguilla') Anguilla
                  option(value='Antarctica') Antarctica
                  option(value='Antigua and Barbuda') Antigua and Barbuda
                  option(value='Argentina') Argentina
                  option(value='Armenia') Armenia
                  option(value='Aruba') Aruba
                  option(value='Australia') Australia
                  option(value='Austria') Austria
                  option(value='Azerbaijan') Azerbaijan
                  option(value='Slovakia') Slovakia
                span.select2.select2-container.select2-container--default(dir='ltr', style='width: 300px;')
                  span.selection
                    span.select2-selection.select2-selection--single(aria-expanded='false', aria-haspopup='true', aria-autocomplete='list', role='combobox', tabindex='0', aria-labelledby='select2-sel2-container')
                      span#select2-sel2-container.select2-selection__rendered(title='United States') United States
                      span.select2-selection__arrow(role='presentation')
                        b(role='presentation')
                  span.dropdown-wrapper(aria-hidden='true')
              .form-group.form-group-select2
                label Multi-Value Select Boxes
                select#sel2Multi(multiple='', style='width: 300px; display: none;', tabindex='-1')
                  option(value='United States') United States
                  option(value='United Kingdom') United Kingdom
                  option(value='Afghanistan') Afghanistan
                  option(value='Albania') Albania
                  option(value='Algeria') Algeria
                  option(value='American Samoa') American Samoa
                  option(value='Andorra') Andorra
                  option(value='Angola') Angola
                  option(value='Anguilla') Anguilla
                  option(value='Antarctica') Antarctica
                  option(value='Antigua and Barbuda') Antigua and Barbuda
                  option(value='Argentina') Argentina
                  option(value='Armenia') Armenia
                  option(value='Aruba') Aruba
                  option(value='Australia') Australia
                  option(value='Austria') Austria
                  option(value='Azerbaijan') Azerbaijan
                  option(value='Slovakia') Slovakia
                span.select2.select2-container.select2-container--default(dir='ltr', style='width: 300px;')
                  span.selection
                    span.select2-selection.select2-selection--multiple(aria-expanded='false', aria-haspopup='true', aria-autocomplete='list', role='combobox', tabindex='0')
                      ul.select2-selection__rendered
                        li.select2-search.select2-search--inline
                          input.select2-search__field(type='search', role='textbox', spellcheck='false', autocapitalize='off', autocorrect='off', autocomplete='off', tabindex='-1', placeholder='Select a Country', style='width: 296px;')
                  span.dropdown-wrapper(aria-hidden='true')
              .form-group
                label(for='exampleAutocompleteSimple') Autocomplete
                span.twitter-typeahead(style='position: relative; display: inline-block;')
                  input.tt-hint(type='text', disabled='', spellcheck='off', autocomplete='off', style='position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255);')
                  input#exampleAutocompleteSimple.form-control.tt-query(type='text', placeholder='countries', autocomplete='off', spellcheck='false', style='position: relative; vertical-align: top; background-color: transparent;', dir='auto')
                  span(style='position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: "Open Sans",sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;')
                  span.tt-dropdown-menu(style='position: absolute; top: 100%; left: 0px; z-index: 100; display: none;')
              .form-group.example-twitter-oss
                label(for='exampleAutocomplete') Autocomplete with templating
                span.twitter-typeahead(style='position: relative; display: inline-block;')
                  input.tt-hint(type='text', disabled='', spellcheck='off', autocomplete='off', style='position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255);')
                  input#exampleAutocomplete.form-control.tt-query(type='text', placeholder='open source projects by Twitter', autocomplete='off', spellcheck='false', style='position: relative; vertical-align: top; background-color: transparent;', dir='auto')
                  span(style='position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: "Open Sans",sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;')
                  span.tt-dropdown-menu(style='position: absolute; top: 100%; left: 0px; z-index: 100; display: none;')
              .form-group
                label(for='examplePwdMeter') Password strength meter (start typing...)
                input#examplePwdMeter.form-control(type='password', data-indicator='pwindicator', placeholder='Enter password')
                #pwindicator.pwdindicator
                  .bar
                  .pwdstrength-label
      .col-lg-6
        .main-box
          header.main-box-header.clearfix
            h2 Other elements
          .main-box-body.clearfix
            .form-group.has-success
              label.control-label(for='inputSuccess') Input with success
              input#inputSuccess.form-control(type='text')
              span.help-block
                i.icon-ok-sign
                |  Success message
            .form-group.has-warning
              label.control-label(for='inputWarning') Input with warning
              input#inputWarning.form-control(type='text')
              span.help-block
                i.icon-warning-sign
                |  Warning message
            .form-group.has-error
              label.control-label(for='inputError') Input with error
              input#inputError.form-control(type='text')
              span.help-block
                i.icon-remove-sign
                |  Error message
            .form-group
              label(for='exampleInputFile') Disabled input
              input#exampleInputFile.form-control(type='text', disabled='', placeholder='Disabled input here...')
            .form-group
              label Checkboxes
              .checkbox-nice
                input#checkbox-1(type='checkbox', checked='checked')
                label(for='checkbox-1') Option one is this and that—be sure to include why it's great
              .checkbox-nice
                input#checkbox-2(type='checkbox')
                label(for='checkbox-2') Option two is this and that—be sure to include why it's great
              .checkbox-nice
                input#checkbox-3(type='checkbox')
                label(for='checkbox-3') Option three is this and that—be sure to include why it's great
            .form-group
              label Radio inputs
              .radio
                input#optionsRadios1(type='radio', checked='', value='option1', name='optionsRadios')
                label(for='optionsRadios1') Option one is this and that—be sure to include why it's great
              .radio
                input#optionsRadios2(type='radio', value='option2', name='optionsRadios')
                label(for='optionsRadios2') Option two can be something else and selecting it will deselect option one
            .form-group
              label Inline checkboxes
              br
              .checkbox-nice.checkbox-inline
                input#checkbox-inl-1(type='checkbox')
                label(for='checkbox-inl-1') 1
              .checkbox-nice.checkbox-inline
                input#checkbox-inl-2(type='checkbox')
                label(for='checkbox-inl-2') 2
              .checkbox-nice.checkbox-inline
                input#checkbox-inl-3(type='checkbox')
                label(for='checkbox-inl-3') 3
            h3
              span Checkbox buttons
            .btn-group(data-toggle='buttons')
              label.btn.btn-primary
                input(type='checkbox')
                |  Option 1
              label.btn.btn-primary
                input(type='checkbox')
                |  Option 2
              label.btn.btn-primary
                input(type='checkbox')
                |  Option 3
            h3
              span Radio buttons
            .btn-group(data-toggle='buttons')
              label.btn.btn-primary
                input#option1(type='radio', name='options')
                |  Option 1
              label.btn.btn-primary
                input#option2(type='radio', name='options')
                |  Option 2
              label.btn.btn-primary
                input#option3(type='radio', name='options')
                |  Option 3
            br
            br
    .row
      .col-lg-12
        .main-box
          header.main-box-header.clearfix
            h2 Inline form
          .main-box-body.clearfix
            form.form-inline(role='form')
              .form-group
                label.sr-only(for='exampleInputEmail2') Email address
                input#exampleInputEmail2.form-control(type='email', placeholder='Enter email')
              .form-group
                label.sr-only(for='exampleInputPassword2') Password
                input#exampleInputPassword2.form-control(type='password', placeholder='Password')
              .checkbox.checkbox-nice
                input#remember-me(type='checkbox', checked='checked')
                label(for='remember-me') Remember me
              button.btn.btn-success(type='submit') Sign in
    .row
      .col-lg-12
        .main-box
          header.main-box-header.clearfix
            h2 Horizontal form
          .main-box-body.clearfix
            form.form-horizontal(role='form')
              .form-group
                label.col-lg-2.control-label(for='inputEmail1') Email
                .col-lg-10
                  input#inputEmail1.form-control(type='email', placeholder='Email')
              .form-group
                label.col-lg-2.control-label(for='inputPassword1') Password
                .col-lg-10
                  input#inputPassword1.form-control(type='password', placeholder='Password')
              .form-group
                .col-lg-offset-2.col-lg-10
                  .checkbox-nice
                    input#remember-me2(type='checkbox', checked='checked')
                    label(for='remember-me2') Remember me
              .form-group
                .col-lg-offset-2.col-lg-10
                  button.btn.btn-success(type='submit') Sign in
    .row
      .col-lg-6
        .main-box
          header.main-box-header.clearfix
            h2 Input groups
          .main-box-body.clearfix
            form(role='form')
              .form-group
                label(for='examplePrepend') Prepend
                .input-group
                  span.input-group-addon @
                  input#examplePrepend.form-control(type='text', placeholder='prepend text here')
              .form-group
                label(for='exampleAppend') Append
                .input-group
                  input#exampleAppend.form-control(type='text')
                  span.input-group-addon .00
              .form-group
                label(for='exampleAppPre') Append and Prepend
                .input-group
                  span.input-group-addon $
                  input#exampleAppPre.form-control(type='text')
                  span.input-group-addon .00
              .form-group
                label(for='exmaplePrependCheck') Prepend checkbox
                .input-group
                  span.input-group-addon
                    input(type='checkbox')
                  input#exmaplePrependCheck.form-control(type='text')
              .form-group
                label(for='exampleRadio') Prepend radio
                .input-group
                  span.input-group-addon
                    input(type='radio')
                  input#exampleRadio.form-control(type='text')
              .form-group
                label(for='exmaplePrependButton') Prepend button
                .input-group
                  span.input-group-btn
                    button.btn.btn-primary(type='button') Go!
                  input#exmaplePrependButton.form-control(type='text')
              .form-group
                label(for='examplePrependDropdown') Prepend button dropdown
                .input-group
                  .input-group-btn
                    button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', type='button')
                      | Action 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider
                      li
                        a(href='#') Separated link
                  input#examplePrependDropdown.form-control(type='text')
      .col-lg-6
        .main-box
          header.main-box-header.clearfix
            h2 Masked inputs
          .main-box-body.clearfix
            .row
              .form-group.col-md-6
                label(for='maskedDate') Date
                .input-group
                  span.input-group-addon
                    i.fa.fa-calendar
                  input#maskedDate.form-control(type='text')
                span.help-block ex. 99/99/9999
            .row
              .form-group.col-md-6
                label(for='maskedPhone') Phone
                .input-group
                  span.input-group-addon
                    i.fa.fa-phone
                  input#maskedPhone.form-control(type='text')
                span.help-block ex. (999) 999-9999
            .row
              .form-group.col-md-6
                label(for='maskedPhoneExt') Phone + Ext
                .input-group
                  span.input-group-addon
                    i.fa.fa-mobile-phone
                  input#maskedPhoneExt.form-control(type='text')
                span.help-block ex. (999) 999-9999? x99999
            .row
              .form-group.col-md-6
                label(for='maskedTax') Tax ID
                .input-group
                  span.input-group-addon
                    i.fa.fa-money
                  input#maskedTax.form-control(type='text')
                span.help-block ex. 99-9999999
            .row
              .form-group.col-md-6
                label(for='maskedSsn') SSN
                .input-group
                  span.input-group-addon
                    i.fa.fa-male
                  input#maskedSsn.form-control(type='text')
                span.help-block ex. 999-99-9999
    .row
      .col-lg-12
        .main-box
          header.main-box-header.clearfix
            h2 Switches
          .main-box-body.clearfix
            .row
              .col-lg-12
                .pull-left
                  .onoffswitch
                    input#myonoffswitch.onoffswitch-checkbox(type='checkbox', checked='', name='onoffswitch')
                    label.onoffswitch-label(for='myonoffswitch')
                      .onoffswitch-inner
                      .onoffswitch-switch
                .pull-left
                  .onoffswitch.onoffswitch-danger
                    input#myonoffswitch2.onoffswitch-checkbox(type='checkbox', checked='', name='onoffswitch2')
                    label.onoffswitch-label(for='myonoffswitch2')
                      .onoffswitch-inner
                      .onoffswitch-switch
                .pull-left
                  .onoffswitch.onoffswitch-warning
                    input#myonoffswitch3.onoffswitch-checkbox(type='checkbox', checked='', name='onoffswitch3')
                    label.onoffswitch-label(for='myonoffswitch3')
                      .onoffswitch-inner
                      .onoffswitch-switch
                .pull-left
                  .onoffswitch.onoffswitch-success
                    input#myonoffswitch4.onoffswitch-checkbox(type='checkbox', checked='', name='onoffswitch4')
                    label.onoffswitch-label(for='myonoffswitch4')
                      .onoffswitch-inner
                      .onoffswitch-switch
                .clearfix  
                br
                span.help-block
                  | Pure CSS3 On/Off FlipSwitch - you can make your own custom on/off switch
                  a(target='_blank', href='http://proto.io/freebies/onoff/') here
    .row
      .col-lg-12
        .main-box
          header.main-box-header.clearfix
            h2 Datepickers
          .main-box-body.clearfix
            .row
              .col-lg-6
                .row
                  .form-group.col-md-12
                    label(for='datepickerDate') Date
                    .input-group
                      span.input-group-addon
                        i.fa.fa-calendar
                      input#datepickerDate.form-control(type='text')
                    span.help-block format mm-dd-yyyy
                .row
                  .form-group.col-md-12
                    label(for='datepickerDateRange') Date range
                    .input-group
                      span.input-group-addon
                        i.fa.fa-calendar-o
                      input#datepickerDateRange.form-control(type='text')
              .col-lg-6
                .row
                  .form-group.col-md-12
                    label(for='datepickerDateComponent') Date readonly
                    .input-group(data-date-format='dd-mm-yyyy')
                      input#datepickerDateComponent.form-control(type='text', readonly='')
                      span.input-group-addon
                        i.fa.fa-th
                    span.help-block As component.
                .row
                  .form-group.col-md-12
                    label(for='timepicker') Time picker
                    .input-group.input-append.bootstrap-timepicker
                      input#timepicker.form-control(type='text')
                      span.add-on.input-group-addon
                        i.fa.fa-clock-o
    .row
      .col-lg-12
        .main-box
          header.main-box-header.clearfix
            h2 Grid sizing
          .main-box-body.clearfix
            form(role='form')
              .row
                .form-group.col-xs-3
                  input.form-control(type='text', placeholder='.col-xs-3')
                .form-group.col-xs-3
                  input.form-control(type='text', placeholder='.col-xs-3')
                .form-group.col-xs-3
                  input.form-control(type='text', placeholder='.col-xs-3')
                .form-group.col-xs-3
                  input.form-control(type='text', placeholder='.col-xs-3')
              .row
                .form-group.col-xs-4
                  input.form-control(type='text', placeholder='.col-xs-4')
                .form-group.col-xs-4
                  input.form-control(type='text', placeholder='.col-xs-4')
                .form-group.col-xs-4
                  input.form-control(type='text', placeholder='.col-xs-4')
              .row
                .form-group.col-xs-6
                  input.form-control(type='text', placeholder='.col-xs-6')
                .form-group.col-xs-6
                  input.form-control(type='text', placeholder='.col-xs-6')
              .row
                .form-group.col-xs-7
                  input.form-control(type='text', placeholder='.col-xs-7')
                .form-group.col-xs-5
                  input.form-control(type='text', placeholder='.col-xs-5')
              .row
                .form-group.col-xs-12
                  input.form-control(type='text', placeholder='.col-xs-12')
footer#footer-bar.row(style='opacity: 1;')
  p#footer-copyright.col-xs-12 Powered by Cube Theme.
