
<div style="opacity: 1;" class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active"><span>Form Elements</span></li>
        </ol>
        <h1>Form Elements</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Basic elements</h2>
          </header>
          <div class="main-box-body clearfix">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input id="exampleInputEmail1" type="email" placeholder="Enter email" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Textarea</label>
                <textarea id="exampleTextarea" rows="3" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleTooltip">Input with Tooltip</label>
                <input id="exampleTooltip" type="text" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="very nice tooltip about this field" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Default Select</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label>Multiple select</label>
                <select multiple="" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group form-group-select2">
                <label>Enhanced Select</label>
                <select id="sel2" style="width: 300px; display: none;" tabindex="-1">
                  <option value="United States">United States</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antarctica">Antarctica</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Slovakia">Slovakia</option>
                </select><span dir="ltr" style="width: 300px;" class="select2 select2-container select2-container--default"><span class="selection"><span aria-expanded="false" aria-haspopup="true" aria-autocomplete="list" role="combobox" tabindex="0" aria-labelledby="select2-sel2-container" class="select2-selection select2-selection--single"><span id="select2-sel2-container" title="United States" class="select2-selection__rendered">United States</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>
              </div>
              <div class="form-group form-group-select2">
                <label>Multi-Value Select Boxes</label>
                <select id="sel2Multi" multiple="" style="width: 300px; display: none;" tabindex="-1">
                  <option value="United States">United States</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antarctica">Antarctica</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Slovakia">Slovakia</option>
                </select><span dir="ltr" style="width: 300px;" class="select2 select2-container select2-container--default"><span class="selection"><span aria-expanded="false" aria-haspopup="true" aria-autocomplete="list" role="combobox" tabindex="0" class="select2-selection select2-selection--multiple">
                      <ul class="select2-selection__rendered">
                        <li class="select2-search select2-search--inline">
                          <input type="search" role="textbox" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" tabindex="-1" placeholder="Select a Country" style="width: 296px;" class="select2-search__field"/>
                        </li>
                      </ul></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>
              </div>
              <div class="form-group">
                <label for="exampleAutocompleteSimple">Autocomplete</label><span style="position: relative; display: inline-block;" class="twitter-typeahead">
                  <input type="text" disabled="" spellcheck="off" autocomplete="off" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255);" class="tt-hint"/>
                  <input id="exampleAutocompleteSimple" type="text" placeholder="countries" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent;" dir="auto" class="form-control tt-query"/><span style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: &quot;Open Sans&quot;,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;"></span><span style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" class="tt-dropdown-menu"></span></span>
              </div>
              <div class="form-group example-twitter-oss">
                <label for="exampleAutocomplete">Autocomplete with templating</label><span style="position: relative; display: inline-block;" class="twitter-typeahead">
                  <input type="text" disabled="" spellcheck="off" autocomplete="off" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255);" class="tt-hint"/>
                  <input id="exampleAutocomplete" type="text" placeholder="open source projects by Twitter" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent;" dir="auto" class="form-control tt-query"/><span style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: &quot;Open Sans&quot;,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;"></span><span style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" class="tt-dropdown-menu"></span></span>
              </div>
              <div class="form-group">
                <label for="examplePwdMeter">Password strength meter (start typing...)</label>
                <input id="examplePwdMeter" type="password" data-indicator="pwindicator" placeholder="Enter password" class="form-control"/>
                <div id="pwindicator" class="pwdindicator">
                  <div class="bar"></div>
                  <div class="pwdstrength-label"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Other elements</h2>
          </header>
          <div class="main-box-body clearfix">
            <div class="form-group has-success">
              <label for="inputSuccess" class="control-label">Input with success</label>
              <input id="inputSuccess" type="text" class="form-control"/><span class="help-block"><i class="icon-ok-sign"></i> Success message</span>
            </div>
            <div class="form-group has-warning">
              <label for="inputWarning" class="control-label">Input with warning</label>
              <input id="inputWarning" type="text" class="form-control"/><span class="help-block"><i class="icon-warning-sign"></i> Warning message</span>
            </div>
            <div class="form-group has-error">
              <label for="inputError" class="control-label">Input with error</label>
              <input id="inputError" type="text" class="form-control"/><span class="help-block"><i class="icon-remove-sign"></i> Error message</span>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Disabled input</label>
              <input id="exampleInputFile" type="text" disabled="" placeholder="Disabled input here..." class="form-control"/>
            </div>
            <div class="form-group">
              <label>Checkboxes</label>
              <div class="checkbox-nice">
                <input id="checkbox-1" type="checkbox" checked="checked"/>
                <label for="checkbox-1">Option one is this and that—be sure to include why it's great</label>
              </div>
              <div class="checkbox-nice">
                <input id="checkbox-2" type="checkbox"/>
                <label for="checkbox-2">Option two is this and that—be sure to include why it's great</label>
              </div>
              <div class="checkbox-nice">
                <input id="checkbox-3" type="checkbox"/>
                <label for="checkbox-3">Option three is this and that—be sure to include why it's great</label>
              </div>
            </div>
            <div class="form-group">
              <label>Radio inputs</label>
              <div class="radio">
                <input id="optionsRadios1" type="radio" checked="" value="option1" name="optionsRadios"/>
                <label for="optionsRadios1">Option one is this and that—be sure to include why it's great</label>
              </div>
              <div class="radio">
                <input id="optionsRadios2" type="radio" value="option2" name="optionsRadios"/>
                <label for="optionsRadios2">Option two can be something else and selecting it will deselect option one</label>
              </div>
            </div>
            <div class="form-group">
              <label>Inline checkboxes</label><br/>
              <div class="checkbox-nice checkbox-inline">
                <input id="checkbox-inl-1" type="checkbox"/>
                <label for="checkbox-inl-1">1</label>
              </div>
              <div class="checkbox-nice checkbox-inline">
                <input id="checkbox-inl-2" type="checkbox"/>
                <label for="checkbox-inl-2">2</label>
              </div>
              <div class="checkbox-nice checkbox-inline">
                <input id="checkbox-inl-3" type="checkbox"/>
                <label for="checkbox-inl-3">3</label>
              </div>
            </div>
            <h3><span>Checkbox buttons</span></h3>
            <div data-toggle="buttons" class="btn-group">
              <label class="btn btn-primary">
                <input type="checkbox"/> Option 1
              </label>
              <label class="btn btn-primary">
                <input type="checkbox"/> Option 2
              </label>
              <label class="btn btn-primary">
                <input type="checkbox"/> Option 3
              </label>
            </div>
            <h3><span>Radio buttons</span></h3>
            <div data-toggle="buttons" class="btn-group">
              <label class="btn btn-primary">
                <input id="option1" type="radio" name="options"/> Option 1
              </label>
              <label class="btn btn-primary">
                <input id="option2" type="radio" name="options"/> Option 2
              </label>
              <label class="btn btn-primary">
                <input id="option3" type="radio" name="options"/> Option 3
              </label>
            </div><br/><br/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Inline form</h2>
          </header>
          <div class="main-box-body clearfix">
            <form role="form" class="form-inline">
              <div class="form-group">
                <label for="exampleInputEmail2" class="sr-only">Email address</label>
                <input id="exampleInputEmail2" type="email" placeholder="Enter email" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2" class="sr-only">Password</label>
                <input id="exampleInputPassword2" type="password" placeholder="Password" class="form-control"/>
              </div>
              <div class="checkbox checkbox-nice">
                <input id="remember-me" type="checkbox" checked="checked"/>
                <label for="remember-me">Remember me</label>
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Horizontal form</h2>
          </header>
          <div class="main-box-body clearfix">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input id="inputEmail1" type="email" placeholder="Email" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input id="inputPassword1" type="password" placeholder="Password" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <div class="checkbox-nice">
                    <input id="remember-me2" type="checkbox" checked="checked"/>
                    <label for="remember-me2">Remember me</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Input groups</h2>
          </header>
          <div class="main-box-body clearfix">
            <form role="form">
              <div class="form-group">
                <label for="examplePrepend">Prepend</label>
                <div class="input-group"><span class="input-group-addon">@</span>
                  <input id="examplePrepend" type="text" placeholder="prepend text here" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleAppend">Append</label>
                <div class="input-group">
                  <input id="exampleAppend" type="text" class="form-control"/><span class="input-group-addon">.00</span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleAppPre">Append and Prepend</label>
                <div class="input-group"><span class="input-group-addon">$</span>
                  <input id="exampleAppPre" type="text" class="form-control"/><span class="input-group-addon">.00</span>
                </div>
              </div>
              <div class="form-group">
                <label for="exmaplePrependCheck">Prepend checkbox</label>
                <div class="input-group"><span class="input-group-addon">
                    <input type="checkbox"/></span>
                  <input id="exmaplePrependCheck" type="text" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleRadio">Prepend radio</label>
                <div class="input-group"><span class="input-group-addon">
                    <input type="radio"/></span>
                  <input id="exampleRadio" type="text" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="exmaplePrependButton">Prepend button</label>
                <div class="input-group"><span class="input-group-btn">
                    <button type="button" class="btn btn-primary">Go!</button></span>
                  <input id="exmaplePrependButton" type="text" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="examplePrependDropdown">Prepend button dropdown</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button data-toggle="dropdown" type="button" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <input id="examplePrependDropdown" type="text" class="form-control"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Masked inputs</h2>
          </header>
          <div class="main-box-body clearfix">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="maskedDate">Date</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input id="maskedDate" type="text" class="form-control"/>
                </div><span class="help-block">ex. 99/99/9999</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="maskedPhone">Phone</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input id="maskedPhone" type="text" class="form-control"/>
                </div><span class="help-block">ex. (999) 999-9999</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="maskedPhoneExt">Phone + Ext</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                  <input id="maskedPhoneExt" type="text" class="form-control"/>
                </div><span class="help-block">ex. (999) 999-9999? x99999</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="maskedTax">Tax ID</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <input id="maskedTax" type="text" class="form-control"/>
                </div><span class="help-block">ex. 99-9999999</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="maskedSsn">SSN</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-male"></i></span>
                  <input id="maskedSsn" type="text" class="form-control"/>
                </div><span class="help-block">ex. 999-99-9999</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Switches</h2>
          </header>
          <div class="main-box-body clearfix">
            <div class="row">
              <div class="col-lg-12">
                <div class="pull-left">
                  <div class="onoffswitch">
                    <input id="myonoffswitch" type="checkbox" checked="" name="onoffswitch" class="onoffswitch-checkbox"/>
                    <label for="myonoffswitch" class="onoffswitch-label">
                      <div class="onoffswitch-inner"></div>
                      <div class="onoffswitch-switch"></div>
                    </label>
                  </div>
                </div>
                <div class="pull-left">
                  <div class="onoffswitch onoffswitch-danger">
                    <input id="myonoffswitch2" type="checkbox" checked="" name="onoffswitch2" class="onoffswitch-checkbox"/>
                    <label for="myonoffswitch2" class="onoffswitch-label">
                      <div class="onoffswitch-inner"></div>
                      <div class="onoffswitch-switch"></div>
                    </label>
                  </div>
                </div>
                <div class="pull-left">
                  <div class="onoffswitch onoffswitch-warning">
                    <input id="myonoffswitch3" type="checkbox" checked="" name="onoffswitch3" class="onoffswitch-checkbox"/>
                    <label for="myonoffswitch3" class="onoffswitch-label">
                      <div class="onoffswitch-inner"></div>
                      <div class="onoffswitch-switch"></div>
                    </label>
                  </div>
                </div>
                <div class="pull-left">
                  <div class="onoffswitch onoffswitch-success">
                    <input id="myonoffswitch4" type="checkbox" checked="" name="onoffswitch4" class="onoffswitch-checkbox"/>
                    <label for="myonoffswitch4" class="onoffswitch-label">
                      <div class="onoffswitch-inner"></div>
                      <div class="onoffswitch-switch"></div>
                    </label>
                  </div>
                </div>
                <div class="clearfix"> </div><br/><span class="help-block">Pure CSS3 On/Off FlipSwitch - you can make your own custom on/off switch<a target="_blank" href="http://proto.io/freebies/onoff/">here</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Datepickers</h2>
          </header>
          <div class="main-box-body clearfix">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="datepickerDate">Date</label>
                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input id="datepickerDate" type="text" class="form-control"/>
                    </div><span class="help-block">format mm-dd-yyyy</span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="datepickerDateRange">Date range</label>
                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                      <input id="datepickerDateRange" type="text" class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="datepickerDateComponent">Date readonly</label>
                    <div data-date-format="dd-mm-yyyy" class="input-group">
                      <input id="datepickerDateComponent" type="text" readonly="" class="form-control"/><span class="input-group-addon"><i class="fa fa-th"></i></span>
                    </div><span class="help-block">As component.</span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="timepicker">Time picker</label>
                    <div class="input-group input-append bootstrap-timepicker">
                      <input id="timepicker" type="text" class="form-control"/><span class="add-on input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Grid sizing</h2>
          </header>
          <div class="main-box-body clearfix">
            <form role="form">
              <div class="row">
                <div class="form-group col-xs-3">
                  <input type="text" placeholder=".col-xs-3" class="form-control"/>
                </div>
                <div class="form-group col-xs-3">
                  <input type="text" placeholder=".col-xs-3" class="form-control"/>
                </div>
                <div class="form-group col-xs-3">
                  <input type="text" placeholder=".col-xs-3" class="form-control"/>
                </div>
                <div class="form-group col-xs-3">
                  <input type="text" placeholder=".col-xs-3" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-4">
                  <input type="text" placeholder=".col-xs-4" class="form-control"/>
                </div>
                <div class="form-group col-xs-4">
                  <input type="text" placeholder=".col-xs-4" class="form-control"/>
                </div>
                <div class="form-group col-xs-4">
                  <input type="text" placeholder=".col-xs-4" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-6">
                  <input type="text" placeholder=".col-xs-6" class="form-control"/>
                </div>
                <div class="form-group col-xs-6">
                  <input type="text" placeholder=".col-xs-6" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-7">
                  <input type="text" placeholder=".col-xs-7" class="form-control"/>
                </div>
                <div class="form-group col-xs-5">
                  <input type="text" placeholder=".col-xs-5" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12">
                  <input type="text" placeholder=".col-xs-12" class="form-control"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer-bar" style="opacity: 1;" class="row">
  <p id="footer-copyright" class="col-xs-12">Powered by Cube Theme.</p>
</footer>