
<div style="opacity: 1;" class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active"><span>Form wizard</span></li>
        </ol>
        <h1>Form wizard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div style="min-height: 820px;" class="main-box clearfix">
          <header class="main-box-header clearfix">
            <h2>Click on the button bellow to open the wizard</h2>
          </header>
          <div class="main-box-body clearfix">
            <button id="open-wizard" class="btn btn-primary">Open wizard</button>
            <div id="wizard-demo" class="wizard">
              <h1>Create Server</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer-bar" style="opacity: 1;" class="row">
  <p id="footer-copyright" class="col-xs-12">Powered by Cube Theme.</p>
</footer>