.row(style='opacity: 1;')
  .col-lg-12
    .row
      .col-lg-12
        ol.breadcrumb
          li
            a(href='#') Home
          li.active
            span X-Editable
        h1 X-Editable
    .row
      .col-lg-12
        .main-box.clearfix
          header.main-box-header.clearfix
            h2 Demo table from X-Editable example
          .main-box-body.clearfix
            .table-responsive
              table#user.table.table-hover(style='clear: both')
                thead
                  tr
                    th
                      span Type
                    th
                      span Click to edit
                tbody
                  tr
                    td(width='35%') Simple text field
                    td(width='65%')
                      a#username.editable.editable-click(data-title='Enter username', data-pk='1', data-type='text', href='#') superuser
                  tr
                    td Empty text field, required
                    td
                      a#firstname.editable.editable-click(data-title='Enter your firstname', data-placeholder='Required', data-placement='right', data-pk='1', data-type='text', href='#') Empty
                  tr
                    td Select, local array, custom display
                    td
                      a#sex.editable.editable-click(style='color: gray;', data-title='Select sex', data-value='', data-pk='1', data-type='select2', href='#') not selected
                  tr
                    td Select, remote array, no buttons
                    td
                      a#group.editable.editable-click(data-title='Select group', data-source='/groups', data-value='5', data-pk='1', data-type='select', href='#') Admin
                  tr
                    td Select, error while loading
                    td
                      a#status.editable.editable-click(data-title='Select status', data-source='/status', data-value='0', data-pk='1', data-type='select', href='#') Active
                  tr
                    td Datepicker
                    td
                      span.notready not implemented for Bootstrap 3 yet
                  tr
                    td Combodate (date)
                    td
                      a#dob.editable.editable-click(data-title='Select Date of birth', data-pk='1', data-template='D / MMM / YYYY', data-viewformat='DD/MM/YYYY', data-format='YYYY-MM-DD', data-value='1984-05-15', data-type='combodate', href='#') 15/05/1984
                  tr
                    td Combodate (datetime)
                    td
                      a#event.editable.editable-click(data-title='Setup event date and time', data-pk='1', data-viewformat='MMM D, YYYY, HH:mm', data-format='YYYY-MM-DD HH:mm', data-template='D MMM YYYY  HH:mm', data-type='combodate', href='#') Empty
                  tr
                    td
                      | Textarea, buttons below. Submit by 
                      i ctrl+enter
                    td
                      a#comments.editable.editable-pre-wrapped.editable-click(data-title='Enter comments', data-placeholder='Your comments here...', data-pk='1', data-type='textarea', href='#') awesome user!
                  tr
                    td Checklist
                    td
                      a#fruits.editable.editable-click(data-title='Select fruits', data-value='2,3', data-type='checklist', href='#')
                        | peach
                        br
                        | apple
                  tr
                    td Select2 (tags mode)
                    td
                      a#tags.editable.editable-click(data-title='Enter tags', data-pk='1', data-type='select2', href='#') html, javascript
                  tr
                    td Select2 (dropdown mode)
                    td
                      a#country.editable.editable-click(data-title='Select country', data-value='SK', data-pk='1', data-type='select2', href='#') Slovakia
footer#footer-bar.row(style='opacity: 1;')
  p#footer-copyright.col-xs-12
    | Powered by Cube Theme.
