div(class="xepan-login-panel")
  .jumbotron.well.text-center 
    .row
      .alert.alert-info
        .h3
          .strong Already Logged In!  
        .strong Click on the My Account link above to navigate to your account.
