div(class="xepan-login-panel")
  .jumbotron.well.text-center(style = "background: #eea849;")
    .row Activate your account by filling up the below information and clicking on verify email button
  .panel.panel-default
    .panel-heading
      strong  Activate your Account
    .panel-body(style="margin-top:30px;margin-bottom:30px;")
      form(role='form', action='#', method='POST')
        fieldset
          .row(style="padding-bottom:20px;")
             .col-sm-12.col-md-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  .atk-form-row.atk-form-field.xepan-form-field{$email}
              .form-group
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  .atk-form-row.atk-form-field.xepan-form-field{$activation_code}    
                  //- input(placeholder='Username', name='loginname', type='text', autofocus='')
          .row
            .col-xs-12
              button.btn.btn-success.col-xs-12(type='submit') Verify Email 
    .panel-footer
      a.forgot-link.back-login.xepan-login-panl-loadview( data-showview="login_view" style="margin-left:85px;") Back to login
      a.forgot-link.back-login.xepan-login-panl-loadview( data-showview="verify_again" style="margin-left:150px;") Resend verification
