div(class="xepan-login-panel")
  .jumbotron.well.text-center(style = "background: #eea849;")
    .row Enter your email and click on send E-mail button to receive mail
  .panel.panel-default
    .panel-heading
      strong  Send email to continue
    .panel-body(style="margin-top:30px;margin-bottom:30px;")
      form(role='form', action='#', method='POST')
        fieldset
          .row(style="padding-bottom:20px;")
            .col-sm-12.col-md-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  .xepan-form-field{$email}    
          .row
            .col-xs-12
              button.btn.btn-success.col-xs-12(type='submit') Send E-Mail
    .panel-footer.text-center
      a.forgot-link.back-login.xepan-login-panl-loadview(data-showview="login_view") Back to login
       #login-box-footer                        
