div(class="xepan-login-panel")
  .jumbotron.well.text-center(style = "background: #eea849;")
    .row Enter your mail and click on send E-Mail to receive welcome mail again 
  .panel.panel-default
    .panel-heading
      strong  Activate your Account
    .panel-body
      form(role='form', action='#', method='POST')
        fieldset
          .row(style="padding-bottom:20px;")
            .col-sm-12.col-md-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  .atk-form-row.atk-form-field.xepan-form-field{$email}
          .row.xepan-push-large
            .col-xs-12
              button.btn.btn-success.col-xs-12(type='submit') Send Email 
    .panel-footer.text-center 
      a.forgot-link.back-login.xepan-login-panl-loadview( data-showview="login_view") Back to login                        
