.main-box.clearfix
  header.main-box-header.clearfix
    h2 Custom alerts
  .main-box-body.clearfix
    .alert.alert-block.alert-danger.fade.in
      button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
      h4 Oh snap! You got an error!
      p
        | Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
      p
        a.btn.btn-danger(href='#') Take this action
        a.btn.btn-default(href='#') Or do this
    .alert.alert-block.alert-success.fade.in
      button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
      h4 Successfully saved!
      p
        | Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      p
        a.btn.btn-success(href='#') Take this action
        a.btn.btn-default(href='#') Or do this
