.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Simple alerts
    .main-box-body.clearfix
      .alert.alert-success
        i.fa.fa-check-circle.fa-fw.fa-lg
        strong Well done!
        |  You successfully read this important alert message.
      .alert.alert-info
        i.fa.fa-info-circle.fa-fw.fa-lg
        strong Heads up!
        |  This alert needs your attention, but it's not super important.
      .alert.alert-warning
        i.fa.fa-warning.fa-fw.fa-lg
        strong Warning!
        |  Best check yo self, you're not looking too good.
      .alert.alert-danger
        i.fa.fa-times-circle.fa-fw.fa-lg
        strong Oh snap!
        |  Change a few things up and 
        a.alert-link(href='#') try submitting again
        | .
