.container.width-90.p-text-info(style='background-color: transparent;')
  .editor( style='width: 85%; margin: auto; font-size: 27px; font-family: Lato; padding-top: 8px;')
    h3  SAVED DESIGNS
     br
.container.width-90.p-text-info(style='background-color: transparent;')
  .editor.p-header-middle-line
    h3(style='background-color: transparent;text-align: center;width:420px !important;')  	Saved Designs
  p Sign in to see your saved designs or browse our latest designs here.
      br