.container.width-90.p-text-info(style='background-color: transparent;')
    .editor.epan-component.p-header-middle-line.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements', data-extra-classes='p-header-middle-line')
      h3(style='background-color: transparent;text-align: center;width:420px !important;') Terms and Conditions
        br
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p Please read the following terms and conditions very carefully as your use of the service is subject to your acceptance of and compliance with the following terms and conditions ("Terms").
      br
      p By subscribing to or using any of our services you agree that you have read, understood and are bound by the Terms, regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms, you must not subscribe to or use our services.
      br
      p In these Terms, references to "you", "User" shall mean the end user accessing the Website, its contents and using the Services offered through the Website. "Service Providers" mean independent third party service providers, and "we", "us" and "our" shall mean Printonclick, its franchisor, affiliates and partners.
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Introduction
    .editor.epan-component.editor-attached(contenteditable='false', style='', component_type='Text', component_namespace='baseElements')
      p The www.printonclick.in website ("Website") is an Internet based content and e-commerce portal. Use of the Website is offered to you conditioned on acceptance without modification of all the terms, conditions and notices contained in these Terms, as may be posted on the Website from time to time. Printonclick.in at its sole discretion reserves the right not to accept a User from registering on the Website without assigning any reason thereof.
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 User Account, Password, and Security
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p You will receive a password and account designation upon completing the Website's registration process. You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify Printonclick.in of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. Printonclick.in cannot and will not be liable for any loss or damage arising from your failure to comply with this Section 2.
      br
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Services Offered
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      .row
        p Printonclick.in provides a number of Internet-based services through the Web Site (all such services, collectively, the "Service"). One such service enables users to purchase original merchandise such as business cards, notebooks, stamps etc. (collectively, "Products"). Upon placing an order, Printonclick.in shall ship the product to you and be entitled to its payment for the Services
        br
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Privacy Policy
    .editor.epan-component.editor-attached(contenteditable='false', style='', component_type='Text', component_namespace='baseElements')
      p The User hereby consents, expresses and agrees that he has read and fully understands the Privacy Policy of Printonclick.in Website. The user further consents that the terms and contents of such Privacy Policy are acceptable to him.
      br
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Limited User:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p The User agrees and undertakes not to reverse engineer, modify copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information or software obtained from the Website. Limited reproduction and copying of the content of the Website is permitted provided that Printonclick name is stated as the source and prior written permission of Printonclick.in is sought. For the removal of doubt, it is clarified that unlimited or wholesale reproduction, copying of the content for commercial or non-commercial purposes and unwarranted modification of data and information within the content of the Website is not permitted.
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p User Conduct and Rules:
    .editor.epan-component.editor-attached(contenteditable='false', style='background-color: transparent;', component_type='Text', component_namespace='baseElements')
      p You agree and undertake to use the Website and the Service only to post and upload messages and material that are proper. By way of example, and not as a limitation, you agree and undertake that when using a Service, you will not:
      br
      br
      ol
        li
          p Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others;
        li
          p Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information;
        li
          p Upload files that contain software or other material protected by intellectual property laws unless you own or control the rights thereto or have received all necessary consents;
        li
          p Upload or distribute files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Website or another's computer;
        li
          span.Apple-tab-span(style='white-space:pre')
          p Conduct or forward surveys, contests, pyramid schemes or chain letters;
        li
          span.Apple-tab-span(style='white-space:pre')
          p Download any file posted by another user of a Service that you know, or reasonably should know, cannot be legally distributed in such manner;
        li
          span.Apple-tab-span(style='white-space:pre')
          p Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded;
        li
          span.Apple-tab-span(style='white-space:pre')
          p Violate any code of conduct or other guidelines, which may be applicable for or to any particular Service;
        li
          span.Apple-tab-span(style='white-space:pre')
          p Violate any applicable laws or regulations for the time being in force in or outside India.
        li
          span.Apple-tab-span(style='white-space:pre')  
          p Violate any of the terms and conditions of this Agreement or any other terms and conditions for the use of the Website contained elsewhere herein.
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p User Warranty and Representation:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      .row
        p The user guarantees, warrants, and certify that you are the owner of the content which you submit or otherwise authorized to use the content and that the content does not infringe upon the property rights, intellectual property rights or other rights of others. You further warrant that to your knowledge, no action, suit, proceeding, or investigation has been instituted or threatened relating to any content, including trademark, trade name, service mark, and copyright formerly or currently used by you in connection with the Services rendered by Printonclick.in.
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Exactness Not Guaranteed:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p Printonclick.in hereby disclaims any guarantees of exactness as to the finish and appearance of the final Product as ordered by the user. The quality of any products, Services, information, or other material purchased or obtained by you through the Website may not meet your expectations. Before any alterations to certain aspects of your order such as spellings, grammar etc, that a representative from Printonclick.in will call you or send an approval request via the email address which you submitted when placing your order. If you do not agree with the requested change you retain the right to reject the requested production change by replying to it within 7 days of it being sent to you.
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Intellectual Property Rights
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      ol
        li(style='background-color: transparent;')
          span.Apple-tab-span(style='white-space:pre')
          p Unless otherwise indicated or anything contained to the contrary or any proprietary material owned by a third party and so expressly mentioned, Printonclick.in owns all Intellectual Property Rights to and into the Website, including, without limitation, any and all rights, title and interest in and to copyright, related rights, patents, utility models, trademarks, trade names, service marks, designs, know-how, trade secrets and inventions (whether patentable or not), goodwill, source code, meta tags, databases, text, content, graphics, icons, and hyperlinks. You acknowledge and agree that you shall not use, reproduce or distribute any content from the Website belonging to Printonclick.in without obtaining authorization from Printonclick.in.
        li
          span.Apple-tab-span(style='white-space:pre')
          p Notwithstanding the foregoing, it is expressly clarified that you will retain ownership and shall solely be responsible for any content that you provide or upload when using any Service, including any text, data, information, images, photographs, music, sound, video or any other material which you may upload, transmit or store when making use of our various Services. However, with regard to the product customization Service (as against other Services like blogs and forums) you expressly agree that by uploading and posting content onto the Website for public viewing and reproduction/use of your content by third party users, you accept the User whereby you grant a non-exclusive license for the use of the same.
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Links to Third Party Sites
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p The Website may contain links to other websites ("Linked Sites").  The Linked Sites are not under the control of Printonclick.in or the Website and Printonclick.in is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Printonclick.in is not responsible for any form of transmission, whatsoever, received by you from any Linked Site. Printonclick.in is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Printonclick.in or the Website of the Linked Sites or any association with its operators or owners including the legal heirs or assigns thereof. The users are requested to verify the accuracy of all information on their own before undertaking any reliance on such information.
      br
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Indemnification:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p You agree to indemnify, defend and hold harmless Printonclick.in from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by Printonclick.in that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by you pursuant to these Terms.
      br
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2 Shipping:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p Title and risk of loss for all products ordered by you shall pass on to you upon Printonclick.in shipment to the shipping carrier.
      br
    .epan-component(style='', component_type='Title', component_namespace='baseElements')
      h2.editor.editor-attached(contenteditable='false') Termination
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      ol
        li
          p Printonclick.in may suspend or terminate your use of the Website or any Service if it believes, in its sole and absolute discretion that you have breached any of the Terms.
        li
          p If you or Printonclick.in terminates your use of the Website or any Service, Printonclick.in may delete any content or other materials relating to your use of the Service and Printonclick.in will have no liability to you or any third party for doing so.
        li
          p You shall be liable to pay for any Service or product that you have already ordered till the time of Termination by either party whatsoever. Further, you shall be entitled to your royalty payments as per the User License Agreement that has or is legally deemed accrued to you.
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2 Governing Law:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at New Delhi
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 1.Headings
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p The headings and subheadings herein are included for convenience and identification only and are not intended to describe, interpret, define or limit the scope, extent or intent of the Terms or the right to use the Website by you contained herein or any other section or pages of the Website or any Linked Sites in any manner whatsoever.
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 2.Interpretation of Number and Genders:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p The Terms herein shall apply equally to both the singular and plural form of the terms defined. Whenever the context may require, any pronoun shall include the corresponding masculine and feminine. The words "include", "includes" and "including" shall be deemed to be followed by the phrase "without limitation". Unless the context otherwise requires, the terms "herein", "hereof", "hereto", "hereunder" and words of similar import refer to the Terms as a whole.
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 3.Severability:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p If any provision of the Terms is determined to be invalid or unenforceable in whole or in part, such invalidity or unenforceability shall attach only to such provision or part of such provision and the remaining part of such provision and all other provisions of these Terms shall continue to be in full force and effect.
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 4.Report Abuse:
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p As per these Terms, users are solely responsible for every material or content uploaded on to the Website. Printonclick.in does not review the contents in any way before they appear on the Website. Printonclick.in does not verify, endorse or otherwise vouch for the contents of any user or any content generally posted or uploaded on to the Website. Users can be held legally liable for their contents and may be held legally accountable if their contents or material include
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 6.Terms for Promotions/Contests/Offers/Campaigns
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p 7.General Terms for Offers and Promotions
      br
      br
      ol
        li(style='background-color: transparent;')
          span.Apple-tab-span(style='white-space:pre')
          p Discounts will be applied to the total merchandise value including VAT and applicable taxes. Issuance or redemption of a voucher or coupon will apply to the total value of the qualifying order once all promotional discounts have been applied. Final charges after applying coupons and vouchers will be inclusive of product charges and as well as customization charges
        li
          span.Apple-tab-span(style='white-space:pre')
          p Only one credit note/gift coupon/coupon can be used per order unless otherwise stated.
        li
          span.Apple-tab-span(style='white-space:pre')
          p Discount coupons - Discount coupons may from time to time be offered to account holders; such coupons may only be applied to purchases made through the account to which the discount coupon was offered and registered. If you need a refund, this will be made in the same way as the original payment method (such as onto a gift voucher, debit/credit card account, a combination of the two and in case of COD, a cheque).
        li
          span.Apple-tab-span(style='white-space:pre')
          p Promotional discount coupons - We may from time to time offer promotional discount coupons which may apply in respect of any, or certain specified, purchases made though this Website.
        li
          span.Apple-tab-span(style='white-space:pre')
          p Printonclick.in shall introduce various offers, schemes or contest at different times. The terms and conditions for such Contest shall be separately available on the Site.
        li
          span.Apple-tab-span(style='white-space:pre')
          p Printonclick.in reserves the right to change/modify/add/delete any of the terms and conditions prevailing on the different promotional schemes it introduces in market from time to time. Printonclick.in, at its discretion, can withdraw a particular scheme from the website or market.
        li
          span.Apple-tab-span(style='white-space:pre')
          p In case of any query pertaining to use of coupon and/or credit note or regarding the schemes, please email customer care at support@printonclick.i.
        li
          span.Apple-tab-span(style='white-space:pre')
          p While participating in any Printonclick.in contest you hereby agree to release and hold Printonclick.in (and its officers, directors, agents, subsidiaries, affiliates, joint ventures, and employees) harmless from any claim or demand, but not limited to reasonable attorneys' fees, or arising out of or related to your participation in the said Contest.
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 8.Credit Check and Fraud Prevention
    .editor.epan-component.editor-attached(contenteditable='false', style='', component_type='Text', component_namespace='baseElements')
      .row
        p We use standard and authorized payment services and our Credit Check and Fraud Prevention policies are aligned to these companies. All disputes would be handled by Udaipur court.
        br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 9.Other uses of your personal information
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p We use standard and authorized payment services and our Credit Check and Fraud Prevention policies are aligned to these companies. All disputes would be handled by Udaipur court.
      br
      p Other uses of your personal information
      br
      p We may use your personal information for opinion and market research. Your details are anonymous and will only be used for statistical purposes in Printonclick.in. You can choose to opt out of this at any time. Any answers to surveys or opinion polls Printonclick.in may ask you to complete will not be forwarded on to third parties. Disclosing your email address is only necessary if you would like to take part in competitions. We save the answers to our surveys separately from your email address.
      br
      br
      p We may also send you other information about us, the Site, our other websites, our products, sales promotions, our newsletters, anything relating to other companies in our group or our business partners. If you would prefer not to receive any of this additional information as detailed in this paragraph (or any part of it) please click the “unsubscribe” link in any email that we send to you. Within 7 working days (days which are neither a Saturday/Sunday, nor a public holiday anywhere in India) of receipt of your instruction we will cease to send you information as requested. If your instruction is unclear we will contact you for clarification.
      br
      br
      p We may further anonymize data about users of the Site generally and use it for various purposes, including ascertaining the general location of the users and usage of certain aspects of the Site or a link contained in an email to those registered to receive them, and supplying that anonymized data to third parties such as publishers. However, that anonymized data will not be capable of identifying you personally.
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 10.Cookies
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p The acceptance of cookies is not a requirement for visiting the Site. However we would like to point out that the some functionality on the Site and ordering is only possible with the activation of cookies. Cookies are tiny text files which identify your computer to our server as a unique user when you visit certain pages on the Site and they are stored by your Internet browser on your computer's hard drive. Cookies can be used to recognize your Internet Protocol address, saving you time while you are on, or want to enter, the Site. We only use cookies for your convenience in using the Site (for example to remember who you are when you want to amend your shopping cart without having to re-enter your email address) and not for obtaining or using any other information about you (for example targeted advertising). Your browser can be set to not accept cookies, but this would restrict your use of the Site. Please accept our assurance that our use of cookies does not contain any personal or private details and are free from viruses. The Site uses technology from Google Analytics through which data is collected and stored for marketing and optimization purposes and data use profiles are prepared under a pseudonym. Cookies may be used for this. The cookies enable recognition of the Internet browser. The data collected with these technologies is not used, without separate authorization by the person concerned, to personally identify the visitors to this website and is not collated with personal data on the pseudonym holder. The permission for data recording and storage may at any time be cancelled with on-going effect.
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 11.Consent
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p By submitting data to us or our agent or using the Site, you consent to our use of your data in the manner set out in this Privacy Policy.
      br
    .epan-component(style=' ', component_type='Title', component_namespace='baseElements')
      h2
        p 12.Copyright
    .editor.epan-component.editor-attached(contenteditable='false', style=' ', component_type='Text', component_namespace='baseElements')
      p We have copyright over this Privacy Policy. Use by third parties, even by way of extract, for commercial purposes is not allowed. Infringements may be subject to legal action.
      br
      p This Privacy Policy can change at any time to include / exclude clauses and does not bear responsibility for updating Users on the same
