div(id="{$_name}")
  h3 Login
  div
  h4
    | Enter email and password for login
  form
    .atk-form-row.atk-form-field
      | {$username}{$fieldError}
    .atk-form-row.atk-form-field
      | {$password}
    input(type='submit', value='Login')
  {footer_wrapper}
  .panel-footer.row(style="margin:auto")
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      {login_wrapper}
      a#login-forget-link.forgotpassword.xepan-login-panl-loadview.pull-left(style='cursor:pointer; cursor: hand; max-width:600px;', data-showview='forget_password') Forgot password
      {/}
    .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
      {register_wrapper}
      a.reg_view.xepan-login-panl-loadview(style='cursor:pointer; cursor: hand; max-width:600px;', data-showview='new_registration')  Register now 
      {/}
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      {activate_wrapper}
      a.reg_view.xepan-login-panl-loadview.pull-right(style='cursor:pointer; cursor: hand; max-width:600px;', data-showview='verify_account')
        | Activate
        #login-box-footer
      {/} 
  {/}
  div.text-center.text-primary {$message}        
    style.
        #{$_name} input{
          width:100%;
        }