div(id="{$_name}")
  h3 Reset Password
  div
  h4
    p
      | Enter your new password and click on reset button
      br
      | Sign in to continue
  form
    div
      .atk-form-row.atk-form-field
        | {$email}
    div
      .atk-form-row.atk-form-field
        | {$secret_code}
    div
      .atk-form-row.atk-form-field
        | {$password}
    div
      .atk-form-row.atk-form-field
        | {$retype_password}
    div
    input(type='submit', value='Login')
  .panel-footer.row(style="margin:auto")
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      {forgot_wrapper}
      a#login-forget-link.forgotpassword.xepan-login-panl-loadview.pull-left(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="forget_password") Forgot password
      {/}
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      {register_wrapper}
      a.text-center.col-xs-5.reg_view.xepan-login-panl-loadview(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="new_registration")  Register now 
      {/}
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      {activate_wrapper}
      a.reg_view.xepan-login-panl-loadview.pull-right(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="verify_account")  Activate 
       #login-box-footer 
      {/} 
  style.
      #{$_name} input{
        width:100%;
      }