div(id="{$_name}")
  h3 Forgot Password
  div
  h4
    | Enter email and click on send
  form
    div
      .atk-form-row
        .xepan-form-field{$email}
    div
    input(type='submit', value='Send')
  .panel-footer.text-center
    {login_wrapper}
    a.forgot-link.back-login.xepan-login-panl-loadview(style='cursor:pointer; cursor: hand;', data-showview="login_view") Back to login
     #login-box-footer
    {/}  
  style.
      #{$_name} input{
        width:100%;
      }