div(id="{$_name}")
  h3 Activate your Account
  div
  h4
    | Enter Email For Resend The Activation Code
  form
    div
      .atk-form-row.atk-form-field
        .xepan-form-field{$email}
    input(type='submit', value='Send Email')
  .panel-footer.text-center 
    {login_wrapper} 
    a.forgot-link.back-login.xepan-login-panl-loadview(style="cursor:pointer; cursor: hand;" data-showview="login_view") Back to login                        
    {/}
  style.
      #{$_name} input{
        width:100%;
      }