.col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.green-box
            .main-box-body.clearfix
              span.label.pull-right.label-danger Jaipur Printing
              .project-box-header.green-bg
                .name
                  a(href='#')
                    | Marketing phase 1 content  
              .project-box-content
                  span
                    |Content will be shown here Lorem Ipsum is simply a dummy text of printing and Content will be shown here Lorem Ipsum is simply a dummy text of printing 
              .project-box-footer.clearfix
                a(href='#')
                  span.value 0
                  span.label Likes
                a(href='#')
                  span.value 0
                  span.label Follows
                a(href='#')
                  span.value 0
                  span.label Comments
              .project-box-ultrafooter.clearfix
                .col-lg-4
                  {$test_button}
                .col-lg-4
                  a.btn.btn-primary.btn-sm(href='#')
                    i.fa.fa-sm
                    i.fa.fa-delicious
                    span &nbsp;
                    | Delete
                .col-lg-4  
                  a.btn.btn-primary.btn-sm(href='#')
                    i.fa.fa-sm
                    i.fa.fa-delicious
                    span &nbsp;  
                    |Edit  