
<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="main-box clearfix project-box green-box">
    <div class="main-box-body clearfix"><span class="label pull-right label-danger">Jaipur Printing</span>
      <div class="project-box-header green-bg">
        <div class="name"><a href="#">Marketing phase 1 content  </a></div>
      </div>
      <div class="project-box-content"><span>Content will be shown here Lorem Ipsum is simply a dummy text of printing and Content will be shown here Lorem Ipsum is simply a dummy text of printing </span></div>
      <div class="project-box-footer clearfix"><a href="#"><span class="value">0</span><span class="label">Likes</span></a><a href="#"><span class="value">0</span><span class="label">Follows</span></a><a href="#"><span class="value">0</span><span class="label">Comments</span></a></div>
      <div class="project-box-ultrafooter clearfix">
        <div class="col-lg-4">{$test_button}</div>
        <div class="col-lg-4"><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-sm"></i><i class="fa fa-delicious"></i><span>&nbsp;</span>Delete</a></div>
        <div class="col-lg-4"> <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-sm"></i><i class="fa fa-delicious"></i><span>&nbsp;  </span>Edit  </a></div>
      </div>
    </div>
  </div>
</div>