.xepan-commerce-tool-cart.check(id="{$_name}" class="{$class}")
    {$Content}
    {Pannel}
    {$grid_buttons} 
    {/Pannel}
    {lister}
    h1 My Shopping Bag ({$total_count})
    .col-md-9.cart-items
      .cart-header
        {header}
        {cols}{col}
        {/}{/}
        {/}
        {$subheader}
        {rows}{row}
        tr(class="{$odd_even} xepan-commerce-tool-cart-item-row" data-id="{$id}").rem1
          {cols}
          td.invert-image
            a(href='single')
              img.img-responsiveimg(alt='{image}{/}' src='{$image_url}' onerror="this.src='vendor/xepan/commerce/templates/view/tool/cart/images/not-found.png'")
          td.invert
            {qty_wrapper}
            {qty_form}
            {$qty}
            {/}{/}
          td.invert 
            .text-muted Code : 
                span.text-sucess {$item_code} 
            div.text-warning.xepan-name(style="width:75%") {$name}
            {design_edit_wrapper}
            {design_edit}
            a(href="{$design_edit_url}")
                small Edit Design
            {/}
            {/}
            small {custom_fields_wrapper}
            small {custom_field}
            div 
                small 
                    {$id}: {$name}
            {/}{/}

          td.invert 
            table.timetable_sub
                tbody
                    tr
                        td(style='border: 0px solid #cdcdcd;')
                            div.text-left Unit Price
                            div.text-left Shipping Charge 
                        td(style='border: 0px solid #cdcdcd;')
                            div.text-right.xepan-commerce-tool-total {unit_price}{/}
                            div.text-right 
                                {$shipping_charge_amount}<br/>
                            {$shipping_duration_text}
          td.invert {$amount_including_tax}
          {cart_item_remove_button_wrapper}
          td.invert
            .rem
                button.close1.xepan-commerce-cart-item-delete(data-cartid='{$id}' style='margin-left: auto; margin-right: auto; position: initial;')
          {/}
          {/}
        {/}{/}
    {/lister}
    {not_found}
    .xepan-cart-empty
      {$not_found_message}
    {/}
    {footer}
    .col-md-3.cart-total
      a.continue(href='index') Continue to basket
      .price-details
        h3 Price Details
        span Total Amount 
        span.total1 {$total_amount} 
        span Shipping Amount 
        span.total1 {$total_shipping_amount} 
        span Gross Amount 
        span.total1 {$gross_amount}
        {discount_voucher_wrapper} 
        span Apply Coupon 
        span.total1 {$discount_voucher}
        span Discount Amount
        span.total1 {$discount_amount}
        {/}
        {express_shipping_wrapper}
        span Express Shipping
        span.total1.xepan-cart-express-shipping-checkout {$express_shipping_checkbox}
        {/}
      ul.total_price
        li.last_price
          h4 Net Amount 
        li.last_price {$net_amount}
        .clearfix
      .clearfix
      {proceed_to_next_button_wrapper}
      a.order.xepan-cart-proceed-to-next-btn(href='#')
        | Proceed To Checkout
      {/}
      a.order(href='index')
        | Continue Shopping
    .clearfix  
    {/footer}
