.p-manubar{
 margin-bottom: 0px !important;
}
.temp-content{
   min-height:500px !important;
}
.xshop-search-btn{
height:38px !important;
width:30px !important;
background-color:#ff7d23 !important;
}
.xhop-itemdetail-name > h1{
color:white !important;
padding:5px;
font-size:18px;
}
.xhop-itemdetail-name, .p-gradient-background{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef7e1a+72,ffffff+72,ffffff+73,f6a607+73,f6a607+79,fdd490+80,f6a607+80,ffffff+80,ffffff+81,fdd490+81,fdd490+87,ffffff+87,ffffff+88,ffffff+88,d4ecfb+88,a2d9f6+94,ffffff+94,ffffff+95,a2d9f6+95 */
background: rgb(239,126,26); /* Old browsers */
background: -moz-linear-gradient(left, rgba(239,126,26,1) 72%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 73%, rgba(246,166,7,1) 73%, rgba(246,166,7,1) 79%, rgba(253,212,144,1) 80%, rgba(246,166,7,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 81%, rgba(253,212,144,1) 81%, rgba(253,212,144,1) 87%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 88%, rgba(212,236,251,1) 88%, rgba(162,217,246,1) 94%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 95%, rgba(162,217,246,1) 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(72%,rgba(239,126,26,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(73%,rgba(255,255,255,1)), color-stop(73%,rgba(246,166,7,1)), color-stop(79%,rgba(246,166,7,1)), color-stop(80%,rgba(253,212,144,1)), color-stop(80%,rgba(246,166,7,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(81%,rgba(255,255,255,1)), color-stop(81%,rgba(253,212,144,1)), color-stop(87%,rgba(253,212,144,1)), color-stop(87%,rgba(255,255,255,1)), color-stop(88%,rgba(255,255,255,1)), color-stop(88%,rgba(255,255,255,1)), color-stop(88%,rgba(212,236,251,1)), color-stop(94%,rgba(162,217,246,1)), color-stop(94%,rgba(255,255,255,1)), color-stop(95%,rgba(255,255,255,1)), color-stop(95%,rgba(162,217,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(239,126,26,1) 72%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 73%,rgba(246,166,7,1) 73%,rgba(246,166,7,1) 79%,rgba(253,212,144,1) 80%,rgba(246,166,7,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(253,212,144,1) 81%,rgba(253,212,144,1) 87%,rgba(255,255,255,1) 87%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 88%,rgba(212,236,251,1) 88%,rgba(162,217,246,1) 94%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 95%,rgba(162,217,246,1) 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(239,126,26,1) 72%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 73%,rgba(246,166,7,1) 73%,rgba(246,166,7,1) 79%,rgba(253,212,144,1) 80%,rgba(246,166,7,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(253,212,144,1) 81%,rgba(253,212,144,1) 87%,rgba(255,255,255,1) 87%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 88%,rgba(212,236,251,1) 88%,rgba(162,217,246,1) 94%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 95%,rgba(162,217,246,1) 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(239,126,26,1) 72%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 73%,rgba(246,166,7,1) 73%,rgba(246,166,7,1) 79%,rgba(253,212,144,1) 80%,rgba(246,166,7,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(253,212,144,1) 81%,rgba(253,212,144,1) 87%,rgba(255,255,255,1) 87%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 88%,rgba(212,236,251,1) 88%,rgba(162,217,246,1) 94%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 95%,rgba(162,217,246,1) 95%); /* IE10+ */
background: linear-gradient(to right, rgba(239,126,26,1) 72%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 73%,rgba(246,166,7,1) 73%,rgba(246,166,7,1) 79%,rgba(253,212,144,1) 80%,rgba(246,166,7,1) 80%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(253,212,144,1) 81%,rgba(253,212,144,1) 87%,rgba(255,255,255,1) 87%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 88%,rgba(212,236,251,1) 88%,rgba(162,217,246,1) 94%,rgba(255,255,255,1) 94%,rgba(255,255,255,1) 95%,rgba(162,217,246,1) 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7e1a', endColorstr='#a2d9f6',GradientType=1 ); /* IE6-9 */
}

.editor.epan-component.editor-attached h4{
  color:  #7b7d7d;
}

.button-order {
display: block;
background: blue;
width/*: 63px;
height:*/ 34px;
}


ul.xshop-item:hover{
border-bottom: 0px solid #f7a707 !important;
    border-left: 0px solid #f7a707 !important;
    border-right: 0px solid #f7a707 !important;
}

td  .middle{
position:relative;
text-align:center;
padding-top:20px;
}
.middle:after {
    border-left: 2px solid #f8be49;
    bottom: 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.xshop-item{
box-shadow: inset -10px 0px 0px 0px white;
}
.list-group-item:first-child {
 border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}
.list-group-item{
  padding : 5px !important;
}
.xshop-filter-tool-header{
text-align:center;
font-size:17px;
padding:5px; 
}

.xshop-tool-header{
text-align:center;
font-size:17px;
padding:2px; 
color:#4f5cb7;
}

.xshop-item-name-header{
font-size:20px;
font-family:Times;
padding:2px; 
}

.xshop-item-paginator{
  margin-top:10px;
  width:99%; 
  background-color:#D4ECFB !important;
  border: 1px solid #dadde0;
}

.xshop-item-paginator > div{
  padding: 0.5em !important;
  border-radius: 0px !important;
  width: 100%;
  text-align:center;
  margin:0 auto 0px auto !important;
}

.xshop-item-paginator a{
    background-color:   #EBECEC !important;
    border: 1px solid #A2D9F6;
    border-radius: 3px !important;
    color: black;
    font-weight: bold;
    padding: 4px 10px 4px 10px !important;
}
.xshop-item-paginator a.ui-state-active {
   color:red !important;
}

.xshop-category-name{
   border-right: 1px solid white;
   color: white;
   font-weight:bold;
   width:80%;
   background-color:#EF7E1A;
   padding:7px;
   float:left;
  font-size:17px;
}
.xshop-category-item-count{
    border-left: 2px solid white;
   font-weight:bold;
   padding:5px;
   float:left;
   background-color:#44C0F0;
   width:20%;
   font-size:17px;
}

.xshop-category-item-count:after {
  content: " Designs";
}
.filter-col{
padding-right:5px;
}
.cat-filter-heading{
text-align:center;
font-size:17px;
padding:5px;
background-color:#CFEFFC;
}

.p-topbar-row{
font-size :16px;
}
.p-search ::-webkit-input-placeholder {
color: white !important ; 
}
.p-search ::-moz-placeholder {
color: white !important ; 
}

.sky-mega-menu li li a{
padding:0 12px !important;
}

.grid-container3 li{
  z-index: 30;
}

.grid-container3 li a .sky-menu-thumbnail-name{
  line-height:30px !important;
  padding-top:5px;
  padding-bottom:5px;
}

.sky-mega-menu li{
line-height:40px !important;
}

.back-product-btn{
   color:#f7a707;
   padding:3px;
   border:1px solid #f7a737;
  font-size:15px; 
  float:right;
  cursor:pointer;
}
.back-product-btn a{
color :#f7a707 !important;
text-decoration:none;
}
.p-icon-right{
padding-right:30px !important;
height:26px !important;
}
/*.p-page-min-height .ui-tabs-active a{
   background-color:#fdd490 !important;
}

.p-page-min-height .ui-tabs-nav li:nth-of-type(1n){
 background-color:#A2D9F6 !important;
}

.p-page-min-height .ui-tabs-nav li:nth-of-type(2n){
 background-color:#A2D9F6 !important;
}
.p-page-min-height .ui-tabs-nav li:nth-of-type(3n){
 background-color:#A2D9F6 !important;
}*/

.nav-tabs > .active > a{
  background-color:#fdd490 !important;
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-tabs li{
  background-color:#A2D9F6;
}

#tab-Summary h2{
  font-size: 2rem;
  text-decoration: underline;
}

#tab-Summary p{
  padding: 8px 0px 3px 0px;
}

.pading{
  padding: 5px 3px 11px 8px;
}
.tab-content{
  padding:3px 0px 0px 8px;
  
  border: 2px #99ccff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  margin-left:1px;
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.xshop-item-detail-design{
   float:right !important;
}

.xshop-item-detail-price > span{
font-size:50px;
}
.sky-mega-menu li:nth-of-type(1n){
  background-color:#FF7D23 !important;
  
}

.sky-mega-menu li:nth-of-type(2n){
  background-color:#FFA22B !important;
}
.sky-mega-menu li:nth-of-type(3n){
  background-color:#FFCE8E !important;
}
.sky-mega-menu li:nth-of-type(4n){
  background-color:#8CE0F9 !important;
}
.sky-mega-menu li:nth-of-type(5n){
  background-color:#C5EFFC !important;
}
.sky-mega-menu li{
   font-size: 16px !important;
}

.p-icon-account a{
text-decoration: none;
color:black;
padding-top: 2px;
padding-right:30px;
height:26px;
color:black;
}
.xshop-cart-proceed{
min-height:0px !important;
}
/*Top Bar Icon Class*/
.p-icon{
padding-top: 2px;
padding-left:30px;
height:26px;
color:black;
}

.xcart-icon{
background-image: url("epans/web/site_images/home_page/print_on_click_cart_icon.png");
background-repeat : no-repeat;
padding-top: 4px;
height:28px;
border-left: 2px solid white !important;
margin-right: 20px;
    padding-top: 4px;
}
.myaccount{
border-left: 2px solid white !important;
background-color: #44c0f0;
    height: 28px;
    padding-top: 3px;
    margin-right: 4px; 
    padding-left: 15px
}
.userpanel{
background-color: #44c0f0;
    border-left: 2px solid white !important;
    height: 28px;
    margin-right: -15px;
    padding-right: 15px;
    padding-top: 3px;

}
.p-search{
  margin-top:30px;
}
.p-search  input {
background-color: #FFCE8E;
color: white;
font-weight:bold;
height: 35px;
}

.atk-table input[placeholder]{
font-size:13px !important;
}

.nivo-controlNav{
height: 29px !important;
padding: 0px !important;
background: linear-gradient(to bottom, #afb0b3 0%, #afb0b3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
border-top: 1px solid #afb0b3 !important;
}
.nivo-directionNav a:hover{
color:black !important;
}
.nivo-nextNav {
    background-color: #f7a707;
    border-left: 2px solid white !important;
    height: 29px;
    margin-bottom: -9px;
    margin-right: -15px;
    padding-top: 4px;
    right: -50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.nivo-prevNav {
    left :  -50px !important;
    background-color: #f7a707;
    border-right: 2px solid white !important;
    height: 29px !important;
    margin-bottom: -9px;
    padding-top: 4px;
    text-align: center;
    vertical-align: middle;
    width: 50px !important;
}

.theme-bar:hover  a.nivo-prevNav {
left : 0px !important;
}

ul.xshop-item{
  background-color: #EDEDED;
  margin-top: 10px;
}

.xshop-item-img{
 padding : 10px 10px 10px 0px;
}
.xshop-item-name{
border-left: 20px solid #ffa22b;
    color: #4cc3e9;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
    font-size:13px !important;
}

/*item detail*/
.xshop-item-custom-field{
	/*clear: both;*/
	width:50% !important;
	float: left !important;
}
/*User Panel */
.xepan-user-panel-shortlink{
margin-top:10px;
border-top: 1px solid #f3f3f3;
}

.xepan-user-panel-shortlink  div:hover{
color:#f7a707;
}
.xepan-login-forget-password-link, .xepan-login-verify-account-link,.xepan-login-link, .xepan-login-registration-link {
margin-top:5px;
cursor:pointer;
}


/*Cart Detail at Designer Tool*/
.xepan-xshop-designer-cart-container > div:first-child,.xshop-designer-item-custom-field-container  > div {
 padding-top:10px;
 padding-bottom:10px;
 border-bottom:1px solid #f3f3f3;
 width:100%;
}
.xshop-item-add-to-cart-btn{
   //#f78828
    background: linear-gradient(to bottom, #fff 0px, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #da7532;
    border-radius: 0px !important;
    cursor: pointer;
    outline: 0 none;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.33);
   color: #f7a707;
}


/*End*/

.checkfilter input
{
  width: 50px !important;
  float:right;
  transform: translateY(-31%);
} 

.xshop-item-detail-code{
padding:10px 0 0 0 !important;
}
/*Border Radius Setting up to 0*/
.atk-table > .atk-box-small, .ui-tabs-nav li {
border-radius:0 !important;
}

/**/
.xshop-item-detail{
box-shadow:0 0 0 !important;
padding:0px;
}
.xhop-itemdetail-name > h1{
color:#fa7707;
//background: linear-gradient(to right, rgb(255, 125, 35) 0%, rgb(207, 239, 252) 52%) repeat scroll 0 0 transparent;
}

/*setting Page Height*/
.p-page-min-height{
min-height:500px
}

/*Category Specific*/
.p-category-specific-detail{
padding:20px;
color:#f7a707;
font-weight:left;
font-size:20px;
}
/**/

/**/
.prime-scan textarea{

}
/**/

/*All Text Box CSS*/
.p-text-info p{
padding: 10px;
font-size: 15px;
line-height: 1.5;
font-weight: normal;
font-family: times-romans;
color:gray;
}

.p-text-info h5{
margin-top: 10px;
text-align: justify;
font-size: 18px;
font-weight: 400;
}

/*Title */
.p-text-info h2{
color:#f7a707;
border-bottom:1px solid #f3f3f3;
padding-top:10px;
padding-bottom:10px;
margin-top:10px;
font-size: 20px;
}
/*End of all Text */

.p-background-fit{
 background-size:100% !important;
 height:500px;
}
/**/
div.p-header-middle-line{
 background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' enable-background='new 0 0 1 1' fill='%23f7a707' xml:space='preserve'><rect width='1' height='1'/></svg>"); 
background-repeat: repeat-x; 
background-position: left; 
text-align: center;
margin-top:30px;
margin-bottom:30px;
}

.p-header-middle-line > h3{
text-transform: uppercase;
margin: 0 auto; 
padding:0 10px; 
font-size:20px;
width:25% !important;
background-color:#fff !important;
font-family:Lato !important;
text-align:center;
color:#00A0E3;
border: 1px solid gray;
border-radius: 75px;
font-weight: bold ;
}

/*ALL Drop Down*/
.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all{
border-radius:0 !important;
min-width:100% !important;
}
.xshop-item-custom-dropdown-box >span{
width:100% !important;
}
/*End of All Dropdown*/

/*ALL Input Box Setup*/

.xepan-user-panel input[type="text"], .xepan-user-panel input[type="password"], .xepan-user-panel input[type="number"], .xepan-user-panel textarea, .prime-scan input[type="text"], .prime-scan input[type="password"], .prime-scan input[type="number"], .prime-scan textarea{
display: block; 
font-size: 18px;   
appearance: none;  
box-shadow: none; 
border-radius: 0px !important;
font-family:Lato !important;
}

.xshop-item-personalize{
  float:right;
}
.xshop-item-personalize,.xshop-item-personalize > button,.xshop-item-addtocart > button{
background-image: url("../image/site/print_on_click_button_personalize.png");
background-repeat: no-repeat;
width:auto !important;
/*color:#f7a707;*/
padding:5px 5px;
font-size:15px;
margin-top:5px;
cursor:pointer;
color: rgb(51, 51, 51); 
padding: 6px 24px; 
background-color:#f7a707;
color:white;
}

.xshop-item-personalize > button:hover,.xshop-item-personalize:hover{
/*color:white;*/
background-size:30px;
}

.scroll-item {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: auto;
    max-height:250px;
    background: white;
}

.xshop-item-personalize > button:active{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.xshop-item-personalize,.xshop-item-personalize > button{
 background-image:url('../image/site/print_on_click_button_personalize.png'); 
 background-position:right; 
 background-size:25px;
 padding-right:35px;
}

.xepan-user-panel button,.prime-scan button, .xshop-item-personalize{
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
   -webkit-border-radius:0px;
    border-radius:0px !important;
}
.xepan-user-panel button:before, .prime-scan button:before, .xshop-item-personalize:before{
    background: none repeat scroll 0 0 #f7a707;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 0 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.xepan-user-panel button:hover, .prime-scan button:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active, .xshop-item-personalize :hover, .xshop-item-personalize :focus, .xshop-item-personalize:active{
  cursor:pointer;
}

/*.xepan-user-panel button:hover:before, .prime-scan button:hover:before, .prime-scan button:focus:before, .prime-scan button:active:before, .xshop-item-personalize:hover:before, .xshop-item-personalize:focus:before, .xshop-item-personalize:active:before  {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}*/

.prime-scan *{
font-family: Lato !important; 
border-radius:0 !important;
}

.prime-designer  .xepan-xshop-designer-cart-container,  .xepan-xshop-designer-cart-container  div{
clear: both;
}


//for removinf extra height of cart on topbar
.p-heading .xshop-cart-button-div{
    box-shadow: 0px 0px 0px #ccc ;
    margin: 0px !important;
    padding-bottom: 0px !important;
   display:none !important;
}
.p-heading .xshop-cart-proceed{
    min-height: 0px !important;
}
.p-heading .xshop-sort-cart-anchor > span{
  display:none;
}
.p-heading .xshop-cart-container div.col-md-4{
min-width:66.6667% !important;
}
.p-manubar{
    box-shadow: 0 8px 6px -7px #333;
    min-height:20px;
    background: linear-gradient(to right, rgb(255, 125, 35) 0%, rgb(207, 239, 252) 52%) repeat scroll 0% 0% transparent;
   
}
.p-border-left{
border-left: 1px solid gray;
padding-left:10px;
}

/*Footer*/
.p-footer{
background: #1c2933;
color:white;
}

.p-footer h3 {
color:#f7a707;
font-family:Lato;

}
.p-footer a{
text-decoration:none;
color : white;
}
/*end of footer*/

/*social*/
.p-social{
clear:all;
margin-right:15px;
float:left;
margin-top:10px;
}
/*end social*/

/*topbar*/
.p-topbar{
    background-color: #D4EDFC;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 5px 5px -7px #999;
}
.p-topbar a{
text-decoration:none;
color:black;
}
.footer a{
  color:white;
  font-family: times-roman;
}
/*end of topbar*/

.p-heading{
    font-size: 18px;
    /*color: #808080;*/
    line-height: 30px;
}

.p-spotlight{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.2em;
    padding: 0.32em;
    text-shadow: 0 1px 1px #000;
   width:100%;
}

/*Add Block*/
.p-show-header{
background-color: transparent; 
color: rgb(255, 255, 255); 
font-size: 48px;
}
/**/

/*slider CSS*/

.theme-bar.slider-wrapper {
 box-shadow:3px 8px 5px gray;
 border:0px !important;
}
.login-p-header-h3 >h3{
  width:45%!important;
}

.p-form-btn {
 background-color: #00CC66 !important;
color:white !important;
}

.cart-spinner{
width:100px !important;
}

.xshop-category-main-container > div > div > h3{
	font-size:20px !important;
	padding:5px !important;
}
.xshop-cart-proceed{
background-color:#f7a707;
color:white;
margin-top:10px;
}
.xshop-cart-proceed button{
background-color:#F7A707;
padding:10px 30px 10px 30px;
color:white;
font-size:16px;
}

.xshop-cart-detail-estimate-container{
background-color:none repeat scroll 0 0 rgba(162, 217, 246, 0.33)
}
ul.xshop-item li:first-child{
height:230px;
}

.full-width{
  width: 100%;
}

.width-90{
  width:90%;
}

.move-center{
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 0;
  margin-top: 0;
}

.width-70{
  width:70%;
}

.width-50{
  width: 50%;
}
.width-40{
  width: 40%;
}
.footer-menu{
  padding:10px;
}

.footer h3{
  color: #f7a707;
  font-size:16px;
}
.footer{
  background-color:#141b22;
  padding-top: 15px;
  margin-top: 10px;
}

.zoomWrapper{
  width: 100%;
  overflow: hidden;
}

.zoomwrapper-img, .zoomWrapper img{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}

.zoom3-small-image-container{

}

.xshop-item-image-list{
  width: 100%;
  z-index: 10px;
}

.zoomContainer{
height: auto !important;
}

.zoomTint,.zoomLens img{
  /*border: 3px solid red;*/
}

.xshop-item-image-block{
  width:20%;
  padding: 3px;
  outline: 1px solid black !important;
  float: left;
  margin-left:4px; 
}

.xshop-item-image-block img{
  width:100%;
}

.zoom3-small-image{
  width:100%;
  position: relative;
}

/*ul.xshop-item{
  height:600px !important;
}*/


//SHORT-CART CSS

.xepan-commerce-tool-cart .dropdown-menu{
    min-width:250px !important;
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.xepan-commerce-tool-cart .table .table-hover thead,th,span{
  /*background-color:#eeeeee;*/
  font-size:5px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: .950em;
  font-weight: normal;
  padding: 0;
  color: #292c2e;

}

.xepan-commerce-tool-total-name{
  font-weight: 300;

}

.th{
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: bold;
}

.xepan-commerce-tool-total{
  font-weight: 900;
}

.xepan-btn{
  color: #607d8b;
}

/*.round-button {
  width:25%;
}*/
.round-button-circle {
  width: 100%;
  background: rgb(234, 83, 62) none repeat scroll 0 0;
  border: 0 solid red;
  color: white;
  width: 100%;
}

.xepan-name{
  font-size: 1.1em;
  font-weight: 300;
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item-left{
    float:left;
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item-left img,
.xepan-commerce-tool-cartul.dropdown-cart li .item-left span.item-info{
    float:left;
}

.short-cart-item-name{
    font-size: 12px;
}

.short-cart-item-detail{
    font-size:10px;
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
.xepan-commerce-tool-cart ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}

.xepan-commerce-tool-cart ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

.reset-margin{
  margin: 0px;
}

.reset-padding{
  padding:0px;
}

.xepan-commerce-tool-cart ol,ul{
  margin-bottom: 0px;
}


.atk-cell .atk-jackscrew input{
  width: 100%;
}

.atk-cells{
  display: table;
  width: 100%;
}

.atk-cells > .atk-cell{
  display: table-cell;
  vertical-align: middle;
}

.atk-align-right{
  text-align:right;
}

.atk-align-left{
  text-align:left;
}

.files-container div{
float:left;
margin:10px;
}

.grid-container3 li a{
  padding:8px !important;
}

table.prime-category-item-selector td:nth-child(3){
padding:10px !important; 
}

table.prime-category-item-selector td:nth-child(3) > a{
 background-color:#ff9900;
   padding: 5px;
    color: white;
    box-shadow: 1px 1px 1px black;
    font-weight: 700;

}

.prime-category-item-selector tr:nth-child(odd) {
background: #F6F6F6;
}

table.prime-category-item-selector tr:nth-child(even) {
background-color: rgb(255, 252, 229);
}

.prime-category-item-selector  h2{
padding:10px;background-color:white
}
.prime-category-item-selector tr:nth-child(2){
background-color:white !important;
}

.xshop-cart-detail-estimate-container{
background-color:none repeat scroll 0 0 rgba(162, 217, 246, 0.33)
}
ul.xshop-item li:first-child{
height:230px;
}

.xshop-item-old-price{
display:none !important;
}
.amount-label{
float: left !important;
font-size:16px;
}
.amount-lable{
float:left;
}
.xshop-item-price{
position:absolute;
margin-left:100px;
}

.xshop-item-detail-price > span{
font-size:20px;
}

.prime-page-container{
  margin-top: 30px;
}

.prime-category-detail > div > div > div > div > hr{
  margin-bottom: -15px !important;
}
/*
.prime-category-detail > div > div > div > table{
  margin-top:-10px !important;
}*/

.prime-cart{
  background-color: rgb(212,237,252);

}

.prime-cart-empty{
  text-align: center;
  font-size: 15px;
}
.xshop-category{
  z-index: 20 !important;
}

.carousel-caption{
  z-index: 0 !important;
}
.carousel-indicators{
  z-index: 1 !important;
}

table div.middle{
  margin-top: 8px !important;
}

.prime-swatch-light-blue{
  background-color: #cfeffc;
  font-size: 17px;
  padding: 5px;
  text-align: center;
}

.prime-swatch-dark-blue{
  background-color: rgb(68,192,240);
  font-size: 17px;
  padding: 5px;
  color: white;
  text-align: center;
}

.prime-swatch-dark-orange{
    background-color: #ef7e1a;
    border-right: 1px solid white;
    color: white;
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}

.prime-swatch-dark-orange:hover{
    background-color: #ef7e1a;
}

.prime-login input{
  border-radius:0px 5px 5px 0px !important;
  height:35px;
}

.prime-login div.atk-cells-group{
  width:100% !important;
}
.member-acount-left-panel button{
  border:0px;
  background-color:white;
  width:100%;
  padding:5px;
  font-size:15px;
}

.member-acount-left-panel button.active{
  background-color:#ffb347;
  color:white;
  font-weight: bold;
}
.member-acount-left-panel button:hover{
  background-color:#ffcc33;
}

.xepan-designer-step-active{
  background-color:rgb(119,186,93); 
  color: white;
  padding: 10px;
  font-weight: bold;
}
.xepan-designer-step-deactive{
  padding: 10px;
  background-color: rgb(242,242,242);
  color: black;
  border-right:1px solid rgb(235,103,82);
}

.xepan-designer-next-step-button, .xepan-designer-previous-step-button{
  padding: 10px;
  border-radius:40px !important;
  width:80px !important;
  transition: all .2s ease-in-out;
}

.xepan-designer-next-step-button{
  margin-right: 10px;
}

.xepan-designer-previous-step-button{
  margin-left: 10px;
}

.field-error-text{
  color:red !important;
}


.xepan-designer-next-step-button:hover{
  transform: scale(1.1);
  background-color: rgb(68,192,240) !important;
  color: white !important;
}


.button-section{
  padding: 1px;
}

.button-section button{
  border-radius: 40px !important;
  padding: 5px;
  width: 40%;
}

.memeber-account-member-address-form div{
  padding-bottom:10px;
}

.member-account-member-address input{
  width: 100% !important;
}

.atk-cells-group{
  display: inline !important;
  width:100%;
}

.memeber-account-member-address-form textarea{
  height: 30px !important;
}

.xepan-designer-previous-step-button:hover{
  transform: scale(1.1);
  color: white !important;
  background-color: rgb(247,170,72) !important;
  
}
.xepan-designer-step-button-dimmed{
  background-color: #f2f2f2 !important;
}
.xepan-designer-step-button-dimmed.finish,.xepan-designer-step-button-dimmed.finish:hover{
  border:2px solid rgb(119,186,93);
  width: 80px;
}

.xepan-designer-price-addtocart-section > div{
  width:50%;
  margin: 0 auto;
}

.xepan-designer-price-addtocart-section,.atk-form-row{
  padding: 7px 3px 5px 2px;
}

/*for prime*/
.xepan-commerce-tool-item-original-price{
  display: none;
}

.xepan-designer-addtocart button{
  width:100%;
  padding:8px !important;
  background-color:rgb(247,167,7) !important;
  color: white !important;
  font-size: 18px;
  border:2px solid #f7a707 !important;
  margin-top:10px ;
}

.xshop-designer-item-name{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  padding-top:10px;
  padding-bottom:10px;
}
.xshop-desiner-tool-canvas{
  margin: 0 auto;
}

.xepan-designer-addtocart .atk-form-row{
  width:50% !important;
  float: left;
}

.xepan-designer-addtocart input, .xepan-designer-addtocart select{
  width: 100%;
  height: 30px;
}

.xepan-cart-placeorder-btn{
  background-color: rgb(248,167,12);
  color: white;
}


.xepan-login-panel input {
    width:100%;
    background-color: transparent;
    border: 1px solid;
    border-color: #ccc;
    height: 40px;
    color: #cccc;
}