/* CSS CLASS FOR XSHOP PRODUCT Grid LAYOUT */
.row {
	margin: 0 auto 0 auto;
}

ul.xshop-item{
    list-style-type: none;
    height:330px !important;
    border-left:1px solid #f3f3f3;
}
ul.xshop-item:hover{
border-left:1px solid  #f7a707;
border-bottom:1px solid #f7a707;
border-right:1px solid #f7a707;
}

ul.xshop-item img:hover {
transform:scale(1.05, 1.05);
transition:all 0.3s ease 0s;

}

.xshop-item > li:nth-child(2){
margin-top:10px;
text-align:left;
border-bottom:1px solid #f3f3f3 !important;
height:40px;
}

li > div.xshop-item-specifications{
 text-align:left;
}
.xshop-item-specifications{
 color:gray;
}

.xshop-item-specifications:hover{
 color:#4c5359;
}


.xshop-item-name{ /*Item name*/
    font-size: 1.3em;
    line-height: 1.167em;
    text-transform: capitalize;
    text-decoration: none !important;
   color:#4c5359;
  font-family:Lato;
  text-align:left !important;
}

.xshop-item-image-anchor{

}

.ItemImage_Facny_or_Anchor{ /* BiG Image*/
	
}

.xshop-item-img{
	position: relative;
        max-width:100%;
	width: auto;
        max-height:200px;
	text-align: center ;
	text-align:right;
       display:block;
       margin-left:auto;
       margin-right:auto;
}

ul.xshop-item > li{
	position: inherit;
}

.xshop-item-old-price{
	width: 100%;
	color: #333333;
	text-decoration: line-through ;
	list-style-type: none;
	float: left;
}

.xshop-item-price{
	color: #333333;
       width:100%;
}

.xshop-item-short-description{
	font-size: 10px;
	text-align: justify;
	color: #666;
    /*line-height: 1.167em;*/

}

.xshop-item-add-to-cart{
	font-size: 10px;
	text-align: center;
	/*float: left;*/
}

.xshop-item-custom-fields{
	font-size: 10px;
}
/*.xshop-item-custom-fields div {
	border: none !important;
}*/

.xshop-item-details-in-frame-btn{
	font-size: 10px;
	width: auto;
	/*float: left;*/
}

.xshop-item-enquiry-form-btn{
	font-size: 10px;
	width: auto;
}

.xshop-item-reviews{
	font-size: 10px;

}

.xshop-item-discount{
	font-size: 10px;
	text-align: center;
	color: green;
}

.xshop-item-specifications{
	font-size: 10px;
}

.xshop-item-specifications p{
  margin:0px !important;
}
.xepan-item  li:first-child{
height:230px !important;
}