.row
	.col-lg-12
		.panel.panel-default
			.panel-body
				h4 Add Social Post
			.row
				.col-lg-1
				.col-lg-10
					.panel.panel-default
						.panel-body
							h4 General Information
						.row
							.col-lg-6
								span dropdown here
							.col-lg-6		
								span name here
				.col-lg-1
			.row		