
<div class="panel panel-default">
  <div class="panel-heading">Add Social Post</div>
  <div class="panel-body">
    <div class="row col-lg-12">
      <div class="col-lg-3">
        <div class="dropdown">
          <button type="button" data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle">Your Category here<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>Test	</li>
            <li>Demo	</li>
            <li>Phase one of marketing	</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4"> 
        <input id="inputSuccess" type="text" placeholder="Name here" class="form-control"/>
      </div>
    </div>
  </div>
</div>