.panel.panel-default
	.panel-heading Add Social Post
	.panel-body
		.row.col-lg-12
			.col-lg-3
				.dropdown
					button.btn.btn-success.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
						| Your Category here
						span.caret
					ul.dropdown-menu
						li
							| Test	
			
						li
							| Demo	
			
						li
							| Phase one of marketing	
			.col-lg-4 
				input#inputSuccess.form-control(type='text', placeholder='Name here')
					