
<div class="panel panel-default">
  <div class="panel-heading">Add Social Post</div>
  <div class="panel-body">
    <div class="row col-lg-12">
      <div class="col-lg-3"><span>Category:</span>
        <div class="dropdown">
          <button type="button" data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle">Your Category here<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>Test	</li>
            <li>Demo	</li>
            <li>Phase one of marketing	</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3"><span>Name: </span>
        <input id="inputSuccess" type="text" placeholder="Name here" class="form-control"/>
      </div>
      <div class="col-lg-3"><span>Post Title: </span>
        <input id="inputSuccess" type="text" placeholder="Post Title" class="form-control"/>
      </div>
      <div class="col-lg-3"><span>URL: </span>
        <input id="inputSuccess" type="text" placeholder="URL" class="form-control"/>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-6"><span>Attachment: </span>
        <input id="inputSuccess" type="text" placeholder="Attachment" class="form-control"/>
      </div>
      <div class="col-lg-6"><span>Message 160 Characters:</span>
        <input id="inputSuccess" type="text" placeholder="Message" class="form-control"/>
      </div>
    </div>
    <div class="row col-lg-12">			<span>Message 255 Characters:</span>
      <textarea id="exampleTextarea" rows="2" class="form-control"></textarea>
    </div>
    <div class="row col-lg-12"><span>Message 3000 Characters:</span>
      <textarea id="exampleTextarea" rows="3" class="form-control">		</textarea>
    </div>
    <div class="row col-lg-12"><span>Blog:</span>
      <textarea id="exampleTextarea" rows="10" class="form-control">		</textarea>
    </div>
  </div>
</div>