{$content}
.panel.panel-default
	.panel-heading Add Social Post
	.panel-body
		.row.col-lg-12
			.col-lg-3
				span Category:
				.dropdown
					button.btn.btn-success.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
						| Your Category here
						span.caret
					ul.dropdown-menu
						li
							| Test	
			
						li
							| Demo	
			
						li
							| Phase one of marketing	
			.col-lg-3
				span Name: 
				input#inputSuccess.form-control(type='text', placeholder='Name here')
			.col-lg-3
				span Post Title: 
				input#inputSuccess.form-control(type='text', placeholder='Post Title')
			.col-lg-3
				span URL: 
				input#inputSuccess.form-control(type='text', placeholder='URL')
		.row.col-lg-12
			.col-lg-6
				span Attachment: 
				input#inputSuccess.form-control(type='text', placeholder='Attachment')
			.col-lg-6
				span Message 160 Characters:
				input#inputSuccess.form-control(type='text', placeholder='Message')
		.row.col-lg-12			
				span Message 255 Characters:
				textarea#exampleTextarea.form-control(rows='2')
		.row.col-lg-12
				span Message 3000 Characters:
				textarea#exampleTextarea.form-control(rows='3')		
		.row.col-lg-12
				span Blog:
				textarea#exampleTextarea.form-control(rows='10')		
							