.row
  .row
    .col-lg-12
          img(alt='activity timeline',src='http://apps4halifax.ca/assets/img/horizontal-timeline.png')
  br
  br  
  .row
    .col-lg-12
        .col-lg-4
          .row
            .col-lg-12
              .col-lg-6
                |Title will be placed here
              .col-lg-6
                span.label.label-success Jaipur Printing
   
          img.img-responsive(alt='', src='img/samples/email-template-3.png')
          .col-lg-1
          .col-lg-5  
            br
            a.btn.btn-primary(href='#')
              i.fa.fa-sm
              |  Approve      
          .col-lg-5
            br
            a.btn.btn-danger(href='#')
              i.fa.fa-sm
              |  Draft

        .col-lg-4
          .row
            .col-lg-12
              .col-lg-6
                |Title will be placed here
              .col-lg-6
                span.label.label-success Jaipur Printing
   
          img.img-responsive(alt='', src='img/samples/email-template-3.png')
          .col-lg-1
          .col-lg-5  
            br
            a.btn.btn-primary(href='#')
              i.fa.fa-sm
              |  Approve      
          .col-lg-5
            br
            a.btn.btn-danger(href='#')
              i.fa.fa-sm
              |  Draft

        .col-lg-4
          .row
            .col-lg-12
              .col-lg-6
                |Title will be placed here
              .col-lg-6
                span.label.label-success Jaipur Printing
   
          img.img-responsive(alt='', src='img/samples/email-template-3.png')
          .col-lg-1
          .col-lg-5  
            br
            a.btn.btn-primary(href='#')
              i.fa.fa-sm
              |  Approve      
          .col-lg-5
            br
            a.btn.btn-danger(href='#')
              i.fa.fa-sm
              |  Draft            