
<div class="row">
  <div class="row">
    <div class="col-lg-12"><img alt="activity timeline" src="http://apps4halifax.ca/assets/img/horizontal-timeline.png"/></div>
  </div><br/><br/>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">Title will be placed here</div>
            <div class="col-lg-6"><span class="label label-success">Jaipur Printing</span></div>
          </div>
        </div><img alt="" src="img/samples/email-template-3.png" class="img-responsive"/>
        <div class="col-lg-1"></div>
        <div class="col-lg-5"> <br/><a href="#" class="btn btn-primary"><i class="fa fa-sm"></i> Approve      </a></div>
        <div class="col-lg-5"><br/><a href="#" class="btn btn-danger"><i class="fa fa-sm"></i> Draft</a></div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">Title will be placed here</div>
            <div class="col-lg-6"><span class="label label-success">Jaipur Printing</span></div>
          </div>
        </div><img alt="" src="img/samples/email-template-3.png" class="img-responsive"/>
        <div class="col-lg-1"></div>
        <div class="col-lg-5"> <br/><a href="#" class="btn btn-primary"><i class="fa fa-sm"></i> Approve      </a></div>
        <div class="col-lg-5"><br/><a href="#" class="btn btn-danger"><i class="fa fa-sm"></i> Draft</a></div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">Title will be placed here</div>
            <div class="col-lg-6"><span class="label label-success">Jaipur Printing</span></div>
          </div>
        </div><img alt="" src="img/samples/email-template-3.png" class="img-responsive"/>
        <div class="col-lg-1"></div>
        <div class="col-lg-5"> <br/><a href="#" class="btn btn-primary"><i class="fa fa-sm"></i> Approve      </a></div>
        <div class="col-lg-5"><br/><a href="#" class="btn btn-danger"><i class="fa fa-sm"></i> Draft            </a></div>
      </div>
    </div>
  </div>
</div>