.jumbotron.well.text-center(style = "background: #eea849;") 
  .row Enter your new password and click on login button
.panel.panel-default
  .panel-heading.text-center
    strong Reset Password
  .panel-body(style="margin-top:30px;margin-bottom:30px;")
    form(role='form', action='#', method='POST')
      fieldset
        .row(style = "padding-bottom:20px;")
          .col-sm-12.col-md-12
            .form-group.atk-form-row
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                {$email}
              .input-group  
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                {$secret_code}
              .input-group  
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                {$password}
              .input-group 
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                {$retype_password}
        .row
          .col-xs-12
            button.btn.btn-success.col-xs-12(type='submit') Login  
  .panel-footer