div(id='{$_name}' class="{$class} row" style="{$style}")
	{rows}{row}
	.col-lg-3.col-md-4.col-sm-6
		.tile
			.badges
				span.sale Sale
			{sale_price_wrapper}`
			.price-label.xepan-commerce-tool-item-sale-price {$sale_price} $
			{/}
			{original_price_wrapper}
			.price-label.old-price.xepan-commerce-tool-item-original-price {$original_price} $
			{/}
		a(href='{$item_detail_page_url_via_image}')
			img(alt='1', src='{$first_image}')
			span.tile-overlay
		.footer.format
			{name_wrapper}
			a(href='{item_detail_page_url_via_image}{/}') {$name}
			{/}
			span by {$designer}
			br
			{addtocart_wrapper}
			button.btn.btn-primary(data-xsnbitemid="{$id}" data-name="{$name}") {$Addtocart}
			{/}
			{personalizedbtn_wrapper}
			button.btn.btn-primary(data-xsnbitemid="{$id}" data-name="{$name}"){$personalizedbtn}
			{/}
	{/}{/}
	{not_found}
	div.full-width.alert.alert-warning(role="alert")
		strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
			span &nbsp;{$not_found_message}
	{/}
{$Paginator}