
<div id="{$_name}" style="{$style}" class="{$class} row">{rows}{row}
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="tile">
      <div class="badges"><span class="sale">Sale</span></div>{sale_price_wrapper}
      <div class="price-label">{$sale_price} $</div>{/}<a href="shop-single-item-v1.html"><img alt="1" src="image/categories/1_004.jpg"/></a><span class="tile-overlay"></span>
      <div class="footer"><a href="#">{$name}</a><span>by {$designer}</span>{addtocart_wrapper}
        <button data-xsnbitemid="{$id}" data-name="{$name}" class="btn btn-primary xshop-item-addtocart">{$Addtocart}</button>{/}
        {personalizedbtn_wrapper}
        <button data-xsnbitemid="{$id}" data-name="{$name}" class="btn btn-primary xshop-item-personalize">{$personalizedbtn}</button>{/}
      </div>
    </div>
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
</div>{$Paginator}