
<html>
  <body>
    <div style="opacity: 1;" class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active"><span>Gallery</span></li>
            </ol>
            <h1>Gallery with different style</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="main-box">
              <header class="main-box-header">
                <h2>Loading effects for grid items with css animations</h2>
              </header>
              <div class="main-box-body">
                <div class="alert alert-info">You can choose from 8 different effects following the library tutorial<a target="_blank" href="http://tympanus.net/codrops/2013/07/02/loading-effects-for-grid-items-with-css-animations/">here</a>.</div>
                <ul id="grid" style="position: relative; height: 9354.47px;" class="grid effect-2">
                  <li style="position: absolute; left: 0px; top: 0px;" class="shown"><a target="_blank" href="http://drbl.in/fWMM"><img src="img/samples/1.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 0px;" class="shown"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 0px;" class="shown"><a target="_blank" href="http://drbl.in/fWMT"><img src="img/samples/4.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 223px;" class="shown"><a target="_blank" href="http://drbl.in/fQdt"><img src="img/samples/12.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 550px;"><a target="_blank" href="http://drbl.in/fHaa"><img src="img/samples/13.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 550px;"><a target="_blank" href="http://drbl.in/gXMo"><img src="img/samples/10.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 774px;"><a target="_blank" href="http://drbl.in/gXMn"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 816px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 816px;"><a target="_blank" href="http://drbl.in/fARU"><img src="img/samples/14.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 998px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 1040px;"><a target="_blank" href="http://drbl.in/fKCf"><img src="img/samples/6.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 1040px;"><a target="_blank" href="http://drbl.in/fLBG"><img src="img/samples/7.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 1221px;"><a target="_blank" href="http://drbl.in/fPEY"><img src="img/samples/8.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 1263px;"><a target="_blank" href="http://drbl.in/fWwG"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 1263px;"><a target="_blank" href="http://drbl.in/fQdt"><img src="img/samples/12.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 1487px;"><a target="_blank" href="http://drbl.in/fHaa"><img src="img/samples/13.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 1752px;"><a target="_blank" href="http://drbl.in/gXMo"><img src="img/samples/10.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 1772px;"><a target="_blank" href="http://drbl.in/gXMn"><img src="img/samples/11.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 1814px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 2018px;"><a target="_blank" href="http://drbl.in/fARU"><img src="img/samples/14.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 2038px;"><a target="_blank" href="http://drbl.in/fWMM"><img src="img/samples/1.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 2038px;"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 2242px;"><a target="_blank" href="http://drbl.in/fWMT"><img src="img/samples/4.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 2261px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 2485px;"><a target="_blank" href="http://drbl.in/fKCf"><img src="img/samples/6.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 2588px;"><a target="_blank" href="http://drbl.in/fLBG"><img src="img/samples/7.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 2709px;"><a target="_blank" href="http://drbl.in/fPEY"><img src="img/samples/8.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 2792px;"><a target="_blank" href="http://drbl.in/fWwG"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 2812px;"><a target="_blank" href="http://drbl.in/fQdt"><img src="img/samples/12.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 3016px;"><a target="_blank" href="http://drbl.in/fHaa"><img src="img/samples/13.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 3259px;"><a target="_blank" href="http://drbl.in/gXMo"><img src="img/samples/10.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 3282px;"><a target="_blank" href="http://drbl.in/gXMn"><img src="img/samples/11.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 3363px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 3525px;"><a target="_blank" href="http://drbl.in/fARU"><img src="img/samples/14.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 3547px;"><a target="_blank" href="http://drbl.in/fWMM"><img src="img/samples/1.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 3586px;"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 3749px;"><a target="_blank" href="http://drbl.in/fWMT"><img src="img/samples/4.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 3810px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 4034px;"><a target="_blank" href="http://drbl.in/fKCf"><img src="img/samples/6.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 4098px;"><a target="_blank" href="http://drbl.in/fLBG"><img src="img/samples/7.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 4257px;"><a target="_blank" href="http://drbl.in/fPEY"><img src="img/samples/8.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 4299px;"><a target="_blank" href="http://drbl.in/fWwG"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 4322px;"><a target="_blank" href="http://drbl.in/fQdt"><img src="img/samples/12.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 4523px;"><a target="_blank" href="http://drbl.in/fHaa"><img src="img/samples/13.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 4789px;"><a target="_blank" href="http://drbl.in/gXMo"><img src="img/samples/10.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 4808px;"><a target="_blank" href="http://drbl.in/gXMn"><img src="img/samples/11.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 4872px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 5054px;"><a target="_blank" href="http://drbl.in/fARU"><img src="img/samples/14.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 5074px;"><a target="_blank" href="http://drbl.in/fWMM"><img src="img/samples/1.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 5096px;"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 5278px;"><a target="_blank" href="http://drbl.in/fWMT"><img src="img/samples/4.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 5320px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 5543px;"><a target="_blank" href="http://drbl.in/fKCf"><img src="img/samples/6.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 5624px;"><a target="_blank" href="http://drbl.in/fLBG"><img src="img/samples/7.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 5767px;"><a target="_blank" href="http://drbl.in/fPEY"><img src="img/samples/8.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 5829px;"><a target="_blank" href="http://drbl.in/fWwG"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 5848px;"><a target="_blank" href="http://drbl.in/fQdt"><img src="img/samples/12.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 6052px;"><a target="_blank" href="http://drbl.in/fHaa"><img src="img/samples/13.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 6318px;"><a target="_blank" href="http://drbl.in/gXMo"><img src="img/samples/10.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 6318px;"><a target="_blank" href="http://drbl.in/gXMn"><img src="img/samples/11.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 6399px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 6583px;"><a target="_blank" href="http://drbl.in/fARU"><img src="img/samples/14.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 6583px;"><a target="_blank" href="http://drbl.in/fWMM"><img src="img/samples/1.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 6623px;"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 6807px;"><a target="_blank" href="http://drbl.in/fWMT"><img src="img/samples/4.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 6846px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 7070px;"><a target="_blank" href="http://drbl.in/fKCf"><img src="img/samples/6.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 7134px;"><a target="_blank" href="http://drbl.in/fLBG"><img src="img/samples/7.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 7294px;"><a target="_blank" href="http://drbl.in/fPEY"><img src="img/samples/8.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 7358px;"><a target="_blank" href="http://drbl.in/fWwG"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 7358px;"><a target="_blank" href="http://drbl.in/fQdt"><img src="img/samples/12.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 7582px;"><a target="_blank" href="http://drbl.in/fHaa"><img src="img/samples/13.png"/></a></li>
                  <li style="position: absolute; left: 698px; top: 7844px;"><a target="_blank" href="http://drbl.in/gXMo"><img src="img/samples/10.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 7847px;"><a target="_blank" href="http://drbl.in/gXMn"><img src="img/samples/11.png"/></a></li>
                  <li style="position: absolute; left: 349px; top: 7909px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 8110px;"><a target="_blank" href="http://drbl.in/fARU"><img src="img/samples/14.png"/></a></li>
                  <li style="position: absolute; left: 0px; top: 8113px;"><a target="_blank" href="http://drbl.in/fWMM"><img src="img/samples/1.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 8132px;"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 8334px;"><a target="_blank" href="http://drbl.in/fWMT"><img src="img/samples/4.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 8356px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 8580px;"><a target="_blank" href="http://drbl.in/fKCf"><img src="img/samples/6.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 8663px;"><a target="_blank" href="http://drbl.in/fLBG"><img src="img/samples/7.jpg"/></a></li>
                  <li style="position: absolute; left: 349px; top: 8803px;"><a target="_blank" href="http://drbl.in/fPEY"><img src="img/samples/8.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 8884px;"><a target="_blank" href="http://drbl.in/fWwG"><img src="img/samples/9.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 8887px;"><a target="_blank" href="http://drbl.in/fWPV"><img src="img/samples/3.jpg"/></a></li>
                  <li style="position: absolute; left: 698px; top: 9108px;"><a target="_blank" href="http://drbl.in/fGhI"><img src="img/samples/5.jpg"/></a></li>
                  <li style="position: absolute; left: 0px; top: 9111px;"><a target="_blank" href="http://drbl.in/fzYo"><img src="img/samples/2.jpg"/></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer-bar" style="opacity: 1;" class="row">
      <p id="footer-copyright" class="col-xs-12">Powered by Cube Theme.</p>
    </footer>
  </body>
</html>