html
  body
    .row(style='opacity: 1;')
      .col-lg-12
        .row
          .col-lg-12
            ol.breadcrumb
              li
                a(href='#') Home
              li.active
                span Pricing
            h1 Pricing
        .row
          .col-lg-12
            .main-box.clearfix
              header.main-box-header.clearfix
                h2 Pricing table ver.1
              .main-box-body.clearfix
                .col-md-3.col-sm-6.col-xs-12.pricing-package
                  .pricing-package-inner
                    .package-header
                      span.stars.center-block
                        i.fa.fa-star
                      h3 Starter
                    .package-content
                      .package-price
                        span.currency $
                        span.price 9
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 1 Call-Us button
                        li
                          | 1 Operator
                        li
                          | 5 GB Storage
                      ul.package-features
                        li.has-feature
                          | Call waiting
                        li.has-feature
                          | Customizable design
                        li.has-nofeature
                          | Business hours
                        li.has-nofeature
                          | Call history
                        li.has-nofeature
                          | Customer groups
                        li.has-nofeature
                          | Country control
                        li.has-nofeature
                          | Call recording
                        li.has-nofeature
                          | Mobile apps (iOS, Android)
                      .package-footer
                        button.btn.btn-success
                          span.fa.fa-shopping-cart.fa-lg
                          |  Try now
                .col-md-3.col-sm-6.col-xs-12.pricing-package
                  .pricing-package-inner
                    .package-header.green-bg
                      span.stars.center-block
                        i.fa.fa-star
                        i.fa.fa-star
                      h3 Basic
                    .package-content
                      .package-price.green-bg
                        span.currency $
                        span.price 49
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 5 Call-Us buttons
                        li
                          | 5 Operators
                        li
                          | 50 GB Storage
                      ul.package-features
                        li.has-feature
                          | Call waiting
                        li.has-feature
                          | Customizable design
                        li.has-feature
                          | Business hours
                        li.has-feature
                          | Call history
                        li.has-nofeature
                          | Customer groups
                        li.has-nofeature
                          | Country control
                        li.has-nofeature
                          | Call recording
                        li.has-nofeature
                          | Mobile apps (iOS, Android)
                      .package-footer
                        button.btn.btn-success
                          span.fa.fa-shopping-cart.fa-lg
                          |  Try now
                .col-md-3.col-sm-6.col-xs-12.pricing-package
                  .pricing-package-inner
                    .pricing-star
                      | Best
                      br
                      | value
                    .package-header.yellow-bg
                      span.stars.center-block
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      h3 Standard
                    .package-content
                      .package-price.yellow-bg
                        span.currency $
                        span.price 99
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 10 Call-Us buttons
                        li
                          | 10 Operators
                        li
                          | 100 GB Storage
                      ul.package-features
                        li.has-feature
                          | Call waiting
                        li.has-feature
                          | Customizable design
                        li.has-feature
                          | Business hours
                        li.has-feature
                          | Call history
                        li.has-feature
                          | Customer groups
                        li.has-nofeature
                          | Country control
                        li.has-nofeature
                          | Call recording
                        li.has-nofeature
                          | Mobile apps (iOS, Android)
                      .package-footer
                        button.btn.btn-success
                          span.fa.fa-shopping-cart.fa-lg
                          |  Try now
                .col-md-3.col-sm-6.col-xs-12.pricing-package
                  .pricing-package-inner
                    .package-header.purple-bg
                      span.stars.center-block
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      h3 Ultimate
                    .package-content
                      .package-price.purple-bg
                        span.currency $
                        span.price 299
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 50 Call-Us button
                        li
                          | 50 Operator
                        li
                          | 1 TB Storage
                      ul.package-features
                        li.has-feature
                          | Call waiting
                        li.has-feature
                          | Customizable design
                        li.has-feature
                          | Business hours
                        li.has-feature
                          | Call history
                        li.has-feature
                          | Customer groups
                        li.has-feature
                          | Country control
                        li.has-feature
                          | Call recording
                        li.has-feature
                          | Mobile apps (iOS, Android)
                      .package-footer
                        button.btn.btn-success
                          span.fa.fa-shopping-cart.fa-lg
                          |  Try now
        .row
          .col-lg-12
            .main-box.clearfix
              header.main-box-header.clearfix
                h2 Pricing table ver.2
              .main-box-body.clearfix
                .col-md-2.col-sm-4.col-xs-12.pricing-package.simple
                  .pricing-package-inner
                    .package-header
                      h3 Starter
                    .package-content
                      .package-price
                        | $7
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 1 Call-Us button
                        li
                          | 1 Operator
                        li
                          | 5 GB Storage
                        li
                          | Monthly reports
                  .package-footer
                    button.btn.btn-success
                      span.fa.fa-shopping-cart.fa-lg
                      |  Try now
                .col-md-2.col-sm-4.col-xs-12.pricing-package.simple
                  .pricing-package-inner
                    .package-header.green-bg
                      h3 Basic
                    .package-content
                      .package-price
                        | $12
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 5 Call-Us buttons
                        li
                          | 5 Operators
                        li
                          | 50 GB Storage
                        li
                          | Weekly reports
                  .package-footer
                    button.btn.btn-success
                      span.fa.fa-shopping-cart.fa-lg
                      |  Try now
                .col-md-2.col-sm-4.col-xs-12.pricing-package.simple
                  .pricing-package-inner
                    .pricing-star Best value
                    .package-header.yellow-bg
                      h3 Standard
                    .package-content
                      .package-price
                        | $19
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 10 Call-Us buttons
                        li
                          | 10 Operators
                        li
                          | 100 GB Storage
                        li
                          | Weekly reports
                  .package-footer
                    button.btn.btn-success
                      span.fa.fa-shopping-cart.fa-lg
                      |  Try now
                .col-md-2.col-sm-4.col-xs-12.pricing-package.simple
                  .pricing-package-inner
                    .package-header.purple-bg
                      h3 Advanced
                    .package-content
                      .package-price
                        | $49
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 50 Call-Us button
                        li
                          | 50 Operator
                        li
                          | 1 TB Storage
                        li
                          | Daily reports
                  .package-footer
                    button.btn.btn-success
                      span.fa.fa-shopping-cart.fa-lg
                      |  Try now
                .col-md-2.col-sm-4.col-xs-12.pricing-package.simple
                  .pricing-package-inner
                    .package-header.gray-bg
                      h3 Ultimate
                    .package-content
                      .package-price
                        | $99
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 150 Call-Us button
                        li
                          | 150 Operator
                        li
                          | 10 TB Storage
                        li
                          | Weekly reports
                  .package-footer
                    button.btn.btn-success
                      span.fa.fa-shopping-cart.fa-lg
                      |  Try now
                .col-md-2.col-sm-4.col-xs-12.pricing-package.simple
                  .pricing-package-inner
                    .package-header.red-bg
                      h3 Enterprise
                    .package-content
                      .package-price
                        | $499
                        span.package-month /mo
                      ul.package-top-features
                        li
                          | Unlimited minutes
                        li
                          | 500 Call-Us button
                        li
                          | 500 Operator
                        li
                          | 100 TB Storage
                        li
                          | Daily reports
                  .package-footer
                    button.btn.btn-success
                      span.fa.fa-shopping-cart.fa-lg
                      |  Try now
    footer#footer-bar.row(style='opacity: 1;')
      p#footer-copyright.col-xs-12
        | Powered by Cube Theme.
