<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>One page website template for multipurpose website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="keywords" content="mz,mzcreatives,creatives,template,website,onepage,webdesign,portfolio,build website,themeforest" />
    <meta name="description" content="Now you can buy or use template from themeforest design by mzcreatives" />
    <meta property="og:title" content="One page website template for multipurpose website" />
    
     <!---Common css---->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="css/common.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" type="text/css" rel="stylesheet" />


    <link href="css/quickweb.css" rel="stylesheet" type="text/css" />
     <link href="fonts/style.css" rel="stylesheet" type="text/css" />   
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="../../admin/templates/css/jquery-ui.css" />

    <link rel="stylesheet" type="text/css" href="css/xShop-itemgrid.css" />
    <link rel="stylesheet" type="text/css" href="css/mystyles.css" />
    <link rel="stylesheet" type="text/css" href="css/addtocart.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/_epan.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/xepan_category.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-buttons.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" />
    <!-- pace  css -->
    <!-- // <script src="js/pace.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/pace-loading-bar.css" /> -->
    
    <!--if lt IE 9
    script(src='js/html5shiv.js')
    script(src='js/respond.min.js')
    -->{$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){           
          {$document_ready}
      });
    </script>
    
    <!-- // <script src="{js}slider.js{/}"></script> -->
    <!-- // <script src="{js}plugin.js{/}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="prime-scan">
        <div class="p-topbar container full-width">
            <div class="p-topbar-row width-90 move-center row">
                <div class="col-md-6">
                    <div style="background-image: url('image/icon/print_on_click_contact_icon.png'); background-repeat: no-repeat; margin-top: 1px;" class="p-icon" component_type="Text" component_namespace="baseElements">
                    +91 9828088440
                    </div>
                </div>
                <div class="col-md-2 userpanel">
                    <div style="padding-right: 10px; background-image: url('image/icon/print_on_click_signin_icon.png'); background-repeat: no-repeat;background-position:right;background-position:right">
                       <div xepan-component="xepan/base/Tool_UserPanel" layout="micro_login" class="xepan-component xepan-serverside-component" show_micro_login="true"></div> 
                    </div>
                </div>
                <div class="col-md-2">
                    <div style="padding-right: 10px; background-image: url(image/icon/print_on_click_cart_icon.png); background-repeat: no-repeat;background-position:right" class="xcart-icon p-icon-right" class=" xshop-cart">
                        <div class="xepan-component xepan-serverside-component" xepan-component="xepan/commerce/Tool_Cart" layout="short_cart" cart-detail-url="yourcart" place_order_button_name="Place Order" checkout_page="checkout">Tool_Cart</div>
                    </div>
                </div>
                <div class="col-md-2 myaccount">
                    <div style="width: auto; max-width: 100%; background-image: url('image/icon/print_on_click_my_account_icon.png'); background-repeat: no-repeat; background-position: right center; color: rgb(0, 0, 0);" class="editor epan-component editor-attached p-icon-right pull-right p-icon-account">
                    <a href="?page=member-account" style="text-decoration:none;" title="View Your Account">  My Account </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-90 move-center row">
            <div class="col-md-4">
                <a class="xepan-image-anchor" href="index.php?subpage=home">    <img class="ui-resizable" data-extra-classes="" style="max-width:100%; height: auto; width:100%" src="image/site/logo_print_on_click_online_printing.gif"></a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 p-search">
                <div class="xepan-component xepan-serverside-component" xepan-component="xepan/commerce/Tool_Search">
                   Search_Tool 
                </div>
            </div>
        </div>
        <div class="full-width atk-swatch-ink p-manubar">
            <div style="width: 88%; margin-right: auto; margin-left: auto;">
                <div class="xshop-category-main-container">
                    <div class="xepan-component xepan-serverside-component" xepan-component="xepan/commerce/Tool_Category" url_page="category" show-category-description-only="false">
                    </div>
                </div>
            </div>
        </div>
</div>
</header>
<div class="prime-page-container xepan-component xepan-sortable-component " xepan-component='/xepan/cms/Tool_Container'>
{$Content}
</div>

<footer class="footer"style="color:white;">
    <div class="width-90 move-center row">
        <div class="col-md-3">
            <h3 style="">PrintOnClick</h3>
            <div class="glyphicon glyphicon-home footer-menu" style="width: 100%; background-color: transparent;">
                <a href="?page=index" style="col">&nbsp; Home</a>
            </div>
            <div class="glyphicon glyphicon-book   footer-menu" style="width: 100%; background-color: transparent;">
                <a href="?page=about">&nbsp; About</a>
            </div>
            <div class="glyphicon glyphicon-map-marker footer-menu" style="width: 100%; background-color: transparent;">
                <a href="?page=contact">&nbsp; Contact Us</a>
            </div>
        </div>
        <div class="col-md-3">
            <h3 style="">Help</h3>
            <div class="glyphicon glyphicon-edit footer-menu"style="width: 100%; background-color: transparent;">
                <a href="?page=how-to-order">&nbsp; How to Order</a>
            </div>
            <div class="glyphicon glyphicon-zoom-in footer-menu"style="width: 100%; background-color: transparent;">
                <a href="?page=edit-item">&nbsp; Edit item</a>
            </div>
            <div class="glyphicon glyphicon-picture footer-menu"style="width: 100%; background-color: transparent;">
                <a href="?page=mydesign">&nbsp;My Design </a>
            </div>
            <div class="glyphicon glyphicon-education footer-menu"style="width: 100%; background-color: transparent;">
                <a href="?page=faq">&nbsp; FAQ</a>
            </div>
        </div>
        <div class="col-md-3">
            <h3 style="">Legal</h3>
            <div class="glyphicon glyphicon-eye-open footer-menu" style="width: 100%; background-color: transparent;">
                <a href="?page=terms-condition">&nbsp; Terms and Condition</a>
            </div>
            <div class="glyphicon glyphicon-lock footer-menu" style="width: 100%; background-color: transparent;">
                <a href="?page=privacy-policy">&nbsp; Privacy and Policy</a>
            </div>
            <div class=" glyphicon glyphicon-briefcase footer-menu" style="width: 100%; background-color: transparent;">
                <a href="?page=refund-policy">&nbsp; Refund Policy</a>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div style="width: auto; background-color: rgb(0, 0, 0);border-top:1px solid #f7a707;padding:20px;font-size:20px;color:white;">
        <div style="width: 85%; margin-right: auto; margin-left: auto; background-color: transparent;" class="row">
            <div class="col-md-10">
                <div style="width: 80%; margin-right: auto; margin-left: 0px; font-size: 14px;">Copyright PRINTONCLICK.IN @ 2015. &nbsp;All right reserved.
                </div>
            </div>
            <div class="col-md-1">
                <a href="#">
                    <div title="Up" class="glyphicon glyphicon-arrow-up pull-right">
                    </div>
                </a>
            </div>
        </div>
        <div class="tooltip fade top in" style="top: -33px; left: 1296.5px; display: block;">
            
        </div>
</div>
</footer>

</body>
</html>
