doctype html
html(lang="{lang}en{/}")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title xEpan
    link(rel='stylesheet', type='text/css', href='{css}bootstrap/bootstrap.min.css{/}')
    script(src='js/demo-rtl.js')
    link(rel='stylesheet', type='text/css', href='{css}libs/font-awesome.css{/}')
    link(rel='stylesheet', type='text/css', href='{css}libs/nanoscroller.css{/}')
    link(rel='stylesheet', type='text/css', href='{css}compiled/theme_styles.css{/}')
    link(rel='stylesheet', href='{css}libs/daterangepicker.css{/}', type='text/css')
    link(rel='stylesheet', href='{css}libs/jquery-jvectormap-1.2.2.css{/}', type='text/css')
    link(rel='stylesheet', href='{css}libs/weather-icons.css{/}', type='text/css')
    link(type='image/x-icon', href='favicon.png', rel='shortcut icon')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
    {$js_block}
    {$js_include}

    script(type='text/javascript').
        $(function(){
            {$document_ready}
        });
  body(class="{$pagename") {Layout}
    #theme-wrapper
      header#header-navbar.navbar
        .container
          a#logo.navbar-brand(href='index.php')
            img.normal-logo.logo-white(src='img/logo.png', alt='')
            img.normal-logo.logo-black(src='img/logo-black.png', alt='')
            img.small-logo.hidden-xs.hidden-sm.hidden(src='img/logo-small.png', alt='')
          .clearfix
            button.navbar-toggle(data-target='.navbar-ex1-collapse', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.fa.fa-bars
            .nav-no-collapse.navbar-left.pull-left.hidden-sm.hidden-xs
              ul.nav.navbar-nav.pull-left
                li
                  a#make-small-nav.btn
                    i.fa.fa-bars
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown')
                    i.fa.fa-bell
                    span.count 8
                  ul.dropdown-menu.notifications-list
                    li.pointer
                      .pointer-inner
                        .arrow
                    li.item-header You have 6 new notifications
                    li.item
                      a(href='#')
                        i.fa.fa-comment
                        span.content New comment on ‘Awesome P...
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item
                      a(href='#')
                        i.fa.fa-plus
                        span.content New user registration
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item
                      a(href='#')
                        i.fa.fa-envelope
                        span.content New Message from George
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item
                      a(href='#')
                        i.fa.fa-shopping-cart
                        span.content New purchase
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item
                      a(href='#')
                        i.fa.fa-eye
                        span.content New order
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item-footer
                      a(href='#')
                        | View all notifications
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown')
                    i.fa.fa-envelope-o
                    span.count 16
                  ul.dropdown-menu.notifications-list.messages-list
                    li.pointer
                      .pointer-inner
                        .arrow
                    li.item.first-item
                      a(href='#')
                        img(src='img/samples/messages-photo-1.png', alt='')
                        span.content
                          span.content-headline
                            | George Clooney
                          span.content-text
                            | Look, just because I don't be givin' no man a foot massage don't make it
                            | right for Marsellus to throw...
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item
                      a(href='#')
                        img(src='img/samples/messages-photo-2.png', alt='')
                        span.content
                          span.content-headline
                            | Emma Watson
                          span.content-text
                            | Look, just because I don't be givin' no man a foot massage don't make it
                            | right for Marsellus to throw...
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item
                      a(href='#')
                        img(src='img/samples/messages-photo-3.png', alt='')
                        span.content
                          span.content-headline
                            | Robert Downey Jr.
                          span.content-text
                            | Look, just because I don't be givin' no man a foot massage don't make it
                            | right for Marsellus to throw...
                        span.time
                          i.fa.fa-clock-o
                          | 13 min.
                    li.item-footer
                      a(href='#')
                        | View all messages
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | HR
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu
                    li.item
                      a(href='{url}?page=xhr_department{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Departments
                    li.item
                      a(href='{url}?page=xhr_post{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Post
                    li.item
                      a(href='{url}?page=xhr_employee{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Employees
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | Marketing
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu
                    li.item
                      a(href='{url}?page=xhr_lead{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Leads
                    li.item
                      a(href='{url}?page=xhr_telecalling{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Tele Calling
                    li.item
                      a(href='{url}?page=xhr_newsletter{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | NewsLetter
                    li.item
                      a(href='{url}?page=xhr_lead{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Leads
                    li.item
                      a(href='{url}?page=xhr_telecalling{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | Tele Calling
                    li.item
                      a(href='{url}?page=xhr_newsletter{/}')
                        i(class="fa fa-{icon}shopping-cart{/}")
                        | NewsLetter
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | Commerce
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | Production
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | CRM
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | Inventory
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu
                li.dropdown.hidden-xs
                  a.btn.dropdown-toggle(data-toggle='dropdown' class="{$class}")
                    | Project Managment
                    span 
                    i.fa.fa-caret-down
                  ul.dropdown-menu                    
            #header-nav.nav-no-collapse.pull-right
              ul.nav.navbar-nav.pull-right
                li.mobile-search
                  a.btn
                    i.fa.fa-search
                  .drowdown-search
                    form(role='search')
                      .form-group
                        input.form-control(type='text', placeholder='Search...')
                        i.fa.fa-search.nav-search-icon
                li.dropdown.profile-dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    img(src='img/samples/scarlet-159.png', alt='')
                    span.hidden-xs Scarlett Johansson
                    b.caret
                  ul.dropdown-menu.dropdown-menu-right
                    li
                      a(href='user-profile.html')
                        i.fa.fa-user
                        | Profile
                    li
                      a(href='#')
                        i.fa.fa-cog
                        | Settings
                    li
                      a(href='#')
                        i.fa.fa-envelope-o
                        | Messages
                    li
                      a(href='#')
                        i.fa.fa-power-off
                        | Logout
                li.hidden-xxs
                  a.btn
                    i.fa.fa-power-off
      #page-wrapper.container
        .row
          #nav-col
            section#col-left.col-left-nano
              #col-left-inner.col-left-nano-content
                #user-left-box.clearfix.hidden-sm.hidden-xs.dropdown.profile2-dropdown
                  img(alt='', src='img/samples/scarlet-159.png')
                  .user-box
                    span.name
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Scarlett J.
                        i.fa.fa-angle-down
                      ul.dropdown-menu
                        li
                          a(href='user-profile.html')
                            i.fa.fa-user
                            | Profile
                        li
                          a(href='#')
                            i.fa.fa-cog
                            | Settings
                        li
                          a(href='#')
                            i.fa.fa-envelope-o
                            | Messages
                        li
                          a(href='#')
                            i.fa.fa-power-off
                            | Logout
                    span.status
                      i.fa.fa-circle
                      |  Online
                #sidebar-nav.collapse.navbar-collapse.navbar-ex1-collapse
                  ul.nav.nav-pills.nav-stacked
                    li.nav-header.nav-header-first.hidden-sm.hidden-xs
                      | Navigation
                    li.active
                      a(href='index.html')
                        i.fa.fa-dashboard
                        span Dashboard
                        span.label.label-primary.label-circle.pull-right 28
                    li.active
                      a(href='?page=contact')
                        i.fa.fa-dashboard
                        span Contacts
                        span.label.label-primary.label-circle.pull-right 28
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-table
                        span Tables
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='tables.html')
                            | Simple
                        li
                          a(href='tables-advanced.html')
                            | Advanced
                        li
                          a(href='?page=user')
                            | Users
                        li
                          a(href='tables-footables.html')
                            | FooTables
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-envelope
                        span Email
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='{url}?page=email_email-inbox{/}')
                            | Inbox
                        li
                          a(href='{url}?page=email_email-detail{/}')
                            | Detail
                        li
                          a(href='{url}?page=email_email-compose{/}')
                            | Compose
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-bar-chart-o
                        span Graphs
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='graphs-morris.html')
                            | Morris & Mixed
                        li
                          a(href='graphs-flot.html')
                            | Flot
                        li
                          a(href='graphs-dygraphs.html')
                            | Dygraphs
                        li
                          a(href='graphs-xcharts.html')
                            | xCharts
                    li
                      a(href='{url}?page=widget{/}')
                        i.fa.fa-th-large
                        span Widgets
                        span.label.label-success.pull-right New
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-copy
                        span Pages
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='{url}?page=calendar{/}')
                            | Calendar
                        li
                          a(href='{url}?page=gallery{/}')
                            | Gallery
                        li
                          a(href='{url}?page=gallery-v2{/}')
                            | Gallery v2
                        li
                          a(href='{url}?page=price{/}')
                            | Pricing
                        li
                          a(href='{url}?page=projects{/}')
                            | Projects
                        li
                          a(href='{url}?page=team-member{/}')
                            | Team Members
                        li
                          a(href='{url}?page=timeline{/}')
                            | Timeline
                        li
                          a(href='{url}?page=timeline-grid{/}')
                            | Timeline Grid
                        li
                          a(href='user-profile.html')
                            | User Profile
                        li
                          a(href='{url}?page=search-results{/}')
                            | Search Results
                        li
                          a(href='{url}?page=invoice{/}')
                            | Invoice
                        li
                          a(href='{url}?page=intro{/}')
                            | Tour Layout
                    li.nav-header.hidden-sm.hidden-xs
                      | Components
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-edit
                        span Forms
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='{url}?page=forms_elements{/}')
                            | Elements
                        li
                          a(href='{url}?page=forms_x-editable{/}')
                            | X-Editable
                        li
                          a(href='{url}?page=forms_wizard{/}')
                            | Wizard
                        li
                          a(href='{url}?page=forms_wizard-popup{/}')
                            | Wizard popup
                        li
                          a(href='{url}?page=forms_wysiwyg{/}')
                            | WYSIWYG
                        li
                          a(href='{url}?page=forms_summernote{/}')
                            | WYSIWYG Summernote
                        li
                          a(href='{url}?page=forms_ckeditor{/}')
                            | WYSIWYG CKEditor
                        li
                          a(href='{url}index.php?page=forms_multiple-file-upload{/}')
                            | Multiple File Upload
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-desktop
                        span UI Kit
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='{url}index.php?page=uikit_element{/}')
                            | Elements
                        li
                          a(href='{url}index.php?page=uikit_alertandnotification{/}')
                            | Notifications & Alerts
                        li
                          a(href='modals.html')
                            | Modals
                        li
                          a(href='video.html')
                            | Video
                        li
                          a.dropdown-toggle(href='#')
                            | Icons
                            i.fa.fa-angle-right.drop-icon
                          ul.submenu
                            li
                              a(href='icons-awesome.html')
                                | Awesome Icons
                            li
                              a(href='icons-halflings.html')
                                | Halflings Icons
                        li
                          a(href='ui-nestable.html')
                            | Nestable List
                        li
                          a(href='typography.html')
                            | Typography
                        li
                          a.dropdown-toggle(href='#')
                            | 3 Level Menu
                            i.fa.fa-angle-right.drop-icon
                          ul.submenu
                            li
                              a(href='#')
                                | 3rd Level
                            li
                              a(href='#')
                                | 3rd Level
                            li
                              a(href='#')
                                | 3rd Level
                    li
                      a(href='maps.html')
                        i.fa.fa-map-marker
                        span Google Maps
                        span.label.label-danger.pull-right Updated
                    li
                      a.dropdown-toggle(href='#')
                        i.fa.fa-file-text-o
                        span Extra pages
                        i.fa.fa-angle-right.drop-icon
                      ul.submenu
                        li
                          a(href='faq.html')
                            | FAQ
                        li
                          a(href='emails.html')
                            | Email Templates
                        li
                          a(href='login.html')
                            | Login
                        li
                          a(href='login-full.html')
                            | Login Full
                        li
                          a(href='registration.html')
                            | Registration
                        li
                          a(href='registration-full.html')
                            | Registration Full
                        li
                          a(href='forgot-password.html')
                            | Forgot Password
                        li
                          a(href='forgot-password-full.html')
                            | Forgot Password Full
                        li
                          a(href='lock-screen.html')
                            | Lock Screen
                        li
                          a(href='lock-screen-full.html')
                            | Lock Screen Full
                        li
                          a(href='error-404.html')
                            | Error 404
                        li
                          a(href='error-404-v2.html')
                            | Error 404 Nested
                        li
                          a(href='error-500.html')
                            | Error 500
                        li
                          a(href='extra-grid.html')
                            | Grid
                    li
                      a(href='angularjs/index.html')
                        i.fa.fa-google
                        span AngularJS Demo
            #nav-col-submenu
          #content-wrapper
            .row
              .col-lg-12
                .row
                  .col-lg-12
                    #content-header.clearfix
                      .pull-left
                        {breadcrumb}
                        ol.breadcrumb
                          {rows}{row}
                          li
                            a(href='#') {crumb}Home{/crumb}
                          li.active
                            span Dashboard
                          {/row}{/rows}
                        {/breadcrumb}
                        h1 {page_title}Page_Title{/}
                      .pull-right.hidden-xs
                        .xs-graph.pull-left
                          .graph-label
                            b
                              i.fa.fa-shopping-cart
                              |  838
                            |  Orders
                          .graph-content.spark-orders
                        .xs-graph.pull-left.mrg-l-lg.mrg-r-sm
                          .graph-label
                            b &dollar;12.338
                            |  Revenues
                          .graph-content.spark-revenues
                 {Content}{/Content}
            footer#footer-bar.row
              p#footer-copyright.col-xs-12
                | Powered by Cube Theme.
    #config-tool.closed
      a#config-tool-cog
        i.fa.fa-cog
      #config-tool-options
        h4 Layout Options
        ul
          li
            .checkbox-nice
              input#config-fixed-header(type='checkbox')
              label(for='config-fixed-header')
                | Fixed Header
          li
            .checkbox-nice
              input#config-fixed-sidebar(type='checkbox')
              label(for='config-fixed-sidebar')
                | Fixed Left Menu
          li
            .checkbox-nice
              input#config-fixed-footer(type='checkbox')
              label(for='config-fixed-footer')
                | Fixed Footer
          li
            .checkbox-nice
              input#config-boxed-layout(type='checkbox')
              label(for='config-boxed-layout')
                | Boxed Layout
          li
            .checkbox-nice
              input#config-rtl-layout(type='checkbox')
              label(for='config-rtl-layout')
                | Right-to-Left
        br
        h4 Skin Color
        ul#skin-colors.clearfix
          li
            a.skin-changer(data-skin='', data-toggle='tooltip', title='Default', style='background-color: #34495e;')
          li
            a.skin-changer(data-skin='theme-white', data-toggle='tooltip', title='White/Green', style='background-color: #2ecc71;')
          li
            a.skin-changer.blue-gradient(data-skin='theme-blue-gradient', data-toggle='tooltip', title='Gradient')
          li
            a.skin-changer(data-skin='theme-turquoise', data-toggle='tooltip', title='Green Sea', style='background-color: #1abc9c;')
          li
            a.skin-changer(data-skin='theme-amethyst', data-toggle='tooltip', title='Amethyst', style='background-color: #9b59b6;')
          li
            a.skin-changer(data-skin='theme-blue', data-toggle='tooltip', title='Blue', style='background-color: #2980b9;')
          li
            a.skin-changer(data-skin='theme-red', data-toggle='tooltip', title='Red', style='background-color: #e74c3c;')
          li
            a.skin-changer(data-skin='theme-whbl', data-toggle='tooltip', title='White/Blue', style='background-color: #3498db;')
    {/Layout}
    script(src='js/demo-skin-changer.js')
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/jquery.nanoscroller.min.js')
    script(src='js/demo.js')
    script(src='js/moment.min.js')
    script(src='js/jquery-jvectormap-1.2.2.min.js')
    script(src='js/jquery-jvectormap-world-merc-en.js')
    script(src='js/gdp-data.js')
    script(src='js/flot/jquery.flot.min.js')
    script(src='js/flot/jquery.flot.resize.min.js')
    script(src='js/flot/jquery.flot.time.min.js')
    script(src='js/flot/jquery.flot.threshold.js')
    script(src='js/flot/jquery.flot.axislabels.js')
    script(src='js/jquery.sparkline.min.js')
    script(src='js/skycons.js')
    script(src='js/scripts.js')
    script(src='js/pace.min.js')
    script.
      $(document).ready(function() {
      //CHARTS
      function gd(year, day, month) {
      return new Date(year, month - 1, day).getTime();
      }
      if ($('#graph-bar').length) {
      var data1 = [
      [gd(2015, 1, 1), 838], [gd(2015, 1, 2), 749], [gd(2015, 1, 3), 634], [gd(2015, 1, 4), 1080], [gd(2015, 1, 5), 850], [gd(2015, 1, 6), 465], [gd(2015, 1, 7), 453], [gd(2015, 1, 8), 646], [gd(2015, 1, 9), 738], [gd(2015, 1, 10), 899], [gd(2015, 1, 11), 830], [gd(2015, 1, 12), 789]
      ];
      var data2 = [
      [gd(2015, 1, 1), 342], [gd(2015, 1, 2), 721], [gd(2015, 1, 3), 493], [gd(2015, 1, 4), 403], [gd(2015, 1, 5), 657], [gd(2015, 1, 6), 782], [gd(2015, 1, 7), 609], [gd(2015, 1, 8), 543], [gd(2015, 1, 9), 599], [gd(2015, 1, 10), 359], [gd(2015, 1, 11), 783], [gd(2015, 1, 12), 680]
      ];
      var series = new Array();
      series.push({
      data: data1,
      bars: {
      show : true,
      barWidth: 24 * 60 * 60 * 12000,
      lineWidth: 1,
      fill: 1,
      align: 'center'
      },
      label: 'Revenues'
      });
      series.push({
      data: data2,
      color: '#e84e40',
      lines: {
      show : true,
      lineWidth: 3,
      },
      points: {
      fillColor: "#e84e40",
      fillColor: '#ffffff',
      pointWidth: 1,
      show: true
      },
      label: 'Orders'
      });
      $.plot("#graph-bar", series, {
      colors: ['#03a9f4', '#f1c40f', '#2ecc71', '#3498db', '#9b59b6', '#95a5a6'],
      grid: {
      tickColor: "#f2f2f2",
      borderWidth: 0,
      hoverable: true,
      clickable: true
      },
      legend: {
      noColumns: 1,
      labelBoxBorderColor: "#000000",
      position: "ne"
      },
      shadowSize: 0,
      xaxis: {
      mode: "time",
      tickSize: [1, "month"],
      tickLength: 0,
      // axisLabel: "Date",
      axisLabelUseCanvas: true,
      axisLabelFontSizePixels: 12,
      axisLabelFontFamily: 'Open Sans, sans-serif',
      axisLabelPadding: 10
      }
      });
      var previousPoint = null;
      $("#graph-bar").bind("plothover", function (event, pos, item) {
      if (item) {
      if (previousPoint != item.dataIndex) {
      previousPoint = item.dataIndex;
      $("#flot-tooltip").remove();
      var x = item.datapoint[0],
      y = item.datapoint[1];
      showTooltip(item.pageX, item.pageY, item.series.label, y );
      }
      }
      else {
      $("#flot-tooltip").remove();
      previousPoint = [0,0,0];
      }
      });
      function showTooltip(x, y, label, data) {
      $('<div id="flot-tooltip">' + '<b>' + label + ': </b><i>' + data + '</i>' + '</div>').css({
      top: y + 5,
      left: x + 20
      }).appendTo("body").fadeIn(200);
      }
      }
      //WORLD MAP
      $('#world-map').vectorMap({
      map: 'world_merc_en',
      backgroundColor: '#ffffff',
      zoomOnScroll: false,
      regionStyle: {
      initial: {
      fill: '#e1e1e1',
      stroke: 'none',
      "stroke-width": 0,
      "stroke-opacity": 1
      },
      hover: {
      "fill-opacity": 0.8
      },
      selected: {
      fill: '#8dc859'
      },
      selectedHover: {
      }
      },
      markerStyle: {
      initial: {
      fill: '#e84e40',
      stroke: '#e84e40'
      }
      },
      markers: [
      {latLng: [38.35, -121.92], name: 'Los Angeles - 23'},
      {latLng: [39.36, -73.12], name: 'New York - 84'},
      {latLng: [50.49, -0.23], name: 'London - 43'},
      {latLng: [36.29, 138.54], name: 'Tokyo - 33'},
      {latLng: [37.02, 114.13], name: 'Beijing - 91'},
      {latLng: [-32.59, 150.21], name: 'Sydney - 22'},
      ],
      series: {
      regions: [{
      values: gdpData,
      scale: ['#6fc4fe', '#2980b9'],
      normalizeFunction: 'polynomial'
      }]
      },
      onRegionLabelShow: function(e, el, code){
      el.html(el.html()+' ('+gdpData[code]+')');
      }
      });
      /* SPARKLINE - graph in header */
      var orderValues = [10,8,5,7,4,4,3,8,0,7,10,6,5,4,3,6,8,9];
      $('.spark-orders').sparkline(orderValues, {
      type: 'bar',
      barColor: '#ced9e2',
      height: 25,
      barWidth: 6
      });
      var revenuesValues = [8,3,2,6,4,9,1,10,8,2,5,8,6,9,3,4,2,3,7];
      $('.spark-revenues').sparkline(revenuesValues, {
      type: 'bar',
      barColor: '#ced9e2',
      height: 25,
      barWidth: 6
      });
      /* ANIMATED WEATHER */
      var skycons = new Skycons({"color": "#03a9f4"});
      // on Android, a nasty hack is needed: {"resizeClear": true}
      // you can add a canvas by it's ID...
      skycons.add("current-weather", Skycons.SNOW);
      // start animation!
      skycons.play();
      });
    // Mirrored from cube.adbee.technology/index.html by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 23 Jan 2016 09:49:39 GMT

