.col-md-6.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Responsive embed - 16:9 aspect ratio
    .main-box-body.clearfix
      p
        | Allow browsers to determine video or slideshow dimensions based on the width of their containing
        | block by creating an intrinsic ratio that will properly scale on any device.
      p
        | Rules are directly applied to 
        code <iframe>
        | , 
        code <embed>
        | , and
        code <object>
        |  elements; optionally use an explicit descendant class
        code .embed-responsive-item
        |  when you want to match the
        | styling for other attributes.
      br
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(allowfullscreen='', src='http://www.youtube.com/embed/co6WMzDOh1o?rel=0')
