.col-md-6.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Responsive embed - 4:3 aspect ratio
    .main-box-body.clearfix
      p
        | Pro-Tip! You don't need to include frameborder="0" in your 
        code <iframe>
        | s as
        | we override that for you.
      br
      .embed-responsive.embed-responsive-4by3
        iframe.embed-responsive-item(allowfullscreen='', src='http://www.youtube.com/embed/1yw1Tgj9-VU?rel=0')
