.col-md-6.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Vimeo responsive embed - 4:3 aspect ratio
    .main-box-body.clearfix
      .embed-responsive.embed-responsive-4by3
        iframe.embed-responsive-item(allowfullscreen='', src='http://player.vimeo.com/video/28040685')
