
<div id="{$_name}" style="{$style}" class="{$class} row">{item_count_wrapper}
  <div class="row item-count-container">
    <div class="col-md-9 col-sm-9 category-name">
      <p>{$category_name}{$designer_name}</p>
    </div>
    <div class="col-md-3 col-sm-3 item-count text-right">
      <p>{$item_count}</p>
    </div>
  </div>{/}
  {rows}{row}
  {$micro_data}
  <div>{image_wrapper}<a href="{$item_detail_page_url_via_image}" class="b-link-stripe b-animate-go thickbox"><img src="{first_image}abc{/}" class="xepan-commerce-item-img img-responsive"/>{name_wrapper}
      <div class="b-wrapper">
        <h3 class="b-animate b-from-top top-in1 b-delay03"><span>{$name}</span></h3>
      </div>{/}</a>{/image_wrapper}
    {sale_price_wrapper}
    <p class="xepan-commerce-tool-item-sale-price number item_price"><i> </i>{$sale_price}</p>{/}
    {original_price_wrapper}
    <p class="xepan-commerce-tool-item-original-price number item_price"><i></i>{$original_price}</p>{/}
    {shipping_charge_wrapper}
    <p class="xepan-commerce-tool-item-shipping-charge list-group-item"><i></i>{$shipping_charge}</p>{/}
    {description_wrapper}
    <p onclick="javascript:void(0)" class="xepan-commerce-item-short-description">{$description}</p>{/}
    {specification_wrapper}
    <p class="xepan-commerce-tool-item-specification">
      {specification}
      {rows}{row}
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">{$name}</div>
        <div class="col-md-6 col-sm-6 col-xs-12">{$value}</div>
      </div>{/}{/}
      {/specification}
    </p>{/}
    {personalizedbtn_wrapper}
    <div data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper">{$personalizedbtn}</div>{/}
    {addtocart_wrapper}
    <div data-xsnbitemid="{$id}" data-name="{$name}" class="xepan-commerce-item-addtocart">{$Addtocart}</div>{/}
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both" class="xepan-commerce-item-paginator">{$Paginator}</div>{/}
  <style>
    
    .xepan-commerce-item-paginator{
    	display: none;
    }
  </style>
</div>