div(id='{$_name}' class="{$class} row" style="{$style}")
	{item_count_wrapper}
	div.row.item-count-container
		div.col-md-9.col-sm-9.category-name
			p {$category_name}{$designer_name}
		div.col-md-3.col-sm-3.item-count.text-right
			p {$item_count}
	{/}
	{rows}{row}
	{$micro_data}
	div
		{image_wrapper}
		a.b-link-stripe.b-animate-go.thickbox(href='{$item_detail_page_url_via_image}')
			img.xepan-commerce-item-img.img-responsive(src='{first_image}abc{/}')
			{name_wrapper}
			.b-wrapper
				h3.b-animate.b-from-top.top-in1.b-delay03
					span {$name}
			{/}
		{/image_wrapper}
		{sale_price_wrapper}
		p.xepan-commerce-tool-item-sale-price.number.item_price
			i  
			| {$sale_price}
		{/}
		{original_price_wrapper}
		p.xepan-commerce-tool-item-original-price.number.item_price
			i
			| {$original_price}
		{/}
		{shipping_charge_wrapper}
		p.xepan-commerce-tool-item-shipping-charge.list-group-item
			i
			| {$shipping_charge}
		{/}
		{description_wrapper}
		p.xepan-commerce-item-short-description(onclick='javascript:void(0)')
			{$description}
		{/}

		{specification_wrapper}
		p.xepan-commerce-tool-item-specification
			{specification}
			{rows}{row}
			.row
				.col-md-6.col-sm-6.col-xs-12
					{$name}
				.col-md-6.col-sm-6.col-xs-12
					{$value}
			{/}{/}
			{/specification}
		{/}
		{personalizedbtn_wrapper}
		div(data-xsnbitemid="{$id}" class="commerce-personalize-button-wrapper")
			{$personalizedbtn}
		{/}
		{addtocart_wrapper}
		.xepan-commerce-item-addtocart(data-xsnbitemid="{$id}" data-name="{$name}"){$Addtocart}
		{/}

	{/}{/}
	{not_found}
	div.full-width.alert.alert-warning(role="alert")
		strong.glyphicon.glyphicon-warning-sign &nbsp;Warning!
			span &nbsp;{$not_found_message}
	{/}
	{paginator_wrapper}
	.xepan-commerce-item-paginator(style='float:none; clear:both')
		{$Paginator}
	{/}

	style.
		
		.xepan-commerce-item-paginator{
			display: none;
		}