#tab-activity
.table-responsive
  table.table
    tbody
      tr
        td.text-center
          i.fa.fa-comment
        td Approved invoice number 1001
        td 2014/08/08 12:08
      tr
        td.text-center
          i.fa.fa-truck
        td
          | changed order status from 
          span.label.label-primary Pending
          | to 
          span.label.label-success Completed
        td 2014/08/08 12:08
      tr
        td.text-center
          i.fa.fa-check
        td form-groupt approval for holidays 
        td 2014/08/08 12:08
      tr
        td.text-center
          i.fa.fa-truck
        td
          | changed order status from 
          span.label.label-primary Pending
          | to 
          span.label.label-success Completed
        td 2014/08/08 12:08