
#portfolio
  .col-lg-12
    .panel.panel-default
      .panel-body
        .row
          .col-lg-10
            header.main-box-header.clearfix
              h2 Company Information
          .col-lg-2
            button.btn.btn-success.push-right(type='submit') Edit Information   
       
      .col-lg-12
        .col-lg-4
          label Company Name:
          br
          | Xavoc Technocrats pvt.ltd udaipur
        .col-lg-4
          label Company Type:
          br
          | IT
        .col-lg-4
          label Registeration:
          br
          |  153522
  .col-lg-12
    .panel.panel-default
      .panel-body
      header.main-box-header.clearfix
        h2 Orders:
      .col-lg-12
        .col-lg-4
          label Item:
          br
          |  printing
        .col-lg-4
          label Type:
          br
          |  digital printing
        .col-lg-4
          label Created Date:
          br
          |  06-feb-16
      .col-lg-12
        .col-lg-4
          label Department:
            br
          |  IT
        .col-lg-4
          label Price:
          br
        .col-lg-4
          label Duration:
          br
          |  7 months{From To Date}         