.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Bordered table
    .main-box-body.clearfix
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th
                span User
              th
                span Role
              th.text-center
                span Status
              th.text-center
                span Created
          tbody
            tr
              td
                | Sushil Milky
              td
                | Registered
              td.text-center
                span.label.label-danger Banned
              td.text-center
                | 2015/08/01
            tr
              td
                | Rakesh Sinha
              td
                | Registered
              td.text-center
                span.label.label-warning Pending
              td.text-center
                | 2014/01/02
            tr
              td
                | Preeti Vishwkarma
              td
                | Admin
              td.text-center
                span.label.label-default Inactive
              td.text-center
                | 2013/08/08
            tr
              td
                | Neelam Joshi
              td
                | Member
              td.text-center
                span.label.label-success Active
              td.text-center
                | 2016/01/26
            tr
              td
                | Silky Monga
              td
                | Admin
              td.text-center
                span.label.label-success Active
              td.text-center
                | 2015/12/12
            tr
              td
                | Vijay Mali
              td
                | Registered
              td.text-center
                span.label.label-warning Pending
              td.text-center
                | 2014/01/01
