.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Contextual table
    .main-box-body.clearfix
      .table-responsive
        table.table
          thead
            tr
              th
                span User
              th
                span Role
              th.text-center
                span Status
              th.text-center
                span Created
          tbody
            tr
              td
                | Gowrav vishwakarma
              td
                | Admin
              td.text-center
                span.label.label-primary Normal
              td.text-center
                | 2014/01/01
            tr.success
              td
                | Sinha Rakesh
              td
                | Registered
              td.text-center
                span.label.label-success Sucess
              td.text-center
                | 2014/01/02
            tr.danger
              td
                | Vijay Mali
              td
                | Registered
              td.text-center
                span.label.label-danger Danger
              td.text-center
                | 2015/08/01
            tr.info
              td
                | Sushil Milky
              td
                | Member
              td.text-center
                span.label.label-info Info
              td.text-center
                | 2015/10/22
            tr.warning
              td
                | Silky MOnga
              td
                | Admin
              td.text-center
                span.label.label-warning Warning
              td.text-center
                | 2013/08/08
            tr.active
              td
                | Preeti vishwkarma
              td
                | Admin
              td.text-center
                span.label.label-default Active
              td.text-center
                | 2013/08/08
