
<div class="main-box clearfix">
  <header class="main-box-header clearfix">
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
      </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Department</a>
    </div>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><a href="#"><span>Department</span></a></th>
            <th class="text-right"><a href="#" class="asc"><span>Production Level</span></a></th>
            <th class="text-center"><span>Status</span></th>
            <th class="text-center"><a href="#" class="desc"><span>Post</span></a></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{$name}</td>
            <td class="text-right">{$production_level}</td>
            <td class="text-center"><span class="label label-success">{$status}</span></td>
            <td class="text-center"><a href="index.php?page=xepan_hr_post">{$posts}2 Edit</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td>MacBook Air 11"</td>
            <td class="text-right">$ 999.00</td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-center"><a href="index.php?page=xhr_post">2 Edit</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td>iPad 128GB Wifi+3G</td>
            <td class="text-right">$ 1825.00</td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-center"><a href="index.php?page=xhr_post">2 Edit</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td>iMac 27" Quad Core i5 3.2GHz</td>
            <td class="text-right">$ 1.920.50</td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-center"><a href="index.php?page=xhr_post">2 Edit</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td>Mac Pro 2.8GHz 4-Core Intel Xeon</td>
            <td class="text-right">$ 4.625.50</td>
            <td class="text-center"><span class="label label-warning">Inactive</span></td>
            <td class="text-center"><a hred="index.php?page=xhr_post">2 Edit</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td>MacBook Pro 15" Retina Core i7 2.7GHz</td>
            <td class="text-right">$ 1.435.50</td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-center"><a href="index.php?page=xhr_post">2 Edit</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pull-right">
      <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
  </div>
</div>