.main-box.clearfix
  header.main-box-header.clearfix
    //- h2.pull-left Departments
    .filter-block.pull-right
      .form-group.pull-left
        input.form-control(type='text', placeholder='Search...')
        i.fa.fa-search.search-icon
      a.btn.btn-primary.pull-right(href='#')
        i.fa.fa-plus-circle.fa-lg
        |  Add Department
  .main-box-body.clearfix
    .table-responsive
      table.table
        thead
          tr
            th
              a(href='#')
                span Department
            th.text-right
              a.asc(href='#')
                span Production Level
            th.text-center
              span Status
            th.text-center
              a.desc(href='#')
                span Post
            th  
        tbody
          tr
            td
              | {$name}
            td.text-right
              | {$production_level}
            td.text-center
              span.label.label-success {$status}
            td.text-center
              a(href='index.php?page=xepan_hr_post')
                | {$posts}2 Edit
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              | MacBook Air 11"
            td.text-right
              | $ 999.00
            td.text-center
              span.label.label-success Active
            td.text-center
              a(href='index.php?page=xhr_post')
                | 2 Edit
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              | iPad 128GB Wifi+3G
            td.text-right
              | $ 1825.00
            td.text-center
              span.label.label-success Active
            td.text-center
              a(href='index.php?page=xhr_post')
                | 2 Edit
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              | iMac 27" Quad Core i5 3.2GHz
            td.text-right
              | $ 1.920.50
            td.text-center
              span.label.label-success Active
            td.text-center
              a(href='index.php?page=xhr_post')
                | 2 Edit
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              | Mac Pro 2.8GHz 4-Core Intel Xeon
            td.text-right
              | $ 4.625.50
            td.text-center
              span.label.label-warning Inactive
            td.text-center
              a(hred='index.php?page=xhr_post')
                | 2 Edit
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              | MacBook Pro 15" Retina Core i7 2.7GHz
            td.text-right
              | $ 1.435.50
            td.text-center
              span.label.label-success Active
            td.text-center
              a(href='index.php?page=xhr_post')
                | 2 Edit
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
    ul.pagination.pull-right
      li
        a(href='#')
          i.fa.fa-chevron-left
      li
        a(href='#') 1
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#')
          i.fa.fa-chevron-right
