
<div class="col-lg-12">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2 class="pull-left">Orders (click on a table row)</h2>
      <div class="filter-block pull-right">
        <div class="form-group pull-left">
          <input id="filter" type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
        </div>
      </div>
    </header>
    <div class="main-box-body clearfix">
      <table data-filter-text-only="true" data-filter="#filter" data-page-size="6" class="table footable toggle-circle-filled default breakpoint footable-loaded">
        <thead>
          <tr>
            <th class="footable-visible footable-first-column footable-sortable">Order ID<span class="footable-sort-indicator"></span></th>
            <th class="footable-visible footable-sortable">Date<span class="footable-sort-indicator"></span></th>
            <th data-hide="phone" class="footable-visible footable-sortable">Customer<span class="footable-sort-indicator"></span></th>
            <th data-hide="phone,tablet" class="text-center footable-visible footable-last-column footable-sortable">Status<span class="footable-sort-indicator"></span></th>
            <th data-hide="all" style="display: none;" class="text-right footable-sortable">Price<span class="footable-sort-indicator"></span></th>
            <th data-hide="all" style="display: none;" class="text-right footable-sortable">Type<span class="footable-sort-indicator"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8002</a></td>
            <td class="footable-visible">2016/01/01</td>
            <td class="footable-visible"><a href="#">Sushil Milky</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 825.50</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#5832</a></td>
            <td class="footable-visible">2015/01/22</td>
            <td class="footable-visible"><a href="#">Silky Monga</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-warning">On hold</span></td>
            <td style="display: none;" class="text-right">$ 923.93</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#2547</a></td>
            <td class="footable-visible">2016/01/28</td>
            <td class="footable-visible"><a href="#">Gowrav Vishwakarma</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-primary">Pending</span></td>
            <td style="display: none;" class="text-right">$ 1.625.50</td>
            <td style="display: none;">Tablet</td>
          </tr>
          <tr style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#9274</a></td>
            <td class="footable-visible">2015/10/15</td>
            <td class="footable-visible"><a href="#">Rakesh Sinha</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-danger">Cancelled</span></td>
            <td style="display: none;" class="text-right">$ 35.34</td>
            <td style="display: none;">Mobile</td>
          </tr>
          <tr style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8463</a></td>
            <td class="footable-visible">2015/08/11</td>
            <td class="footable-visible"><a href="#">Vijay Mali</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 34.199.99</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: table-row;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8002</a></td>
            <td class="footable-visible">2015/07/16</td>
            <td class="footable-visible"><a href="#">Radha </a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 825.50</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#5832</a></td>
            <td class="footable-visible">2015/07/29</td>
            <td class="footable-visible"><a href="#">krishna</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-warning">On hold</span></td>
            <td style="display: none;" class="text-right">$ 923.93</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#2547</a></td>
            <td class="footable-visible">2015/08/08</td>
            <td class="footable-visible"><a href="#">Milky</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-primary">Pending</span></td>
            <td style="display: none;" class="text-right">$ 1.625.50</td>
            <td style="display: none;">Tablet</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#9274</a></td>
            <td class="footable-visible">2015/11/08</td>
            <td class="footable-visible"><a href="#">Guru</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-danger">Cancelled</span></td>
            <td style="display: none;" class="text-right">$ 35.34</td>
            <td style="display: none;">Mobile</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8463</a></td>
            <td class="footable-visible">2015/08/14</td>
            <td class="footable-visible"><a href="#">pratap</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 34.199.99</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8002</a></td>
            <td class="footable-visible">2015/08/22</td>
            <td class="footable-visible"><a href="#">hero</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 825.50</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#5832</a></td>
            <td class="footable-visible">2015/08/12</td>
            <td class="footable-visible"><a href="#">Msushil</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-warning">On hold</span></td>
            <td style="display: none;" class="text-right">$ 923.93</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#2547</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Anthony Hopkins</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-primary">Pending</span></td>
            <td style="display: none;" class="text-right">$ 1.625.50</td>
            <td style="display: none;">Tablet</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#9274</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Charles Chaplin</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-danger">Cancelled</span></td>
            <td style="display: none;" class="text-right">$ 35.34</td>
            <td style="display: none;">Mobile</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8463</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Gary Cooper</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 34.199.99</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8002</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Robert De Niro</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 825.50</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#5832</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">John Wayne</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-warning">On hold</span></td>
            <td style="display: none;" class="text-right">$ 923.93</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#2547</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Anthony Hopkins</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-primary">Pending</span></td>
            <td style="display: none;" class="text-right">$ 1.625.50</td>
            <td style="display: none;">Tablet</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#9274</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Charles Chaplin</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-danger">Cancelled</span></td>
            <td style="display: none;" class="text-right">$ 35.34</td>
            <td style="display: none;">Mobile</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8463</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Gary Cooper</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 34.199.99</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8002</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Robert De Niro</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 825.50</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#5832</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">John Wayne</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-warning">On hold</span></td>
            <td style="display: none;" class="text-right">$ 923.93</td>
            <td style="display: none;">Website</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#2547</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Anthony Hopkins</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-primary">Pending</span></td>
            <td style="display: none;" class="text-right">$ 1.625.50</td>
            <td style="display: none;">Tablet</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#9274</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Charles Chaplin</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-danger">Cancelled</span></td>
            <td style="display: none;" class="text-right">$ 35.34</td>
            <td style="display: none;">Mobile</td>
          </tr>
          <tr style="display: none;">
            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a href="#">#8463</a></td>
            <td class="footable-visible">2013/08/08</td>
            <td class="footable-visible"><a href="#">Gary Cooper</a></td>
            <td class="text-center footable-visible footable-last-column"><span class="label label-success">Completed</span></td>
            <td style="display: none;" class="text-right">$ 34.199.99</td>
            <td style="display: none;">Website</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination pull-right hide-if-no-paging">
        <li class="footable-page-arrow disabled"><a href="#first" data-page="first">«</a></li>
        <li class="footable-page-arrow disabled"><a href="#prev" data-page="prev">‹</a></li>
        <li class="footable-page active"><a href="#" data-page="0">1</a></li>
        <li class="footable-page"><a href="#" data-page="1">2</a></li>
        <li class="footable-page"><a href="#" data-page="2">3</a></li>
        <li class="footable-page"><a href="#" data-page="3">4</a></li>
        <li class="footable-page"><a href="#" data-page="4">5</a></li>
        <li class="footable-page-arrow"><a href="#next" data-page="next">›</a></li>
        <li class="footable-page-arrow"><a href="#last" data-page="last">»</a></li>
      </ul>
    </div>
  </div>
</div>