.main-box.clearfix
  header.main-box-header.clearfix
    h2 Hover & Stripped table
  .main-box-body.clearfix
    .table-responsive
      table.table.table-striped.table-hover
        thead
          tr
            th
              span User
            th
              span Role
            th.text-center
              span Status
            th.text-center
              span Created
        tbody
          tr
            td
              | Rakesh Sinha
            td
              | Registered
            td.text-center
              span.label.label-danger Banned
            td.text-center
              | 2015/08/22
          tr
            td
              | Silky Monga
            td
              | Registered
            td.text-center
              span.label.label-warning Pending
            td.text-center
              | 2015/01/08
          tr
            td
              | Vijay Mali
            td
              | Admin
            td.text-center
              span.label.label-default Inactive
            td.text-center
              | 2015/08/08
          tr
            td
              | Milky Sushil
            td
              | Member
            td.text-center
              span.label.label-success Active
            td.text-center
              | 2016/08/08
          tr
            td
              | Nilam 
            td
              | Admin
            td.text-center
              span.label.label-success Active
            td.text-center
              | 2015/08/08
