.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 New products
    .main-box-body.clearfix
      .table-responsive
        table.table.table-products.table-hover
          tbody
            tr
              td
                img(alt='', src='img/samples/ipad.png')
              td
                span.name
                  | Ailkyway
                span.price
                  i.fa.fa-money
                  |  $320,00
                span.warranty
                  i.fa.fa-certificate
                  |  Warranty: 1 years
            tr
              td
                img(alt='', src='img/samples/ipad.png')
              td
                span.name
                  | Aakashganga
                span.price
                  i.fa.fa-money
                  |  $447,29
                span.warranty
                  i.fa.fa-certificate
                  |  Warranty: No 
            tr
              td
                img(alt='', src='img/samples/ipad.png')
              td
                span.name
                  | Wireless 32GB WiFi Black&Slate
                span.price
                  i.fa.fa-money
                  |  $320,00
                span.warranty
                  i.fa.fa-certificate
                  |  Warranty: 2 years
