
<div class="col-lg-6">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>New products</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="table-responsive">
        <table class="table table-products table-hover">
          <tbody>
            <tr>
              <td><img alt="" src="img/samples/ipad.png"/></td>
              <td><span class="name">Ailkyway</span><span class="price"><i class="fa fa-money"></i> $320,00</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: 1 years</span></td>
            </tr>
            <tr>
              <td><img alt="" src="img/samples/ipad.png"/></td>
              <td><span class="name">Aakashganga</span><span class="price"><i class="fa fa-money"></i> $447,29</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: No </span></td>
            </tr>
            <tr>
              <td><img alt="" src="img/samples/ipad.png"/></td>
              <td><span class="name">Wireless 32GB WiFi Black&Slate</span><span class="price"><i class="fa fa-money"></i> $320,00</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: 2 years</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>