
<div class="main-box clearfix">
  <header class="main-box-header clearfix">
    <h2 class="pull-left">Post</h2>
    <div class="filter-block pull-right">
      <div class="form-group pull-left">
        <select class="form-control xepan-dropdown-micro">
          <option>Deapartment</option>
          <option>HR</option>
          <option>MARKETING</option>
          <option>COMMERCE</option>
          <option>PRODUCTION</option>
          <option>CRM</option>
          <option>INVENTORY</option>
          <option>PROJECT MANAGEMENT</option>
        </select>
      </div>
      <div class="form-group pull-left">
        <input type="text" placeholder="Search..." class="form-control"/><i class="fa fa-search search-icon"></i>
      </div><a href="#" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add Post</a>
    </div>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><a href="#"><span>Department</span></a></th>
            <th><a href="#"><span>Post</span></a></th>
            <th class="text-left"><a href="#" class="desc"><span>E-mail</span></a></th>
            <th class="text-left"><span>Status</span></th>
            <th class="text-left"><a href="#" class="asc"><span>Employee</span></a></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HR</td>
            <td>Manager
              <div class="atk-label"><small>company\manager</small></div>
            </td>
            <td class="text-left">ms@gmail.com</td>
            <td class="text-center"><span class="label label-warning">Inactive</span></td>
            <td class="text-center"><a href="index.php?page=xepan_hr_employee">10</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
          <tr>
            <td>HR</td>
            <td>jr developer
              <div class="atk-label"><small>teamleader/sr. developer/jr. developer</small></div>
            </td>
            <td class="text-left">ms@gmail.com
              <div class="atk-label">mikysushil@gmail.com</div>
            </td>
            <td class="text-center"><span class="label label-success">Active</span></td>
            <td class="text-center"><a href="index.php?page=xhr_employee">5</a></td>
            <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
          </tr>
        </tbody>
        <tr>
          <td>HR</td>
          <td>sr. developer
            <div class="atk-label"><small>teamleader/sr. developer</small></div>
          </td>
          <td class="text-left">ms@gmail.com
            <div class="atk-label">mikysushil@gmail.com
              <div class="atk-inline atk-label">radhas@gamil.com
                <div class="atk-swatch-navy atk-button atk-inline">More..</div>
              </div>
            </div>
          </td>
          <td class="text-center"><span class="label label-success">Active</span></td>
          <td class="text-center"><a href="index.php?page=xhr_employee">20</a></td>
          <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
        </tr>
        <tr> 
          <td>HR</td>
          <td>Trainee
            <div class="atk-label"><small>Teamleader/Trainee</small></div>
          </td>
          <td class="text-left">rakeshsinha@gmail.com
            <div class="atk-label">Krishna@gmail.com
              <div class="atk-label"></div>hr@gmail.com
            </div>
          </td>
          <td class="text-center"><span class="label label-success">Active</span></td>
          <td class="text-center"><a href="index.php?page=xhr_employee">2</a></td>
          <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
        </tr>
        <tr>
          <td>HR</td>
          <td>J.Developer </td>
          <td class="text-left">ms@gmail.com
            <div class="atk-label">mikysushil@gmail.com</div>
          </td>
          <td class="text-center"><span class="label label-success">Active</span></td>
          <td class="text-center"><a href="index.php?page=xhr_employee">2</a></td>
          <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
        </tr>
        <tr>
          <td>HR</td>
          <td>Manager  
            <div class="atk-label"><small>teamleader/Technical helper</small></div>
          </td>
          <td class="text-left">guru@gmail.com
            <div class="atk-label">hello@gmail.com</div>
          </td>
          <td class="text-center"><span class="label label-success">Active</span></td>
          <td class="text-center"><a href="index.php?page=xhr_employee">2</a></td>
          <td style="width: 15%;"><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a></td>
        </tr>
      </table>
    </div>
    <ul class="pagination pull-right">
      <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
  </div>
</div>