.main-box.clearfix
  header.main-box-header.clearfix
    h2.pull-left Post
    .filter-block.pull-right
      .form-group.pull-left
        input.form-control(type='text', placeholder='Search...')
        i.fa.fa-search.search-icon
      a.btn.btn-primary.pull-right(href='#')
        i.fa.fa-plus-circle.fa-lg
        |  Add Post
  .main-box-body.clearfix
    .table-responsive
      table.table
        thead
          tr
            th
              a(href='#')
                span Post
            th.text-right
              a.asc(href='#')
                span Employee
            th.text-center
              span Status
            th.text-center
              a.desc(href='#')
                span E-mail
            th  
        tbody
          tr
            td
              | Manager
              .atk-label
                small|company\manager
            td.text-right
              | 10
            td.text-center
              span.label.label-warning Inactive
            td.text-center
              | ms@gmail.com
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-search-plus.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          tr
            td
              | jr developer
              .atk-label
                small|teamleader/sr. developer/jr. developer
            td.text-right
              | 5
            td.text-center
              span.label.label-success Active
            td.text-center
              | ms@gmail.com
              .atk-label
                |mikysushil@gmail.com
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-search-plus.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
        tr
            td
              | sr. developer
              .atk-label
                small|teamleader/sr. developer
            td.text-right
              | 20
            td.text-center
              span.label.label-success Active
            td.text-center
              | ms@gmail.com
              .atk-label
                |mikysushil@gmail.com
                .atk-inline.atk-label
                  |radhas@gamil.com
                  .atk-swatch-navy.atk-button.atk-inline
                    | More..
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-search-plus.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
        tr
            td
              | Trainee
              .atk-label
                small|Teamleader/Trainee
            td.text-right
              | 2
            td.text-center
              span.label.label-success Active
            td.text-center
              | rakeshsinha@gmail.com
              .atk-label
                |Krishna@gmail.com
                .atk-label
                |hr@gmail.com
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-search-plus.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
        tr
            td
              | Tester
              .atk-label
                small|teamleader/sr. developer/Tester
            td.text-right
              | 2
            td.text-center
              span.label.label-success Active
            td.text-center
              | ms@gmail.com
              .atk-label
                |mikysushil@gmail.com
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-search-plus.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
        tr
            td
              | Technical helper
              .atk-label
                small|teamleader/Technical helper
            td.text-right
              | 2
            td.text-center
              span.label.label-success Active
            td.text-center
              | guru@gmail.com
              .atk-label
                |hello@gmail.com
            td(style='width: 15%;')
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-search-plus.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-pencil.fa-stack-1x.fa-inverse
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
    ul.pagination.pull-right
      li
        a(href='#')
          i.fa.fa-chevron-left
      li
        a(href='#') 1
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#')
          i.fa.fa-chevron-right
