
<div id="content-wrapper">
  <div style="opacity: 1;" class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Projects</span></li>
          </ol>
          <h1>Projects</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="main-box clearfix project-box emerald-box">
            <div class="main-box-body clearfix">
              <div class="project-box-header emerald-bg">
                <div class="name"><a href="#">I.B electrical</a></div>
              </div>
              <div class="project-box-content"><span data-percent="39" class="chart"><span class="percent">75</span>%<br/><span class="lbl">completed</span>
                  <canvas height="130" width="130"></canvas></span></div>
              <div class="project-box-footer clearfix"><a href="#"><span class="value">21</span><span class="label">Tasks</span></a><a href="#"><span class="value">1</span><span class="label">Alerts</span></a><a href="#"><span class="value">2</span><span class="label">Messages</span></a></div>
              <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/samples/scarlet-159.png" alt="" data-original-title="Nilam Joshi" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/lima-300.jpg" alt="" data-original-title="SIlki Monga" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/emma-300.jpg" alt="" data-original-title="Preeti" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/angelina-300.jpg" alt="" data-original-title="Tanvi" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="main-box clearfix project-box green-box">
            <div class="main-box-body clearfix">
              <div class="project-box-header green-bg">
                <div class="name"><a href="#">Build com</a></div>
              </div>
              <div class="project-box-content"><span data-bar-color="#2ecc71" data-percent="86" class="chart"><span class="percent">86</span>%<br/><span class="lbl">completed</span>
                  <canvas height="130" width="130"></canvas></span></div>
              <div class="project-box-footer clearfix"><a href="#"><span class="value">93</span><span class="label">Tasks</span></a><a href="#"><span class="value">3</span><span class="label">Alerts</span></a><a href="#"><span class="value">483</span><span class="label">Messages</span></a></div>
              <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/samples/lima-300.jpg" alt="" data-original-title="Silki Monga" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/robert-300.jpg" alt="" data-original-title="Sushil milky" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/angelina-300.jpg" alt="" data-original-title="Nilam Joshi" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="main-box clearfix project-box red-box">
            <div class="main-box-body clearfix">
              <div class="project-box-header red-bg">
                <div class="name"><a href="#">UDB DREAM</a></div>
              </div>
              <div class="project-box-content"><span data-bar-color="#e74c3c" data-percent="79" class="chart"><span class="percent">79</span>%<br/><span class="lbl">completed</span>
                  <canvas height="130" width="130"></canvas></span></div>
              <div class="project-box-footer clearfix"><a href="#"><span class="value">3</span><span class="label">Tasks</span></a><a href="#"><span class="value">30</span><span class="label">Alerts</span></a><a href="#"><span class="value">382</span><span class="label">Messages</span></a></div>
              <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/samples/robert-300.jpg" alt="" data-original-title="Gowrav vishwakarma" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="main-box clearfix project-box yellow-box">
            <div class="main-box-body clearfix">
              <div class="project-box-header yellow-bg">
                <div class="name"><a href="#">Guru Buildicon</a></div>
              </div>
              <div class="project-box-content"><span data-bar-color="#f1c40f" data-percent="47" class="chart"><span class="percent">47</span>%<br/><span class="lbl">completed</span>
                  <canvas height="130" width="130"></canvas></span></div>
              <div class="project-box-footer clearfix"><a href="#"><span class="value">192</span><span class="label">Tasks</span></a><a href="#"><span class="value">32</span><span class="label">Alerts</span></a><a href="#"><span class="value">932</span><span class="label">Messages</span></a></div>
              <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/samples/robert-300.jpg" alt="" data-original-title="Sushil Milky" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/angelina-300.jpg" alt="" data-original-title="Silky Monga" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="main-box clearfix project-box purple-box">
            <div class="main-box-body clearfix">
              <div class="project-box-header purple-bg">
                <div class="name"><a href="#">Bhawani Buildicon</a></div>
              </div>
              <div class="project-box-content"><span data-bar-color="#9b59b6" data-percent="50" class="chart"><span class="percent">50</span>%<br/><span class="lbl">completed</span>
                  <canvas height="130" width="130"></canvas></span></div>
              <div class="project-box-footer clearfix"><a href="#"><span class="value">13</span><span class="label">Tasks</span></a><a href="#"><span class="value">0</span><span class="label">Alerts</span></a><a href="#"><span class="value">92</span><span class="label">Messages</span></a></div>
              <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/msushil.jpg" alt="" data-original-title="Preeti" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/robert-300.jpg" alt="" data-original-title="Sushil Milky" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/kunis-300.jpg" alt="" data-original-title="Sinha Rakesh" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/angelina-300.jpg" alt="" data-original-title="Vijay Mali" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="main-box clearfix project-box gray-box">
            <div class="main-box-body clearfix">
              <div class="project-box-header gray-bg">
                <div class="name"><a href="#">Smart Udaipur</a></div>
              </div>
              <div class="project-box-content"><span data-bar-color="#95a5a6" data-percent="91" class="chart"><span class="percent">91</span>%<br/><span class="lbl">completed</span>
                  <canvas height="130" width="130"></canvas></span></div>
              <div class="project-box-footer clearfix"><a href="#"><span class="value">48</span><span class="label">Tasks</span></a><a href="#"><span class="value">10</span><span class="label">Alerts</span></a><a href="#"><span class="value">120</span><span class="label">Messages</span></a></div>
              <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/samples/angelina-300.jpg" alt="" data-original-title="Gowrav vishwakarma" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/scarlet-159.png" alt="" data-original-title="Sinha Rakesh" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/kunis-300.jpg" alt="" data-original-title="Vijay Mali" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer-bar" style="opacity: 1;" class="row">
    <p id="footer-copyright" class="col-xs-12">Powered by Xavoc Team.</p>
  </footer>
</div>