#content-wrapper
  .row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li.active
              span Projects
          h1 Projects
      .row
        .col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.emerald-box
            .main-box-body.clearfix
              .project-box-header.emerald-bg
                .name
                  a(href='#')
                    | I.B electrical
              .project-box-content
                span.chart(data-percent='39')
                  span.percent 75
                  | %
                  br
                  span.lbl completed
                  canvas(height='130', width='130')
              .project-box-footer.clearfix
                a(href='#')
                  span.value 21
                  span.label Tasks
                a(href='#')
                  span.value 1
                  span.label Alerts
                a(href='#')
                  span.value 2
                  span.label Messages
              .project-box-ultrafooter.clearfix
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/scarlet-159.png', alt='', data-original-title='Nilam Joshi')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/lima-300.jpg', alt='', data-original-title='SIlki Monga')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/emma-300.jpg', alt='', data-original-title='Preeti')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/angelina-300.jpg', alt='', data-original-title='Tanvi')
                a.link.pull-right(href='#')
                  i.fa.fa-arrow-circle-right.fa-lg
        .col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.green-box
            .main-box-body.clearfix
              .project-box-header.green-bg
                .name
                  a(href='#')
                    | Build com
              .project-box-content
                span.chart(data-bar-color='#2ecc71', data-percent='86')
                  span.percent 86
                  | %
                  br
                  span.lbl completed
                  canvas(height='130', width='130')
              .project-box-footer.clearfix
                a(href='#')
                  span.value 93
                  span.label Tasks
                a(href='#')
                  span.value 3
                  span.label Alerts
                a(href='#')
                  span.value 483
                  span.label Messages
              .project-box-ultrafooter.clearfix
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/lima-300.jpg', alt='', data-original-title='Silki Monga')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/robert-300.jpg', alt='', data-original-title='Sushil milky')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/angelina-300.jpg', alt='', data-original-title='Nilam Joshi')
                a.link.pull-right(href='#')
                  i.fa.fa-arrow-circle-right.fa-lg
        .col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.red-box
            .main-box-body.clearfix
              .project-box-header.red-bg
                .name
                  a(href='#')
                    | UDB DREAM
              .project-box-content
                span.chart(data-bar-color='#e74c3c', data-percent='79')
                  span.percent 79
                  | %
                  br
                  span.lbl completed
                  canvas(height='130', width='130')
              .project-box-footer.clearfix
                a(href='#')
                  span.value 3
                  span.label Tasks
                a(href='#')
                  span.value 30
                  span.label Alerts
                a(href='#')
                  span.value 382
                  span.label Messages
              .project-box-ultrafooter.clearfix
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/robert-300.jpg', alt='', data-original-title='Gowrav vishwakarma')
                a.link.pull-right(href='#')
                  i.fa.fa-arrow-circle-right.fa-lg
        .col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.yellow-box
            .main-box-body.clearfix
              .project-box-header.yellow-bg
                .name
                  a(href='#')
                    | Guru Buildicon
              .project-box-content
                span.chart(data-bar-color='#f1c40f', data-percent='47')
                  span.percent 47
                  | %
                  br
                  span.lbl completed
                  canvas(height='130', width='130')
              .project-box-footer.clearfix
                a(href='#')
                  span.value 192
                  span.label Tasks
                a(href='#')
                  span.value 32
                  span.label Alerts
                a(href='#')
                  span.value 932
                  span.label Messages
              .project-box-ultrafooter.clearfix
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/robert-300.jpg', alt='', data-original-title='Sushil Milky')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/angelina-300.jpg', alt='', data-original-title='Silky Monga')
                a.link.pull-right(href='#')
                  i.fa.fa-arrow-circle-right.fa-lg
        .col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.purple-box
            .main-box-body.clearfix
              .project-box-header.purple-bg
                .name
                  a(href='#')
                    | Bhawani Buildicon
              .project-box-content
                span.chart(data-bar-color='#9b59b6', data-percent='50')
                  span.percent 50
                  | %
                  br
                  span.lbl completed
                  canvas(height='130', width='130')
              .project-box-footer.clearfix
                a(href='#')
                  span.value 13
                  span.label Tasks
                a(href='#')
                  span.value 0
                  span.label Alerts
                a(href='#')
                  span.value 92
                  span.label Messages
              .project-box-ultrafooter.clearfix
                img.project-img-owner(title='', data-toggle='tooltip', src='img/msushil.jpg', alt='', data-original-title='Preeti')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/robert-300.jpg', alt='', data-original-title='Sushil Milky')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/kunis-300.jpg', alt='', data-original-title='Sinha Rakesh')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/angelina-300.jpg', alt='', data-original-title='Vijay Mali')
                a.link.pull-right(href='#')
                  i.fa.fa-arrow-circle-right.fa-lg
        .col-lg-4.col-md-6.col-sm-6
          .main-box.clearfix.project-box.gray-box
            .main-box-body.clearfix
              .project-box-header.gray-bg
                .name
                  a(href='#')
                    | Smart Udaipur
              .project-box-content
                span.chart(data-bar-color='#95a5a6', data-percent='91')
                  span.percent 91
                  | %
                  br
                  span.lbl completed
                  canvas(height='130', width='130')
              .project-box-footer.clearfix
                a(href='#')
                  span.value 48
                  span.label Tasks
                a(href='#')
                  span.value 10
                  span.label Alerts
                a(href='#')
                  span.value 120
                  span.label Messages
              .project-box-ultrafooter.clearfix
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/angelina-300.jpg', alt='', data-original-title='Gowrav vishwakarma')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/scarlet-159.png', alt='', data-original-title='Sinha Rakesh')
                img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/kunis-300.jpg', alt='', data-original-title='Vijay Mali')
                a.link.pull-right(href='#')
                  i.fa.fa-arrow-circle-right.fa-lg
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Xavoc Team.
