input{background-color:rgba(254,254,254,0);border-top:none; border-left:none; border-right:none; font-weight:normal; border-bottom-color: grey; border-bottom-width: 1px}
input:focus{background-color:rgba(254,254,254,0);border-top:none; border-left:none; border-right:none; border-bottom-color: grey; border-bottom-width: 1px; outline: none !important}
textarea {width: 100%;}
/*.xepan-grid .atk-actions button{
	border-radius:3px solid #2980b9;
	border-color:#2980b9;
	background-color:#03a9f4;
	color:#FFF;
	font-weight:normal;
	line-height:1.42857;
	text-align:center;
	vertical-align:middle;
	margin-left:5px;
    background-clip: padding-box;
    /*border-color: -moz-use-text-color;*/
    /*border-image: none;*/
    /*border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 2px;
    outline: medium none;
    padding: 6px 12px;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    font-size:14px;
	border-bottom:2px solid #216897;
}*/
/*.xepan-grid .atk-actions button:hover{background-color:#017fb5;color:#FFF}*/

/*remove border from all input*/
.form-control{
	border:none ;
}

.filter-block .form-group .search-icon{
	right:0px;
	float: right;
}

.filter-block .form-group .atk-jackscrew{
	float: right;
}

.xepan-filter-form .atk-input-combo div.atk-cell:first-child {
	float: left !important;
}
.xepan-filter-form span.icon-cancel{
	padding:5px;
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);	
	background-color: #e84e40;
	color: white;
	border-radius:5px;
}
.xepan-filter-form span.icon-cancel:before{content:"\f00d";}

.xepan-filter-form .form-control > i.search-icon{
	/*background-color: yellow;*/
}
.xepan-push-small{
	margin-bottom: 0.7rem !important;
}
.xepan-push{
	margin-bottom: 1.4rem !important;
}
.xepan-push-large{
	margin-bottom: 2.8rem !important;
}

/*xEpan HasMany Grid Button display on hover*/
.xepan-hover-button{
	display: none;
	right:0;
}

.xepan-hasmany-row {
	position: relative;
}
.xepan-hasmany-row:hover .xepan-hover-button{
	display: block;
	position: absolute;
	top:0;
}

.xepan-hasmany-row td{
	padding:5px !important;
	font-size: 1em;
}

.xepan-micro-grid header,.xepan-micro-grid .form-group{
	padding:0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}
.xepan-micro-grid .atk-actions{
	margin-right: 10px;
}

.xepan-hasmany-row > td a{
	padding:0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	font-size: 0.9em !important;

}
.xepan-hasmany-row .fa-pencil{
	color:#689f38;
}
.xepan-hasmany-row .fa-trash-o{
	color: #e84e40;
}

.xepan-hasmany-row .fa-pencil,.xepan-hasmany-row .fa-trash-o{
	background-color: #f3f3f3;
}

.xepan-hasmany-row .fa-pencil:hover, .xepan-hasmany-row .fa-trash-o:hover{
	background-color: gray;
	color: white;
}
.xepan-hasmany-row .fa-stack i.fa-stack-2x{
	display: none !important;
}

.field-error-text{
	font-size: 0.75em;
	color: #e84e40;
}

/*Removing margin and top border of profile detail*/
.xepan-contact-profile .profile-details{
	border-top:0px !important;
	margin-top:0px !important;
}
/*.xepan-micro-grid .atk-actions button {
  visibility: hidden;
}*/

/*.xepan-micro-grid .atk-actions button:after {
  content:' + '; 
  visibility: visible;
  background-color: blue;
}*/