input{background-color:rgba(254,254,254,0);border-top:none; border-left:none; border-right:none; font-weight:normal; border-bottom-color: grey; border-bottom-width: 1px;width: 100%}
input:focus{background-color:rgba(254,254,254,0);border-top:none; border-left:none; border-right:none; border-bottom-color: grey; border-bottom-width: 1px; outline: none !important}
textarea {width: 100%;}
/*.xepan-grid .xepan-actions button{
	border-radius:3px solid #2980b9;
	border-color:#2980b9;
	background-color:#03a9f4;
	color:#FFF;
	font-weight:normal;
	line-height:1.42857;
	text-align:center;
	vertical-align:middle;
	margin-left:5px;
    background-clip: padding-box;
    /*border-color: -moz-use-text-color;*/
    /*border-image: none;*/
    /*border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 2px;
    outline: medium none;
    padding: 6px 12px;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    font-size:14px;
	border-bottom:2px solid #216897;
}*/
/*.xepan-grid .xepan-actions button:hover{background-color:#017fb5;color:#FFF}*/

/*remove border from all input*/
.form-control{
	border:none ;
}

.filter-block .form-group .search-icon{
	right:0px;
	float: right;
}

.filter-block .form-group .xepan-jackscrew{
	float: right;
}

.xepan-filter-form .xepan-input-combo div.xepan-cell:first-child {
	float: left !important;
}
.xepan-filter-form span.icon-cancel{
	padding:5px;
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);	
	background-color: #e84e40;
	color: white;
	border-radius:5px;
}
.xepan-filter-form span.icon-cancel:before{content:"\f00d";}

.xepan-filter-form .form-control > i.search-icon{
	/*background-color: yellow;*/
}
.xepan-push-small{
	margin-bottom: 0.7rem !important;
}
.xepan-push{
	margin-bottom: 1.4rem !important;
}
.xepan-push-large{
	margin-bottom: 2.8rem !important;
}

/*xEpan HasMany Grid Button display on hover*/
.xepan-hover-button{
	display: none;
	position: absolute;
	right:0px;
	top: 0px;
}
.xepan-hasmany-row:hover .xepan-hover-button{
	display: block;
}

.xepan-hasmany-row{
	position: relative;
}

.xepan-hasmany-row td{
	padding:5px !important;
	font-size: 1em;
}

.xepan-micro-grid{
	font-size:0.7em;
}

.xepan-micro-grid header,.xepan-micro-grid .form-group{
	padding:0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}
.xepan-micro-grid .xepan-actions{
	margin-right: 10px;
}
.xepan-micro-grid .main-box-body{
	padding: 0px;
}

.xepan-hasmany-row > td a{
	padding:0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	font-size: 0.9em !important;

}
.xepan-hasmany-row .fa-pencil{
	color:#689f38;
}
.xepan-hasmany-row .fa-trash-o{
	color: #e84e40;
}

.xepan-hasmany-row .fa-pencil,.xepan-hasmany-row .fa-trash-o{
	background-color: #f3f3f3;
}

.xepan-hasmany-row .fa-pencil:hover, .xepan-hasmany-row .fa-trash-o:hover{
	background-color: gray;
	color: white;
}
.xepan-hasmany-row .fa-stack i.fa-stack-2x{
	display: none !important;
}

.xepan-micro-grid{
	font-size:0.8em;
}

.main-box-body > h2{

}

/*Removing margin and top border of profile detail*/
.xepan-contact-profile .profile-details{
	border-top:0px !important;
	margin-top:0px !important;
}



/*General CSS Class*/
.margin-reset{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-right: 0px;
}

.padding-reset{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-right: 0px;
}

.input-full-width input{
	width:100%;
}
.xepan-cell .xepan-jackscrew input{
	width: 100%;
}
.xepan-filter-form input{
	width: auto;
}
.editable-checklist input{
	width: auto;
}
/*.atk-cells{
	display: table;
	width: 100%;
}*/
.field-error-text{
	color:red!important;
}

/*.atk-cell{
	display: table-cell;
	vertical-align: middle;
}*/

.atk-align-right{
	text-align:right;
}
.xepan-clear-fix:after {
  clear: both;
}
.xepan-move-left {
  float: left;
}
.xepan-move-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.xepan-move-center.atk-button {
  display: block;
}
.xepan-move-right {
  float: right;
}
.xepan-align-left {
  text-align: left;
}

.atk-align-left{
	text-align:left;
}
.xepan-align-center {
  text-align: center;
}

/*.xepan-move-center {
  margin: auto 0 0 30%;
}*/
.paginator > span.select2{
	width: 80px!important;
}

/*span.select2{
	width:100% !important;
}*/
.xepan-form-field{
	border-bottom: 1px solid #eee;
    border-right: 2px solid #eee;
    border-top: 2px solid #eee;
    line-height: 27px;
    margin-top: 0;
    border-radius:4px;
    /*border-left-radius:0px;*/
}

.xepan-padding-xsmall {
  padding: 0.5rem;
}
.xepan-padding-small {
  padding: 0.75rem;
}
.xepan-padding {
  padding: 1.5rem;
}
.xepan-padding-large {
  padding: 3rem;
}
.xepan-padding-xlarge {
  padding: 4.5rem;
}
.xepan-padding-horizontal-xsmall {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.xepan-padding-horizontal-small {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.xepan-padding-horizontal {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.xepan-padding-horizontal-large {
  padding-left: 3rem;
  padding-right: 3rem;
}
.xepan-padding-horizontal-xlarge {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.xepan-padding-vertical-xsmall {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.xepan-padding-vertical-small {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.xepan-padding-vertical {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.xepan-padding-vertical-large {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.xepan-padding-vertical-xlarge {
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
}
.xepan-padding-left-xsmall {
  padding-left: 0.5rem;
}
.xepan-padding-left-small {
  padding-left: 0.75rem;
}
.xepan-padding-left {
  padding-left: 1.5rem;
}
.xepan-padding-left-large {
  padding-left: 3rem;
}
.xepan-padding-left-xlarge {
  padding-left: 4.5rem;
}
.xepan-padding-right-xsmall {
  padding-right: 0.5rem;
}
.xepan-padding-right-small {
  padding-right: 0.75rem;
}
.xepan-padding-right {
  padding-right: 1.5rem;
}
.xepan-padding-right-large {
  padding-right: 3rem;
}
.xepan-padding-right-xlarge {
  padding-right: 4.5rem;
}
.xepan-padding-top-xsmall {
  padding-top: 0.5rem;
}
.xepan-padding-top-small {
  padding-top: 0.75rem;
}
.xepan-padding-top {
  padding-top: 1.5rem;
}
.xepan-padding-top-large {
  padding-top: 3rem;
}
.xepan-padding-top-xlarge {
  padding-top: 4.5rem;
}
.xepan-padding-bottom-xsmall {
  padding-bottom: 0.5rem;
}
.xepan-padding-bottom-small {
  padding-bottom: 0.75rem;
}
.xepan-padding-bottom {
  padding-bottom: 1.5rem;
}
.xepan-padding-bottom-large {
  padding-bottom: 3rem;
}
.xepan-padding-bottom-xlarge {
  padding-bottom: 4.5rem;
}
.xepan-padding-reset {
  padding: 0;
}
.xepan-padding-left-reset {
  padding-left: 0;
}
.xepan-padding-right-reset {
  padding-right: 0;
}
.xepan-padding-top-reset {
  padding-top: 0;
}
.xepan-padding-bottom-reset {
  padding-bottom: 0;
}