.col-md-6
  .main-box.weather-box-large
    .main-box-body.main-box-no-header.clearfix
      .current
        h4 Current weather
        .place
          i.fa.fa-map-marker
          |  Udaipur
        .temp-out-wrapper.clearfix
          i.wi.wi-day-sunny.icon
          .temp-wrapper
            .temperature
              | 35
              span.sign °
            .desc
              | Sunny day
