
<div class="col-md-6">
  <div class="main-box weather-box-large">
    <div class="main-box-body main-box-no-header clearfix">
      <div class="current">
        <h4>Current weather</h4>
        <div class="place"><i class="fa fa-map-marker"></i> Udaipur</div>
        <div class="temp-out-wrapper clearfix"><i class="wi wi-day-sunny icon"></i>
          <div class="temp-wrapper">
            <div class="temperature">35<span class="sign">°</span></div>
            <div class="desc">Sunny day</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>