
<div class="main-box clearfix">
  <header class="main-box-header clearfix">
    <h2>Users</h2>
  </header>
  <div class="main-box-body clearfix">
    <ul class="widget-users row">
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/scarlet.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Sushil Milky</a></div>
          <div class="time"><i class="fa fa-clock-o"></i> Last online: 5 minutes ago</div>
          <div class="type"><span class="label label-danger">Admin</span></div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/kunis.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Radha</a></div>
          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
          <div class="type"><span class="label label-warning">Pending</span></div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/ryan.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Rakesh sinha</a></div>
          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/robert.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Vijay Mali</a></div>
          <div class="time"><i class="fa fa-clock-o"></i> Last online: Thursday</div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/emma.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Silky monga</a></div>
          <div class="time"><i class="fa fa-clock-o"></i> Last online: 1 week ago</div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/george.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Gowrav vishwakarma</a></div>
          <div class="time"><i class="fa fa-clock-o"></i> Last online: 1 month ago</div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/kunis.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Neelam</a></div>
          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
          <div class="type"><span class="label label-warning">Pending</span></div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="img"><img alt="" src="img/samples/ryan.png"/></div>
        <div class="details">
          <div class="name"><a href="#">Guru</a></div>
          <div class="time online"><i class="fa fa-check-circle"></i> Online</div>
        </div>
      </li>
    </ul>
  </div>
</div>