.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Conversation
    .main-box-body.clearfix
      .conversation-wrapper
        .conversation-content
          .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 352px;')
            .conversation-inner(style='overflow: hidden; width: auto; height: 352px;')
              .conversation-item.item-left.clearfix
                .conversation-user
                  img(alt='', src='img/samples/ryan.png')
                .conversation-body
                  .name
                    | Sushil milky
                  .time.hidden-xs
                    | September 21, 2015 18:28
                  .text
                    | I don't think they tried to market it to the billionaire, spelunking,
                    | base-jumping crowd.
              .conversation-item.item-right.clearfix
                .conversation-user
                  img(alt='', src='img/samples/kunis.png')
                .conversation-body
                  .name
                    | rita
                  .time.hidden-xs
                    | September 21, 2015 12:45
                  .text
                    | The path of the righteous man is beset on all sides by the iniquities of the
                    | selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    | good will.
              .conversation-item.item-right.clearfix
                .conversation-user
                  img(alt='', src='img/samples/kunis.png')
                .conversation-body
                  .name
                    | Mariya
                  .time.hidden-xs
                    | September 21, 2015 12:45
                  .text
                    | The path of the righteous man is beset on all sides by the iniquities of the
                    | selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    | good will.
              .conversation-item.item-left.clearfix
                .conversation-user
                  img(alt='', src='img/samples/ryan.png')
                .conversation-body
                  .name
                    | Sushil
                  .time.hidden-xs
                    | September 21, 2015 18:28
                  .text
                    | I don't think they tried to market it to the billionaire, spelunking,
                    | base-jumping crowd.
              .conversation-item.item-right.clearfix
                .conversation-user
                  img(alt='', src='img/samples/kunis.png')
                .conversation-body
                  .name
                    | Mila Kunis
                  .time.hidden-xs
                    | September 21, 2013 12:45
                  .text
                    | The path of the righteous man is beset on all sides by the iniquities of the
                    | selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    | good will.
              .conversation-item.item-right.clearfix
                .conversation-user
                  img(alt='', src='img/samples/kunis.png')
                .conversation-body
                  .name
                    | Mila Kunis
                  .time.hidden-xs
                    | September 21, 2013 12:45
                  .text
                    | The path of the righteous man is beset on all sides by the iniquities of the
                    | selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    | good will.
              .conversation-item.item-left.clearfix
                .conversation-user
                  img(alt='', src='img/samples/ryan.png')
                .conversation-body
                  .name
                    | Ryan Gossling
                  .time.hidden-xs
                    | September 21, 2013 18:28
                  .text
                    | I don't think they tried to market it to the billionaire, spelunking,
                    | base-jumping crowd.
              .conversation-item.item-right.clearfix
                .conversation-user
                  img(alt='', src='img/samples/kunis.png')
                .conversation-body
                  .name
                    | Mila Kunis
                  .time.hidden-xs
                    | September 21, 2013 12:45
                  .text
                    | The path of the righteous man is beset on all sides by the iniquities of the
                    | selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    | good will.
            .slimScrollBar(style='background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 158.648px;')
            .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; display: none;')
        .conversation-new-message
          form
            .form-group
              textarea.form-control(placeholder='Enter your message...', rows='2')
            .clearfix
              button.btn.btn-success.pull-right(type='submit') Send message
