
<div class="main-box clearfix project-box green-box">
  <div class="main-box-body clearfix">
    <div class="project-box-header green-bg">
      <div class="name"><a href="#">Captain America</a></div>
    </div>
    <div class="project-box-content"><span data-bar-color="#2ecc71" data-percent="86" class="chart"><span class="percent">86</span>%<br/><span class="lbl">completed</span>
        <canvas height="130" width="130"></canvas></span></div>
    <div class="project-box-footer clearfix"><a href="#"><span class="value">93</span><span class="label">Tasks</span></a><a href="#"><span class="value">3</span><span class="label">Alerts</span></a><a href="#"><span class="value">483</span><span class="label">Messages</span></a></div>
    <div class="project-box-ultrafooter clearfix"><img title="" data-toggle="tooltip" src="img/samples/lima-300.jpg" alt="" data-original-title="Adriana Lima" class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/robert-300.jpg" alt="" data-original-title="Robert Downey Jr." class="project-img-owner"/><img title="" data-toggle="tooltip" src="img/samples/angelina-300.jpg" alt="" data-original-title="Angelina Jolie" class="project-img-owner"/><a href="#" class="link pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></a></div>
  </div>
</div>