
<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box"><i class="fa fa-user red-bg"></i><span class="headline">Users</span><span class="value"><span data-refresh-interval="50" data-speed="1000" data-to="2562" data-from="120" class="timer">2562</span></span></div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box"><i class="fa fa-shopping-cart emerald-bg"></i><span class="headline">Purchases</span><span class="value"><span data-refresh-interval="30" data-speed="800" data-to="658" data-from="30" class="timer">658</span></span></div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box"><i class="fa fa-money green-bg"></i><span class="headline">Income</span><span class="value">$<span data-refresh-interval="60" data-speed="900" data-to="8400" data-from="83" class="timer">8400</span></span></div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box"><i class="fa fa-eye yellow-bg"></i><span class="headline">Monthly Visits</span><span class="value"><span data-speed="1100" data-to="12526" data-from="539" class="timer">12526</span></span></div>
  </div>
</div>