
<div class="row">
  <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-stats">
      <div class="main-box-body clearfix">
        <div style="background-image: url(img/samples/nature.jpg);" class="profile-box-header purple-bg clearfix">
          <h2>sushil</h2>
          <div class="job-position">Actress</div><img alt="" src="img/samples/robert-300.jpg" class="profile-img img-responsive"/>
        </div>
        <div class="profile-box-footer clearfix"><a href="#"><span class="value">783</span><span class="label">Messages</span></a><a href="#"><span class="value">912</span><span class="label">Sales</span></a><a href="#"><span class="value">83</span><span class="label">Projects</span></a></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-stats">
      <div class="main-box-body clearfix">
        <div class="profile-box-header purple-bg clearfix">
          <h2>Sushil</h2>
          <div class="job-position">Actress</div><img alt="" src="img/samples/robert-300.jpg" class="profile-img img-responsive"/>
        </div>
        <div class="profile-box-footer clearfix"><a href="#"><span class="value">783</span><span class="label">Messages</span></a><a href="#"><span class="value">912</span><span class="label">Sales</span></a><a href="#"><span class="value">83</span><span class="label">Projects</span></a></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="main-box clearfix profile-box-contact">
      <div class="main-box-body clearfix">
        <div class="profile-box-header gray-bg clearfix"><img alt="" src="img/samples/kunis-300.jpg" class="profile-img img-responsive"/>
          <h2>guru</h2>
          <div class="job-position">Actress</div>
          <ul class="contact-details">
            <li><i class="fa fa-map-marker"></i> Udaipur</li>
            <li><i class="fa fa-envelope"></i> guru@guru.com</li>
            <li><i class="fa fa-phone"></i> (07463) 2222222</li>
          </ul>
        </div>
        <div class="profile-box-footer clearfix"><a href="#"><span class="value">44</span><span class="label">Messages</span></a><a href="#"><span class="value">91</span><span class="label">Sales</span></a><a href="#"><span class="value">3</span><span class="label">Projects</span></a></div>
      </div>
    </div>
  </div>
</div>