.row
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box.colored.emerald-bg
      i.fa.fa-envelope
      span.headline Messages
      span.value 4.658
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box.colored.green-bg
      i.fa.fa-money
      span.headline Orders
      span.value 22.631
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box.colored.red-bg
      i.fa.fa-user
      span.headline Users
      span.value 92.421
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box.colored.purple-bg
      i.fa.fa-globe
      span.headline Visits
      span.value 183.298
