.main-box.clearfix
  header.main-box-header.clearfix
    h2 Users
  .main-box-body.clearfix
    ul.widget-users.row
      li.col-md-6
        .img
          img(alt='', src='img/samples/scarlet.png')
        .details
          .name
            a(href='#') Sushil Milky
          .time
            i.fa.fa-clock-o
            |  Last online: 5 minutes ago
          .type
            span.label.label-danger Admin
      li.col-md-6
        .img
          img(alt='', src='img/samples/kunis.png')
        .details
          .name
            a(href='#') Radha
          .time.online
            i.fa.fa-check-circle
            |  Online
          .type
            span.label.label-warning Pending
      li.col-md-6
        .img
          img(alt='', src='img/samples/ryan.png')
        .details
          .name
            a(href='#') Rakesh sinha
          .time.online
            i.fa.fa-check-circle
            |  Online
      li.col-md-6
        .img
          img(alt='', src='img/samples/robert.png')
        .details
          .name
            a(href='#') Vijay Mali
          .time
            i.fa.fa-clock-o
            |  Last online: Thursday
      li.col-md-6
        .img
          img(alt='', src='img/samples/emma.png')
        .details
          .name
            a(href='#') Silky monga
          .time
            i.fa.fa-clock-o
            |  Last online: 1 week ago
      li.col-md-6
        .img
          img(alt='', src='img/samples/george.png')
        .details
          .name
            a(href='#') Gowrav vishwakarma
          .time
            i.fa.fa-clock-o
            |  Last online: 1 month ago
      li.col-md-6
        .img
          img(alt='', src='img/samples/kunis.png')
        .details
          .name
            a(href='#') Neelam
          .time.online
            i.fa.fa-check-circle
            |  Online
          .type
            span.label.label-warning Pending
      li.col-md-6
        .img
          img(alt='', src='img/samples/ryan.png')
        .details
          .name
            a(href='#') Guru
          .time.online
            i.fa.fa-check-circle
            |  Online
