
<div class="col-lg-6">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>Todo</h2>
    </header>
    <div class="main-box-body clearfix">
      <ul class="widget-todo">
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-1" type="checkbox"/>
              <label for="todo-1">New products introduction <span class="label label-danger">High Priority</span></label>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-2" type="checkbox"/>
              <label for="todo-2">Checking the stock <span class="label label-success">Low Priority</span></label>
            </div>
          </div>
          <div class="actions"><a href="#" class="table-link"><i class="fa fa-pencil"></i></a><a href="#" class="table-link danger"><i class="fa fa-trash-o"></i></a></div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-3" type="checkbox" checked="checked"/>
              <label for="todo-3">Buying coffee <span class="label label-warning">Medium Priority</span></label>
            </div>
          </div>
          <div class="actions"><a href="#" class="table-link"><i class="fa fa-pencil"></i></a><a href="#" class="table-link danger"><i class="fa fa-trash-o"></i></a></div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-4" type="checkbox"/>
              <label for="todo-4">New marketing campaign <span class="label label-success">Low Priority</span></label>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-5" type="checkbox"/>
              <label for="todo-5">Calling Mom <span class="label label-warning">Medium Priority</span></label>
            </div>
          </div>
          <div class="actions"><a href="#" class="table-link badge"><i class="fa fa-cog"></i></a></div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-6" type="checkbox"/>
              <label for="todo-6">Sushil birthday <span class="label label-danger">High Priority</span></label>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-7" type="checkbox"/>
              <label for="todo-7">Printing new flyer <span class="label label-success">Low Priority</span></label>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-8" type="checkbox"/>
              <label for="todo-8">Krishna and Radha wedding <span class="label label-danger">High Priority</span></label>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="name">
            <div class="checkbox-nice">
              <input id="todo-9" type="checkbox"/>
              <label for="todo-9">Checking the stock <span class="label label-success">Low Priority</span></label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>