
<div class="col-md-4">
  <div class="main-box weather-box">
    <header class="main-box-header clearfix">
      <h2 class="pull-left">Weather now</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="current">
        <div style="width: 220px;" class="clearfix center-block">
          <canvas id="current-weather" height="100" width="100" class="icon"></canvas>
          <div class="temp-wrapper">
            <div class="temperature">25<span class="sign">°</span></div>
            <div class="desc"><i class="fa fa-map-marker"></i> Udaipur</div>
          </div>
        </div>
      </div>
      <div class="next">
        <ul class="clearfix">
          <li>
            <div class="day">MON</div>
            <div data-toggle="tooltip" title="" data-original-title="Hot" class="icon"><i class="wi wi-hot"></i></div>
            <div class="temperature">45<span class="sign">°</span></div>
          </li>
          <li>
            <div class="day">TUE</div>
            <div data-toggle="tooltip" title="" data-original-title="Showers" class="icon"><i class="wi wi-day-showers"></i></div>
            <div class="temperature">28<span class="sign">°</span></div>
          </li>
          <li>
            <div class="day">WED</div>
            <div data-toggle="tooltip" title="" data-original-title="Cloudy" class="icon"><i class="wi wi-cloudy-windy"></i></div>
            <div class="temperature">16<span class="sign">°</span></div>
          </li>
          <li>
            <div class="day">THU</div>
            <div data-toggle="tooltip" title="" data-original-title="Thunderstom" class="icon"><i class="wi wi-thunderstorm"></i></div>
            <div class="temperature">18<span class="sign">°</span></div>
          </li>
          <li>
            <div class="day">FRI</div>
            <div data-toggle="tooltip" title="" data-original-title="Lightning" class="icon"><i class="wi wi-night-alt-lightning"></i></div>
            <div class="temperature">22<span class="sign">°</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>