.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Todo
    .main-box-body.clearfix
      ul.widget-todo
        li.clearfix
          .name
            .checkbox-nice
              input#todo-1(type='checkbox')
              label(for='todo-1')
                | New products introduction 
                span.label.label-danger High Priority
        li.clearfix
          .name
            .checkbox-nice
              input#todo-2(type='checkbox')
              label(for='todo-2')
                | Checking the stock 
                span.label.label-success Low Priority
          .actions
            a.table-link(href='#')
              i.fa.fa-pencil
            a.table-link.danger(href='#')
              i.fa.fa-trash-o
        li.clearfix
          .name
            .checkbox-nice
              input#todo-3(type='checkbox', checked='checked')
              label(for='todo-3')
                | Buying coffee 
                span.label.label-warning Medium Priority
          .actions
            a.table-link(href='#')
              i.fa.fa-pencil
            a.table-link.danger(href='#')
              i.fa.fa-trash-o
        li.clearfix
          .name
            .checkbox-nice
              input#todo-4(type='checkbox')
              label(for='todo-4')
                | New marketing campaign 
                span.label.label-success Low Priority
        li.clearfix
          .name
            .checkbox-nice
              input#todo-5(type='checkbox')
              label(for='todo-5')
                | Calling Mom 
                span.label.label-warning Medium Priority
          .actions
            a.table-link.badge(href='#')
              i.fa.fa-cog
        li.clearfix
          .name
            .checkbox-nice
              input#todo-6(type='checkbox')
              label(for='todo-6')
                | Sushil birthday 
                span.label.label-danger High Priority
        li.clearfix
          .name
            .checkbox-nice
              input#todo-7(type='checkbox')
              label(for='todo-7')
                | Printing new flyer 
                span.label.label-success Low Priority
        li.clearfix
          .name
            .checkbox-nice
              input#todo-8(type='checkbox')
              label(for='todo-8')
                | Krishna and Radha wedding 
                span.label.label-danger High Priority
        li.clearfix
          .name
            .checkbox-nice
              input#todo-9(type='checkbox')
              label(for='todo-9')
                | Checking the stock 
                span.label.label-success Low Priority
