.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Products
    .main-box-body.clearfix
      ul.widget-products
        li
          a(href='#')
            span.img
              img(alt='', src='img/samples/ipad.png')
            span.product.clearfix
              span.name
                | UDB dream
              span.price
                i.fa.fa-money
                |  $320,00
              span.warranty
                i.fa.fa-certificate
                |  Warranty: 2 years
        li
          a(href='#')
            span.img
              img(alt='', src='img/samples/ipad.png')
            span.product.clearfix
              span.name
                | UB buidicom
              span.price
                i.fa.fa-money
                |  $273,68
              span.warranty
                i.fa.fa-certificate
                |  Warranty: 2 years
        li
          a(href='#')
            span.img
              img(alt='', src='img/samples/ipad.png')
            span.product.clearfix
              span.name
                | ERP system
              span.price
                i.fa.fa-money
                |  $447,29
              span.warranty
                i.fa.fa-certificate
                |  Warranty: 4 years
        li
          a(href='#')
            span.img
              img(alt='', src='img/samples/ipad.png')
            span.product.clearfix
              span.name
                | Blackhood
              span.price
                i.fa.fa-money
                |  $447,29
              span.warranty
                i.fa.fa-certificate
                |  Warranty: 4 years
