
<div class="col-lg-6">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>Products</h2>
    </header>
    <div class="main-box-body clearfix">
      <ul class="widget-products">
        <li><a href="#"><span class="img"><img alt="" src="img/samples/ipad.png"/></span><span class="product clearfix"><span class="name">UDB dream</span><span class="price"><i class="fa fa-money"></i> $320,00</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: 2 years</span></span></a></li>
        <li><a href="#"><span class="img"><img alt="" src="img/samples/ipad.png"/></span><span class="product clearfix"><span class="name">UB buidicom</span><span class="price"><i class="fa fa-money"></i> $273,68</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: 2 years</span></span></a></li>
        <li><a href="#"><span class="img"><img alt="" src="img/samples/ipad.png"/></span><span class="product clearfix"><span class="name">ERP system</span><span class="price"><i class="fa fa-money"></i> $447,29</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: 4 years</span></span></a></li>
        <li><a href="#"><span class="img"><img alt="" src="img/samples/ipad.png"/></span><span class="product clearfix"><span class="name">Blackhood</span><span class="price"><i class="fa fa-money"></i> $447,29</span><span class="warranty"><i class="fa fa-certificate"></i> Warranty: 4 years</span></span></a></li>
      </ul>
    </div>
  </div>
</div>