
<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
  <div class="main-box">
    <div class="clearfix">
      <div class="infographic-box merged merged-top pull-left"><i class="fa fa-user purple-bg"></i><span class="value purple">2.562</span><span class="headline">Users</span></div>
      <div class="infographic-box merged merged-top merged-right pull-left"><i class="fa fa-money green-bg"></i><span class="value green">$12.400</span><span class="headline">Income</span></div>
    </div>
    <div class="clearfix">
      <div class="infographic-box merged pull-left"><i class="fa fa-eye yellow-bg"></i><span class="value yellow">12.526</span><span class="headline">Monthly Visits</span></div>
      <div class="infographic-box merged merged-right pull-left"><i class="fa fa-globe red-bg"></i><span class="value red">28</span><span class="headline">Countries</span></div>
    </div>
  </div>
</div>