
<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="main-box feed">
    <header class="main-box-header clearfix">
      <h2 class="pull-left">Project feed</h2>
    </header>
    <div class="main-box-body clearfix">
      <ul>
        <li class="clearfix">
          <div class="img"><img alt="" src="img/samples/robert-300.jpg"/></div>
          <div class="title"><a href="#">Radha</a> took photo with Instagram.</div>
          <div class="post-time">Today 5:22 pm</div>
          <div class="time-ago"><i class="fa fa-clock-o"></i> 5 min.</div>
        </li>
        <li class="clearfix">
          <div class="img"><img alt="" src="img/samples/lima-300.jpg"/></div>
          <div class="title"><a href="#">Angel</a> checked in at Las Vegas Oscars</div>
          <div class="post-time">Yesterday 11:38 am</div>
          <div class="photos clearfix">
            <div class="item"><a href="#"><img alt="" src="img/samples/robert-300.jpg"/></a></div>
            <div class="item"><a href="#"><img alt="" src="img/samples/emma-300.jpg"/></a></div>
            <div class="item"><a href="#"><img alt="" src="img/samples/scarlett-300.jpg"/></a></div>
          </div>
          <div class="time-ago"><i class="fa fa-clock-o"></i> 9 hours.</div>
        </li>
        <li class="clearfix">
          <div class="img"><img alt="" src="img/samples/emma-300.jpg"/></div>
          <div class="title"><a href="#">Silky</a> commented on Scarlett Johansson's video.</div>
          <div class="post-time">Today 11:59 pm</div>
          <div class="time-ago"><i class="fa fa-clock-o"></i> 28 min.</div>
        </li>
        <li class="clearfix">
          <div class="img"><img alt="" src="img/samples/ryan-300.jpg"/></div>
          <div class="title"><a href="#">Sushil</a> likes Ryan Gosling's link on his own Timeline.</div>
          <div class="post-time">Yesterday 9:43 pm</div>
          <div class="photos clearfix">
            <div class="item"><a href="#"><img alt="" src="img/samples/scarlett-300.jpg"/></a></div>
            <div class="item"><a href="#"><img alt="" src="img/samples/robert-300.jpg"/></a></div>
            <div class="item"><a href="#"><img alt="" src="img/samples/emma-300.jpg"/></a></div>
          </div>
          <div class="time-ago"><i class="fa fa-clock-o"></i> 5 hours.</div>
        </li>
        <li class="clearfix">
          <div class="img"><img alt="" src="img/samples/kunis-300.jpg"/></div>
          <div class="title"><a href="#">Karishma</a> invited you to his birthday party at her mansion.</div>
          <div class="post-time">Yesterday 7:50 am</div>
          <div class="time-ago"><i class="fa fa-clock-o"></i> 9 hours.</div>
        </li>
      </ul>
    </div>
  </div>
</div>