.col-lg-5.col-md-8.col-sm-12.col-xs-12
  .main-box
    .clearfix
      .infographic-box.merged.merged-top.pull-left
        i.fa.fa-user.purple-bg
        span.value.purple 2.562
        span.headline Users
      .infographic-box.merged.merged-top.merged-right.pull-left
        i.fa.fa-money.green-bg
        span.value.green $12.400
        span.headline Income
    .clearfix
      .infographic-box.merged.pull-left
        i.fa.fa-eye.yellow-bg
        span.value.yellow 12.526
        span.headline Monthly Visits
      .infographic-box.merged.merged-right.pull-left
        i.fa.fa-globe.red-bg
        span.value.red 28
        span.headline Countries
