.row
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box
      i.fa.fa-user.red-bg
      span.headline Users
      span.value
        span.timer(data-refresh-interval='50', data-speed='1000', data-to='2562', data-from='120')
          | 2562
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box
      i.fa.fa-shopping-cart.emerald-bg
      span.headline Purchases
      span.value
        span.timer(data-refresh-interval='30', data-speed='800', data-to='658', data-from='30')
          | 658
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box
      i.fa.fa-money.green-bg
      span.headline Income
      span.value
        | $
        span.timer(data-refresh-interval='60', data-speed='900', data-to='8400', data-from='83')
          | 8400
  .col-lg-3.col-sm-6.col-xs-12
    .main-box.infographic-box
      i.fa.fa-eye.yellow-bg
      span.headline Monthly Visits
      span.value
        span.timer(data-speed='1100', data-to='12526', data-from='539')
          | 12526
