
<div class="col-lg-4 col-md-5 col-sm-6">
  <div class="main-box clearfix profile-box">
    <div class="main-box-body clearfix">
      <div style="background-image: url(img/samples/nature.jpg);" class="profile-box-header"><img alt="" src="img/samples/scarlet-159.png" class="profile-img img-responsive center-block"/>
        <h2>Scarlett Johansson</h2>
        <div class="job-position">Actress</div>
      </div>
      <div class="profile-box-footer clearfix"><a href="#"><span class="value">854</span><span class="label">Followers</span></a><a href="#"><span class="value">72</span><span class="label">Following</span></a><a href="#"><span class="value">128</span><span class="label">Friends</span></a></div>
    </div>
  </div>
</div>