.col-lg-4.col-md-5.col-sm-6
  .main-box.clearfix.profile-box
    .main-box-body.clearfix
      .profile-box-header(style='background-image: url(img/samples/nature.jpg);')
        img.profile-img.img-responsive.center-block(alt='', src='img/samples/scarlet-159.png')
        h2 Scarlett Johansson
        .job-position
          | Actress
      .profile-box-footer.clearfix
        a(href='#')
          span.value 854
          span.label Followers
        a(href='#')
          span.value 72
          span.label Following
        a(href='#')
          span.value 128
          span.label Friends
