.main-box.clearfix.project-box.green-box
  .main-box-body.clearfix
    .project-box-header.green-bg
      .name
        a(href='#')
          | Captain America
    .project-box-content
      span.chart(data-bar-color='#2ecc71', data-percent='86')
        span.percent 86
        | %
        br
        span.lbl completed
        canvas(height='130', width='130')
    .project-box-footer.clearfix
      a(href='#')
        span.value 93
        span.label Tasks
      a(href='#')
        span.value 3
        span.label Alerts
      a(href='#')
        span.value 483
        span.label Messages
    .project-box-ultrafooter.clearfix
      img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/lima-300.jpg', alt='', data-original-title='Adriana Lima')
      img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/robert-300.jpg', alt='', data-original-title='Robert Downey Jr.')
      img.project-img-owner(title='', data-toggle='tooltip', src='img/samples/angelina-300.jpg', alt='', data-original-title='Angelina Jolie')
      a.link.pull-right(href='#')
        i.fa.fa-arrow-circle-right.fa-lg
