
<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">Messages</span><span class="value">4.658</span></div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box colored green-bg"><i class="fa fa-money"></i><span class="headline">Orders</span><span class="value">22.631</span></div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box colored red-bg"><i class="fa fa-user"></i><span class="headline">Users</span><span class="value">92.421</span></div>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <div class="main-box infographic-box colored purple-bg"><i class="fa fa-globe"></i><span class="headline">Visits</span><span class="value">183.298</span></div>
  </div>
</div>