.main-box.clearfix.profile-box-menu
  .main-box-body.clearfix
    .profile-box-header.green-bg.clearfix(style='background-image: url(img/samples/nature2.jpg);')
      img.profile-img.img-responsive(alt='', src='img/samples/angelina-300.jpg')
      h2
        | Radha
        br
        | krishna
      .job-position
        | god
    .profile-box-content.clearfix
      ul.menu-items
        li
          a.clearfix(href='#')
            i.fa.fa-bell-o.fa-lg
            |  New notifications
            span.label.label-danger.label-circle.pull-right 82
        li
          a.clearfix(href='#')
            i.fa.fa-user.fa-lg
            |  Edit profile
            span.label.label-success.label-circle.pull-right 13
        li
          a.clearfix(href='#')
            i.fa.fa-calendar.fa-lg
            |  Calendar
            span.label.label-warning.label-circle.pull-right 12
        li
          a.clearfix(href='#')
            i.fa.fa-envelope.fa-lg
            |  New message
            span.label.label-primary.label-circle.pull-right 44
