.col-md-3.col-lg-2.col-lg-offset-1
  .social-box-wrapper
    .social-box.col-md-12.col-sm-4.facebook
      i.fa.fa-facebook
      .clearfix
        span.social-count 184k
        span.social-action likes
      span.social-name facebook
    .social-box.col-md-12.col-sm-4.twitter
      i.fa.fa-twitter
      .clearfix
        span.social-count 49k
        span.social-action tweets
      span.social-name twitter
    .social-box.col-md-12.col-sm-4.google
      i.fa.fa-google-plus
      .clearfix
        span.social-count 1 204
        span.social-action circles
      span.social-name google+
