.col-lg-4.col-md-6.col-sm-6
  .main-box.feed
    header.main-box-header.clearfix
      h2.pull-left Project feed
    .main-box-body.clearfix
      ul
        li.clearfix
          .img
            img(alt='', src='img/samples/robert-300.jpg')
          .title
            a(href='#') Radha
            |  took photo with Instagram.
          .post-time
            | Today 5:22 pm
          .time-ago
            i.fa.fa-clock-o
            |  5 min.
        li.clearfix
          .img
            img(alt='', src='img/samples/lima-300.jpg')
          .title
            a(href='#') Angel
            |  checked in at Las Vegas Oscars
          .post-time
            | Yesterday 11:38 am
          .photos.clearfix
            .item
              a(href='#')
                img(alt='', src='img/samples/robert-300.jpg')
            .item
              a(href='#')
                img(alt='', src='img/samples/emma-300.jpg')
            .item
              a(href='#')
                img(alt='', src='img/samples/scarlett-300.jpg')
          .time-ago
            i.fa.fa-clock-o
            |  9 hours.
        li.clearfix
          .img
            img(alt='', src='img/samples/emma-300.jpg')
          .title
            a(href='#') Silky
            |  commented on Scarlett Johansson's video.
          .post-time
            | Today 11:59 pm
          .time-ago
            i.fa.fa-clock-o
            |  28 min.
        li.clearfix
          .img
            img(alt='', src='img/samples/ryan-300.jpg')
          .title
            a(href='#') Sushil
            |  likes Ryan Gosling's link on his own Timeline.
          .post-time
            | Yesterday 9:43 pm
          .photos.clearfix
            .item
              a(href='#')
                img(alt='', src='img/samples/scarlett-300.jpg')
            .item
              a(href='#')
                img(alt='', src='img/samples/robert-300.jpg')
            .item
              a(href='#')
                img(alt='', src='img/samples/emma-300.jpg')
          .time-ago
            i.fa.fa-clock-o
            |  5 hours.
        li.clearfix
          .img
            img(alt='', src='img/samples/kunis-300.jpg')
          .title
            a(href='#') Karishma
            |  invited you to his birthday party at her mansion.
          .post-time
            | Yesterday 7:50 am
          .time-ago
            i.fa.fa-clock-o
            |  9 hours.
