
<div class="col-lg-6">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>Conversation</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="conversation-wrapper">
        <div class="conversation-content">
          <div style="position: relative; overflow: hidden; width: auto; height: 352px;" class="slimScrollDiv">
            <div style="overflow: hidden; width: auto; height: 352px;" class="conversation-inner">
              <div class="conversation-item item-left clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/ryan.png"/></div>
                <div class="conversation-body">
                  <div class="name">Sushil milky</div>
                  <div class="time hidden-xs">September 21, 2015 18:28</div>
                  <div class="text">
                    I don't think they tried to market it to the billionaire, spelunking,
                    base-jumping crowd.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-right clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                <div class="conversation-body">
                  <div class="name">rita</div>
                  <div class="time hidden-xs">September 21, 2015 12:45</div>
                  <div class="text">
                    The path of the righteous man is beset on all sides by the iniquities of the
                    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    good will.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-right clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                <div class="conversation-body">
                  <div class="name">Mariya</div>
                  <div class="time hidden-xs">September 21, 2015 12:45</div>
                  <div class="text">
                    The path of the righteous man is beset on all sides by the iniquities of the
                    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    good will.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-left clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/ryan.png"/></div>
                <div class="conversation-body">
                  <div class="name">Sushil</div>
                  <div class="time hidden-xs">September 21, 2015 18:28</div>
                  <div class="text">
                    I don't think they tried to market it to the billionaire, spelunking,
                    base-jumping crowd.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-right clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                <div class="conversation-body">
                  <div class="name">Mila Kunis</div>
                  <div class="time hidden-xs">September 21, 2013 12:45</div>
                  <div class="text">
                    The path of the righteous man is beset on all sides by the iniquities of the
                    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    good will.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-right clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                <div class="conversation-body">
                  <div class="name">Mila Kunis</div>
                  <div class="time hidden-xs">September 21, 2013 12:45</div>
                  <div class="text">
                    The path of the righteous man is beset on all sides by the iniquities of the
                    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    good will.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-left clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/ryan.png"/></div>
                <div class="conversation-body">
                  <div class="name">Ryan Gossling</div>
                  <div class="time hidden-xs">September 21, 2013 18:28</div>
                  <div class="text">
                    I don't think they tried to market it to the billionaire, spelunking,
                    base-jumping crowd.
                  </div>
                </div>
              </div>
              <div class="conversation-item item-right clearfix">
                <div class="conversation-user"><img alt="" src="img/samples/kunis.png"/></div>
                <div class="conversation-body">
                  <div class="name">Mila Kunis</div>
                  <div class="time hidden-xs">September 21, 2013 12:45</div>
                  <div class="text">
                    The path of the righteous man is beset on all sides by the iniquities of the
                    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    good will.
                  </div>
                </div>
              </div>
            </div>
            <div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 158.648px;" class="slimScrollBar"></div>
            <div style="width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; display: none;" class="slimScrollRail"></div>
          </div>
        </div>
        <div class="conversation-new-message">
          <form>
            <div class="form-group">
              <textarea placeholder="Enter your message..." rows="2" class="form-control"></textarea>
            </div>
            <div class="clearfix">
              <button type="submit" class="btn btn-success pull-right">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>