h3 Enter your email and click on send E-mail button to receive mail

form(role='form', action='#', method='POST' class=" ")
  fieldset
    .form-group
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-user
        .form-control.xepan-form-field{$email}
  button.btn.btn-black(type='submit' style='float:center;') Send E-Mail
a.forgot-link.back-login.xepan-login-panl-loadview(data-showview="login_view" style='float:right;') Back to login
 #login-box-footer                        

