
<div style="{$style}" id="{$_name}" class="atk-form {$class} vizi-registration">
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-5">{$name} </div>
    <div class="atk-col-1">*</div>
    <div class="atk-col-5">{$surname}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$company}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$position}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$registration_number}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row">
    <div class="atk-col-11">{$VAT_number}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$country}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$address}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$position_in_company}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$email_address}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$Mobile_phone}</div>
    <div class="atk-col-1">*</div>
  </div>
  <div class="atk-row atk-push-xsmall">
    <div class="atk-col-11">{$phone}</div>
    <div class="atk-col-1">*</div>
  </div>
</div>