.atk-form(style="{$style}" class="{$class} vizi-registration" id="{$_name}")
	.atk-row.atk-push-xsmall
		.atk-col-5|{$name} 
		.atk-col-1|*
		.atk-col-5|{$surname}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$company}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$position}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$registration_number}
		.atk-col-1|*
	.atk-row
		.atk-col-11|{$VAT_number}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$country}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$address}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$position_in_company}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$email_address}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$Mobile_phone}
		.atk-col-1|*
	.atk-row.atk-push-xsmall
		.atk-col-11|{$phone}
		.atk-col-1|*
	