.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Currency Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bitcoin
          |  fa-bitcoin 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-btc
          |  fa-btc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cny
          |  fa-cny 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-dollar
          |  fa-dollar 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-eur
          |  fa-eur
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-euro
          |  fa-euro 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gbp
          |  fa-gbp
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-inr
          |  fa-inr
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-jpy
          |  fa-jpy
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-krw
          |  fa-krw
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-money
          |  fa-money
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rmb
          |  fa-rmb 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rouble
          |  fa-rouble 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rub
          |  fa-rub
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ruble
          |  fa-ruble 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rupee
          |  fa-rupee 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-try
          |  fa-try
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-turkish-lira
          |  fa-turkish-lira 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-usd
          |  fa-usd
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-won
          |  fa-won 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-yen
          |  fa-yen 
          span.text-muted (alias)
