.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Directional Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-double-down
          |  fa-angle-double-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-double-left
          |  fa-angle-double-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-double-right
          |  fa-angle-double-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-double-up
          |  fa-angle-double-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-down
          |  fa-angle-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-left
          |  fa-angle-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-right
          |  fa-angle-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-angle-up
          |  fa-angle-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-down
          |  fa-arrow-circle-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-left
          |  fa-arrow-circle-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-o-down
          |  fa-arrow-circle-o-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-o-left
          |  fa-arrow-circle-o-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-o-right
          |  fa-arrow-circle-o-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-o-up
          |  fa-arrow-circle-o-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-right
          |  fa-arrow-circle-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-circle-up
          |  fa-arrow-circle-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-down
          |  fa-arrow-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-left
          |  fa-arrow-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-right
          |  fa-arrow-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrow-up
          |  fa-arrow-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows
          |  fa-arrows
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows-alt
          |  fa-arrows-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows-h
          |  fa-arrows-h
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows-v
          |  fa-arrows-v
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-down
          |  fa-caret-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-left
          |  fa-caret-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-right
          |  fa-caret-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-down
          |  fa-caret-square-o-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-left
          |  fa-caret-square-o-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-right
          |  fa-caret-square-o-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-up
          |  fa-caret-square-o-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-up
          |  fa-caret-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-circle-down
          |  fa-chevron-circle-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-circle-left
          |  fa-chevron-circle-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-circle-right
          |  fa-chevron-circle-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-circle-up
          |  fa-chevron-circle-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-down
          |  fa-chevron-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-left
          |  fa-chevron-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-right
          |  fa-chevron-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chevron-up
          |  fa-chevron-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hand-o-down
          |  fa-hand-o-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hand-o-left
          |  fa-hand-o-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hand-o-right
          |  fa-hand-o-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hand-o-up
          |  fa-hand-o-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-long-arrow-down
          |  fa-long-arrow-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-long-arrow-left
          |  fa-long-arrow-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-long-arrow-right
          |  fa-long-arrow-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-long-arrow-up
          |  fa-long-arrow-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-down
          |  fa-toggle-down 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-left
          |  fa-toggle-left 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-right
          |  fa-toggle-right 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-up
          |  fa-toggle-up 
          span.text-muted (alias)
