.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Spinner Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle-o-notch
          |  fa-circle-o-notch
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cog
          |  fa-cog
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gear
          |  fa-gear 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-refresh
          |  fa-refresh
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-spinner
          |  fa-spinner
