.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Medical Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ambulance
          |  fa-ambulance
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-h-square
          |  fa-h-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hospital-o
          |  fa-hospital-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-medkit
          |  fa-medkit
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-plus-square
          |  fa-plus-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-stethoscope
          |  fa-stethoscope
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-user-md
          |  fa-user-md
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-wheelchair
          |  fa-wheelchair
