.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 71 New Icons in 4.1
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-automobile
          |  fa-automobile 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bank
          |  fa-bank 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-behance
          |  fa-behance
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-behance-square
          |  fa-behance-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bomb
          |  fa-bomb
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-building
          |  fa-building
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cab
          |  fa-cab 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-car
          |  fa-car
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-child
          |  fa-child
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle-o-notch
          |  fa-circle-o-notch
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle-thin
          |  fa-circle-thin
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-codepen
          |  fa-codepen
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cube
          |  fa-cube
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cubes
          |  fa-cubes
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-database
          |  fa-database
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-delicious
          |  fa-delicious
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-deviantart
          |  fa-deviantart
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-digg
          |  fa-digg
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-drupal
          |  fa-drupal
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-empire
          |  fa-empire
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-envelope-square
          |  fa-envelope-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fax
          |  fa-fax
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-archive-o
          |  fa-file-archive-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-audio-o
          |  fa-file-audio-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-code-o
          |  fa-file-code-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-excel-o
          |  fa-file-excel-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-image-o
          |  fa-file-image-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-movie-o
          |  fa-file-movie-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-pdf-o
          |  fa-file-pdf-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-photo-o
          |  fa-file-photo-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-picture-o
          |  fa-file-picture-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-powerpoint-o
          |  fa-file-powerpoint-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-sound-o
          |  fa-file-sound-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-video-o
          |  fa-file-video-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-word-o
          |  fa-file-word-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-zip-o
          |  fa-file-zip-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ge
          |  fa-ge 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-git
          |  fa-git
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-git-square
          |  fa-git-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-google
          |  fa-google
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-graduation-cap
          |  fa-graduation-cap
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hacker-news
          |  fa-hacker-news
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-header
          |  fa-header
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-history
          |  fa-history
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-institution
          |  fa-institution 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-joomla
          |  fa-joomla
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-jsfiddle
          |  fa-jsfiddle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-language
          |  fa-language
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-life-bouy
          |  fa-life-bouy 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-life-ring
          |  fa-life-ring
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-life-saver
          |  fa-life-saver 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mortar-board
          |  fa-mortar-board 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-openid
          |  fa-openid
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paper-plane
          |  fa-paper-plane
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paper-plane-o
          |  fa-paper-plane-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paragraph
          |  fa-paragraph
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paw
          |  fa-paw
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pied-piper
          |  fa-pied-piper
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pied-piper-alt
          |  fa-pied-piper-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pied-piper-square
          |  fa-pied-piper-square 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-qq
          |  fa-qq
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ra
          |  fa-ra 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rebel
          |  fa-rebel
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-recycle
          |  fa-recycle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-reddit
          |  fa-reddit
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-reddit-square
          |  fa-reddit-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-send
          |  fa-send 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-send-o
          |  fa-send-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share-alt
          |  fa-share-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share-alt-square
          |  fa-share-alt-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-slack
          |  fa-slack
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sliders
          |  fa-sliders
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-soundcloud
          |  fa-soundcloud
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-space-shuttle
          |  fa-space-shuttle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-spoon
          |  fa-spoon
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-spotify
          |  fa-spotify
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-steam
          |  fa-steam
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-steam-square
          |  fa-steam-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-stumbleupon
          |  fa-stumbleupon
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-stumbleupon-circle
          |  fa-stumbleupon-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-support
          |  fa-support 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-taxi
          |  fa-taxi
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tencent-weibo
          |  fa-tencent-weibo
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tree
          |  fa-tree
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-university
          |  fa-university
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-vine
          |  fa-vine
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-wechat
          |  fa-wechat 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-weixin
          |  fa-weixin
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-wordpress
          |  fa-wordpress
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-yahoo
          |  fa-yahoo
