.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Text Editor Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-align-center
          |  fa-align-center
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-align-justify
          |  fa-align-justify
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-align-left
          |  fa-align-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-align-right
          |  fa-align-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bold
          |  fa-bold
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chain
          |  fa-chain 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-chain-broken
          |  fa-chain-broken
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-clipboard
          |  fa-clipboard
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-columns
          |  fa-columns
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-copy
          |  fa-copy 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cut
          |  fa-cut 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-dedent
          |  fa-dedent 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-eraser
          |  fa-eraser
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file
          |  fa-file
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-o
          |  fa-file-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-text
          |  fa-file-text
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-text-o
          |  fa-file-text-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-files-o
          |  fa-files-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-floppy-o
          |  fa-floppy-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-font
          |  fa-font
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-header
          |  fa-header
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-indent
          |  fa-indent
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-italic
          |  fa-italic
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-link
          |  fa-link
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-list
          |  fa-list
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-list-alt
          |  fa-list-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-list-ol
          |  fa-list-ol
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-list-ul
          |  fa-list-ul
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-outdent
          |  fa-outdent
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paperclip
          |  fa-paperclip
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paragraph
          |  fa-paragraph
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paste
          |  fa-paste 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-repeat
          |  fa-repeat
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rotate-left
          |  fa-rotate-left 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rotate-right
          |  fa-rotate-right 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-save
          |  fa-save 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-scissors
          |  fa-scissors
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-strikethrough
          |  fa-strikethrough
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-subscript
          |  fa-subscript
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-superscript
          |  fa-superscript
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-table
          |  fa-table
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-text-height
          |  fa-text-height
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-text-width
          |  fa-text-width
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-th
          |  fa-th
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-th-large
          |  fa-th-large
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-th-list
          |  fa-th-list
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-underline
          |  fa-underline
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-undo
          |  fa-undo
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-unlink
          |  fa-unlink 
          span.text-muted (alias)
