.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Video Player Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows-alt
          |  fa-arrows-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-backward
          |  fa-backward
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-compress
          |  fa-compress
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-eject
          |  fa-eject
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-expand
          |  fa-expand
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fast-backward
          |  fa-fast-backward
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fast-forward
          |  fa-fast-forward
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-forward
          |  fa-forward
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pause
          |  fa-pause
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-play
          |  fa-play
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-play-circle
          |  fa-play-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-play-circle-o
          |  fa-play-circle-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-step-backward
          |  fa-step-backward
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-step-forward
          |  fa-step-forward
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-stop
          |  fa-stop
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-youtube-play
          |  fa-youtube-play
