.col-lg-12
  .main-box
    header.main-box-header.clearfix
      h2 Web Application Icons
    .main-box-body.clearfix
      .row.the-icons
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-adjust
          |  fa-adjust
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-anchor
          |  fa-anchor
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-archive
          |  fa-archive
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows
          |  fa-arrows
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows-h
          |  fa-arrows-h
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-arrows-v
          |  fa-arrows-v
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-asterisk
          |  fa-asterisk
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-automobile
          |  fa-automobile 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ban
          |  fa-ban
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bank
          |  fa-bank 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bar-chart-o
          |  fa-bar-chart-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-barcode
          |  fa-barcode
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bars
          |  fa-bars
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-beer
          |  fa-beer
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bell
          |  fa-bell
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bell-o
          |  fa-bell-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bolt
          |  fa-bolt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bomb
          |  fa-bomb
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-book
          |  fa-book
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bookmark
          |  fa-bookmark
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bookmark-o
          |  fa-bookmark-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-briefcase
          |  fa-briefcase
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bug
          |  fa-bug
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-building
          |  fa-building
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-building-o
          |  fa-building-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bullhorn
          |  fa-bullhorn
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-bullseye
          |  fa-bullseye
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cab
          |  fa-cab 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-calendar
          |  fa-calendar
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-calendar-o
          |  fa-calendar-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-camera
          |  fa-camera
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-camera-retro
          |  fa-camera-retro
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-car
          |  fa-car
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-down
          |  fa-caret-square-o-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-left
          |  fa-caret-square-o-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-right
          |  fa-caret-square-o-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-caret-square-o-up
          |  fa-caret-square-o-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-certificate
          |  fa-certificate
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-check
          |  fa-check
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-check-circle
          |  fa-check-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-check-circle-o
          |  fa-check-circle-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-check-square
          |  fa-check-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-check-square-o
          |  fa-check-square-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-child
          |  fa-child
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle
          |  fa-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle-o
          |  fa-circle-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle-o-notch
          |  fa-circle-o-notch
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-circle-thin
          |  fa-circle-thin
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-clock-o
          |  fa-clock-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cloud
          |  fa-cloud
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cloud-download
          |  fa-cloud-download
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cloud-upload
          |  fa-cloud-upload
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-code
          |  fa-code
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-code-fork
          |  fa-code-fork
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-coffee
          |  fa-coffee
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cog
          |  fa-cog
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cogs
          |  fa-cogs
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-comment
          |  fa-comment
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-comment-o
          |  fa-comment-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-comments
          |  fa-comments
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-comments-o
          |  fa-comments-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-compass
          |  fa-compass
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-credit-card
          |  fa-credit-card
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-crop
          |  fa-crop
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-crosshairs
          |  fa-crosshairs
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cube
          |  fa-cube
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cubes
          |  fa-cubes
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-cutlery
          |  fa-cutlery
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-dashboard
          |  fa-dashboard 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-database
          |  fa-database
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-desktop
          |  fa-desktop
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-dot-circle-o
          |  fa-dot-circle-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-download
          |  fa-download
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-edit
          |  fa-edit 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ellipsis-h
          |  fa-ellipsis-h
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ellipsis-v
          |  fa-ellipsis-v
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-envelope
          |  fa-envelope
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-envelope-o
          |  fa-envelope-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-envelope-square
          |  fa-envelope-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-eraser
          |  fa-eraser
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-exchange
          |  fa-exchange
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-exclamation
          |  fa-exclamation
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-exclamation-circle
          |  fa-exclamation-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-exclamation-triangle
          |  fa-exclamation-triangle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-external-link
          |  fa-external-link
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-external-link-square
          |  fa-external-link-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-eye
          |  fa-eye
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-eye-slash
          |  fa-eye-slash
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fax
          |  fa-fax
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-female
          |  fa-female
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fighter-jet
          |  fa-fighter-jet
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-archive-o
          |  fa-file-archive-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-audio-o
          |  fa-file-audio-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-code-o
          |  fa-file-code-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-excel-o
          |  fa-file-excel-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-image-o
          |  fa-file-image-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-movie-o
          |  fa-file-movie-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-pdf-o
          |  fa-file-pdf-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-photo-o
          |  fa-file-photo-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-picture-o
          |  fa-file-picture-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-powerpoint-o
          |  fa-file-powerpoint-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-sound-o
          |  fa-file-sound-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-video-o
          |  fa-file-video-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-word-o
          |  fa-file-word-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-file-zip-o
          |  fa-file-zip-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-film
          |  fa-film
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-filter
          |  fa-filter
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fire
          |  fa-fire
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-fire-extinguisher
          |  fa-fire-extinguisher
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-flag
          |  fa-flag
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-flag-checkered
          |  fa-flag-checkered
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-flag-o
          |  fa-flag-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-flash
          |  fa-flash 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-flask
          |  fa-flask
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-folder
          |  fa-folder
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-folder-o
          |  fa-folder-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-folder-open
          |  fa-folder-open
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-folder-open-o
          |  fa-folder-open-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-frown-o
          |  fa-frown-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gamepad
          |  fa-gamepad
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gavel
          |  fa-gavel
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gear
          |  fa-gear 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gears
          |  fa-gears 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-gift
          |  fa-gift
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-glass
          |  fa-glass
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-globe
          |  fa-globe
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-graduation-cap
          |  fa-graduation-cap
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-group
          |  fa-group 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-hdd-o
          |  fa-hdd-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-headphones
          |  fa-headphones
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-heart
          |  fa-heart
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-heart-o
          |  fa-heart-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-history
          |  fa-history
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-home
          |  fa-home
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-image
          |  fa-image 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-inbox
          |  fa-inbox
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-info
          |  fa-info
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-info-circle
          |  fa-info-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-institution
          |  fa-institution 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-key
          |  fa-key
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-keyboard-o
          |  fa-keyboard-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-language
          |  fa-language
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-laptop
          |  fa-laptop
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-leaf
          |  fa-leaf
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-legal
          |  fa-legal 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-lemon-o
          |  fa-lemon-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-level-down
          |  fa-level-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-level-up
          |  fa-level-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-life-bouy
          |  fa-life-bouy 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-life-ring
          |  fa-life-ring
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-life-saver
          |  fa-life-saver 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-lightbulb-o
          |  fa-lightbulb-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-location-arrow
          |  fa-location-arrow
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-lock
          |  fa-lock
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-magic
          |  fa-magic
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-magnet
          |  fa-magnet
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mail-forward
          |  fa-mail-forward 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mail-reply
          |  fa-mail-reply 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mail-reply-all
          |  fa-mail-reply-all 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-male
          |  fa-male
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-map-marker
          |  fa-map-marker
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-meh-o
          |  fa-meh-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-microphone
          |  fa-microphone
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-microphone-slash
          |  fa-microphone-slash
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-minus
          |  fa-minus
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-minus-circle
          |  fa-minus-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-minus-square
          |  fa-minus-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-minus-square-o
          |  fa-minus-square-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mobile
          |  fa-mobile
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mobile-phone
          |  fa-mobile-phone 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-money
          |  fa-money
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-moon-o
          |  fa-moon-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-mortar-board
          |  fa-mortar-board 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-music
          |  fa-music
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-navicon
          |  fa-navicon 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paper-plane
          |  fa-paper-plane
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paper-plane-o
          |  fa-paper-plane-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-paw
          |  fa-paw
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pencil
          |  fa-pencil
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pencil-square
          |  fa-pencil-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-pencil-square-o
          |  fa-pencil-square-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-phone
          |  fa-phone
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-phone-square
          |  fa-phone-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-photo
          |  fa-photo 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-picture-o
          |  fa-picture-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-plane
          |  fa-plane
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-plus
          |  fa-plus
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-plus-circle
          |  fa-plus-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-plus-square
          |  fa-plus-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-plus-square-o
          |  fa-plus-square-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-power-off
          |  fa-power-off
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-print
          |  fa-print
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-puzzle-piece
          |  fa-puzzle-piece
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-qrcode
          |  fa-qrcode
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-question
          |  fa-question
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-question-circle
          |  fa-question-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-quote-left
          |  fa-quote-left
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-quote-right
          |  fa-quote-right
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-random
          |  fa-random
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-recycle
          |  fa-recycle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-refresh
          |  fa-refresh
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-reorder
          |  fa-reorder 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-reply
          |  fa-reply
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-reply-all
          |  fa-reply-all
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-retweet
          |  fa-retweet
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-road
          |  fa-road
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rocket
          |  fa-rocket
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rss
          |  fa-rss
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-rss-square
          |  fa-rss-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-search
          |  fa-search
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-search-minus
          |  fa-search-minus
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-search-plus
          |  fa-search-plus
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-send
          |  fa-send 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-send-o
          |  fa-send-o 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share
          |  fa-share
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share-alt
          |  fa-share-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share-alt-square
          |  fa-share-alt-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share-square
          |  fa-share-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-share-square-o
          |  fa-share-square-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-shield
          |  fa-shield
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-shopping-cart
          |  fa-shopping-cart
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sign-in
          |  fa-sign-in
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sign-out
          |  fa-sign-out
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-signal
          |  fa-signal
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sitemap
          |  fa-sitemap
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sliders
          |  fa-sliders
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-smile-o
          |  fa-smile-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort
          |  fa-sort
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-alpha-asc
          |  fa-sort-alpha-asc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-alpha-desc
          |  fa-sort-alpha-desc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-amount-asc
          |  fa-sort-amount-asc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-amount-desc
          |  fa-sort-amount-desc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-asc
          |  fa-sort-asc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-desc
          |  fa-sort-desc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-down
          |  fa-sort-down 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-numeric-asc
          |  fa-sort-numeric-asc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-numeric-desc
          |  fa-sort-numeric-desc
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sort-up
          |  fa-sort-up 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-space-shuttle
          |  fa-space-shuttle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-spinner
          |  fa-spinner
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-spoon
          |  fa-spoon
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-square
          |  fa-square
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-square-o
          |  fa-square-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-star
          |  fa-star
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-star-half
          |  fa-star-half
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-star-half-empty
          |  fa-star-half-empty 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-star-half-full
          |  fa-star-half-full 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-star-half-o
          |  fa-star-half-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-star-o
          |  fa-star-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-suitcase
          |  fa-suitcase
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-sun-o
          |  fa-sun-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-support
          |  fa-support 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tablet
          |  fa-tablet
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tachometer
          |  fa-tachometer
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tag
          |  fa-tag
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tags
          |  fa-tags
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tasks
          |  fa-tasks
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-taxi
          |  fa-taxi
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-terminal
          |  fa-terminal
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-thumb-tack
          |  fa-thumb-tack
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-thumbs-down
          |  fa-thumbs-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-thumbs-o-down
          |  fa-thumbs-o-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-thumbs-o-up
          |  fa-thumbs-o-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-thumbs-up
          |  fa-thumbs-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-ticket
          |  fa-ticket
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-times
          |  fa-times
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-times-circle
          |  fa-times-circle
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-times-circle-o
          |  fa-times-circle-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tint
          |  fa-tint
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-down
          |  fa-toggle-down 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-left
          |  fa-toggle-left 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-right
          |  fa-toggle-right 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-toggle-up
          |  fa-toggle-up 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-trash-o
          |  fa-trash-o
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-tree
          |  fa-tree
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-trophy
          |  fa-trophy
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-truck
          |  fa-truck
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-umbrella
          |  fa-umbrella
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-university
          |  fa-university
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-unlock
          |  fa-unlock
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-unlock-alt
          |  fa-unlock-alt
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-unsorted
          |  fa-unsorted 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-upload
          |  fa-upload
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-user
          |  fa-user
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-users
          |  fa-users
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-video-camera
          |  fa-video-camera
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-volume-down
          |  fa-volume-down
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-volume-off
          |  fa-volume-off
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-volume-up
          |  fa-volume-up
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-warning
          |  fa-warning 
          span.text-muted (alias)
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-wheelchair
          |  fa-wheelchair
        .col-md-3.col-sm-4.col-xs-6
          i.fa.fa-wrench
          |  fa-wrench
