
<div style="opacity: 1;" class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#"><span>Graphs</span></a></li>
          <li class="active"><span>Flot Charts</span></li>
        </ol>
        <h1>Flot Charts</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Flot Bar chart</h2>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-bar" style="height: 300px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1059px; height: 300px;" width="1059" height="300" class="flot-base"></canvas>
              <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);" class="flot-text">
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-x-axis flot-x1-axis xAxis x1Axis">
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 45px; text-align: center;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 142px; text-align: center;" class="flot-tick-label tickLabel">1</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 239px; text-align: center;" class="flot-tick-label tickLabel">2</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 337px; text-align: center;" class="flot-tick-label tickLabel">3</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 434px; text-align: center;" class="flot-tick-label tickLabel">4</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 531px; text-align: center;" class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 628px; text-align: center;" class="flot-tick-label tickLabel">6</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 725px; text-align: center;" class="flot-tick-label tickLabel">7</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 823px; text-align: center;" class="flot-tick-label tickLabel">8</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 920px; text-align: center;" class="flot-tick-label tickLabel">9</div>
                  <div style="position: absolute; max-width: 81px; top: 284px; left: 1014px; text-align: center;" class="flot-tick-label tickLabel">10</div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-y-axis flot-y1-axis yAxis y1Axis">
                  <div style="position: absolute; top: 271px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; top: 226px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; top: 181px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; top: 136px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">15</div>
                  <div style="position: absolute; top: 90px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; top: 45px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">25</div>
                  <div style="position: absolute; top: 0px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">30</div>
                </div>
              </div>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1059px; height: 300px;" width="1059" height="300" class="flot-overlay"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Flot Line chart</h2>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-flot-sin" style="height: 300px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1059px; height: 300px;" width="1059" height="300" class="flot-base"></canvas>
              <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);" class="flot-text">
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-x-axis flot-x1-axis xAxis x1Axis">
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 21px; text-align: center;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 97px; text-align: center;" class="flot-tick-label tickLabel">1</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 173px; text-align: center;" class="flot-tick-label tickLabel">2</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 249px; text-align: center;" class="flot-tick-label tickLabel">3</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 325px; text-align: center;" class="flot-tick-label tickLabel">4</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 401px; text-align: center;" class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 477px; text-align: center;" class="flot-tick-label tickLabel">6</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 554px; text-align: center;" class="flot-tick-label tickLabel">7</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 630px; text-align: center;" class="flot-tick-label tickLabel">8</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 706px; text-align: center;" class="flot-tick-label tickLabel">9</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 779px; text-align: center;" class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 855px; text-align: center;" class="flot-tick-label tickLabel">11</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 931px; text-align: center;" class="flot-tick-label tickLabel">12</div>
                  <div style="position: absolute; max-width: 70px; top: 284px; left: 1007px; text-align: center;" class="flot-tick-label tickLabel">13</div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-y-axis flot-y1-axis yAxis y1Axis">
                  <div style="position: absolute; top: 248px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">-1.0</div>
                  <div style="position: absolute; top: 192px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">-0.5</div>
                  <div style="position: absolute; top: 136px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">0.0</div>
                  <div style="position: absolute; top: 79px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">0.5</div>
                  <div style="position: absolute; top: 23px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">1.0</div>
                </div>
              </div>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1059px; height: 300px;" width="1059" height="300" class="flot-overlay"></canvas>
              <div class="legend">
                <div style="position: absolute; width: 48px; height: 31px; top: 13px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div>
                <table style="position:absolute;top:13px;right:13px;;font-size:smaller;color:#545454">
                  <tbody>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid rgb(232,78,64);overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">sin(x)</td>
                    </tr>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid rgb(139,195,74);overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">cos(x)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2 class="pull-left">Stack charts</h2>
            <div class="icon-box pull-right">
              <p class="stackControls">
                <button class="btn">With stacking</button>
                <button class="btn">Without stacking</button>
              </p>
              <p class="graphControls">
                <button class="btn">Bars</button>
                <button class="btn">Lines</button>
                <button class="btn">Lines with steps</button>
              </p>
            </div>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-flot-stacking" style="height: 400px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 400px;" width="501" height="400" class="flot-base"></canvas>
              <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);" class="flot-text">
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-x-axis flot-x1-axis xAxis x1Axis">
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 14px; text-align: center;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 106px; text-align: center;" class="flot-tick-label tickLabel">2</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 199px; text-align: center;" class="flot-tick-label tickLabel">4</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 291px; text-align: center;" class="flot-tick-label tickLabel">6</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 384px; text-align: center;" class="flot-tick-label tickLabel">8</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 473px; text-align: center;" class="flot-tick-label tickLabel">10</div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-y-axis flot-y1-axis yAxis y1Axis">
                  <div style="position: absolute; top: 371px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; top: 318px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; top: 265px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; top: 212px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">30</div>
                  <div style="position: absolute; top: 159px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">40</div>
                  <div style="position: absolute; top: 106px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">50</div>
                  <div style="position: absolute; top: 53px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">60</div>
                  <div style="position: absolute; top: 0px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">70</div>
                </div>
              </div>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 400px;" width="501" height="400" class="flot-overlay"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Horizontal bar charts</h2>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-flot-bar-horizontal" style="height: 435px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 435px;" width="501" height="435" class="flot-base"></canvas>
              <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);" class="flot-text">
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-x-axis flot-x1-axis xAxis x1Axis">
                  <div style="position: absolute; max-width: 71px; top: 419px; left: 21px; text-align: center;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; max-width: 71px; top: 419px; left: 108px; text-align: center;" class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; max-width: 71px; top: 419px; left: 192px; text-align: center;" class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; max-width: 71px; top: 419px; left: 279px; text-align: center;" class="flot-tick-label tickLabel">15</div>
                  <div style="position: absolute; max-width: 71px; top: 419px; left: 365px; text-align: center;" class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; max-width: 71px; top: 419px; left: 452px; text-align: center;" class="flot-tick-label tickLabel">25</div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-y-axis flot-y1-axis yAxis y1Axis">
                  <div style="position: absolute; top: 406px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">-1.0</div>
                  <div style="position: absolute; top: 338px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">0.0</div>
                  <div style="position: absolute; top: 271px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">1.0</div>
                  <div style="position: absolute; top: 203px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">2.0</div>
                  <div style="position: absolute; top: 135px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">3.0</div>
                  <div style="position: absolute; top: 68px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">4.0</div>
                  <div style="position: absolute; top: 0px; left: 4px; text-align: right;" class="flot-tick-label tickLabel">5.0</div>
                </div>
              </div>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 435px;" width="501" height="435" class="flot-overlay"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Realtime example</h2>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-flot-realtime" style="height: 400px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1059px; height: 400px;" width="1059" height="400" class="flot-base"></canvas>
              <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);" class="flot-text">
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-y-axis flot-y1-axis yAxis y1Axis">
                  <div style="position: absolute; top: 384px; left: 14px; text-align: right;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; top: 307px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; top: 230px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">40</div>
                  <div style="position: absolute; top: 154px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">60</div>
                  <div style="position: absolute; top: 77px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">80</div>
                  <div style="position: absolute; top: 0px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">100</div>
                </div>
              </div>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1059px; height: 400px;" width="1059" height="400" class="flot-overlay"></canvas>
            </div><br/>
            <p>
              You can update a chart periodically to get a real-time effect by using a timer to insert the new
              data in the plot and redraw it.
            </p>
            <p>Time between updates:
              <input id="updateInterval" type="text" style="text-align: right; width:5em; display: inline-block;" value="" class="form-control inline"/>milliseconds
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Facebook fans</h2>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-flot-points" style="height: 400px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 400px;" width="501" height="400" class="flot-base"></canvas>
              <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);" class="flot-text">
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-x-axis flot-x1-axis xAxis x1Axis">
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 85px; text-align: center;" class="flot-tick-label tickLabel">5</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 163px; text-align: center;" class="flot-tick-label tickLabel">10</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 244px; text-align: center;" class="flot-tick-label tickLabel">15</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 325px; text-align: center;" class="flot-tick-label tickLabel">20</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 406px; text-align: center;" class="flot-tick-label tickLabel">25</div>
                  <div style="position: absolute; max-width: 71px; top: 384px; left: 487px; text-align: center;" class="flot-tick-label tickLabel">30</div>
                </div>
                <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;" class="flot-y-axis flot-y1-axis yAxis y1Axis">
                  <div style="position: absolute; top: 371px; left: 12px; text-align: right;" class="flot-tick-label tickLabel">0</div>
                  <div style="position: absolute; top: 186px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">50</div>
                  <div style="position: absolute; top: 0px; left: 0px; text-align: right;" class="flot-tick-label tickLabel">100</div>
                </div>
              </div>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 400px;" width="501" height="400" class="flot-overlay"></canvas>
              <div class="legend">
                <div style="position: absolute; width: 43px; height: 16px; top: 13px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div>
                <table style="position:absolute;top:13px;right:13px;;font-size:smaller;color:#545454">
                  <tbody>
                    <tr>
                      <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                          <div style="width:4px;height:0;border:5px solid rgb(3,169,244);overflow:hidden"></div>
                        </div>
                      </td>
                      <td class="legendLabel">Fans</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-box">
          <header class="main-box-header clearfix">
            <h2>Pie chart</h2>
          </header>
          <div class="main-box-body clearfix">
            <div id="graph-flot-donut" style="height: 400px; padding: 0px; position: relative;">
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 400px;" width="501" height="400" class="flot-base"></canvas>
              <canvas style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 501px; height: 400px;" width="501" height="400" class="flot-overlay"></canvas><span id="pieLabel0" style="position: absolute; top: 3.5px; left: 246px;" class="pieLabel">
                <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(232,78,64);">Series1<br/>3%</div></span><span id="pieLabel1" style="position: absolute; top: 17.5px; left: 302px;" class="pieLabel">
                <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(255,193,7);">Series2<br/>8%</div></span><span id="pieLabel2" style="position: absolute; top: 147.5px; left: 408px;" class="pieLabel">
                <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(139,195,74);">Series3<br/>23%</div></span><span id="pieLabel3" style="position: absolute; top: 343.5px; left: 315px;" class="pieLabel">
                <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(3,169,244);">Series4<br/>18%</div></span><span id="pieLabel4" style="position: absolute; top: 318.5px; left: 111px;" class="pieLabel">
                <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(156,39,176);">Series5<br/>21%</div></span><span id="pieLabel5" style="position: absolute; top: 69.5px; left: 91px;" class="pieLabel">
                <div style="font-size:x-small;text-align:center;padding:2px;color:rgb(144,164,174);">Series6<br/>28%</div></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer-bar" style="opacity: 1;" class="row">
  <p id="footer-copyright" class="col-xs-12">Powered by Cube Theme.</p>
</footer>