.row(style='opacity: 1;')
    .col-lg-12
      .row
        .col-lg-12
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#')
                span Graphs
            li.active
              span xCharts Graphs
          h1 xCharts Graphs
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Weekly stats
            .main-box-body.clearfix
              figure#graph-xchart-demo.demo(style='height: 400px')
                svg.xchart(height='400', width='1059')
                  g(transform='translate(60,0)')
                    g.scale
                      g.axis.axisX(transform='translate(0,380)')
                        g.tick.major(style='opacity: 1;', transform='translate(103.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Monday
                        g.tick.major(style='opacity: 1;', transform='translate(235.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Tuesday
                        g.tick.major(style='opacity: 1;', transform='translate(367.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Wednesday
                        g.tick.major(style='opacity: 1;', transform='translate(499.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Thursday
                        g.tick.major(style='opacity: 1;', transform='translate(631.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Friday
                        g.tick.major(style='opacity: 1;', transform='translate(763.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Saturday
                        g.tick.major(style='opacity: 1;', transform='translate(895.5,0)')
                          line(y2='-370', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Sunday
                        path.domain(d='M20,-370V0H979V-370')
                      g.axis.axisY(transform='translate(0,0)')
                        g.tick.major(style='opacity: 1;', transform='translate(0,370)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 0
                        g.tick.major(style='opacity: 1;', transform='translate(0,188.04675600383993)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 20
                        g.tick.major(style='opacity: 1;', transform='translate(0,5.0938716692478465)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 40
                        g.tick.major(style='opacity: 0.000341736;', transform='translate(0,-176.86677222399982)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 60
                        g.tick.major(style='opacity: 0.000341736;', transform='translate(0,-359.82247654399976)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 80
                        g.tick.major(style='opacity: 0.000341736;', transform='translate(0,-541.7781808639996)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 100
                        g.tick.major(style='opacity: 0.000341736;', transform='translate(0,-724.7335444479996)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 120
                        g.tick.major(style='opacity: 0.000341736;', transform='translate(0,-906.6892487679995)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 140
                        g.tick.major(style='opacity: 0.99964;', transform='translate(0,324.011868831744)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 5
                        g.tick.major(style='opacity: 0.99964;', transform='translate(0,279.02337800192)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 10
                        g.tick.major(style='opacity: 0.99964;', transform='translate(0,233.03524683366396)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 15
                        g.tick.major(style='opacity: 0.99964;', transform='translate(0,142.0586248355839)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 25
                        g.tick.major(style='opacity: 0.99964;', transform='translate(0,96.0704936673279)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 30
                        g.tick.major(style='opacity: 0.99964;', transform='translate(0,51.08200283750389)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 35
                        path.domain(d='M999,5H0V370H999')
                      g.axisZero
                        line(x1='0', x2='999', y1='370', y2='370')
                    g.main.l1.bar.color0(data-index='2', style='opacity: 1;', transform='translate(4,0)')
                      rect(width='0', rx='3', ry='3', x='54', height='109', y='261')
                      rect(width='0', rx='3', ry='3', x='186', height='164', y='206')
                      rect(width='0', rx='3', ry='3', x='318', height='73', y='297')
                      rect(width='0', rx='3', ry='3', x='450', height='64', y='306')
                      rect(width='0', rx='3', ry='3', x='582', height='55', y='315')
                      rect(width='0', rx='3', ry='3', x='714', height='109', y='261')
                      rect(width='0', rx='3', ry='3', x='846', height='73', y='297')
                    g.main.l2.bar.color1(data-index='2', style='opacity: 1;', transform='translate(51,0)')
                      rect(width='0', rx='3', ry='3', x='54', height='265', y='105')
                      rect(width='0', rx='3', ry='3', x='186', height='301', y='69')
                      rect(width='0', rx='3', ry='3', x='318', height='119', y='251')
                      rect(width='0', rx='3', ry='3', x='450', height='146', y='224')
                      rect(width='0', rx='3', ry='3', x='582', height='64', y='306')
                      rect(width='0', rx='3', ry='3', x='714', height='164', y='206')
                      rect(width='0', rx='3', ry='3', x='846', height='73', y='297')
                    g.main.l1.line.color0(data-index='3')
                      path.fill(style='opacity: 1;', d='M103.5,370C125.5,370,191.5,370,235.5,370S323.5,370,367.5,370S455.5,370,499.5,370S587.5,370,631.5,370S719.5,370,763.5,370S873.5,370,895.5,370L895.5,296.94264521932797C873.901695154237,299.88811833493105,805.0580847985443,304.8704802251086,763.5,314.944181508096S674.6964736880401,366.8200619243841,631.5,360.936500064256S541.0585587047624,289.053259837156,499.5,278.986685497344S411.44846792707955,298.4809194478667,367.5,296.986685497344S277.057524436008,280.0752523274026,235.5,270.011266117632S123.89693509540183,238.76524222827643,103.5,233.054282203136Z')
                      path.line(style='opacity: 1;', d='M103.5,233.05690831667198C123.89691347445634,238.76755446137417,193.94248287853347,259.94833785480375,235.5,270.011811160064S323.5515540887314,295.49200212060214,367.5,296.986041356288S457.9413985729893,268.91985471008957,499.5,278.986041356288S588.303539900426,355.05020018721973,631.5,360.93342800691204S721.9418954062713,325.015139453671,763.5,314.94148107059203S873.9016986586203,299.88535517713376,895.5,296.93987045785605')
                      circle(style='opacity: 1;', cx='103.5', cy='233.062411931648', r='5')
                      circle(style='opacity: 1;', cx='235.5', cy='270.012953419776', r='5')
                      circle(style='opacity: 1;', cx='367.5', cy='296.984691412992', r='5')
                      circle(style='opacity: 1;', cx='499.5', cy='278.984691412992', r='5')
                      circle(style='opacity: 1;', cx='631.5', cy='360.926989815808', r='5')
                      circle(style='opacity: 1;', cx='763.5', cy='314.935821692928', r='5')
                      circle(style='opacity: 1;', cx='895.5', cy='296.934055317504', r='5')
                    g.main.l2.line.color1(data-index='3')
                      path.fill(style='opacity: 1;', d='M103.5,370C125.5,370,191.5,370,235.5,370S323.5,370,367.5,370S455.5,370,499.5,370S587.5,370,631.5,370S719.5,370,763.5,370S873.5,370,895.5,370L895.5,296.87197593599996C880.5840635668645,286.598342920272,807.447547255938,204.42639656816897,763.5,205.92933071667198S675.2952174468509,302.9123699164414,631.5,305.90218961510396S541.7218884079367,232.6083859474342,499.5,223.953399240704S400.4765954089751,270.013214771951,367.5,250.96056858828797S269.1961406102123,87.68735278688678,235.5,69.071181379584S123.97434589926728,99.50987784940722,103.5,105.09678619238403Z')
                      path.line(style='opacity: 1;', d='M103.5,105.10146860236796C123.9742212182349,99.51444932857694,201.80379073842687,50.4593259538193,235.5,69.07462505676796S334.5232127996914,231.9067737234771,367.5,250.95866093977602S457.27811939884987,215.29660472200825,499.5,223.95114474700802S587.7048398135222,308.8874564264097,631.5,305.897457655808S719.5525193009343,207.42907215385978,763.5,205.92591181414403S880.5839014330464,286.5924885265506,895.5,296.86578227200005')
                      circle(style='opacity: 1;', cx='103.5', cy='105.111281651712', r='5')
                      circle(style='opacity: 1;', cx='235.5', cy='69.08184206131202', r='5')
                      circle(style='opacity: 1;', cx='367.5', cy='250.954663030784', r='5')
                      circle(style='opacity: 1;', cx='499.5', cy='223.94641994547197', r='5')
                      circle(style='opacity: 1;', cx='631.5', cy='305.887540764672', r='5')
                      circle(style='opacity: 1;', cx='763.5', cy='205.918746730496', r='5')
                      circle(style='opacity: 1;', cx='895.5', cy='296.85280204799994', r='5')
      .row
        .col-lg-12
          .main-box
            header.main-box-header.clearfix
              h2 Time-Series Line
            .main-box-body.clearfix
              figure#graph-xchart-line.demo(style='height: 400px')
                svg.xchart(height='400', width='1059')
                  g(transform='translate(60,0)')
                    g.scale
                      g.axis.axisX(transform='translate(0,380)')
                        g.tick.major(style='opacity: 1;', transform='translate(20,0)')
                          line(y2='-375', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Monday
                        g.tick.major(style='opacity: 1;', transform='translate(259.75,0)')
                          line(y2='-375', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Tuesday
                        g.tick.major(style='opacity: 1;', transform='translate(499.5,0)')
                          line(y2='-375', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Thursday
                        g.tick.major(style='opacity: 1;', transform='translate(739.25,0)')
                          line(y2='-375', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Friday
                        g.tick.major(style='opacity: 1;', transform='translate(979,0)')
                          line(y2='-375', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Sunday
                        path.domain(d='M20,-375V0H979V-375')
                      g.axis.axisY(transform='translate(0,0)')
                        g.tick.major(style='opacity: 1;', transform='translate(0,352)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') -4
                        g.tick.major(style='opacity: 1;', transform='translate(0,305)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') -2
                        g.tick.major(style='opacity: 1;', transform='translate(0,258)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 0
                        g.tick.major(style='opacity: 1;', transform='translate(0,211)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 2
                        g.tick.major(style='opacity: 1;', transform='translate(0,164)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 4
                        g.tick.major(style='opacity: 1;', transform='translate(0,117)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 6
                        g.tick.major(style='opacity: 1;', transform='translate(0,70)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 8
                        g.tick.major(style='opacity: 1;', transform='translate(0,23)')
                          line(x2='999', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 10
                        path.domain(d='M999,0H0V375H999')
                      g.axisZero
                        line(x1='0', x2='999', y1='258', y2='258')
                    g.main.pizza.line.color0(data-index='3')
                      path.fill(style='opacity: 1;', d='M20,258C46.638888888888886,258,126.55555555555557,258,179.83333333333334,258S286.3888888888889,258,339.6666666666667,258S446.22222222222223,258,499.5,258S606.0555555555555,258,659.3333333333334,258S765.8888888888889,258,819.1666666666667,258S952.3611111111111,258,979,258L979,117C956.6482942663706,107.21093179549078,871.3170941471783,39.332418900154195,819.1666666666667,47S689.3877149275164,137.58097634630207,659.3333333333334,164S548.5375447925545,342.4197994071954,499.5,328S376.77638586995397,94.49473645013644,339.6666666666667,70S233.11111111111111,117,179.83333333333334,117S46.638888888888886,117,20,117Z')
                      path.line(style='opacity: 1;', d='M20,117C46.638888888888886,117,126.55555555555557,117,179.83333333333334,117S302.5569474633794,45.50526354986356,339.6666666666667,70S450.4624552074455,313.5802005928046,499.5,328S629.2789517391503,190.41902365369793,659.3333333333334,164S767.0162391861552,54.667581099845805,819.1666666666667,47S956.6482942663706,107.21093179549078,979,117')
                      circle(style='opacity: 1;', cx='20', cy='117', r='5')
                      circle(style='opacity: 1;', cx='179.83333333333334', cy='117', r='5')
                      circle(style='opacity: 1;', cx='339.6666666666667', cy='70', r='5')
                      circle(style='opacity: 1;', cx='499.5', cy='328', r='5')
                      circle(style='opacity: 1;', cx='659.3333333333334', cy='164', r='5')
                      circle(style='opacity: 1;', cx='819.1666666666667', cy='47', r='5')
                      circle(style='opacity: 1;', cx='979', cy='117', r='5')
      .row
        .col-lg-6
          .main-box
            header.main-box-header.clearfix
              h2 Your Basic Bar Chart
            .main-box-body.clearfix
              figure#graph-xchart-bar.demo(style='height: 300px')
                svg.xchart(height='300', width='500')
                  g(transform='translate(60,0)')
                    g.scale
                      g.axis.axisX(transform='translate(0,280)')
                        g.tick.major(style='opacity: 1;', transform='translate(131.5,0)')
                          line(y2='-275', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Cheese
                        g.tick.major(style='opacity: 1;', transform='translate(308.5,0)')
                          line(y2='-275', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Pepperoni
                        path.domain(d='M20,-275V0H420V-275')
                      g.axis.axisY(transform='translate(0,0)')
                        g.tick.major(style='opacity: 1;', transform='translate(0,275)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 3
                        g.tick.major(style='opacity: 1;', transform='translate(0,252)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 3.5
                        g.tick.major(style='opacity: 1;', transform='translate(0,229)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 4
                        g.tick.major(style='opacity: 1;', transform='translate(0,206)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 4.5
                        g.tick.major(style='opacity: 1;', transform='translate(0,183)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 5
                        g.tick.major(style='opacity: 1;', transform='translate(0,160)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 5.5
                        g.tick.major(style='opacity: 1;', transform='translate(0,138)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 6
                        g.tick.major(style='opacity: 1;', transform='translate(0,115)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 6.5
                        g.tick.major(style='opacity: 1;', transform='translate(0,92)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 7
                        g.tick.major(style='opacity: 1;', transform='translate(0,69)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 7.5
                        g.tick.major(style='opacity: 1;', transform='translate(0,46)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 8
                        g.tick.major(style='opacity: 1;', transform='translate(0,23)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 8.5
                        g.tick.major(style='opacity: 1;', transform='translate(0,0)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 9
                        path.domain(d='M440,0H0V275H440')
                      g.axisZero
                        line(x1='0', x2='440', y1='275', y2='275')
                    g.main.pizza.bar.color0(data-index='2', style='opacity: 1;', transform='translate(10,0)')
                      rect(width='113', rx='3', ry='3', x='65', height='229', y='46')
                      rect(width='113', rx='3', ry='3', x='242', height='46', y='229')
        .col-lg-6
          .main-box
            header.main-box-header.clearfix
              h2 Error Bars
            .main-box-body.clearfix
              figure#graph-xchart-error-bar.demo(style='height: 300px')
                svg.xchart(height='300', width='500')
                  g(transform='translate(60,0)')
                    g.scale
                      g.axis.axisX(transform='translate(0,280)')
                        g.tick.major(style='opacity: 1;', transform='translate(97,0)')
                          line(y2='-275', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Ponies
                        g.tick.major(style='opacity: 1;', transform='translate(220,0)')
                          line(y2='-275', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Trolls
                        g.tick.major(style='opacity: 1;', transform='translate(343,0)')
                          line(y2='-275', x2='0')
                          text(y='3', x='0', dy='.71em', style='text-anchor: middle;') Unicorns
                        path.domain(d='M20,-275V0H420V-275')
                      g.axis.axisY(transform='translate(0,0)')
                        g.tick.major(style='opacity: 1;', transform='translate(0,275)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 0
                        g.tick.major(style='opacity: 1;', transform='translate(0,254)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 2
                        g.tick.major(style='opacity: 1;', transform='translate(0,233)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 4
                        g.tick.major(style='opacity: 1;', transform='translate(0,212)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 6
                        g.tick.major(style='opacity: 1;', transform='translate(0,190)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 8
                        g.tick.major(style='opacity: 1;', transform='translate(0,169)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 10
                        g.tick.major(style='opacity: 1;', transform='translate(0,148)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 12
                        g.tick.major(style='opacity: 1;', transform='translate(0,127)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 14
                        g.tick.major(style='opacity: 1;', transform='translate(0,106)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 16
                        g.tick.major(style='opacity: 1;', transform='translate(0,85)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 18
                        g.tick.major(style='opacity: 1;', transform='translate(0,63)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 20
                        g.tick.major(style='opacity: 1;', transform='translate(0,42)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 22
                        g.tick.major(style='opacity: 1;', transform='translate(0,21)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 24
                        g.tick.major(style='opacity: 1;', transform='translate(0,0)')
                          line(x2='440', y2='0')
                          text(x='-3', dy='.32em', style='text-anchor: end;', y='0') 26
                        path.domain(d='M440,0H0V275H440')
                      g.axisZero
                        line(x1='0', x2='440', y1='275', y2='275')
                    g.main.errorExample.bar.color0(data-index='2', style='opacity: 1;', transform='translate(7,0)')
                      rect(width='78', rx='3', ry='3', x='51', height='127', y='148')
                      rect(width='78', rx='3', ry='3', x='174', height='11', y='264')
                      rect(width='78', rx='3', ry='3', x='297', height='243', y='32')
                    g.errorLine.comp.error.color0
                      path(style='opacity: 1;', d='M97,201L97,148L97,95')
                      path(style='opacity: 1;', d='M220,275L220,264L220,254')
                      path(style='opacity: 1;', d='M343,53L343,32L343,11')
  footer#footer-bar.row(style='opacity: 1;')
    p#footer-copyright.col-xs-12
      | Powered by Cube Theme.
