section.hero-slider(style='position: relative;')
  #hero-slider.master-slider.before-init.ms-moz(style='height: 455px; margin: 0px; width: 1353px;')
section.cat-tiles
  .main
  section#item.choose-theme.section-padding.color-white
    .xepan-component(xepan-component='xepan\commerce\Tool_ItemList', show_description='false', show_paginator='4', personalized_button_name='Presonalized', personalized_page_url='productdesigner', show_personalizedbtn='true', item_detail_page_url='product-detail', show_addtocart='true', addtocart_name='Add To Cart', addtocart='no', show_sale_price='false', show_original_price='false', name_redirect_to_detail='false', image_redirect_to_detail='true')

  .container
    h2 Browse Categories
    .row
      // Category
      .category.col-lg-2.col-md-2.col-sm-4.col-xs-6
        a(href='#')
          img(alt='1', src='image/categories/1.jpg')
          p Leather belt
      // Category
      .category.col-lg-2.col-md-2.col-sm-4.col-xs-6
        a(href='#')
          img(alt='1', src='image/categories/2.jpg')
          p Wallet
      // Category
      .category.col-lg-2.col-md-2.col-sm-4.col-xs-6
        a(href='#')
          img(alt='1', src='image/categories/3.jpg')
          p Gloves
      // Category
      .category.col-lg-2.col-md-2.col-sm-4.col-xs-6
        a(href='#')
          img(alt='1', src='image/categories/4.jpg')
          p City bag
      // Category
      .category.col-lg-2.col-md-2.col-sm-4.col-xs-6
        a(href='#')
          img(alt='1', src='image/categories/5.jpg')
          p Backpack
      // Category
      .category.col-lg-2.col-md-2.col-sm-4.col-xs-6
        a(href='#')
          img(alt='1', src='image/categories/6.jpg')
          p Belts
//- section.catalog-grid
//-   .xepan-component(xepan-component="xepan\\commerce\\Tool_ItemList", show_description='false', show_paginator='4', personalized_button_name='Presonalized', personalized_page_url='productdesigner', show_personalizedbtn='true', item_detail_page_url='product-detail', show_addtocart='true', addtocart_name='Add To Cart', addtocart='no', show_sale_price='false', show_original_price='false', name_redirect_to_detail='false', image_redirect_to_detail='true')
section.catalog-grid
  .container
    h2.dark-color Catalog picks

    .row
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .badges
            span.sale Sale
          .price-label 715,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/1.jpg')
            span.tile-overlay
          .footer
            a(href='#') Smart Backpack
            span by David Banks
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .badges
            span.out Out
          .price-label 715,00 $
          .price-label.old-price 920,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/2.jpg')
            span.tile-overlay
          .footer
            a(href='#') Two-tone leather shopper
            span by Andy Shooter
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .badges
            span.best-seller Best Seller
          .price-label 715,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/3.jpg')
            span.tile-overlay
          .footer
            a(href='#') Gussetted shopper bag
            span by Choper Bar
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .price-label 715,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/4.jpg')
            span.tile-overlay
          .footer
            a(href='#') Mini shopper
            span by David Choper
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .price-label 715,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/5.jpg')
            span.tile-overlay
          .footer
            a(href='#') Shopper with buckle
            span by Ivan Tookle
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .price-label 715,00 $
          .price-label.old-price 920,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/6.jpg')
            span.tile-overlay
          .footer
            a(href='#') City bag
            span by Carol Flag
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .price-label 715,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/7.jpg')
            span.tile-overlay
          .footer
            a(href='#') Cheap Zip Bag
            span by Aron Tag
            button.btn.btn-primary Add to Cart
      // Tile
      .col-lg-3.col-md-4.col-sm-6
        .tile
          .price-label 715,00 $
          a(href='shop-single-item-v1.html')
            img(alt='1', src='image/categories/8.jpg')
            span.tile-overlay
          .footer
            a(href='#') Leather bag with side pocket
            span by Anna Canara
            button.btn.btn-primary Add to Cart

