div.width-90.container
	div.xepan-component.xepan-serverside-component(xepan-component="xepan/commerce/Tool_MyAccount" xepan_commerce_login_page="login" layout="myaccount" designer-page="productdesigner" customer-design-grid-layout="customerdesign" customer-template-grid-layout="customertemplate" customer-setting-layout="myaccountsetting" keep-login-on-password-change="true" login-page="login")