.form-group input{
	width:100% !important;
	border-radius: 0px ;
	margin:5px;
	background-color:white;
	border:0px
}

.form-group {
	
}

.xshop-item-image-list{
  width: 25%;
  z-index: 10px;
}
.pr > button{
	background-color: blue;
}