.form-group input{
	width:100% !important;
	border-radius: 0px ;
	margin:5px;
	background-color:white;
	border:0px
}

.form-group {
	
}

.xshop-item-image-list{
  width: 25%;
  z-index: 10px;
}
.pr > button{
	background-color: blue;
}

.font{
font-size: 20px;
}

.sml{
	font-size: 15px;
}

.rec-tiles{
	color: gray;
    font-size: 1.125em;
    font-weight: normal;
    margin-bottom: 24px;
}

.format{
	background: #fff none repeat scroll 0 0;
	padding: 24px 12px 12px;
	position: relative;
    text-align: center;
    border: 1px solid #a1a1a1;
}

