.col-lg-12
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Nifty Modal with Effects
    .main-box-body.clearfix
      p
        | Some inspiration for different modal window appearances. There are many possibilities for modal overlays to appear.
        | Here are some modern ways of showing them using CSS transitions and animations.
      a.btn.btn-primary.mrg-b-lg(href='#myModal', data-toggle='modal') Standard Boostrap Modal
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-1') Fade in & Scale
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-2') Slide in (right)
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-3') Slide in (bottom)
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-4') Newspaper
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-5') Fall
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-6') Side Fall
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-7') Sticky Up
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-8') 3D Flip (horizontal)
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-9') 3D Flip (vertical)
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-10') 3D Sign
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-11') Super Scaled
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-13') 3D Slit
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-14') 3D Rotate Bottom
      button.md-trigger.btn.btn-primary.mrg-b-lg(data-modal='modal-15') 3D Rotate In Left
