.col-lg-12
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 List group
    .main-box-body.clearfix
      .row(style='margin-top: -20px;')
        .col-lg-6
          h3
            span Badges
          ul.list-group
            li.list-group-item
              span.badge 14
              | Default badge
            li.list-group-item
              span.badge.badge-danger 2
              | Danger badge (.badge-danger)
            li.list-group-item
              span.badge.badge-success 112
              | Success badge (.badge-success)
            li.list-group-item
              span.badge.badge-primary 928
              | Primary badge (.badge-primary)
            li.list-group-item
              span.badge.badge-warning 8
              | Warning badge (.badge-warning)
            li.list-group-item
              span.badge.badge-info 392
              | Info badge (.badge-inf)
        .col-lg-6
          h3
            span Linked items
          .list-group
            a.list-group-item.active(href='#')
              | Cras justo odio
            a.list-group-item(href='#') Dapibus ac facilisis in
            a.list-group-item(href='#') Morbi leo risus
            a.list-group-item(href='#') Porta ac consectetur ac
            a.list-group-item(href='#') Vestibulum at eros
            a.list-group-item(href='#') Morbi leo risus
      h3
        span Linked items with custom content
      .list-group
        a.list-group-item.active(href='#')
          h4.list-group-item-heading List group item heading
          p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        a.list-group-item(href='#')
          h4.list-group-item-heading List group item heading
          p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        a.list-group-item(href='#')
          h4.list-group-item-heading List group item heading
          p.list-group-item-text
            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
