.col-lg-8
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Popovers
    .main-box-body.clearfix
      .bs-example-tooltips
        button.btn.btn-default(title='', data-original-title='', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='left', data-toggle='popover', data-container='body', type='button')
          | Popover on left
        button.btn.btn-default(title='', data-original-title='', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='top', data-toggle='popover', data-container='body', type='button')
          | Popover on top
        button.btn.btn-default(title='', data-original-title='', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='bottom', data-toggle='popover', data-container='body', type='button')
          | Popover on bottom
        button.btn.btn-default(title='', data-original-title='', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.', data-placement='right', data-toggle='popover', data-container='body', type='button')
          | Popover on right
