.col-lg-12
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Buttons
    .main-box-body.clearfix
      .row
        .col-lg-12
          button.btn.btn-default(type='button') Default
          button.btn.btn-primary(type='button') Primary
          button.btn.btn-success(type='button') Success
          button.btn.btn-info(type='button') Info
          button.btn.btn-warning(type='button') Warning
          button.btn.btn-danger(type='button') Danger
          button.btn.btn-link(type='button') Link
          br
          br
          .btn-group
            button.btn.btn-default(type='button') Left
            button.btn.btn-default(type='button') Middle
            button.btn.btn-default(type='button') Right
          br
          br
          .btn-group
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
              | Action 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', type='button')
              | Action 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-success.dropdown-toggle(data-toggle='dropdown', type='button')
              | Action 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-danger.dropdown-toggle(data-toggle='dropdown', type='button')
              | Action 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          br
          br
          .btn-group
            button.btn.btn-default(type='button') Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-primary(type='button') Action
            button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', type='button')
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-success(type='button') Action
            button.btn.btn-success.dropdown-toggle(data-toggle='dropdown', type='button')
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-danger(type='button') Action
            button.btn.btn-danger.dropdown-toggle(data-toggle='dropdown', type='button')
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          .btn-group
            button.btn.btn-info(type='button')
              i.fa.fa-cloud-download
            button.btn.btn-info.dropdown-toggle(data-toggle='dropdown', type='button')
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li
                a(href='#') Separated link
          br
          br
          button.btn.btn-primary.btn-lg(type='button')
            span.fa.fa-anchor
            |  Icon button
          button.btn.btn-success.btn-lg(type='button')
            span.fa.fa-heart
            |  Icon button
          button#btn-loading-demo.btn.btn-primary.btn-lg(data-loading-text='Loading...', type='button')
            | Loading button
