.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2.pull-left Labels
      .icon-box.pull-right
        a.btn.pull-left(href='#')
          i.fa.fa-refresh
        a.btn.pull-left(href='#')
          i.fa.fa-cog
    .main-box-body.clearfix
      br
      span.label.label-default Default
      span.label.label-primary Primary
      span.label.label-success Success
      span.label.label-info Info
      span.label.label-warning Warning
      span.label.label-danger Danger
      br
      br
      br
      span.label.label-default.label-large Default
      span.label.label-primary.label-large Primary
      span.label.label-success.label-large Success
      span.label.label-info.label-large Info
      span.label.label-warning.label-large Warning
      span.label.label-danger.label-large Danger
      br
      br
