.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2.pull-left Pagination
      .icon-box.pull-right
        a.btn.pull-left(href='#')
          i.fa.fa-chevron-left
        a.btn.pull-left(href='#')
          i.fa.fa-chevron-right
    .main-box-body.clearfix
      ul.pagination
        li.disabled
          a(href='#')
            i.fa.fa-chevron-left
        li
          a(href='#') 1
        li
          a(href='#') 2
        li.active
          a(href='#') 3
        li
          a(href='#') 4
        li
          a(href='#') 5
        li
          a(href='#')
            i.fa.fa-chevron-right
      ul.pager(style='max-width: 200px;')
        li.previous
          a(href='#') ← Older
        li.next
          a(href='#') Newer →
