.col-lg-12
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Sliders - fully responsive
    .main-box-body.clearfix
      .row(style='margin-top: -20px;')
        .col-lg-8
          h3
            span Basic slider
          .slider-basic.noUi-target
            .noUi-base.noUi-connect.noUi-connect-lower.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-background(style='left: 33.3333%;')
                .noUi-handle.noUi-handle-lower
          br
          .slider-basic.slider-danger.noUi-target
            .noUi-base.noUi-connect.noUi-connect-lower.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-background(style='left: 50%;')
                .noUi-handle.noUi-handle-lower
          br
          .slider-basic.slider-success.noUi-target
            .noUi-base.noUi-connect.noUi-connect-lower.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-background(style='left: 83.3333%;')
                .noUi-handle.noUi-handle-lower
          br
          .slider-basic.slider-warning.noUi-target
            .noUi-base.noUi-connect.noUi-connect-lower.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-background(style='left: 66.6667%;')
                .noUi-handle.noUi-handle-lower
          br
          .slider-basic.slider-info.noUi-target
            .noUi-base.noUi-connect.noUi-connect-lower.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-background(style='left: 40%;')
                .noUi-handle.noUi-handle-lower
          h3
            span Min/Max slider
          .slider-minmax.noUi-target
            .noUi-base.noUi-connect-upper.noUi-background.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-connect(style='left: 20%;')
                .noUi-handle.noUi-handle-lower
          span.slider-label Max: $20.00
          h3
            span Range slider
          .slider-range.noUi-target
            .noUi-base.noUi-connect-upper.noUi-background.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-connect(style='left: 25%;')
                .noUi-handle.noUi-handle-lower
              .noUi-origin.noUi-origin-upper(style='left: 75%;')
                .noUi-handle.noUi-handle-upper
          span.slider-label Price range: $40.00 - $80.00
          h3
            span Disable slider
          .slider-disable-example.noUi-target
            .noUi-base.noUi-connect.noUi-connect-lower.noUi-horizontal
              .noUi-origin.noUi-origin-lower.noUi-background(style='left: 33.3333%;')
                .noUi-handle.noUi-handle-lower
          .form-group
            label.checkbox-inline
              input#disable-checkbox(type='checkbox', value='1')
              |  Disable this slider
        .col-lg-4
          h3
            span Vertical sliders
          .row
            .col-lg-12
              .slider-vertical.noUi-target
                .noUi-base.noUi-connect-upper.noUi-background.noUi-vertical
                  .noUi-origin.noUi-origin-lower.noUi-connect(style='top: 25%;')
                    .noUi-handle.noUi-handle-lower
              .slider-vertical.noUi-target
                .noUi-base.noUi-connect-upper.noUi-background.noUi-vertical
                  .noUi-origin.noUi-origin-lower.noUi-connect(style='top: 37.5%;')
                    .noUi-handle.noUi-handle-lower
              .slider-vertical.noUi-target
                .noUi-base.noUi-connect-upper.noUi-background.noUi-vertical
                  .noUi-origin.noUi-origin-lower.noUi-connect(style='top: 50%;')
                    .noUi-handle.noUi-handle-lower
              .slider-vertical.noUi-target
                .noUi-base.noUi-connect-upper.noUi-background.noUi-vertical
                  .noUi-origin.noUi-origin-lower.noUi-connect(style='top: 62.5%;')
                    .noUi-handle.noUi-handle-lower
              .slider-vertical.noUi-target
                .noUi-base.noUi-connect-upper.noUi-background.noUi-vertical
                  .noUi-origin.noUi-origin-lower.noUi-connect(style='top: 43.75%;')
                    .noUi-handle.noUi-handle-lower
              .slider-vertical.noUi-target
                .noUi-base.noUi-connect-upper.noUi-background.noUi-vertical
                  .noUi-origin.noUi-origin-lower.noUi-connect(style='top: 25%;')
                    .noUi-handle.noUi-handle-lower
